<html>

<head>
    <meta http-equiv="X-Frame-Options"  content="deny">
</head>

<body>
    <div class="content" id="dashboard" data-ng-controller="DashboardController as dashboard" ng-init="dashboard.carregarCartoes()">
        <div class="content -blue3 -ptitle" id="dashboardTitle">
            <div class="container">
                <h4>Olá, {{dashboard.nomeUsuarioLogado}}</h4>
                <p class="page-desc">{{dashboard.descricaoDashboard}}</p>
            </div>
        </div>
        <div class="content main-content">
            <div class="loading-mask-position" cg-busy="{promise:dashboard.myPromise, templateUrl:'templates/loading-mask.htm', backdrop: false}"
                ng-if="dashboard.myPromise">
            </div>
            <!--<loading-mask></loading-mask>-->
            <div class="container">
                <div class="row">
                    <div style="margin: 0 0 24px 0;">
                        <div id="beneficiario_dashboard_header-hor_970x90_fixo"></div>
                    </div>
                </div>
                <div class="shortcut-bar">
                    <div class="row">
                        <div class="col-xs-4">
                            <a class="btn-shortcut clearfix" ng-click="dashboard.redeCredenciada()">
                                <div class="badgeicon -rede"></div>
                                <div class="text">
                                    <p class="title">Rede Credenciada</p>
                                    <p class="desc">Busque e favorite estabelecimentos credenciados Ticket</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a class="btn-shortcut clearfix" ng-click="dashboard.beneficioClub()">
                                <div class="badgeicon -bclub"></div>
                                <div class="text">
                                    <p class="title">Benefício Club</p>
                                    <p class="desc">
                                        Promoções e descontos imperdíveis para quem é Ticket
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a class="btn-shortcut clearfix" ng-click="dashboard.atendimentoDigital()">
                                <div class="badgeicon -atendimento"></div>
                                <div class="text">
                                    <p class="title">Atendimento Digital</p>
                                    <p class="desc">Tire suas dúvidas e conheça os serviços que você pode realizar na web de forma fácil
                                        e rápida</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <div class="card-ticket -blank" ng-show="dashboard.blank">
                            <a class="btn-lnkcircle" ng-click="dashboard.adicionarCartao()"><span class="circleicon"><i class="icon-add_card"></i></span>Adicione seu<br />
                            primeiro cartão</a>
                        </div>
                        <div class="card-holder" ng-hide="dashboard.blank">

                            <div ng-repeat="cartao in dashboard.listaCartoes">

                                <div ng-show="cartao.carregando" class="card-ticket -collapsed" style="cursor:not-allowed">

                                    <div class="card-logo-carregando">Carregando...</div>

                                </div>

                                <div ng-if="!cartao.carregando" ng-class="cartao.cssCartao + (!dashboard.isActive(cartao.name) ? ' -collapsed' : '')" ng-model="dashboard.periodo" ng-click="dashboard.checkActive(cartao.name)"
                                    tratativas-cartao="cartao">

                                    <a ng-class="cartao.a_cssEstrela" ng-click="dashboard.favoritarCartao(cartao)" style="cursor: pointer"><i ng-class="cartao.i_cssEstrela"></i></a>

                                    <div class="contentopen" ng-show="dashboard.isActive(cartao.name)">
                                        <svg version="1.1" id="bracketTicket1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                            y="0px" viewBox="0 0 14 28" style="enable-background: new 0 0 14 28;" xml:space="preserve">
                                            <path class="card-bracket" d="M0,28c0-7.4,6-13.5,13.5-13.5c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5C6,13.5,0,7.4,0,0V28z" />
                                        </svg>
                                        <div class="card-logo">
                                            <p class="nick">{{cartao.apelido}}</p>
                                        </div>
                                        <!--<a ng-class="cartao.a_cssEstrela" ng-click="dashboard.favoritarCartao(cartao)" style="cursor: pointer"><i ng-class="cartao.i_cssEstrela"></i></a>-->
                                        <i class="icon-edit" ng-click="dashboard.editarCartao(cartao.id)"></i>
                                        <p ng-if="(cartao.bin != 'TSE')" class="num">---- ---- ---- <span class="card-last">{{cartao.cardLast}}</span></p>
                                        <p ng-if="(cartao.bin == 'TSE')" class="num"><span class="card-last">{{ dashboard.formatarCartaoSaude(cartao.number)}}</span></p>
                                        <p class="blocked" ng-show="cartao.bloqueado"><i class="icon-lock_outline"></i> {{cartao.textoBloqueado}}</p>
                                        <p class="balance">Saldo atual <span class="currency">R$</span> <span class="value">{{cartao.value | currency : "" : 2}}</span></p>
                                        <!--<div ng-if="cartao.bandeira" ng-class="cartao.bandeira"></div>-->
                                    </div>
                                    <div class="contentcollapsed clearfix" ng-hide="dashboard.isActive(cartao.name)">
                                        <div class="card-logo"></div>
                                        <div class="card-info">
                                            <!--<a ng-class="cartao.a_cssEstrela" ng-click="dashboard.favoritarCartao(cartao)" style="cursor: pointer"><i ng-class="cartao.i_cssEstrela"></i></a>-->
                                            <p class="balance"><span class="currency">R$</span> <span class="value">{{cartao.value | currency : "" : 2}}</span></p>
                                            <p class="blocked" ng-show="cartao.bloqueado"><i class="icon-lock_outline"></i>{{cartao.textoBloqueadoMin}}</p>
                                            <p class="nick">{{cartao.apelido}}</p>
                                        </div>
                                    </div>
                                    <div ng-if="cartao.bandeiraEsquerda" ng-class="cartao.bandeiraEsquerda"></div>
                                    <div ng-if="cartao.bandeiraDireita" ng-class="cartao.bandeiraDireita"></div>
                                </div>

                            </div>

                        </div>
                        <a class="btn-lnkcircle" ng-click="dashboard.adicionarCartao()" ng-hide="dashboard.blank"><span class="circleicon"><i class="icon-add_card"></i></span>Adicionar cartão</a>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-8 col-nopadding">
                        <div class="card-details -blank" ng-show="dashboard.blank">
                            <div class="card-blank">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                                        <h4 class="-gray">Nenhum cartão cadastrado</h4>
                                        <p>Adicione um cartão para começar a utilizar o Sou Ticket</p>
                                        <button class="btn-ticket -block -icon" ng-click="dashboard.adicionarCartao()"><i class="icon-add_card"></i>Adicionar cartão</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-details-container" ng-if="!dashboard.blank">
                            <div ng-if="dashboard.detalheCartao.bin == 'TRE'" class="card-details -restaurante" ng-class="{'-blocked':dashboard.detalheCartao.situacao !== 1}">
                                <div class="statement">
                                    <div class="card-blocked" ng-show="dashboard.detalheCartao.situacao !== 1">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6 col-md-offset-3 action-blocked">
                                                <h4 class="-gray">{{dashboard.detalheCartao.textoBloqueado}}</h4>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Bloqueado Ticket'">Este cartão possui um status de bloqueio que não permite que o desbloqueio
                                                    seja realizado atraves do portal. Para maiores informações entre em contato
                                                    com RH da sua empresa ou com a central de atendimento Ticket: Capitais
                                                    e regiões metropolitanas - 4004.2233 Demais localidades - Use o código
                                                    de sua operadora + DDD da sua capital.</p>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Bloqueado'">Efetue o desbloqueio do cartão para começar a utilizá-lo</p>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Cancelado'">Este cartão está cancelado.</p>
                                                <button class="btn-ticket -block -icon" ng-if="dashboard.detalheCartao.situacao === 3" ng-click="dashboard.desbloquearCartao(dashboard.content)"><i class="icon-lock_outline"></i>Desbloquear cartão</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="title">Extrato</span>
                                            <div class="select -statement">
                                                <span class="caret"></span>
                                                <select name="combo-periodo" id="combo-periodo" class="form-control" ng-model="dashboard.periodo" ng-change="dashboard.filtrarPeriodoExtrato()">
                                                <option value="30">30 dias</option>
                                                <option value="15">15 dias</option>
                                                <option value="7">7 dias</option>
                                            </select>
                                            </div>
                                            <div class="list">
                                                <table class="tbl-statement" ng-show="dashboard.extratoFiltrado.length > 0">
                                                    <tbody>
                                                        <tr ng-repeat="extrato in dashboard.extratoFiltrado">
                                                            <td class="date">{{formatDateExtrato(extrato.date)}}</td>
                                                            <td class="place"><span title="{{extrato.description}}">{{extrato.description}}</span></td>
                                                            <td class="value">{{extrato.valueParsed | currency: ''}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <div class="chart-container">
                                                <div class="nextcredit">
                                                    <p>Próximo crédito</p>
                                                    <div class="calendar">
                                                        <span class="day">{{dashboard.detalheCartao.diaProximoCredito}}</span>
                                                        <span class="month">{{dashboard.detalheCartao.mesProximoCredito}}</span>
                                                    </div>
                                                    <div class="nextvalue">
                                                        <span class="currency">R$</span> <span class="value">{{dashboard.detalheCartao.valorProximoCredito}}</span>
                                                    </div>
                                                </div>
                                                <div class="avgcredit">
                                                    <p>Você pode gastar em média</p>
                                                    <p><span class="currency">R$</span> <span class="value">{{dashboard.detalheCartao.mediaPorDia | currency: ''}}</span>                                                        <span class="period">por dia</span></p>
                                                    <p>até o próximo crédito</p>
                                                </div>
                                                <tkt-grafico-linha object-to-inject="dashboard.injectedObject"></tkt-grafico-linha>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="actions clearfix">
                                    <p class="actionstitle"><i class="icon-lifebuoy"></i>Autosserviços disponíveis para este cartão:</p>
                                    <div class="actionsbar">
                                        <div class="btns">
                                            <button class="btn-ticket -borderwhite" ng-click="dashboard.alterarSenha(dashboard.content)">Alterar a senha</button>
                                            <button class="btn-ticket -borderwhite" ng-click="dashboard.bloquearCartao(dashboard.content)">Bloquear</button>
                                            <button class="btn-ticket -borderwhite" ng-click="dashboard.reemitirCartao(dashboard.content)">Reemitir</button>
                                        </div>
                                        <button class="btn-ticket -blanklight -icon btn-delete" ng-click="dashboard.editarCartao(cartao.id)"><i class="icon-edit"></i>Editar</button>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="dashboard.detalheCartao.bin == 'TAE'" class="card-details -alimentacao" ng-class="{'-blocked':dashboard.detalheCartao.situacao !== 1}">
                                <div class="statement">
                                    <div class="card-blocked" ng-show="dashboard.detalheCartao.situacao !== 1">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6 col-md-offset-3 action-blocked">
                                                <h4 class="-gray">{{dashboard.detalheCartao.textoBloqueado}}</h4>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Bloqueado Ticket'">Este cartão possui um status de bloqueio que não permite que o desbloqueio
                                                    seja realizado atraves do portal. Para maiores informações entre em contato
                                                    com RH da sua empresa ou com a central de atendimento Ticket: Capitais
                                                    e regiões metropolitanas - 4004.2233 Demais localidades - Use o código
                                                    de sua operadora + DDD da sua capital.</p>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Bloqueado'">Efetue o desbloqueio do cartão para começar a utilizá-lo</p>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Cancelado'">Este cartão está cancelado.</p>
                                                <button class="btn-ticket -block -icon" ng-if="dashboard.detalheCartao.situacao === 3" ng-click="dashboard.desbloquearCartao(dashboard.content)"><i class="icon-lock_outline"></i>Desbloquear cartão</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="title">Extrato</span>
                                            <div class="select -statement">
                                                <span class="caret"></span>
                                                <select class="form-control" ng-model="dashboard.periodo" ng-change="dashboard.filtrarPeriodoExtrato()">
                                                <option value="90">90 dias</option>
                                                <option value="60">60 dias</option>
                                                <option value="30">30 dias</option>
                                            </select>
                                            </div>
                                            <div class="list">
                                                <table class="tbl-statement" ng-show="dashboard.extratoFiltrado.length > 0">
                                                    <tbody>
                                                        <tr ng-repeat="extrato in dashboard.extratoFiltrado">
                                                            <td class="date">{{formatDateExtrato(extrato.date)}}</td>
                                                            <td class="place"><span title="{{extrato.description}}">{{extrato.description}}</span></td>
                                                            <td class="value">{{extrato.valueParsed | currency: ''}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <div class="chart-container">
                                                <div class="nextcredit">
                                                    <p>Próximo crédito</p>
                                                    <div class="calendar">
                                                        <span class="day">{{dashboard.detalheCartao.diaProximoCredito}}</span>
                                                        <span class="month">{{dashboard.detalheCartao.mesProximoCredito}}</span>
                                                    </div>
                                                    <div class="nextvalue">
                                                        <span class="currency">R$</span> <span class="value">{{dashboard.detalheCartao.valorProximoCredito}}</span>
                                                    </div>
                                                </div>
                                                <tkt-grafico-rosca object-to-inject="dashboard.injectedObject"></tkt-grafico-rosca>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="actions clearfix">
                                    <p class="actionstitle"><i class="icon-lifebuoy"></i>Autosserviços disponíveis para este cartão:</p>
                                    <div class="actionsbar">
                                        <div class="btns">
                                            <button class="btn-ticket -borderwhite" ng-click="dashboard.alterarSenha(dashboard.content)">Alterar a senha</button>
                                            <button class="btn-ticket -borderwhite" ng-click="dashboard.bloquearCartao(dashboard.content)">Bloquear</button>
                                            <button class="btn-ticket -borderwhite" ng-click="dashboard.reemitirCartao(dashboard.content)">Reemitir</button>
                                        </div>
                                        <button class="btn-ticket -blanklight -icon btn-delete" ng-click="dashboard.editarCartao(cartao.id)"><i class="icon-edit"></i>Editar</button>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="dashboard.detalheCartao.bin == 'TKE'" class="card-details -cultura" ng-class="{'-blocked':dashboard.detalheCartao.situacao !== 1}">
                                <div class="statement">
                                    <div class="card-blocked" ng-show="dashboard.detalheCartao.situacao !== 1">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6 col-md-offset-3 action-blocked">
                                                <h4 class="-gray">{{dashboard.detalheCartao.textoBloqueado}}</h4>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Bloqueado Ticket'">Este cartão possui um status de bloqueio que não permite que o desbloqueio
                                                    seja realizado atraves do portal. Para maiores informações entre em contato
                                                    com RH da sua empresa ou com a central de atendimento Ticket: Capitais
                                                    e regiões metropolitanas - 4004.2233 Demais localidades - Use o código
                                                    de sua operadora + DDD da sua capital.</p>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Bloqueado'">Efetue o desbloqueio do cartão para começar a utilizá-lo</p>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Cancelado'">Este cartão está cancelado.</p>
                                                <button class="btn-ticket -block -icon" ng-if="dashboard.detalheCartao.situacao === 3" ng-click="dashboard.desbloquearCartao(dashboard.content)"><i class="icon-lock_outline"></i>Desbloquear cartão</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="title">Extrato</span>
                                            <div class="select -statement">
                                                <span class="caret"></span>
                                                <select class="form-control" ng-model="dashboard.periodo" ng-change="dashboard.filtrarPeriodoExtrato()">
                                                <option value="90">90 dias</option>
                                                <option value="60">60 dias</option>
                                                <option value="30">30 dias</option>
                                            </select>
                                            </div>
                                            <div class="list">
                                                <table class="tbl-statement" ng-show="dashboard.extratoFiltrado.length > 0">
                                                    <tbody>
                                                        <tr ng-repeat="extrato in dashboard.extratoFiltrado">
                                                            <td class="date">{{formatDateExtrato(extrato.date)}}</td>
                                                            <td class="place"><span title="{{extrato.description}}">{{extrato.description}}</span></td>
                                                            <td class="value">{{extrato.valueParsed | currency: ''}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <div class="chart-container">
                                                <div class="nextcredit">
                                                    <p>Próximo crédito</p>
                                                    <div class="calendar">
                                                        <span class="day">{{dashboard.detalheCartao.diaProximoCredito}}</span>
                                                        <span class="month">{{dashboard.detalheCartao.mesProximoCredito}}</span>
                                                    </div>
                                                    <div class="nextvalue">
                                                        <span class="currency">R$</span> <span class="value">{{dashboard.detalheCartao.valorProximoCredito}}</span>
                                                    </div>
                                                </div>
                                                <tkt-grafico-rosca object-to-inject="dashboard.injectedObject"></tkt-grafico-rosca>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="actions clearfix">
                                    <p class="actionstitle"><i class="icon-lifebuoy"></i>Autosserviços disponíveis para este cartão:</p>
                                    <div class="actionsbar">
                                        <div class="btns">
                                            <button class="btn-ticket -borderwhite" ng-click="dashboard.alterarSenha(dashboard.content)">Alterar a senha</button>
                                            <button class="btn-ticket -borderwhite" ng-click="dashboard.bloquearCartao(dashboard.content)">Bloquear</button>
                                            <button class="btn-ticket -borderwhite" ng-click="dashboard.reemitirCartao(dashboard.content)">Reemitir</button>
                                        </div>
                                        <button class="btn-ticket -blanklight -icon btn-delete" ng-click="dashboard.editarCartao(cartao.id)"><i class="icon-edit"></i>Editar</button>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="dashboard.detalheCartao.bin == 'TT'" class="card-details -transporte" ng-class="{'-blocked':dashboard.detalheCartao.situacao !== 1}">
                                <div class="statement">
                                    <div class="clearfix">
                                        <div class="cardname">
                                            <span class="title">Titular do cartão</span>
                                            <p class="value">{{dashboard.detalheCartao.beneficiario}}</p>
                                        </div>
                                        <div class="cardnum">
                                            <span class="title">Número do cartão</span>
                                            <p class="value">{{dashboard.detalheCartao.number}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <span class="title">Histórico de créditos</span>
                                    <div class="list">
                                        <table class="tbl-history">
                                            <thead>
                                                <tr>
                                                    <th class="date">Data do crédito</th>
                                                    <th class="op">Operadora</th>
                                                    <th class="desc">Descrição</th>
                                                    <th class="value">Valor total (R$)</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="extrato in dashboard.detalheCartao.extrato">
                                                <tr>
                                                    <td class="date">{{formatDateExtrato(extrato.date)}}</td>
                                                    <td class="op">SPTrans</td>
                                                    <td class="desc">{{extrato.description}}</td>
                                                    <td class="value">{{extrato.valueParsed | currency: ''}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="dashboard.detalheCartao.bin == 'TC'" class="card-details -car" ng-class="{'-blocked':dashboard.detalheCartao.situacao !== 1}">
                                <div class="statement">
                                    <div class="card-blocked" ng-show="dashboard.detalheCartao.situacao !== 1">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6 col-md-offset-3 action-blocked">
                                                <h4 class="-gray">{{dashboard.detalheCartao.textoBloqueado}}</h4>
                                                <p ng-if="dashboard.detalheCartao.situacao === 3 || dashboard.detalheCartao.situacao === 2">Para maiores informações entre em contato com RH da sua empresa ou com a
                                                    central de atendimento Ticket: Capitais e regiões metropolitanas - 4004.2233
                                                    Demais localidades - Use o código de sua operadora + DDD da sua capital.</p>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Cancelado'">Este cartão está cancelado.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="title">Extrato</span>
                                            <div class="select -statement">
                                                <span class="caret"></span>
                                                <select class="form-control" ng-model="dashboard.periodo" ng-change="dashboard.filtrarPeriodoExtrato()">
                                                <option value="90">90 dias</option>
                                                <option value="60">60 dias</option>
                                                <option value="30">30 dias</option>
                                            </select>
                                            </div>
                                            <div class="list">
                                                <table class="tbl-statement" ng-show="dashboard.extratoFiltrado.length > 0">
                                                    <tbody>
                                                        <tr ng-repeat="extrato in dashboard.extratoFiltrado">
                                                            <td class="date">{{formatDateExtrato(extrato.date)}}</td>
                                                            <td class="place"><span title="{{extrato.description}}">{{extrato.description}}</span></td>
                                                            <td class="value">{{extrato.valueParsed | currency: ''}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <div class="chart-container">
                                                <tkt-grafico-rosca object-to-inject="dashboard.injectedObject"></tkt-grafico-rosca>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="actions clearfix">
                                    <p ng-if="false" class="actionstitle"><i class="icon-lifebuoy"></i>Autosserviços disponíveis para este cartão:</p>
                                    <div class="actionsbar">
                                        <div class="btns">
                                            <button ng-if="false" class="btn-ticket -borderwhite" ng-click="dashboard.alterarSenha(dashboard.content)">Alterar a senha</button>
                                            <button ng-if="false" class="btn-ticket -borderwhite" ng-click="dashboard.bloquearCartao(dashboard.content)">Bloquear</button>
                                            <button ng-if="false" class="btn-ticket -borderwhite" ng-click="dashboard.reemitirCartao(dashboard.content)">Reemitir</button>
                                        </div>
                                        <button class="btn-ticket -blanklight -icon btn-delete" ng-click="dashboard.editarCartao(cartao.id)"><i class="icon-edit"></i>Editar</button>
                                    </div>
                                </div>
                            </div>


                            <div ng-if="(dashboard.detalheCartao.bin == 'ACT')" ng-class="(dashboard.detalheCartao.classExtrato) + (dashboard.detalheCartao.situacao !== 1 ? ' -blocked' : '')">
                                <div class="statement">
                                    <div class="card-blocked" ng-show="dashboard.detalheCartao.situacao !== 1">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6 col-md-offset-3 action-blocked">
                                                <h4 class="-gray">{{dashboard.detalheCartao.textoBloqueado}}</h4>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Inativo'">Efetue a ativação do cartão para começar a utilizá-lo</p>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Bloqueado'">Efetue o desbloqueio do cartão para começar a utilizá-lo</p>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Cancelado'">Este cartão está cancelado.</p>
                                                <button class="btn-ticket -block -icon" ng-if="dashboard.detalheCartao.situacao === 3" ng-click="dashboard.desbloquearCartao(dashboard.content)"><i class="icon-lock_outline"></i>Desbloquear cartão</button>
                                                <button class="btn-ticket -block -icon" ng-if="dashboard.detalheCartao.situacao === 5" ng-click="dashboard.ativarCartao(dashboard.content)"><i class="icon-lock_outline"></i>Ativar cartão</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="title">Extrato</span>
                                            <div class="select -statement">
                                                <span class="caret"></span>
                                                <select name="combo-periodo" id="combo-periodo" class="form-control" ng-model="dashboard.periodo" ng-change="dashboard.filtrarPeriodoExtrato()">
                                                <option value="7">7 dias</option>
                                                <option value="15">15 dias</option>
                                                <option value="30">30 dias</option>
                                                
                                            </select>
                                            </div>
                                            <div class="list">
                                                <table class="tbl-statement" ng-show="dashboard.extratoFiltrado.length > 0">
                                                    <tbody>
                                                        <tr ng-repeat="extrato in dashboard.extratoFiltrado">
                                                            <td class="date">{{formatDateExtrato(extrato.date)}}</td>
                                                            <td class="place"><span title="{{extrato.description}}">{{extrato.description}}</span></td>
                                                            <td class="value">{{extrato.valueParsed | currency: ''}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                                            <div class="chart-container">
                                                <tkt-grafico-rosca object-to-inject="dashboard.injectedObject"></tkt-grafico-rosca>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="actions clearfix">
                                    <p class="actionstitle"><i class="icon-lifebuoy"></i>Autosserviços disponíveis para este cartão:</p>
                                    <div class="actionsbar">
                                        <div class="btns">
                                            <button class="btn-ticket -borderwhite" ng-click="dashboard.bloquearCartao(dashboard.content)">Bloquear</button>
                                        </div>
                                        <button class="btn-ticket -blanklight -icon btn-delete" ng-click="dashboard.editarCartao(cartao.id)"><i class="icon-edit"></i>Editar</button>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="(dashboard.detalheCartao.bin == 'TSE')" class="card-details -saude" ng-class="{'-blocked':dashboard.detalheCartao.situacao !== 1}">
                                <div class="statement">
                                    <div class="card-blocked">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6 col-md-offset-3 action-blocked">
                                                <h4 class="-gray">{{dashboard.detalheCartao.textoBloqueado}}</h4>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Inativo'">Efetue a ativação do cartão para começar a utilizá-lo</p>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Bloqueado'">Efetue o desbloqueio do cartão para começar a utilizá-lo</p>
                                                <p ng-if="dashboard.detalheCartao.textoBloqueadoMin == 'Cancelado'">Este cartão está cancelado.</p>
                                                <button class="btn-ticket -block -icon" ng-if="dashboard.detalheCartao.situacao === 3" ng-click="dashboard.desbloquearCartao(dashboard.content)"><i class="icon-lock_outline"></i>Desbloquear cartão</button>
                                                <button class="btn-ticket -block -icon" ng-if="dashboard.detalheCartao.situacao === 5" ng-click="dashboard.ativarCartao(dashboard.content)"><i class="icon-lock_outline"></i>Ativar cartão</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                            <span class="title">Extrato</span>
                                            <div class="list">
                                                <table class="tbl-statement" ng-show="dashboard.extratoFiltrado.length > 0">
                                                    <tbody>
                                                        <tr ng-repeat="extrato in dashboard.extratoFiltrado">
                                                            <td class="date">{{formatDateExtrato(extrato.date)}}</td>
                                                            <td class="place"><span title="{{extrato.description}}">{{extrato.description}}</span></td>
                                                            <td class="value">{{extrato.valueParsed | currency: ''}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="actions clearfix">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<script src="app/modules/beneficiario/scripts/config.js"></script>-->
    <script src="app/config.js"></script>
    <script src="app/modules/beneficiario/scripts/factories/automodalsfactory.js"></script>
    <script src="app/modules/beneficiario/scripts/services/cartaoservice.js"></script>
    <script src="app/modules/beneficiario/scripts/services/accentivservice.js"></script>

    <script src="app/modules/beneficiario/scripts/factories/cartaofactory.js"></script>
    <script src="app/modules/beneficiario/scripts/factories/editarcartaofactory.js"></script>
    <script src="app/modules/beneficiario/scripts/factories/accentivresource.js"></script>

    <script src="app/modules/beneficiario/scripts/controllers/dashboardcontroller.js"></script>

    <script src="app/modules/beneficiario/scripts/directives/graficolinhadirective.js"></script>
    <script src="app/modules/beneficiario/scripts/directives/graficoroscadirective.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>

</body>

</html>