<nav id="tktNav" class="navbar-ticket -fixedtop" data-ng-controller="HeaderController as header" ng-class="{docked: scroll > 50}">
    <div id="navbarDefault" class="navbar-container -default" ng-hide="header.usuarioLogado.isLogged">
        <a class="navbar-brand" ng-click="header.goToTicket()" title="Ticket | 40 anos"></a>
        <button class="btn-menu" ng-click="header.openMenu()"><i class="icon-menu -right"></i></button>
        <button class="btn-ticket -red" ng-click="header.openLogin()">Entrar</button>
        <button class="btn-ticket" ng-click="header.openSignUp()">Cadastre-se</button>
        <ul class="navbar-items">
            <li ng-class="'nav-item ' + (menuSelecionado == 0 ? 'active' : '')"><a id="linkHome" class="nav-link" ng-click="header.home()"><i class="icon-home"></i>Sou Ticket</a></li>
            <li ng-class="'nav-item ' + (menuSelecionado == 4 ? 'active' : '')"><a class="nav-link" ng-click="header.toConsultaSaldo()"><i class="icon-account_balance_wallet"></i>Saldo</a></li>
            <li ng-class="'nav-item ' + (menuSelecionado == 1 ? 'active' : '')"><a class="nav-link" ng-click="header.toRedeCredenciada()"><i class="icon-room"></i>Estabelecimentos</a></li>
            <li ng-class="'nav-item ' + (menuSelecionado == 2 ? 'active' : '')"><a class="nav-link" ng-click="header.beneficioClub()"><i class="icon-beneficio_club"></i>Benefício Club</a></li>
            <li ng-class="'nav-item'"><a class="nav-link" ng-click="header.toBaixeApp()"><i class="icon-phone_iphone"></i>Baixe o App</a></li>
        </ul>
    </div>
    <div id="navbarLogged" class="navbar-container -logged" ng-show="header.usuarioLogado.isLogged">
        <a class="navbar-brand" ng-click="header.goToTicket()" title="Ticket | 40 anos"></a>
        <div class="navbar-user">
            <a ng-click="header.home()" id="linkHome">Sou Ticket</a>
            <button class="btn-menu -user" ng-click="header.openMenu()"><i class="icon-person -left"></i>
                <span ng-if="header.usuarioLogado.nome" class="username" title="header.usuarioLogado.nome">{{header.usuarioLogado.nome}}</span>
                <i class="icon-menu -right"></i>
            </button>
        </div>
        <ul class="navbar-items">
            <li ng-class="'nav-item ' + (menuSelecionado == 0 ? 'active' : '')"><a class="nav-link" ng-click="header.toDashboard()"><i class="icon-card"></i></a></li>
            <li ng-class="'nav-item ' + (menuSelecionado == 1 ? 'active' : '')"><a class="nav-link" ng-click="header.toRedeCredenciada()"><i class="icon-room"></i></a></li>
            <li ng-class="'nav-item ' + (menuSelecionado == 2 ? 'active' : '')"><a class="nav-link" ng-click="header.beneficioClub()"><i class="icon-beneficio_club"></i></a></li>
            <li ng-class="'nav-item ' + (menuSelecionado == 3 ? 'active' : '')"><a class="nav-link" ng-click="header.toAtendimento()"><i class="icon-atendimento"></i></a></li>
        </ul>
    </div>
    
    <div id="tktBracket" class="navbar-bracket" ng-show="(scroll === 0 && menuSelecionado > 0 && menuSelecionado)" scroll-position="scroll">
        <div class="container">
            <div class="bracket"></div>
        </div>
    </div>
</nav>

<script src="app/modules/shared/scripts/controllers/headercontroller.js"></script>
<script src="app/modules/beneficiario/scripts/factories/usuariofactory.js"></script>
<script src="app/modules/beneficiario/scripts/factories/usuariomodalsfactory.js"></script>
<script src="app/modules/autenticacao/scripts/factories/loginfactory.js"></script>
<script src="app/modules/autenticacao/scripts/services/autenticacaoservice.js"></script>
<script src="app/modules/beneficiario/scripts/services/usuarioservice.js"></script>
<script src="app/modules/shared/scripts/factories/homefactory.js"></script>
<script src="app/config.js"></script>