<div class="tkt-home" id="home" data-ng-controller="HomeController as home">
  <nav class="cover-menu" id="coverMenuHome">
    <ul class="nav-links">
      <li ng-class="{'active':home.isActive('cover-bemvindo')}"
          ng-click="home.checkActive('cover-bemvindo')"
          href="#cover-bemvindo" du-smooth-scroll>
        <div class="nav-circle">
          <span class="bullet"></span>
          <span class="nav-circle-label">
            <span class="text">Bem-vindo</span>
            <span class="outline-circle"></span>
          </span>
        </div>
      </li>
      <li ng-class="{'active':home.isActive('cover-autosservico')}"
          ng-click="home.checkActive('cover-autosservico')"
          href="#cover-autosservico" du-smooth-scroll>
        <div class="nav-circle">
          <span class="bullet"></span>
          <span class="nav-circle-label">
            <span class="text">Autosserviços</span>
            <span class="outline-circle"></span>
          </span>
        </div>
      </li>
      <li ng-class="{'active':home.isActive('cover-estabelecimentos')}"
          ng-click="home.checkActive('cover-estabelecimentos')"
          href="#cover-estabelecimentos" du-smooth-scroll offset="48">
        <div class="nav-circle">
          <span class="bullet"></span>
          <span class="nav-circle-label">
            <span class="text">Estabelecimentos</span>
            <span class="outline-circle"></span>
          </span>
        </div>
      </li>
      <li ng-class="{'active':home.isActive('cover-bc')}"
          ng-click="home.checkActive('cover-bc')"
          href="#cover-bc" du-smooth-scroll offset="48">
        <div class="nav-circle">
          <span class="bullet"></span>
          <span class="nav-circle-label">
            <span class="text">Benefício Club</span>
            <span class="outline-circle"></span>
          </span>
        </div>
      </li>
     
      <li ng-class="{'active':home.isActive('cover-depoimentos')}"
          ng-click="home.checkActive('cover-depoimentos')"
          href="#cover-depoimentos" du-smooth-scroll offset="172">
        <div class="nav-circle">
          <span class="bullet"></span>
          <span class="nav-circle-label">
            <span class="text">Depoimentos</span>
            <span class="outline-circle"></span>
          </span>
        </div>
      </li>
      <li ng-class="{'active':home.isActive('cover-app')}"
          ng-click="home.checkActive('cover-app')"
          href="#cover-app" du-smooth-scroll offset="172">
        <div class="nav-circle">
          <span class="bullet"></span>
          <span class="nav-circle-label">
            <span class="text">App Ticket</span>
            <span class="outline-circle"></span>
          </span>
        </div>
      </li>
      <li ng-class="{'active':home.isActive('cover-cadastro')}"
          ng-click="home.checkActive('cover-cadastro')"
          href="#cover-cadastro" du-smooth-scroll offset="48">
        <div class="nav-circle">
          <span class="bullet"></span>
          <span class="nav-circle-label">
            <span class="text">Cadastre-se</span>
            <span class="outline-circle"></span>
          </span>
        </div>
      </li>
    </ul>
  </nav>
  <section class="fullscreenvideo" ng-show="home.showVideo">
    <button class="video-close-btn" ng-click="home.stopVideo()">&times;</button>
    <div class="vwrapper">
      <div id="player"></div>
    </div>
  </section>
  <section class="tkt-cover -main" id="cover-bemvindo">
    <div class="fixed-bg">
      <div class="container">
        <h1>Sou Ticket</h1>
        <p class="title-desc">O portal com a sua cara, no seu tempo, do seu jeito.</p>
        <a ng-click="home.playVideo()" class="btn-play">
          <svg id="icon-play-video" data-name="icon-play-video" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path class="path-icon-play" d="M41.7,68.8L66.7,50l-25-18.8V68.8ZM50,8.3A41.7,41.7,0,1,0,91.7,50,41.74,41.74,0,0,0,50,8.3ZM50,90A40,40,0,1,1,90,50,40.05,40.05,0,0,1,50,90Z"/></svg>
        </a>
        <div class="row">
          <div class="main-actions col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
            <button class="btn-ticket -large -red -block" ng-click="home.toConsultaSaldo()">Consulte seu saldo</button>
            <button class="btn-ticket -medium -borderwhite -block" ng-click="home.goToRedeCredenciada()">Procure um estabelecimento</button>
            <button class="btn-ticket -medium -borderwhite -block" ng-click="home.goToBenefioClub()">Ofertas exclusivas</button>
          </div>
        </div>
      </div>
      <div class="video-container">
        <video loop muted autoplay poster="assets/images/videoframe.jpg" class="bg-video">
            <!-- <source src="/assets/images/video-minha-ticket.webm" type="video/webm"> -->
            <source src="assets/images/video-minha-ticket.mp4" type="video/mp4">
            <source src="assets/images/video-minha-ticket.ogg" type="video/ogg">
        </video>
      </div>
      <div class="overlay-video"></div>
    </div>
  </section>
  <section class="tkt-cover" id="cover-autosservico">
    <div class="cover-bracket"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 col-md-6">
            <h2>Atendimento Digital<span class="sub">com autosserviços</span></h2>
            <p class="section-desc">Conte com um portal com a sua cara, no seu tempo, do seu jeito, exclusivo para quem é Ticket.<br/>Além de consultar seu saldo e rede credenciada, você ainda conta com o autoatendimento que só a Ticket tem na Web.</p>
            <div class="section-actions row">
              <div class="col-xs-12 col-lg-8">
                <button class="btn-ticket -block -iconcenter -borderwhite" ng-click="home.goToAtendimento()" style="font-size: 12px"><i class="icon-lock_open"></i>Desbloquear cartão</button>
              </div>
              <div class="col-xs-12 col-lg-8">
                <button class="btn-ticket -block -iconcenter -borderwhite" ng-click="home.goToAtendimento()" style="font-size: 12px"><i class="icon-lock_outline"></i>Bloquear cartão</button>
              </div>
              <div class="col-xs-12 col-lg-8" ng-show="false">
                <button class="btn-ticket -block -iconcenter -borderwhite" ng-click="home.goToAtendimento()" style="font-size: 12px"><i class="icon-key"></i>Alterar senha do cartão</button>
              </div>
              <div class="col-xs-12 col-lg-8">
                <button class="btn-ticket -block -iconcenter -borderwhite" ng-click="home.goToAtendimento()" style="font-size: 12px"><i class="icon-card"></i>Reemitir cartão</button>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-md-6">
            <img src="assets/images/home-atendimento.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tkt-cover" id="cover-estabelecimentos">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-5 col-lg-6">
          <div class="map-markers">
            <a class="marker" id="markerTR"
              uib-popover="Ticket Restaurante"
              popover-placement="top-center"
              popover-trigger="mouseenter">
              <img src="assets/images/tmaps-marker-tr.svg" title="Ticket Restaurante"/>
            </a>
            <a class="marker" id="markerTA"
              uib-popover="Ticket Alimentação"
              popover-placement="top-center"
              popover-trigger="mouseenter">
              <img src="assets/images/tmaps-marker-ta.svg" title="Ticket Alimentação"/>
            </a>
            <a class="marker" id="markerTK"
              uib-popover="Ticket Cultura"
              popover-placement="top-center"
              popover-trigger="mouseenter">
              <img src="assets/images/tmaps-marker-tk.svg" title="Ticket Cultura"/>
            </a>
            <img id="marker" src="assets/images/tmaps-marker-fav.svg" title="Ticket"/>
          </div>
        </div>
        <div class="col-sm-8 col-md-7 col-lg-5">
          <div class="bracket-box">
            <div class="bracket"></div>
            <h3 class="-red">Estabelecimentos Ticket</h3>
            <p>Mais de 320 mil estabelecimentos credenciados no Brasil. São milhares de restaurantes, supermercados, postos, estabelecimentos culturais e muito mais.</p>
            <button class="btn-ticket -iconcenter -red" ng-click="home.goToRedeCredenciada()"><i class="icon-search"></i>Consulte os mais próximos de você</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tkt-cover" id="cover-bc">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-5">
          <h3 class="-main">Benefício Club</h3>
          <p class="title-desc">Seu clube de descontos e promoções</p>
          <p>São dezenas de ofertas e parceiros com até <strong>80% off</strong> em categorias como:</p>
          <ul class="bc-categories">
            <li ng-click="home.goToBenefioClub('Bem-estar e Saúde')">Bem-estar e Saúde</li>
            <li ng-click="home.goToBenefioClub('Cultura')">Cultura</li>
            <li ng-click="home.goToBenefioClub('Cursos')">Cursos</li>
            <li ng-click="home.goToBenefioClub('Gastronomia')">Gastronomia</li>
            <li ng-click="home.goToBenefioClub('Hotéis, Viagens e Lazer')">Hotéis e Viagens</li>
            <li ng-click="home.goToBenefioClub('Produtos')">Produtos</li>
            <li ng-click="home.goToBenefioClub('Serviços')">Serviços</li>
          </ul>
          <div class="bc-pack-categories-img">
            <img src="assets/images/home-bc-pack.jpg" id="cat-img-03"/>
          </div>
          <button class="btn-ticket -medium -border" ng-click="home.goToBenefioClub()">Comece a comprar com descontos</button>
        </div>
        <div class="col-sm-4 col-md-6 col-lg-7">
          <div class="bc-pack-img">
            <img src="assets/images/home-bc-pack.jpg" id="cat-img-02"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="tkt-cover" id="cover-depoimentos">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="depo-box">
            <h3 class="mobile">Depoimentos</h3>
            <slick class="testi-slick" dots="true" arrows="false" autoplay="true" autoplay-speed="8000" pauseOnHover="true">
              <div class="depo">
                <div class="quote clearfix">
                  <img class="img-open-quote" src="assets/images/home-depo-quote.svg" width="48"/>
                  <p>Tive uma excelente experiência com o portal sou Ticket. Quis consultar meu saldo na web e, além de conseguir isto muito rapidamente, acabei encontrando algumas promoções exclusivas para mim, usuária Ticket!</p>
                  <img class="img-close-quote" src="../assets/images/home-depo-quote.svg"/>
                </div>
                <div class="user clearfix">
                  <div class="user-photo"><img src="assets/images/home-depo-liliane.jpg"/></div>
                  <div class="user-info">
                    <p class="username">Liliane Vilela</p>
                    <p class="userdesc">Usuária Ticket</p>
                  </div>
                </div>
              </div>
              <div class="depo">
                <div class="quote clearfix">
                  <img class="img-open-quote" src="assets/images/home-depo-quote.svg" width="48"/>
                  <p>Em uma única sessão, consegui desbloquear meu cartão, consultar meu saldo e ver a rede credenciada! Tudo isso de forma muito simples, o que tornou minha experiência com a Ticket incrível!</p>
                  <img class="img-close-quote" src="assets/images/home-depo-quote.svg"/>
                </div>
                <div class="user clearfix">
                  <div class="user-photo"><img src="assets/images/home-depo-egon.jpg"/></div>
                  <div class="user-info">
                    <p class="username">Egon Araújo</p>
                    <p class="userdesc">Usuário Ticket</p>
                  </div>
                </div>
              </div>
<!--              <div class="depo">
                <div class="quote clearfix">
                  <img class="img-open-quote" src="../assets/images/home-depo-quote.svg" width="48"/>
                  <p>Tive uma excelente experiência com o portal sou Ticket. Quis consultar meu saldo na web e, além de conseguir isto muito rapidamente, acabei encontrando algumas promoções exclusivas para mim, usuária Ticket!</p>
                  <img class="img-close-quote" src="../assets/images/home-depo-quote.svg"/>
                </div>
                <div class="user clearfix">
                  <div class="user-photo"></div>
                  <div class="user-info">
                    <p class="username">Liliane Vilela</p>
                    <p class="userdesc">Usuária Ticket</p>
                  </div>
                </div>
              </div>-->
            </slick>
          </div>
        </div>
        <div class="col-sm-6">
          <h3>Depoimentos</h3>
          <p class="title-desc">Usuários Sou Ticket</p>
          <div class="row">
            <div class="col-lg-8">
              <p class="section-desc">Veja a opinião de quem é Ticket sobre o portal com a sua cara, no seu tempo, do seu jeito.</p>
              <button class="btn-ticket -block -large -borderblue2" ng-click="home.openSignUp()">Aproveite você também</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tkt-cover" id="cover-app">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-6">
          <div class="app-text">
            <h2 class="-red">App Ticket<span class="sub">Tudo na palma da mão</span></h2>
            <p>Baixe o aplicativo Ticket e tenha acesso a:</p>
            <ul>
              <li><i class="icon-trending"></i>Consulta de saldo e extrato dos seus cartões</li>
              <li><i class="icon-room"></i>Localização e avaliação de estabelecimentos Ticket</li>
              <li><i class="icon-search"></i>Consulta direta do Ticket Transporte</li>
              <li><i class="icon-card"></i>Autoatendimento para remissão de cartão, bloqueio e desbloqueio de cartões.</li>
            </ul>
            <div class="btn-app-badge-wrapper">
              <a href="https://itunes.apple.com/br/app/ticket/id864205019?mt=8" target="_blank">
                <img src="assets/images/app-store-badge.svg">
              </a>
              <a href="https://play.google.com/store/apps/details?id=br.com.mobile.ticket" target="_blank">
                <img src="assets/images/google-play-badge.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="app-img"></div>
  </section>
  <section class="tkt-cover" id="cover-cadastro">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-lg-6">
          <div class="bracket-content">
            <h3>Cadastre-se Já</h3>
            <p>e aproveite todas as facilidades do portal Sou Ticket</p>
            <div class="sign-up-box">
              <button class="btn-ticket -blue2 -block -icon -medium" ng-click="IntentLogin()"><i class="icon-facebook"></i>Conectar com o facebook</button>
              <div class="text-hr">
                <span class="semi-hr"></span>
                <span>ou</span>
                <span class="semi-hr"></span>
              </div>
              <button class="btn-ticket -block -icon -medium" ng-click="home.openCadastroEmail()"><i class="icon-mail_outline"></i>Iniciar cadastro com e-mail</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pure-bracket"><div class="bracket"></div></div>
  </section>
</div>

<script src="app/config.js"></script>
<script src="app/modules/shared/scripts/controllers/homecontroller.js"></script>
<script src="app/modules/beneficio-club/scripts/factories/beneficioclubfactory.js"></script>
<script src="app/modules/shared/scripts/factories/homefactory.js"></script>

<script src="app/modules/autenticacao/scripts/services/autenticacaoservice.js"></script>

<script src="app/modules/autenticacao/scripts/factories/loginfactory.js"></script>
<script src="app/modules/beneficiario/scripts/factories/usuariofactory.js"></script>
<script src="app/modules/beneficiario/scripts/services/usuarioservice.js"></script>
<!--<script src="app/modules/shared/scripts/controllers/HomeController.js"></script>-->