<div class="loading-mask">
  <div class="loading-content">
    <div id="ballWrapper">
			<div id="ball"></div>
			<div id="ballShadow"></div>
		</div>
    <div class="text">Aguarde um momento...</div>
  </div>
</div>
