<div class="loading-menu">
  <div class="loading-content">
    <div class='uil-rolling-css'><div><div></div><div></div></div></div>
    <div class="text">Carregando seus cartões...</div>
  </div>
</div>
