<div data-ng-controller="MenuController as menu" ng-show="menu.isOpen">
    <div class="menu-backdrop" ng-click="menu.close()"></div>
    <div class="menu-container">
        <div class="menu-ticket -logged" ng-show="menu.usuario.isLogged">
            <!--<div class="loading-mask-position" cg-busy="{promise:menu.myPromise, templateUrl:'templates/loading-mask.htm', backdrop: false}">
        </div>-->
            <div class="menu-user clearfix">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 64 32" style="enable-background:new 0 0 64 32;" xml:space="preserve">
                    <path class="menu-bracket" d="M3.1,0c15.7,0,28.3,12.7,28.3,28.3c0,0.3,0.3,0.6,0.6,0.6c0.3,0,0.6-0.3,0.6-0.6C32.6,12.7,45.3,0,60.9,0"
                    />
                </svg>
                <div class="userphoto">
                    <div class="placeholderphoto"><i class="icon-add_photo"></i></div>
                </div>
                <div class="username">
                    <p class="name">{{menu.usuario.nome}}</p>
                    <div class="lnk-profile" ng-click="menu.toMeuCadastro()"><i class="icon-edit"></i><a class="">Meu cadastro</a></div>
                </div>
                <button class="menu-close-btn" ng-click="menu.close()">&times;</button>
            </div>
            <div class="menu-items">
                <ul>
                    <li class="active" ng-click="menu.toDash()">
                        <a ng-click="menu.toDash()" class="menu-item"><i class="icon-card"></i>Meus Cartões</a>
                        <div class="card-holder" ng-hide="dashboard.blank">
                            <!--<loading-menu></loading-menu>-->
                            <div ng-if="menu.myPromise" class="loading-mask-position" cg-busy="{promise:menu.myPromise, templateUrl:'templates/loading-menu.htm', backdrop: false}">
                            </div>
                            <div ng-repeat="cartao in menu.listaCartoes" ng-click="menu.toDashboard(cartao.id)">

                                <div ng-show="cartao.carregando" class="card-ticket -collapsed" style="cursor:not-allowed">

                                    <div class="card-logo-carregando">Carregando...</div>

                                </div>

                                <div ng-if="!cartao.carregando" ng-class="cartao.cssCartao + ' -collapsed'" tratativas-cartao="cartao">
                                    <div class="contentcollapsed clearfix">
                                        <div class="card-logo"></div>
                                        <div class="card-info">
                                            <p class="balance"><span class="currency">R$</span> <span class="value">{{cartao.value | currency : "" : 2}}</span></p>
                                            <p class="blocked" ng-show="cartao.bloqueado">
                                                <i class="icon-lock_outline"></i>{{cartao.textoBloqueado}}
                                            </p>
                                            <p class="nick">{{cartao.apelido}}</p>
                                        </div>
                                    </div>
                                    <div ng-if="cartao.bandeira" ng-class="cartao.bandeira"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a class="menu-item" ng-click="menu.toRedeCredenciada()"><i class="icon-room"></i>Rede Credenciada</a></li>
                    <li><a class="menu-item" ng-click="menu.toBeneficioClub()"><i class="icon-beneficio_club"></i>Benefício Club</a></li>
                    <li><a class="menu-item" ng-click="menu.toAtendimentoDigital()"><i class="icon-atendimento"></i>Atendimento Digital</a></li>
                    <li><a class="menu-item -exit" ng-click="menu.sair()"><i class="icon-exit"></i>Sair</a></li>
                </ul>
            </div>
        </div>
        <div class="menu-ticket" ng-hide="menu.usuario.isLogged">
            <div class="menu-user clearfix">
                <button class="btn-ticket -block -borderwhite" ng-click="menu.openSignUp()">Cadastre-se</button>
                <button class="btn-ticket -block -red" ng-click="menu.openLogin()">Entrar</button>
                <button class="menu-close-btn" ng-click="menu.close()">&times;</button>
            </div>
            <div class="menu-items">
                <ul>
                    <li ng-class="menuSelecionado == 0 ? 'active' : ''"><a class="menu-item" ng-click="menu.toHome()"><i class="icon-home"></i>Sou Ticket</a></li>
                    <li ng-class="menuSelecionado == 4 ? 'active' : ''"><a class="menu-item" ng-click="menu.toConsultaSaldo()"><i class="icon-account_balance_wallet"></i>Consultar Saldo</a></li>
                    <li ng-class="menuSelecionado == 1 ? 'active' : ''"><a class="menu-item" ng-click="menu.toRedeCredenciada()"><i class="icon-room"></i>Estabelecimentos</a></li>
                    <li ng-class="menuSelecionado == 2 ? 'active' : ''"><a class="menu-item" ng-click="menu.toBeneficioClub()"><i class="icon-beneficio_club"></i>Benefício Club</a></li>
                    <li><a class="menu-item" ng-click="menu.toBaixeApp()"><i class="icon-phone_iphone"></i>Baixe o App</a></li>
                    <!-- <li><a class="menu-item"><i class="icon-collact"></i>Collact</a></li> -->
                    <!--<li><a class="menu-item" ng-click="menu.toAtendimentoDigital()"><i class="icon-help_outline"></i>FAQ</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="app/shared/directives/tratativascartao.js"></script>
<!--<script src="app/modules/beneficiario/scripts/config.js"></script>-->
<script src="app/config.js"></script>
<script src="app/modules/autenticacao/scripts/services/autenticacaoservice.js"></script>
<script src="app/modules/beneficiario/scripts/services/cartaoservice.js"></script>
<script src="app/modules/beneficiario/scripts/factories/editarcartaofactory.js"></script>

<script src="app/modules/beneficiario/scripts/factories/usuariomodalsfactory.js"></script>
<script src="app/modules/shared/scripts/factories/homefactory.js"></script>

<script src="app/modules/autenticacao/scripts/factories/loginfactory.js"></script>
<script src="app/modules/beneficiario/scripts/factories/usuariofactory.js"></script>

<script src="app/modules/beneficiario/scripts/services/accentivservice.js"></script>
<script src="app/modules/beneficiario/scripts/factories/accentivfactory.js"></script>
<script src="app/modules/beneficiario/scripts/factories/accentivresource.js"></script>