<div ng-controller="LoginController as login" ng-init="login.pageLoad()" class="-ticket">

    <div class="loading-mask-position" cg-busy="{promise:login.myPromise, templateUrl:'templates/loading-mask.htm', backdrop: false}"
        ng-if="login.myPromise">
    </div>

    <div id="contentLogin" ng-show="login.step === 0">
        <div class="modal-header -image -bann1pb">
            <h5 class="modal-title -red">Login</h5>
            <button class="modal-close-btn" ng-click="login.close()">&times;</button>
        </div>
        <div class="modal-body">
            <button class="btn-ticket -blue2 -block -icon" ng-click="IntentLogin()"><i class="icon-facebook"></i>Conectar com o facebook</button>
            <div class="text-hr">
                <span class="semi-hr"></span>
                <span>ou</span>
                <span class="semi-hr"></span>
            </div>
            <p class="text-aux">
                Se você já possui cadastro no <strong>App Ticket</strong>, utilize os mesmos dados para entrar:
            </p>
            <form id="formLogin" name="formLogin" novalidate>
                <div class="form-msg -error" ng-if="login.msgRetorno">
                    <span>{{login.msgRetorno}}</span>
                </div>
                <div class="form-msg -error" ng-show="login.error">
                    <div compile="login.mensagem"></div>
                </div>
                <div class="input-icon">
                    <i class="icon-mail_outline"></i>
                    <input required-error-message="O campo é obrigatório" name="email" id="email" type="email" class="form-control" placeholder="Informe seu e-mail"
                        data-ng-model="login.formData.Email" required autocomplete="off" />
                </div>
                <div class="input-icon">
                    <i class="icon-lock_outline"></i>
                    <input required-error-message="O campo é obrigatório" name="senha" id="senha" type="password" class="form-control" placeholder="Informe sua senha"
                        data-ng-model="login.formData.Password" required autocomplete="off" />
                </div>
                <div class="form-group">
                    <label class="chk-lbl">
                        <input type="checkbox" data-ng-model="login.formData.remember" />Manter conectado</label>
                    <a class="lnk-ticket -red" ng-click="login.toRecoverPassword()">Esqueci minha senha</a>
                </div>
                <button validar-form="formLogin" type="submit" class="btn-ticket -block -red" ng-click="login.submit()">Entrar no Sou Ticket</button>
            </form>
        </div>
        <div class="modal-footer-login modal-footer">
            <div class="row">
                <div class="col-xs-6">
                    <span class="text-aux">Ainda não tem cadastro?</span>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn-ticket -border" ng-click="login.changeToSignUp()">Cadastre-se</button>
                </div>
            </div>
        </div>
    </div>
    <div id="contentRecover" ng-show="login.step === 1">
        <div class="modal-header -image -bann1pb">
            <h5 class="modal-title -red">Recuperar senha</h5>
            <button class="modal-close-btn" ng-click="login.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <p>Insira o endereço de email cadastrado e nós enviaremos um link para você recuperar sua senha:</p>
            <form id="formRecuperarLogin" name="formRecuperarLogin" novalidate>
                <div class="form-msg -error" ng-if="login.msgRetorno">
                    <span>{{login.msgRetorno}}</span>
                </div>
                <div class="form-msg -error" ng-show="login.error">
                    <div compile="login.mensagem"></div>
                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="icon-mail_outline"></i>
                        <input name="recuperaremail" id="recuperaremail" required-error-message="O campo é obrigatório." type="text" class="form-control"
                            placeholder="Informe o e-mail cadastrado" data-ng-model="login.formData.user" required  ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" invalid-error-message="Campo e-mail inválido."/>
                    </div>
                </div>
                <div class="form-group">
                    <div
                        vc-recaptcha
                        theme="'light'"
                        key="login.model.key"
                        on-create="setWidgetId(widgetId)"
                        on-success="setResponse(response)"
                        on-expire="cbExpiration()"
                    ></div>
                </div>
                <button type="submit" class="btn-ticket -block -red" ng-click="login.setInvalid()" validar-form="formRecuperarLogin">Enviar e-mail de recuperação</button>
            </form>
        </div>
    </div>
    <div class="modal-step" id="contentOk" ng-show="login.step === 2">
        <div class="modal-header -image -bann1pb">
            <h5 class="modal-title">Login</h5>
            <button class="modal-close-btn" ng-click="login.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group" ng-if="false">
                <span class="badge-icon"><i class="icon-mail_outline"></i></span>
                <input type="text" id="input-email" class="form-control" value="{{ login.formData.user }}" />
                <!--<span id="welcomeEmail">{{ cadastro.formData.Email }}</span>-->
            </div>
            <p>
                Para cadastrar uma nova senha de acesso, você receberá um e-mail no endereço informado.
            </p>
            <button type="button" class="btn-ticket -block" ng-click="login.close()">Ok</button>
        </div>
    </div>
    <div id="contentRecover" ng-show="login.step === 3">
        <div class="modal-header -image -bann1pb">
            <h5 class="modal-title -red">Esqueci minha senha</h5>
            <button class="modal-close-btn" ng-click="login.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <p>Insira a sua nova senha:</p>
            <form id="formNovaSenha" name="formNovaSenha">
                <div class="form-msg -error" ng-if="login.msgRetorno">
                    <span>{{login.msgRetorno}}</span>
                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="icon-lock_outline"></i>
                        <input id="senhaAtual" name="senhaAtual" minlength="6" maxlength="10" ng-pattern="/^(?=.*[a-z])(?=.*[0-9])/" invalid-error-message="A senha deve conter letras e números."
                               type="password" class="form-control" placeholder="Senha" data-ng-model="login.formData.newPwd" required/>
                    </div>
                    <div class="input-icon">
                        <i class="icon-lock_outline"></i>
                        <input id="novasenha" name="novasenha" minlength="6" maxlength="10" ng-pattern="/^(?=.*[a-z])(?=.*[0-9])/" invalid-error-message="A senha deve conter letras e números."
                               type="password" class="form-control" placeholder="Confirme a nova senha" data-ng-model="login.formData.confirmPwd"
                               required/>
                    </div>

                </div>


                <button type="button" class="btn-ticket -block -red" ng-click="login.redefinirSenha()" validar-form="formNovaSenha">Enviar</button>
            </form>
        </div>
    </div>
    <!-- /.modal-content -->
    <div class="modal-step" id="Div1" ng-show="login.step === 4">
        <div class="modal-header -image -bann1pb">
            <h5 class="modal-title">Ativação</h5>
            <button class="modal-close-btn" ng-click="cadastro.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group">
                <span class="badge-icon"><i class="icon-mail_outline"></i></span>
                <input type="text" id="Text1" class="form-control" value="{{ login.formData.user }}" />
                <!--<span id="welcomeEmail">{{ cadastro.formData.Email }}</span>-->
            </div>
            <p>
                Renviamos um e-mail para o endereço acima para garantir que você é você e consequentemente oferecer mais segurança na utilização da sou ticket. Basta clicar no link para ter acesso total ao portal! "
            </p>
            <button type="button" class="btn-ticket -block" ng-click="login.close()">Ok</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<!--<script src="app/modules/autenticacao/scripts/config.js"></script>-->
<script src="app/config.js"></script>
<script src="app/modules/autenticacao/scripts/controllers/logincontroller.js"></script>
<!--<script src="app/modules/autenticacao/scripts/factories/LoginFactory.js"></script>-->
<!--<script src="app/modules/beneficiario/scripts/factories/UsuarioFactory.js"></script>-->
<!--<script src="app/modules/autenticacao/scripts/services/autenticacaoservice.js"></script>-->
