@mixin keyframe ($animation_name) {
  @-webkit-keyframes $animation_name {
    @content;
  }
  @-moz-keyframes $animation_name {
    @content;
  }
  @-o-keyframes $animation_name {
    @content;
  }
  @keyframes $animation_name {
    @content;
  }
}

@mixin animation ($animation, $duration: $anim-time, $timing_fn: ease, $iteration_count: 1, $delay: 0) {
  -webkit-animation-name: $animation;
     -moz-animation-name: $animation;
          animation-name: $animation;
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-timing-function: $timing_fn;
     -moz-animation-timing-function: $timing_fn;
          animation-timing-function: $timing_fn;
  -webkit-animation-delay: $delay;
     -moz-animation-delay: $delay;
          animation-delay: $delay;
  -webkit-animation-iteration-count: $iteration_count;
     -moz-animation-iteration-count: $iteration_count;
          animation-iteration-count: $iteration_count;

  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
     -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
          animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@keyframes teste {
  from {
    visibility: hidden;
    opacity: 0;
    right: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
    right: 24px;
  }
}
@keyframes testeBack {
  from {
    visibility: visible;
    opacity: 1;
    right: 24px;
  }
  to {
    visibility: hidden;
    opacity: 0;
    right: 0;
  }
}
