@mixin border-radius($radius1, $radius2:$radius1, $radius3:$radius1, $radius4:$radius1) {
  -webkit-border-radius: $radius1 $radius2 $radius3 $radius4;
     -moz-border-radius: $radius1 $radius2 $radius3 $radius4;
          border-radius: $radius1 $radius2 $radius3 $radius4;

      -ms-border-radius: $radius1 $radius2 $radius3 $radius4;
}

// Single side border-radius

@mixin border-top-radius($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
