@mixin drop-shadow($x: 0, $y:2px, $blur:2px, $opacity:0.3, $inset:"") {
  -webkit-box-shadow: $x $y $blur 0 rgba(0, 0, 0, $opacity) #{$inset};
     -moz-box-shadow: $x $y $blur 0 rgba(0, 0, 0, $opacity) #{$inset};
          box-shadow: $x $y $blur 0 rgba(0, 0, 0, $opacity) #{$inset};
}
@mixin remove-shadow() {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}
