@mixin transition($transition_descs...) {
  -webkit-transition: $transition_descs;
          transition: $transition_descs;
}

@mixin transition-delay($delay) {
  -webkit-transition-delay: $delay;
          transition-delay: $delay;
}

//Transição do bracket do header
.navbar-bracket {
  transition: all 0.25s ease-in-out;
  &.ng-hide-remove {
    //transform: translateY(0);
    opacity: 0;
  }
  &.ng-hide-remove-active {
    //transform: translateY(-8px);
    opacity: 1;
  }
  &.ng-hide-add {
    opacity: 1;
    transform: translateY(0);
  }
  &.ng-hide-add-active {
    opacity: 0;
    transform: translateY(-12px);
  }
}
//Transição do menu lateral
.menu-container > .menu-backdrop  { transition: all 0.4s ease-in-out }
.menu-container > .menu-ticket { transition: all 0.25s ease-out }
.menu-container {
  transition: all 0.4s ease-in-out;
  &.ng-hide-remove {
    .menu-backdrop {
      opacity: 0;
    }
    .menu-ticket {
      opacity: 0;
      transform: translateX(400px);
    }
  }
  &.ng-hide-remove-active {
    .menu-backdrop {
      opacity: 0.7;
    }
    .menu-ticket {
      opacity: 1;
      transform: translateX(0);
    }
  }
  &.ng-hide-add {
    .menu-backdrop {
      opacity: 0.7;
    }
    .menu-ticket {
      opacity: 1;
      transform: translateX(0);
    }
  }
  &.ng-hide-add-active {
    .menu-backdrop {
      opacity: 0;
    }
    .menu-ticket {
      opacity: 0;
      transform: translateX(400px);
    }
  }
}

//home video
.fullscreenvideo {
  transition: all 0.5s ease-in-out;
  &.ng-hide-remove {
    transform: translateY(-120px);
    opacity: 0;
  }
  &.ng-hide-remove-active {
    transform: translateY(0);
    opacity: 1;
  }
  &.ng-hide-add {
    opacity: 1;
    transform: translateY(0);
  }
  &.ng-hide-add-active {
    opacity: 0;
    transform: translateY(-120px);
  }
}

//Transição dos cartões na wallet
.card-ticket {
  transition: all 0.25s ease-in-out;
  >.contentopen, >.contentcollapsed {
    &.ng-hide-remove {
      transform: translateY(0);
      opacity: 0;
    }
    &.ng-hide-remove-active {
      transform: translateY(8px);
      opacity: 1;
    }
    &.ng-hide-add {
      opacity: 1;
    }
    &.ng-hide-add-active {
      opacity: 0;
    }
  }
}

//Transição do select de tipo de cartão
.cardtype-holder {
  > .cardtype {
    transition: all 0.25s ease-in-out;
    &.ng-hide-remove {
      //transform: translateX(16px);
      opacity: 0;
      height: 0;
      padding: 0 16px;
    }
    &.ng-hide-remove-active {
      //transform: translateX(0);
      opacity: 1;
      height: 64px;
      padding: 16px;
    }
    &.ng-hide-add {
      opacity: 1;
      height: 64px;
      padding: 16px;
    }
    &.ng-hide-add-active {
      opacity: 0;
      height: 0;
      padding: 0 16px;
    }
  }
}

.search-item {
  &.ng-leave {
    opacity: 1;
    transform: translateY(0);
  }
  &.ng-leave-active {
    opacity: 0;
    transform: translateY(-16px);
  }
  &.ng-enter {
    opacity: 0;
    transform: translateY(-16px);
  }
  &.ng-enter-active {
    opacity: 1;
    transform: translateY(0);
  }
}
.bc-list li {
  transition: all 0.25s ease-in-out;
  &.ng-leave {
    opacity: 1;
    transform: translateY(0);
  }
  &.ng-leave-active {
    opacity: 0;
    transform: translateY(-16px);
  }
  &.ng-enter {
    opacity: 0;
    transform: translateY(-16px);
  }
  &.ng-enter-active {
    opacity: 1;
    transform: translateY(0);
  }
}

.alert {
  transition: all 0.25s ease-in-out;
  &.ng-leave {
    opacity: 1;
    transform: translateY(0);
  }
  &.ng-leave-active {
    opacity: 0;
    transform: translateY(-16px);
  }
  &.ng-enter {
    opacity: 0;
    transform: translateY(-16px);
  }
  &.ng-enter-active {
    opacity: 1;
    transform: translateY(0);
  }
}

.search-ticket {
  transition: opacity 0.25s ease-in-out;

  &.ng-hide-remove {
    opacity: 0;
  }
  &.ng-hide-remove-active {
    opacity: 1;
  }
  &.ng-hide-add {
    opacity: 1;
  }
  &.ng-hide-add-active {
    opacity: 0;
  }
}

.question-answer {
  transition: all 0.25s ease-in-out;
  &.ng-hide-remove {
    opacity: 0;
    max-height: 0;
  }
  &.ng-hide-remove-active {
    opacity: 1;
    max-height: 400px;
  }
  &.ng-hide-add {
    opacity: 1;
    max-height: 400px;
  }
  &.ng-hide-add-active {
    opacity: 0;
    max-height: 0;
  }
}
