<div ng-controller="BeneficioClubDenunciaController as denuncia" ng-init="denuncia.pageLoad()">
    <div id="contentDenuncia" ng-show="denuncia.step === 0">
        <div class="modal-header">
            <h5 class="modal-title">Denunciar Oferta</h5>
            <button class="modal-close-btn" ng-click="denuncia.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <form id="formDenuncia" name="formDenuncia" novalidate>
                <div class="form-group">
                    <label>Parceiro:</label>
                    <p>{{denuncia.parceiro}}</p>
                </div>
                <div class="form-group">
                    <label>Oferta:</label>
                    <p>{{denuncia.oferta}}</p>
                </div>
                <div class="form-group">
                    <label>Motivo da denúncia:</label>
                    <div class="select">
                        <span class="caret"></span>
                        <select id="motivo" name="motivo" class="form-control" required ng-model="denuncia.motivo" required-error-message="Motivo da denúncia é um campo obrigatório">
                            <option value="" selected>Selecione o motivo</option>
                            <option value="Não funcionou ou expirou">Não funcionou ou expirou</option>
                            <option value="Parceiro não responde a minha solicitação">Parceiro não responde a minha solicitação</option>
                            <option value="O desconto é ruim ou consegui algo melhor em outro estabelecimento">O desconto é ruim ou consegui algo melhor em outro estabelecimento</option>
                            <option value="Spam">Spam</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Descrição da denúncia:</label>
                    <textarea id="descricao" name="descricao" class="form-control" required placeholder="Descreva o problema encontrado" ng-model="denuncia.descricao" required-error-message="Descrição é um campo obrigatório"/>
                </div>
                <button class="btn-ticket -block" ng-click="denuncia.enviar()" validar-form="formDenuncia">Enviar denúncia</button>
                <button class="btn-ticket -block -borderless" ng-click="denuncia.close()">Cancelar</button>
            </form>
        </div>
    </div>
    <!-- /.modal-content -->
    <div id="contentDenunciaSucesso" ng-show="denuncia.step === 1">
        <div class="modal-header">
            <h5 class="modal-title">Denúncia Enviada</h5>
            <button class="modal-close-btn" ng-click="denuncia.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-done"></i></span>
                <p>A sua denúncia foi<br />
                    enviada com sucesso!</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="denuncia.close()">OK</button>
        </div>
    </div>
    <!-- /.modal-content -->
    <div id="contentDenunciaErro" ng-show="denuncia.step === 2">
        <div class="modal-header">
            <h5 class="modal-title -red">Ocorreu um erro</h5>
            <button class="modal-close-btn" ng-click="denuncia.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-error"></i></span>
                <p>Desculpe! Ocorreu um erro e a operação não foi completada. Por favor, tente novamente.</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="denuncia.close()">OK</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<script src="app/modules/beneficio-club/scripts/controllers/beneficioclubdenunciacontroller.js"></script>
