<div id="atendimento" data-ng-controller="AtendimentoController as atendimento">
    <div class="content -blue3 -ptitle" id="atendimentoTitle">
        <div class="container">
            <h4>Atendimento Digital</h4>
            <p class="page-desc">Tire suas dúvidas  e conheça quais os autosserviços para você na web</p>
        </div>
    </div>
    <div class="page-img"></div>
    <div class="content main-content">
        <div class="container">
            <div id="atendServicos">
                <h6 class="-sm">Serviços para o seu cartão:</h6>
                <div class="row service-btns">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <button class="btn-ticket -block -iconcenter -borderblue2" ng-click="atendimento.openSelect('unblock')"><i class="icon-lock_open"></i>Desbloquear cartão</button>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <button class="btn-ticket -block -iconcenter -borderblue2" ng-click="atendimento.openSelect('block')"><i class="icon-lock_outline"></i>Bloquear cartão</button>
                    </div>
                    <!--<div class="col-xs-12 col-sm-6 col-md-3">
            <button class="btn-ticket -block -iconcenter -borderblue2" ng-click="atendimento.openSelect('changePwd')"><i class="icon-key"></i></span>Alterar senha do cartão</button>
          </div>-->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <button class="btn-ticket -block -iconcenter -borderblue2" ng-click="atendimento.openSelect('reissue')"><i class="icon-card"></i>Reemitir cartão</button>
                    </div>
                </div>
            </div>
            <hr class="-gray3" />
            <div id="atendFaq">
                <h6 class="-sm">Como podemos ajudar?</h6>
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <a ng-click="atendimento.toHelp()" class="btn-shortcut clearfix">
                            <div class="badgeicon -help"></div>
                            <div class="text">
                                <p class="title">Central de Ajuda</p>
                                <p class="desc">
                                    Consulte todos os nossos
                                    <br />
                                    tópicos de ajuda
                                </p>
                            </div>
                        </a>
                        <div class="contact-container">
                            <a href="" class="lnk-ticket-icon" ng-click="atendimento.openTel()"><i class="icon-phone"></i>Entrar em contato por telefone</a>
                            <a ng-if="false" href="" class="lnk-ticket-icon" ng-click="atendimento.openMsg()"><i class="icon-mail_outline"></i>Enviar uma mensagem</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-8">
                        <p class="help-title">Principais tópicos da ajuda</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-4 help-list">
                                <div>
                                    <a class="btn-wrapper" href="http://faq.ticket.com.br/saldo-e-extrato.htm" target="_blank">
                                        <div class="btn-shortcut clearfix">
                                            <i class="icon-account_balance_wallet"></i>
                                            <span>Saldo e Extrato</span>

                                        </div>
                                    </a>
                                </div>
                                <a class="btn-wrapper" href="http://faq.ticket.com.br/meu-cartao.htm" target="_blank">
                                    <div class="btn-shortcut">
                                        <i class="icon-card"></i>
                                        <span>Meu Cartão</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-4 help-list">
                                <a class="btn-wrapper" href="http://faq.ticket.com.br/rede-credenciada.htm" target="_blank">
                                    <div class="btn-shortcut">
                                        <i class="icon-room"></i>
                                        <span>Rede Credenciadas</span>
                                    </div>
                                </a>
                                <a class="btn-wrapper" href="http://faq.ticket.com.br/beneficio-club.htm" target="_blank">
                                    <div class="btn-shortcut">
                                        <i class="icon-beneficio_club"></i>
                                        <span>Benefício Club</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-4 help-list">
                                
                                <div class="btn-wrapper" ng-click="atendimento.aplicativo()">
                                    <div class="btn-shortcut">
                                        <i class="icon-phone_iphone"></i>
                                        <span>Aplicativo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-12">
                        <div id="beneficiario_atendimento_footer-hor_970x90_fixo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="app/modules/beneficiario/scripts/factories/automodalsfactory.js"></script>
    <script src="app/modules/beneficiario/scripts/factories/atendimentomodalsfactory.js"></script>
    <script src="app/modules/beneficiario/scripts/controllers/atendimentocontroller.js"></script>
    <script src="app/modules/beneficiario/scripts/controllers/selecionarcartaocontroller.js"></script>
