<div id="saldoDashboard" data-ng-controller="ExibeSaldoAbertoController as consulta" ng-init="consulta.obterInformacoesCartao()">
    <div class="loading-mask-position" cg-busy="{promise:consulta.myPromise, templateUrl:'templates/loading-mask.htm', backdrop: false}">
    </div>
    <div class="content -blue3 -ptitle" id="saldoDashboardTitle">
        <div class="container">
            <h4>Consulta de saldo e Ticket transporte</h4>
            <p class="page-desc">Veja o saldo, extrato e benefícios de seus cartões Tickets</p>
        </div>
    </div>
    <div class="content main-content" ng-if="consulta.carregado">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div ng-class="consulta.cssCartao" tratativas-cartao="consulta.usuario.cartao">
                        <div class="contentopen">
                            <svg version="1.1" id="bracketTicket1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 14 28" style="enable-background: new 0 0 14 28;" xml:space="preserve">
                                <path class="card-bracket" d="M0,28c0-7.4,6-13.5,13.5-13.5c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5C6,13.5,0,7.4,0,0V28z"/>
                            </svg>
                            <div class="card-logo"></div>
                            <p class="num">---- ---- ---- <span class="card-last">{{consulta.usuario.cartao.cardlast}}</span></p>
                            <p class="balance">Saldo atual <span class="currency">R$</span> <span class="value">{{consulta.usuario.cartao.saldo | currency : "" : 2}}</span></p>
                            <p class="blocked ng-binding" ng-if="consulta.usuario.cartao.bloqueado"><i class="icon-lock_outline"></i>{{consulta.usuario.cartao.textoBloqueado}}
                            </p>
                        </div>
                    </div>
                    <a href="" class="btn-lnkcircle" ng-click="consulta.openSignUp(1)"><span class="circleicon"><i class="icon-add_card"></i></span>Adicionar cartão</a>
                    <a href="" class="btn-lnkcircle" ng-click="consulta.openSignUp(1)"><span class="circleicon"><i class="icon-save"></i></span>Salvar cartão</a>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-8 col-nopadding">

                    <div class="card-details-container">

                        <div ng-class="consulta.details" ng-if="!consulta.isTT">
                            <div class="statement">
                                <div class="card-blocked" ng-show="consulta.usuario.cartao.situacao !== 1">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 col-md-offset-3 action-blocked">
                                            <h4 class="-gray">{{consulta.textoBloqueado}}</h4>
                                            <p ng-if="consulta.textoBloqueadoMin == 'Bloqueado Ticket'">O status deste cartão não permite desbloqueio, entre em contato com a central
                                                de atendimento Ticket ou com seu RH.</p>
                                            <p ng-if="consulta.textoBloqueadoMin == 'Bloqueado'">Efetue o desbloqueio do cartão para começar a utilizá-lo</p>
                                            <p ng-if="consulta.textoBloqueadoMin == 'Cancelado'">Este cartão está cancelado.</p>
                                            <button class="btn-ticket -block -icon" ng-if="consulta.usuario.cartao.situacao === 3" ng-click="consulta.openSignUp(4)"><i class="icon-lock_outline"></i>Desbloquear cartão</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                                        <span class="title">Extrato</span>
                                        <div class="select -statement">
                                            <span class="caret"></span>
                                            <select class="form-control">
                                                <option selected> {{consulta.maximo}} últimos</option>
                                            </select>
                                        </div>
                                        <div class="list">
                                            <table class="tbl-statement">
                                                <tbody>
                                                <tr ng-repeat="transacao in consulta.usuario.cartao.extrato | limitTo:consulta.maximo">
                                                    <td class="date">{{formatDateExtrato(transacao.date)}}</td>
                                                    <td class="place">
                                                        <span title="">{{transacao.description}}</span></td>
                                                    <td class="value">{{transacao.valueParsed | currency: ''}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <button class="btn-ticket -border -block" ng-click="consulta.openSignUp(3)">Ver mais lançamentos</button>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8" ng-if="consulta.usuario.cartao.situacao === 1">
                                        <div class="signup-overlay">
                                            <p>Obtenha informações do próximo crédito, troca de senha, bloqueio e desbloqueio, segunda via do cartão, 
                                                adicione múltiplos cartões e muito mais no <strong>Sou Ticket</strong>.
                                            </p>
                                            <button class="btn-ticket -large -block" ng-click="consulta.openSignUp(2)">Cadastre-se Agora</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="actions clearfix">
                                <p class="actionstitle" ng-if="consulta.usuario.cartao.situacao == 1">
                                    <i class="icon-lifebuoy"></i>Autosserviço disponível para esse cartão:
                                </p>
                                <div class="actionsbar">
                                    <div class="btns" ng-if="consulta.usuario.cartao.situacao == 1">
                                        <button class="btn-ticket -borderwhite" ng-click="consulta.openSignUp(4)">Bloquear</button>
                                        <button class="btn-ticket -borderwhite" ng-click="consulta.openSignUp(4)">Reemitir</button>
                                    </div>
                                    <button class="btn-ticket -blanklight -icon btn-delete" ng-click="consulta.openSignUp(4)"><i class="icon-edit"></i>Editar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-details -transporte" ng-if="consulta.isTT">
                            <div class="statement">
                                <div class="clearfix">
                                    <div class="cardname">
                                        <span class="title">Titular do cartão</span>
                                        <p class="value">{{consulta.usuario.beneficiario}}</p>
                                    </div>
                                    <div class="cardnum">
                                        <span class="title">Número do cartão</span>
                                        <p class="value">{{consulta.usuario.cartao.numero}}</p>
                                    </div>
                                    <!--<div class="operator">
                                        <span class="title">Operadora</span>
                                        <p class="value">{{consulta.usuario.cartao.operadora}}</p>
                                    </div>-->
                                </div>
                                <hr/>
                                <span class="title">Histórico de créditos</span>
                                <div class="list">
                                    <table class="tbl-history">
                                        <thead>
                                        <tr>
                                        <th class="date">Data do crédito</th>
                                        <th class="op">Operadora</th>
                                        <th class="desc">Descrição</th>
                                        <th class="value">Valor total (R$)</th>
                                        <tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="credito in consulta.usuario.cartao.creditos">
                                            <td class="date">{{formatDateExtratoTT(credito.date)}}</td>
                                            <td class="op">{{retiraOperadora(credito.description)}}</td>
                                            <td class="place"><span title="{{credito.description}}">{{credito.description}}</span></td>
                                            <td class="value">{{credito.valueParsed | currency: ''}}</td>
                                        </tr>
                                        <tr ng-if="!consulta.usuario.cartao.creditos">
                                            <td colspan="4">Não foi encontrado nenhum crédito para o cartão.</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="signup-msg">
                                    <p>Cadastre-se e evite digitar seu cpf a cada consulta.</p>
                                    <button class="btn-ticket -large -block" ng-click="consulta.openSignUp()">Cadastre-se Agora</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="consulta-saldo_dashboard_footer-hor_970x90_fixo"></div>
                </div>
            </div>
    </div>
</div>
<script src="app/config.js"></script>

<script src="app/modules/consulta-saldo/scripts/controllers/exibesaldoabertocontroller.js"></script>
<script src="app/modules/beneficiario/scripts/services/cartaoservice.js"></script>
<script src="app/modules/beneficiario/scripts/factories/cartaofactory.js"></script>

<script src="app/modules/beneficiario/scripts/directives/graficolinhadirective.js"></script>
<script src="app/modules/beneficiario/scripts/directives/graficoroscadirective.js"></script>

<script src="app/modules/autenticacao/scripts/services/AutenticacaoService.js"></script>