<div id="bc" data-ng-controller="BeneficioClubController as beneficio" ng-init="beneficio.pageLoad()">
    <div class="content -blue3 -ptitle" id="bcTitle">
        <div class="container">
            <h4>Benefício Club</h4>
            <p class="page-desc">Promoções e descontos para quem é usuário Ticket</p>
        </div>
    </div>
    <div class="content main-content">
        <div class="loading-mask-position" cg-busy="{promise:beneficio.filterData.promise, templateUrl:'templates/loading-mask.htm', backdrop: false}">
        </div>
        <div class="container-fluid">
            <div class="bc-banner row">
                <div class="col-xs-12 col-sm-6 bannerarea" id="banner01">
                    <a href="{{beneficio.banners[0].linkUrl}}" target="_self">
                        <div class="banner-img">
                            <img src="{{beneficio.banners[0].image.href}}" alt="{{beneficio.banners[0].image.mediaLegend}}" />
                        </div>
                        <div class="banner-overlay">
                            <div class="banner-content row">
                                <div class="col-xs-3 col-md-2 no-gutter">
                                    <div class="logo">
                                        <img src="{{beneficio.banners[0].logo.href}}">
                                    </div>
                                </div>
                                <div class="col-xs-9 col-md-10 no-gutter info">
                                    <p class="desc">{{beneficio.banners[0].introduction}}</p>
                                    <button class="btn-ticket -red"><i class="icon-gift"></i>Quero esta oferta!</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 bannerarea -halfver" id="banner02">
                    <a href="{{beneficio.banners[1].linkUrl}}" target="_self">
                        <div class="banner-img">
                            <img src="{{beneficio.banners[1].image.href}}" alt="{{beneficio.banners[1].image.mediaLegend}}" />
                        </div>
                        <div class="banner-overlay">
                            <div class="banner-content row">
                                <div class="col-xs-3 col-md-2 no-gutter">
                                    <div class="logo">
                                        <img src="{{beneficio.banners[1].logo.href}}">
                                    </div>
                                </div>
                                <div class="col-xs-9 col-md-10 no-gutter info">
                                    <p class="desc">{{beneficio.banners[1].introduction}}</p>
                                    <button class="btn-ticket -red"><i class="icon-gift"></i>Quero esta oferta!</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 -halfver">
                    <div class="row">
                        <div class="col-sm-6 bannerarea" id="banner03">
                            <a href="{{beneficio.banners[2].linkUrl}}" target="_self">
                                <div class="banner-img">
                                    <img src="{{beneficio.banners[2].image.href}}" alt="{{beneficio.banners[2].image.mediaLegend}}" />
                                </div>
                                <div class="banner-overlay">
                                    <div class="banner-content row">
                                        <div class="col-xs-3 col-sm-4 no-gutter">
                                            <div class="logo">
                                                <img src="{{beneficio.banners[2].logo.href}}">
                                            </div>
                                        </div>
                                        <div class="col-xs-9 col-sm-8 no-gutter info">
                                            <p class="desc">{{beneficio.banners[2].introduction}}</p>
                                            <button class="btn-ticket -red"><i class="icon-gift"></i>Quero esta oferta!</button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 bannerarea" id="banner04">
                            <a href="{{beneficio.banners[3].linkUrl}}" target="_self">
                                <div class="banner-img">
                                    <img src="{{beneficio.banners[3].image.href}}" alt="{{beneficio.banners[3].image.mediaLegend}}" />
                                </div>
                                <div class="banner-overlay">
                                    <div class="banner-content row">
                                        <div class="col-xs-3 col-sm-4 no-gutter">
                                            <div class="logo">
                                                <img src="{{beneficio.banners[3].logo.href}}">
                                            </div>
                                        </div>
                                        <div class="col-xs-9 col-sm-8 no-gutter info">
                                            <p class="desc">{{beneficio.banners[3].introduction}}</p>
                                            <button class="btn-ticket -red"><i class="icon-gift"></i>Quero esta oferta!</button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container bc-container">
            <div class="row">
                <div class="bc-filters-mobile col-xs-12" ng-class="{active: beneficio.filterStatus === 1}">
                    <div class="bc-filters-toggle" ng-click="beneficio.openFilter()">
                        <i class="icon-filter_list"></i>Filtros
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <a class="btn-lnkcircle" ng-click="beneficio.openPartnerForm()"><span class="circleicon"><i class="icon-group_add"></i></span>Indique um parceiro</a>
                    <div class="bc-filters">
                        <div class="form-group">
                            <label>Ordenar por:</label>
                            <div class="toggle-control">
                                <div class="toggle-opt"
                                    ng-class="{active : beneficio.filterData.filtros.countView === null}"
                                    ng-click="beneficio.ordernar(null)">
                                    <i class="icon-new_releases"></i>Ofertas recentes
                                </div>
                                <div class="toggle-opt"
                                    ng-class="{active : beneficio.filterData.filtros.countView === 1}"
                                    ng-click="beneficio.ordernar(1)">
                                    <i class="icon-trending"></i>Mais vistos
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tipo da oferta:</label>
                            <label class="radio-lbl" ng-class="{checked: beneficio.filterData.filtros.type === null}">
                                <input type="radio" name="offerType" value="all" ng-click="beneficio.tipoOferta(null)" checked="checked" />
                                Todas (<span class="total">{{beneficio.contadores.todos}}</span>)
                            </label>
                            <label class="radio-lbl" ng-class="{checked: beneficio.filterData.filtros.type === 1}">
                                <input type="radio" name="offerType" value="1" ng-click="beneficio.tipoOferta(1)" />
                                Online (<span class="total">{{beneficio.contadores.online}}</span>)
                            </label>
                            <label class="radio-lbl" ng-class="{checked: beneficio.filterData.filtros.type === 0}">
                                <input type="radio" name="offerType" value="0" ng-click="beneficio.tipoOferta(0)" />
                                Loja Física (<span class="total">{{beneficio.contadores.lojaFisica}}</span>)
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Categorias:</label>
                            {{beneficio.filterData.filtros.category}}
                            <label class="radio-lbl" ng-class="{checked: beneficio.filterData.filtros.category === null}">
                                <input type="radio" name="offerCat" value="0" ng-click="beneficio.filtrar(null)" ng-checked="beneficio.filterData.filtros.category === null" />
                                Todas as ofertas (<span class="total">{{beneficio.contadores.todos}}</span>)
                            </label>

                            <div ng-repeat="categoria in beneficio.filterData.categorias">

                                <label class="radio-lbl" ng-class="{checked: beneficio.filterData.filtros.category === categoria.name}">
                                    <input type="radio" name="offerCat"
                                        ng-model="categoria.id" ng-click="beneficio.filtrar(categoria.name)" ng-checked="beneficio.filterData.filtros.category === categoria.name" />
                                    {{categoria.name}} (<span class="total" ng-style="{ 'color': categoria.color }">{{categoria.qtd}}</span>)
                                </label>

                            </div>

                        </div>
                        <div class="form-group">

                            <adsense ad-client="ca-pub-5182719158779206" ad-slot="8666901339" inline-style="display:inline-block;width:90%;height:360px" ad-format="auto"></adsense>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <div id="bc-search-wrapper" class="input-icon bc-search">
                        <i class="icon-search"></i>
                        <input id="txtFiltro" name="txtFiltro" type="text" class="form-control" placeholder="Buscar parceiro, promoções ou descontos" ng-model="beneficio.search" />
                        <!--"-->
                        <a id="anchor"></a>
                    </div>
                    <ul class="bc-list row">
                        <li class="col-sm-6 col-md-4"
                            dir-paginate="result in beneficio.filterData.ofertas | filter:beneficio.filtrarInput | itemsPerPage: beneficio.pageSize"
                            current-page="beneficio.currentPage"
                            ng-class="result.cat"
                            ng-click="beneficio.goToDetail(result.titleUrl, result.id)">
                            <div class="offer">
                                <div class="offer-logo">
                                    <img ng-src="{{result.logo1}}" ng-if="result.logo1" />
                                    <img ng-src="{{beneficio.urlConcatenada(result.partners.image)}}" ng-if="!result.logo1" />
                                </div>

                                <p class="offer-desc" ng-style="{ 'border-color': result.category[0].color }">{{result.title}}</p>
                                <a class="offer-link lnk-ticket-icon"><i class="icon-add_circle" ng-style="{'color' : result.category[0].color }"></i>Ver detalhes da oferta</a>
                            </div>
                        </li>
                    </ul>

                    <div class="bc-list-pagination">

                        <dir-pagination-controls boundary-links="true" template-url="@@paginacaoComponente"></dir-pagination-controls>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="@@paginacaoJs"></script>

<script src="app/config.js"></script>
<!--<script src="app/modules/beneficio-club/scripts/config.js"></script>-->
<script src="app/modules/beneficio-club/scripts/resources/beneficioresource.js"></script>
<script src="app/modules/beneficio-club/scripts/services/beneficioservice.js"></script>
<script src="app/modules/beneficio-club/scripts/factories/beneficioclubfactory.js"></script>
<script src="app/modules/beneficio-club/scripts/controllers/beneficioclubcontroller.js"></script>
<script src="app/modules/beneficio-club/scripts/factories/beneficiomodalsfactory.js"></script>

<script type="text/javascript">
    $('.radio-lbl').css('cursor', 'pointer');
</script>


