<div class="placeholder" data-ng-controller="UsuarioController as usuario">

    <div id="main" class="container-fluid">
        <h3 class="page-header">Cadastro de Usuário</h3>
        <div class="text-center">
            <toaster-container></toaster-container>
        </div>
        <br/>
        <form id="formIncluirUsuario" name="formIncluirUsuario" novalidate>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="Nome">Nome</label>
                    <input class="form-control" id="Nome" maxlength="255" name="Nome" type="text" data-ng-model="Usuario.Name" required allow-pattern="[a-z]">
                </div>
                <div class="form-group col-md-4">
                    <label for="Sobrenome">Sobrenome</label>
                    <input class="form-control" id="Sobrenome" maxlength="255" name="Sobrenome" required type="text" data-ng-model="Usuario.LastName">
                </div>
                <div class="form-group col-md-4">
                    <label for="Cpf">CPF</label>
                    <input class="form-control" id="Cpf" maxlength="255" name="Cpf" required type="text" data-ng-model="Usuario.Cpf" mask="000.000.000-00">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="TelCel">Telefone Celular</label>
                    <input class="form-control" id="TelCel" maxlength="255" name="TelCel" required type="text" data-ng-model="Usuario.CellPhone"
                    mask="(00) 00000-0000">
                </div>
                <div class="form-group col-md-4">
                    <label for="DtNasc">Data de Nascimento</label>
                    <input class="form-control" id="DtNasc" maxlength="255" name="DtNasc" required type="text" data-ng-model="Usuario.nascimentoAux"
                    mask="00/00/0000" invalid-date>
                </div>
                <div class="form-group col-md-4">
                    <label class="radio control-label">Sexo</label>
                    <div class="grupo-radio">
                        <label class="radio-inline">
                            <input required type="radio" name="Sexo" id="SexoM" value="M" data-ng-model="Usuario.sexo" > Masculino
                        </label>
                        <label class="radio-inline">
                            <input required type="radio" name="Sexo" id="SexoF" value="F" data-ng-model="Usuario.sexo"> Feminino
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6" range-data="Data de Programação">
                    <div class="form-group col-md-6">
                        <label for="StartDate">De</label>
                        <input class="form-control" name="StartDate" mask="00/00/0000" ng-model="Usuario.StartDate" type="text" this-earlier-than="Usuario.EndDate"
                        required-error-message="Data de Programação Início é um campo obrigatório" required invalid-date
                        invalid-error-message="A Data de Programação Inicial é inválida.">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="EndDate">Até</label>
                        <input class="form-control" name="EndDate" mask="00/00/0000" ng-model="Usuario.EndDate" type="text" required-error-message="Data de Programação Final é um campo obrigatório"
                        required invalid-date invalid-error-message="A Data de Programação Final é inválida.">
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="form-group col-md-6">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" data-ng-model="Usuario.Email" name="Email" id="Email" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="ConfirmEmail">Confirmar Email</label>
                    <input type="email" class="form-control" data-ng-model="Usuario.ConfirmEmail" id="ConfirmEmail" name="ConfirmEmail" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="Senha">Senha</label>
                    <input type="password" class="form-control" id="Senha" name="Senha" data-ng-model="Usuario.Senha">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Confirmar Senha</label>
                    <input type="password" class="form-control" id="ConfirmSenha" name="ConfirmSenha" date-ng-model="Usuario.ConfirmSenha">
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" validar-form="formIncluirUsuario" ng-click="salvarUsuario()">Salvar</button>
                    <a href="template.htm" class="btn btn-default">Cancelar</a>
                </div>
            </div>


            <table>
                <tr>
                    <td>Titulo1</td>
                    <td>Titulo2</td>
                    <td>Titulo3</td>
                </tr>
                <tr>
                    <td><input type="text" ng-model="pipoca.titulo1"></td>
                    <td>><input type="text" ng-model="pipoca.titulo2"></td>
                    <td>><input type="text" ng-model="pipoca.titulo3"></td>
                </tr>
            </table>

        </form>
    </div>
</div>


<!-- DEPENDENCIAS -->
<!--<script src="app/modules/beneficiario/scripts/config.js"></script>-->
<script src="app/config.js"></script>

<script src="app/modules/beneficiario/scripts/factories/usuariofactory.js"></script>
<script src="app/modules/beneficiario/scripts/services/usuarioservice.js"></script>
<script src="app/modules/beneficiario/scripts/controllers/usuariocontroller.js"></script>