<div id="bc" data-ng-controller="EditarUsuarioController as editar" ng-init="editar.carregarDadosUsuario()">
    <div class="content -blue3 -ptitle">
        <div class="container">
            <h4>Meu Cadastro</h4>
        </div>
    </div>
    <div class="content main-content">
        <div class="loading-mask-position" cg-busy="{promise:editar.myPromise, templateUrl:'templates/loading-mask.htm', backdrop: false}">
        </div>
        <div class="container edit-user">
            <div class="row">
                <div class="user-pic col-sm-3">
                    <div class="userphoto">
                        <!--<img src="" ng-model="editar.usuario.foto" />-->
                        <div class="placeholderphoto"><i class="icon-add_photo"></i></div>
                        
                    </div>
                    
                    <span class="username">{{editar.usuariologado.nome}}</span>
                    <button ng-if="!editar.usuariologado.isFacebook" class="btn-ticket -blue2" ng-click="editar.openChangePwd()">Alterar senha</button>
                </div>
                <div class="col-sm-9">
                    <!--<uib-alert ng-repeat="alert in editar.alerts" type="{{alert.type}}" dismiss-on-timeout="{{alert.dismissTime}}" close="editar.closeAlert($index)">{{alert.msg}}</uib-alert>-->
                    <div class="user-form">
                                              
                        
                        <form class="clearfix" id="formEditUser" name="formEditUser" novalidate>
                            <div class="row form-content">
                                <div class="formcol col-md-6">
                                    <div class="form-group">
                                        <label>Nome completo</label>
                                        <div class="input-icon">
                                            <i class="icon-person"></i>
                                            <input type="text" id="txtNome" name="txtNome" class="form-control" placeholder="" required-error-message="Nome completo é um campo obrigatório." ng-model="editar.usuario.nome" allow-pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\s]" required ng-readonly="editar.usuario.readOnlyNome" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6 col-md-12">
                                            <label>CPF</label>
                                            <div class="input-icon">
                                                <i class="icon-person"></i>
                                                <input 
                                                    id="txtCPF" name="txtCPF"
                                                    type="text" class="form-control"
                                                    placeholder="CPF"
                                                    ng-model="editar.usuario.cpf"
                                                    mask="000.000.000-00"
                                                    ui-br-cpf-mask
                                                    required
                                                    required-error-message="CPF é um campo obrigatório."
                                                    ng-readonly="editar.usuario.readOnlyCpf" />
                                            </div>
                                        </div>
                                        
                                        	
                                        
                                        <div class="form-group col-sm-6 col-md-12">
                                            <label>Matrícula</label>
                                            <div class="input-icon form-group -action">
                                                <i class="icon-person"></i>
                                                <input type="text" class="form-control" placeholder="Nº Registro do funcionário" ng-model="editar.usuario.matricula" maxlength="30"/>
                                                <a uib-popover="Código que a empresa fornece para cada colaborador, conhecido também por “RE” (registro de empregado), “cadastro na empresa” ou “controle do empregado”. Caso não saiba o seu, insira apenas seu número do CPF ou consulte o RH da sua empresa."
                                                    popover-placement="top-right" popover-trigger="outsideClick" style="float: left;" ><i class="icon-help_outline"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6 col-md-12">
                                            <label>Telefone Celular</label>
                                            <div class="input-icon">
                                                <i class="icon-phone_iphone"></i>
                                                <input type="text" class="form-control" placeholder=""
                                                    ng-model="editar.usuario.cellPhone"                                                    
                                                    ui-br-phone-number invalid-cel minlength="14" maxlength="15"                                                 
                                                    required  id="txtCelular" name="txtCelular" required-error-message="Número de celular inválido."/>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6 col-md-12">
                                            <label>E-mail</label>
                                            <div class="input-icon">
                                                <i class="icon-mail_outline"></i>
                                                <input id="txtEmail" name="txtEmail" type="text" class="form-control" placeholder="" ng-model="editar.usuario.email" required
                                                    required-error-message="E-mail é um campo obrigatório." ng-readonly="editar.usuario.readOnlyEmail"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Data de nascimento</label>
                                        <div class="form-inline" id="signUpBirth">
                                            <div class="form-group" id="signUpBirthDay">
                                                <label class="sr-only">Dia</label>
                                                <div class="select">
                                                    <span class="caret"></span>
                                                    <select class="form-control" required
                                                        ng-model="editar.usuario.formData.birthDateDay"
                                                        ng-options="day as day for day in editar.usuario.formData.birthDateDayOpts">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" id="signUpBirthMonth">
                                                <label class="sr-only">Mês</label>
                                                <div class="select">
                                                    <span class="caret"></span>
                                                    <select class="form-control" required
                                                        ng-model="editar.usuario.formData.birthDateMonth"
                                                        ng-options="month.value as month.name for month in editar.usuario.formData.birthDateMonthOpts">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" id="signUpBirthYear">
                                                <label class="sr-only">Ano</label>
                                                <div class="select">
                                                    <span class="caret"></span>
                                                    <select class="form-control" required
                                                        ng-model="editar.usuario.formData.birthDateYear"
                                                        ng-options="year as year for year in editar.usuario.formData.birthDateYearOpts">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Sexo</label>
                                        <div class="form-inline" id="signUpGender">
                                            <div class="form-group">
                                                <label class="radio-lbl">
                                                    <input id="rblSexo" text="rdlSexo" type="radio" name="radioGender" value="F" ng-model="editar.usuario.sexo" />
                                                    Feminino</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="radio-lbl">
                                                    <input type="radio" name="radioGender" value="M" ng-model="editar.usuario.sexo" />
                                                    Masculino</label>
                                            </div>
                                            <div ng-show="editar.exibirMensagemSexoNaoPreenchido" id="mensagem" class="validation-msg">Sexo é obrigatório.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="formcol col-md-6">
                                    <div class="form-group">
                                        <label>CEP</label>
                                        <div class="input-icon">
                                            <i class="icon-room"></i>
                                            <input type="text" class="form-control" placeholder="" ng-model="editar.usuario.endereco.cep"
                                                   ng-blur="editar.obterCep()" required mask="00000-000" ui-br-cep-mask minlength="9" id="txtCep" name="txtCep" 
                                                   required-error-message="Número de Cep inválido." />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-9">
                                            <label>Logradouro</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="editar.usuario.endereco.logradouro" required
                                                 id="txtlogradouro" name="txtlogradouro" 
                                                   required-error-message="Logradouro deve ser preenchido."/>
                                        </div>
                                        <div class="form-group col-xs-3">
                                            <label>Número</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="editar.usuario.endereco.numero" required
                                                id="txtnumero" name="txtnumero" 
                                                   required-error-message="*"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-6 col-md-12 col-lg-6">
                                            <label>Complemento</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="editar.usuario.endereco.complemento" />
                                        </div>
                                        <div class="form-group col-xs-6 col-md-12 col-lg-6">
                                            <label>Bairro</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="editar.usuario.endereco.bairro" required
                                                id="txtbairro" name="txtbairro" 
                                                   required-error-message="Bairro deve ser preenchido."/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-8">
                                            <label>Cidade</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="editar.usuario.endereco.cidade" required 
                                                id="txtcidade" name="txtcidade" required-error-message="Cidade deve ser preenchida."/>
                                        </div>
                                        <div class="form-group col-xs-4">
                                            <label>Estado</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="editar.usuario.endereco.uf" required
                                                 id="txtuf" name="txtuf" required-error-message="*" maxlength="2"/>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="check-group">
                                        <label class="title">Interesses</label>
                                        <div class="row">
                                            <label class="chk-lbl col-xs-6"
                                                ng-repeat="interest in editar.usuario.interests">
                                                <input type="checkbox" ng-model="interest.value" />{{interest.name}}</label>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label class="chk-lbl">
                                            <input type="checkbox" ng-model="editar.usuario.aceitoMarketing" />Desejo receber comunicações de promoções Ticket e parceiros.</label>
                                    </div>
                                </div>
                            </div>
                            <button class="btn-ticket" ng-click="editar.alterarDadosusuarioCadastrado()" validar-form="formEditUser">Salvar alterações</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="app/modules/beneficiario/scripts/factories/editarusuariofactory.js"></script>
<script src="app/modules/beneficiario/scripts/factories/usuariomodalsfactory.js"></script>
<script src="app/modules/beneficiario/scripts/controllers/editarusuariocontroller.js"></script>
<script src="app/modules/beneficiario/scripts/services/usuarioservice.js"></script>
<script src="app/modules/beneficiario/scripts/factories/automodalsfactory.js"></script>
<script src="app/modules/beneficiario/scripts/directives/dropzonedirective.js"></script>
