#ajuda {
  .help-search {
    padding: 40px 0;
    background: $t-gray4;
    border-bottom: 1px solid $t-gray3;

    .form-group {
      margin: 0;
    }
    .input-icon {
      i {
        font-size: 1.5em;
        top: 50%;
        left: 16px;
        margin-top: -12px;
        color: $t-gray3;
      }
      .form-control {
        height: 56px;
        padding: 16px 16px 12px 56px;
        font-size: 1.25em;
        @include border-radius(2px);
        border: 1px solid transparent;
        &:hover {
          border-color: $t-gray3;
        }
        &:focus, &:active {
          border-color: $t-blue2;
          background: #FFF;
        }
      }
    }
  }

  .question-cat {
    margin-bottom: 40px;
    h4 {font-size: 1.25em}
  }
  .question-title {
    position: relative;
    padding: 16px 0 8px;
    font-size: 1.25em;
    color: $t-gray1;
    border-bottom: 1px solid $t-gray3;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    &:hover {
      color: $t-blue2;
      border-color: $t-blue2;
    }
    &.active {
      color: $t-blue2;
      border-color: transparent;
    }
    i {
      position: absolute;
      right: 8px;
      top: 50%;
      font-size: 20px;
      margin-top: -8px;
    }
  }
  .question-answer {
    font-size: 0.875em;
    border-bottom: 1px solid $t-gray3;
  }
  .row-q {
    margin-bottom: 56px;
  }
  .question {
    > .question-title {
      border: none;
      color: $t-blue2;
    }
    > .question-answer {
      border: none;

      ul,ol { margin-bottom: 10px }
      ol li {
        list-style: decimal;
        list-style-position: inside;
        margin-left: 24px;
      }
      li {
        list-style: disc;
        list-style-position: inside;
      }
      a {
        font-weight: bold;
      }
      p.obs {
        font-size: 0.875em;
        color: $t-gray2;
      }
    }
  }
  .sidebar-menu {
    display: none;
    position: absolute;
    width: 216px;
    margin-top: 16px;

    > p {
      font-size: 0.75em;
      font-weight: bold;
      text-transform: uppercase;
    }
    li {
      a {
        display: block;
        line-height: 1.5;
        color: $t-blue3;
        cursor: pointer;
        &.active {
          font-weight: bold;
        }
      }
    }
    &.-fixed {
      position: fixed;
      top: 64px;
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  #ajuda {
    .sidebar-menu { display: block }
  }
}
