#atendimento {
  .main-content { min-height: 420px }
  .page-img {
    background: url('../images/atendimento-img.jpg') center center no-repeat;
    background-size: cover;
    height: 160px;
  }
  h6 {
    margin: 0 0 24px;
  }
  hr {
    margin: 24px 0;
  }
  .service-btns {
    margin: 0 -15px 32px;

    .btn-ticket {
      margin-bottom: 8px;
    }
  }
  .btn-shortcut {
    > .text { max-width: none }
  }
  .contact-container {
    margin: 16px 0 24px 16px;
    .lnk-ticket-icon {
      font-size: 0.875em;
      margin-right: 24px;
    }
  }
  .help-title {
    font-size: 0.875em;
  }
  .help-list {
    list-style: disc;
    list-style-position: outside;
    padding-left: 32px;
  }
  .contact-form {
    margin-top: 24px;
    p {font-size: 0.875em}
    textarea {
      height: 120px;
    }
  }
}
.contact-tel {
  p {font-size: 0.875em}
  .spn-obs {
    display: inline-block;
    font-size: 0.75em;
    color: $t-gray2;
  }
  .spn-tel {
    font-size: 1.25em;
    color: $t-blue2;
  }
  .spn-sm {
    font-size: 0.75em;
  }
  i {
    font-size: 24px;
    vertical-align: text-bottom;
    margin-right: 4px;
    color: $t-blue2;
  }
}
@media screen and (min-width: $screen-sm-min) {
  #atendimento {
    .page-img { height: 280px }
    .service-btns .btn-ticket { margin-bottom: 16px }
    .contact-container {
      margin: 16px 0 0 16px;
    }
    .contact-form { margin-top: 0px }
    .help-list {
      padding-left: 15px;
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  #atendimento {
    .service-btns .btn-ticket { margin-bottom: 0px }
  }
}
