.bc-offer-action {
  .logo {
    padding-bottom: 8px;
    margin-bottom: 16px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .share {
    label {
      font-size: 0.875em;
      margin-bottom: 8px;
    }
    ul li {
      display: inline-block;
      margin-right: 2px;
    }
    .offer-rating {
      vertical-align: text-top;
      margin-left: 4px;
      i { color: #f5aa40 }
    }
  }
  .btn-ticket {
    text-align: left;
    margin-top: 8px;
    &.-left {
      padding: 8px 16px 10px 10px;
      line-height: 1.5;
      i {
        position: relative;
        vertical-align: text-bottom;
        margin: 0 8px 0 0;
      }
    }
  }
}

.bc-offer-info {
  margin-top: 40px;
  .offer-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    .btn-container {
      position: absolute;
      bottom: 16px;
      width: 100%;
      text-align: center;
    }
  }
  p.short {
    margin: 32px 0;
    font-size: 0.875em;
    color: $t-gray2;
  }
  .images-carousel {
    height: 280px;
    margin-bottom: 40px;
    background: $t-gray4;
  }
  .tab-ticket {
    .nav-item { margin-bottom: 8px }
    p {
      font-size: 0.875em;
      line-height: 1.75;
      margin-bottom: 16px;
    }
    #selLocation { width: 160px }
    #selLocationCity { width: 160px }
    #selLocationState { width: 72px }

    ul.locations {
      margin-top: 24px;
      max-height: 320px;
      overflow: auto;
      border: 1px solid $t-gray3;
      @include border-radius(4px);
      li {
        padding: 16px;
        border-bottom: 1px solid $t-gray3;
        &:last-child { border-bottom: 0 }
        p {
          margin-bottom: 0;
          &.loc-title {
            font-weight: bold;
            color: $t-blue2;
          }
        }
      }
    }
  }
  .bc-list li { border-bottom: 0 }
}

.bc-offer-ad {
  .offer-ad-placeholder {
    height: 400px;
    padding-top: 48px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background: $t-gray4;
  }
}

.bc-related-offers {
  p.section-title {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: $t-main;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .bc-offer-action {
    position: absolute;
    width: 216px;

    &.-fixed {
      position: fixed;
      top: 64px;
    }

    .logo {
      border-bottom: 1px solid $t-gray3;
    }
    .share {
      margin-bottom: 32px;
      ul li { margin-right: 8px }
    }
  }
  .bc-offer-info {
    margin-top: 0;
    .tab-ticket {
      .nav-item { margin-bottom: 0 }
    }
  }
}
@media screen and (min-width: $screen-md-min) {
  .bc-offer-action {
    width: 208px;
  }
  .bc-offer-ad {
    position: absolute;
    width: 208px;
    &.-fixed {
      position: fixed;
      top: 64px;
    }
  }
}
@media screen and (min-width: $screen-lg-min) {
  .bc-offer-action,
  .bc-offer-ad {
    width: 256px;
  }
}
