#consulta {
  .col-balance {
    margin-bottom: 64px;
    p { margin: 32px 0 24px 0 }
  }
  .col-tt {
    p { margin: 32px 0 24px 0 }
  }
  .title-img {
    min-height: 120px;
    h5 {
      top: 28px;
      font-size: 1.5em;
    }
  }
  .btn-ticket.-large {
    font-size: 0.875em;
  }
  .tkt-ad-placeholder {
    min-height: 240px;
    margin-top: 64px;
  }
  .captcha {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .radio-lbl { color: $t-gray1 }
}

@media screen and (min-width: $screen-sm-min) {
  #consulta {
    .col-balance { margin-bottom: 0 }
  }
}

@media screen and (min-width: $screen-md-min) {
  #consulta {
    .title-img {
      min-height: 160px;
      h5 {
        top: 36px;
        font-size: 2em;
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) {

}
