#dashboard {
  .shortcut-bar {
    padding: 8px 0;
    margin-top: -24px;

    .btn-shortcut {
      padding: 8px;
      text-align: center;
      >.badgeicon {
        float: none;
        margin: 0;
      }
      >.text { display: none }
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  #dashboard {
    .shortcut-bar {
      margin-bottom: 16px;
      border-bottom: 1px solid $t-gray4;

      .btn-shortcut {
        padding: 16px 8px 8px;
        text-align: left;
        >.badgeicon {
          float: left;
          margin: -8px 16px 0 0;
        }
        >.text { display: block }
      }
    }
  }
}
@media screen and (min-width: $screen-md-min) {
  #dashboard {
    .shortcut-bar {
      padding: 24px 0;
      margin-bottom: 24px;
    }
  }
}
