.edit-user {
  padding-top: 24px;

  .user-pic {
    margin-bottom: 32px;
    text-align: center;
    .userphoto {
      margin: 0 auto;
      width: 160px;
      height: 160px;
      background: $t-gray4;
      border-radius: 50%;
      @include drop-shadow();
      overflow: hidden;

      img {
        max-width: 100%;
        height: auto;
      }
      .placeholderphoto {
        height: 56px;
        width: 56px;
        font-size: 56px;
        margin: 40px auto;
      }
    }
    .username {
      display: block;
      margin: 16px 0;
      text-transform: uppercase;
      font-size: 1.25em;
      color: $t-blue3;
    }
  }

  .user-form {
    min-height: 400px;
    @include border-radius(8px, 8px, 8px, 0);
    @include drop-shadow(0, 2px, 8px, 0.3);
    background: #FFF;

    .form-content {
      border-bottom: 1px solid $t-gray3;
      margin: 0;
    }
    .formcol {
      padding: 24px 24px 8px 24px;
      border-top: 1px solid $t-gray3;
      &:first-child { border-top: none }
      hr {
        margin-left: -24px;
        margin-right: -24px;
      }
    }
    .check-group {
      .chk-lbl {
        margin: 4px 0 0;
        font-size: 0.875em;
      }
    }
    .btn-ticket {
      float: right;
      margin: 16px;
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  .edit-user {
    .user-pic {
      margin-bottom: 0;
    }
    .user-form {
      .formcol {
        min-height: 525px;
        padding: 24px 48px 8px 24px;
        border-top: none;
        border-left: 1px solid $t-gray3;
        &:first-child { border: none }
        hr {
          margin-right: -48px;
        }
      }
    }
  }
}
