.error-page {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $t-gray3;
  z-index: 99999;

  .content-box {
    position: relative;
    width: 480px;
    height: auto;
    padding: 40px 40px 16px 28px;
    margin: 40px auto;
    background: white;
    @include border-radius(16px, 16px, 16px, 0);
    @include drop-shadow();

    .tkt-logo  {
      display: block;
      margin: 0 auto 16px;
      padding: 0;
      width: 136px;
      height: 32px;
      background-image: url('../images/logo-ticket-40.png');
      background-size: 136px 32px;
      background-position: left center;
      background-repeat: no-repeat;
    }

    h2 {
      margin: 0 0 24px -28px;
    }
    p { color: $t-gray2 }

    .btn-ticket {
      margin: 16px 0;
    }
    .browsers {
      text-align: center;
      li {
        display: inline-block;
        margin: 8px 16px;
        background: $t-gray3;
        a {
          display: block;
          width: 64px;
          height: 64px;
          border: 1px solid transparent;
          &#browserChrome { background: url('../images/browser-logo-chrome.jpg') center center no-repeat }
          &#browserFirefox { background: url('../images/browser-logo-firefox.jpg') center center no-repeat }
          &#browserExplorer { background: url('../images/browser-logo-ie.jpg') center center no-repeat }
          &:hover {
            border: 1px solid $t-gray3;
          }
        }
      }
    }
  }
}
