//
#establishment {
  padding: 24px 0;
}
.search-results {
  @include border-radius(8px,8px,8px,0);
  @include drop-shadow(0,4px,12px, 0.3);

  > .searchinfo {
    padding: 16px 16px 8px 16px;
    @include border-radius(8px,8px,0,0);
    background: $t-main;
    color: white;
    > p {margin-bottom: 0}
    > .address {
      font-size: 1em;
      color: white;
      > i {
        vertical-align: text-bottom;
        margin-right: 8px;
        font-size: 24px;
        color: $t-blue1;
      }
    }
    > .radius {
      margin-left: 32px;
      font-size: 0.75em;
      line-height: 2.5em;
      color: $t-blue1;
    }
    > .cardtype {
      height: 64px;
      padding: 16px;
      background: white;
      @include border-radius(2px);
      > .card-logo {
        height: 32px;
        background-size: 100px 25px;
        background-position: left center;
        background-repeat: no-repeat;
      }
      &.-restaurante {
        border-left: 16px solid $t-red;
        > .card-logo {
          background-image: url(../images/logo-ticket-restaurante.png);
        }
      }
      &.-alimentacao {
        border-left: 16px solid $t-green;
        > .card-logo {
          background-image: url(../images/logo-ticket-alimentacao.png);
        }
      }
    }
    > .changesearch {
      height: 40px;
      text-align: center;
      > a {
        line-height: 40px;
        font-size: 0.75em;
        text-align: center;
        text-decoration: underline;
        color: white;

        &:hover {
          color: $t-blue1;
        }
      }
      > i {
        vertical-align: middle;
        margin-left: 8px;
        font-size: 16px;
        text-decoration: none !important;
      }
    }
  }
  > .searchbyname {
    height: 120px;
    padding: 16px;
    background: white;
    > p.totalresults {
      margin-bottom: 16px;
      font-size: 0.75em;
      span {
        padding: 4px 4px 2px;
        margin-right: 4px;
        @include border-radius(2px);
        color: white;
        background: $t-red;
      }
    }
    > form {
      > .search-input {
        @include border-radius(2px);
        border: 1px solid $t-blue3;
        font-size: 0.75em;
        line-height: 1.25;
        color: $t-blue3;
      }
      > .chk-lbl {
        margin-top: 8px;
        > .bookmarked {
          padding: 2px 4px 0;
          margin-left: 4px;
          @include border-radius(2px);
          background: $t-blue2;
          color: white;
        }
      }
    }
  }
  > .searchlist {
    height: 360px;
    @include border-radius(0,0,8px,0);
    background: white;
  }
}


@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .search-results > .searchinfo > .cardtype {
    &.-restaurante > .card-logo {
      background-image: url(../images/logo-ticket-restaurante@2x.png);
    }
    &.-alimentacao > .card-logo {
      background-image: url(../images/logo-ticket-alimentacao@2x.png);
    }
  }
}
