//Mobile - max-width(768px)

//Seção Bem-vindo
#cover-bemvindo {
  height: auto;
  min-height: 100vh;
  margin-bottom: -48px;
  background: transparent;
  z-index: 0;

  .fixed-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 48px 0;
    text-align: center;

    > .container {
      position: absolute;
      height: auto;
      width: 100%;
      min-height: 380px;
      margin-top: -190px;
      top: 50%;
    }
    .title-sup {
      text-transform: uppercase;
      font-size: 1.25em;
      margin: 0;
      color: white;
    }
    h1 {
      margin: 0;
      font-size: 2em;
    }
    .title-desc {
      max-width: 70%;
      margin: 0 auto 8px;
      font-size: 0.875em;
      color: white;
    }
    .btn-play {
      display: inline-block;
      width: 80px;
      height: 80px;
      cursor: pointer;
      svg .path-icon-play {
        transition: fill 0.15s ease-in-out;
        fill: #ffffff;
      }
      &:hover {
        svg .path-icon-play { fill: $t-blue1 }
      }
    }
    .main-actions {
      margin-top: 8px;
      .btn-ticket {
        margin-bottom: 16px;
      }
    }
  }
  .overlay-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: -90;
  }
}
//Video ticket 40 anos
.fullscreenvideo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 10vh;
  background: $t-main;
  z-index: 1030;

  .video-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 40px;
    line-height: 1;
    color: $t-blue1;
    background: transparent;
    border: 1px solid transparent;

    &:hover {
      color: $t-blue2;
    }
    &:focus {
      outline: none;
      border-color: $t-blue2;
    }
  }
  .vwrapper {
    position: relative;
    padding-bottom: 50%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      width: 90%;
      height: 90%;
      margin-left: -45%;
    }
  }
}

//Seção Atendimento
#cover-autosservico {
  height: auto;
  background: transparent;
  z-index: 1;

  .content {
    padding-bottom: 24px;
    background: $t-blue3;
  }
  h2 {
    margin: 24px 0;
    border-left-width: 12px;
    font-size: 1.875em;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    .sub { color: white }
  }
  .cover-bracket {
    height: 48px;
    margin-bottom: -2px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0+0,0.5+100 */
    background: url('../images/cover-bracket-mobile.svg'), -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6-15 */
    background: url('../images/cover-bracket-mobile.svg'), -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(255,255,255,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: url('../images/cover-bracket-mobile.svg'), linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(255,255,255,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80ffffff',GradientType=0 ); /* IE6-9 */
    background-size: cover;
    background-position: 46% 100%, center bottom;
    background-repeat: no-repeat;
  }
  .section-desc {
    line-height: 1.5;
    color: white;
    transition: opacity 1s ease-in-out;
    opacity: 0;
  }
  .section-actions {
    margin-top: 24px;
    .btn-ticket {
      margin: 0 0 16px;
      transition: all 1s ease-in-out;
      opacity: 0;
    }
  }
  img { display: none }

  //Pós animação
  &.visible {
    .btn-ticket {
      opacity: 1;
    }
    h2, .section-desc {
      opacity: 1;
    }
  }
}

//Seção Estabelecimentos
#cover-estabelecimentos {
  @include flexbox();
  @include align-items(center);
  height: 90vh;
  background: url('../images/home-gmaps.png');
  background-position: center bottom;
  background-size: cover;

  .bracket-box {
    position: relative;
    margin: 24px 0;
    padding: 24px;
    height: auto;
    @include drop-shadow(0, 4px, 12px);
    background: white;
    transition: opacity 1s ease-in-out;
    opacity: 0;

    .bracket { display: none }

    h3 {
      margin-top: 0;
      font-size: 1.5em;
    }
    p { margin: 24px 0 }
  }
  .map-markers { display: none }

  //Pós animação
  &.visible {
    .bracket-box {
      opacity: 1;
    }
  }
}

//Seção Benefício
#cover-bc {
  @include flexbox();
  @include align-items(center);
  height: 90vh;
  min-height: 560px;
  padding: 24px 0 40px;
  background: white;
  overflow: hidden;

  h3 {
    font-size: 1.75em;
    margin-bottom: 0;
  }
  .title-desc {
    margin: 0 0 24px 0;
    font-size: 1.125em;
    color: $t-main;
    text-transform: uppercase;
  }
  .bc-categories {
    display: none;
    margin: 24px 0 16px;
    li {
      display: inline-block;
      height: 40px;
      margin: 0 8px 16px 0;
      padding: 4px 8px 2px;
      line-height: 2;
      @include border-radius(8px);
      border: 1px solid $t-gray1;
      color: $t-gray1;
      cursor: pointer;
      transition: all 0.15s ease-in-out;

      &:hover {
        background: $t-gray1;
        color: white;
      }
    }
  }
  .bc-pack-img {
    display: none;
  }
  .bc-pack-categories-img {
    margin-top: 10px;
    img {
      width: 100%;
      max-height: 300px;
    }
  }
  .btn-ticket {
    width: 100%
  }
}

//Seção Fidelidade
#cover-collact {
  height: auto;
  padding: 40px 0 240px;
  background: url('../images/home-collact.jpg') center bottom no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;

  .container { height: 100% }
  h3 { font-size: 2em }

  .title-desc {
    margin: 0 0 24px 0;
    font-size: 1.125em;
    text-transform: uppercase;
    color: rgba(255,255,255,0.7);
  }
  .btn-ticket { margin-top: 24px }
  .collact-text {
    position: relative;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index: 1;
  }

  //ilustrações
  .img-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;

    .container { position: relative }
    img {
      position: absolute;
      opacity: 0;
      transition: all 1.5s ease-in-out;
    }
    #collact-joel {
      right: -240px;
      bottom: -148px;
      @include rotate-scale(-25deg,0.5);
    }
    #collact-ticket {
      top: 120px;
      right: 240px;
      @include rotate-scale(30deg,0.7);
    }
    #collact-tablet {
      right: 240px;
      bottom: 0px;
      @include rotate-scale(-25deg,0.7);
    }
  }

  &.visible {
    .collact-text { opacity: 1 }
    .img-container {
      img {opacity: 1}
      #collact-burgui, #collact-pizza, #collact-cupcake { opacity: 0 }
      #collact-joel {
        right: -200px;
        bottom: -148px;
      }
      #collact-ticket {
        top: 440px;
        right: 240px;
        @include rotate-scale(-15deg,0.7);
      }
      #collact-tablet {
        right: 64px;
        bottom: 40px;
        @include rotate-scale(12deg,0.7);
      }
    }
  }
}

//Seção Depoimentos
#cover-depoimentos {
  height: auto;
  background: url('../images/home-depoimentos.jpg') center bottom no-repeat;
  background-size: cover;

  h3 { display: none }
  .title-desc {
    display: none;
    font-size: 1.875em;
    text-transform: uppercase;
    color: $t-blue2;
  }
  .section-desc { display: none }
  .depo-box {
    position: relative;
    height: auto;
    margin: -64px 0 24px;
    padding: 24px;
    @include border-radius(16px,16px,16px,0);
    @include drop-shadow();
    background: white;
    transition: all 0.5s ease-in-out;

    h3.mobile {
      display: block;
      margin: 0 0 16px;
      font-size: 1.5em;
      color: $t-blue3;
    }
    .quote {
      .img-open-quote { width: 32px }
      p {
        margin-top: 8px;
        font-size: 1em;
      }
      .img-close-quote {
        float: right;
        width: 24px;
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
      }
    }
    .user {
      .user-photo {
        float: left;
        width: 96px;
        height: 96px;
        margin-right: 16px;
        @include border-radius(50%);
        background: $t-gray3;
        overflow: hidden;
      }
      .user-info {
        float: left;
        padding-top: 24px;

        p { margin: 0 }
        .username {
          font-size: 1.125em;
        }
        .userdesc {
          font-size: 0.875em;
          color: $t-gray2;
        }
      }
    }
  }

  .btn-ticket { margin-bottom: 24px }

  &.visible {
    .depo-box {
      top: 0;
      opacity: 1;
    }
  }
}

//Seção App Ticket
#cover-app {
  height: auto;
  padding: 24px 0px 40px;
  background: white;
  .container {
    height: 100%;
    h2 {
      margin-bottom: 24px;
      font-size: 2em;
    }
    p { color: $t-gray2 }
    ul {
      li {
        position: relative;
        padding-left: 40px;
        font-size: 1em;
        margin: 8px 0;
        i {
          position: absolute;
          left: 0;
          font-size: 1.5em;
          top: -4px;
          color: $t-red;
        }
      }
    }
  }
  .app-text {
    opacity: 0;
    left: 45px;
    max-width: 272px;
    transition: all 0.5s ease-in-out;
  }
  .btn-ticket {
    width: 280px;
    margin-top: 16px;
  }
  .btn-app-badge-wrapper {
    width: 300px;
    height: 40px;
    margin-top: 16px;
    > a {
      text-decoration: none;
      padding-right: 15px;
      > img {
        height: 100%;
      }
    }
  }
  .app-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25%;
    height: 100%;
    background: url('../images/home-app.png') left top no-repeat;
    background-size: cover;
  }

  &.visible {
    .app-text {
      left: 0;
      opacity: 1;
    }
  }
}

//Seção Cadastre-se
#cover-cadastro {
  height: 70vh;
  min-height: 500px;
  border-top: 4px solid $t-main;
  background: url('../images/home-cadastro.jpg');
  background-position: 50% 35%;
  background-size: cover;
  overflow: hidden;
  .bracket-content {
    position: relative;
    padding: 80px 8px;
    z-index: 1;
    right: 120px;
    opacity: 0;
    transition: all 0.75s ease-in-out;

    h3 { font-size: 2em }
    p { color: $t-gray3 }
    .sign-up-box {
      margin: 40px 0;
      padding: 16px;
      @include border-radius(16px, 16px, 16px, 0);
      background: white;

      .btn-ticket.-block.-icon i { display: none }
    }
  }
  .pure-bracket {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: -200px;
    background: rgba(17,32,76, 0.8);
    z-index: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    > .bracket {
      position: absolute;
      top: 30%;
      right: -70px;
      width: 70px;
      height: 140px;
      background: url('../images/pure-bracket-main.svg');
      @include scaleX(-1);
    }
  }

  &.visible {
    .bracket-content {
      right: 0;
      opacity: 1;
    }
    .pure-bracket {
      left: 0;
      opacity: 1;
    }
  }
}

@media screen and (min-width: 365px) {
  #cover-cadastro {
    .bracket-content {
      .sign-up-box {
        .btn-ticket.-block.-icon i { display: block }
      }
    }
  }
}
@media screen and (min-width: $screen-sm-min) {
  #cover-bemvindo {
    .fixed-bg {
      padding: 64px 0 56px;
      >.container {
        min-height: 480px;
        margin-top: -240px;
      }
      .title-sup { font-size: 1.75em }
      h1 { font-size: 3em }
      .title-desc {
        margin-bottom: 24px;
        font-size: 1em;
        color: white;
      }
      .btn-play {
        width: 120px;
        height: 120px;
      }
      .main-actions { margin-top: 24px }
    }
    .overlay-video {background-color: rgba(0,0,0,0.4)}
    .scroll-down { bottom: 48px }
  }
  #cover-autosservico {
    height: 90vh;
    min-height: 640px;
    overflow: hidden;
    .content {
      height: 100%;
      min-height: 100vh;
      background: $t-blue3;
    }
    .cover-bracket {
      height: 56px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0+0,0.5+100 */
      background: url('../images/cover-bracket.svg'), -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6-15 */
      background: url('../images/cover-bracket.svg'), -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(255,255,255,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
      background: url('../images/cover-bracket.svg'), linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(255,255,255,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80ffffff',GradientType=0 ); /* IE6-9 */
      background-size: cover;
      background-position: 45% 100%, center bottom;
      background-repeat: no-repeat;
    }
    h2 {
      margin: 40px 0;
      border-left-width: 16px;
      font-size: 2.5em;
    }
    img {
      display: block;
      position: absolute;
      opacity: 0;
      left: 500px;
      width: 900px;
      transition: all 1s ease-in-out;
    }
    .section-actions {
      margin-top: 40px;
      .btn-ticket {
        margin: 120px 0 16px;
      }
    }
    &.visible {
      .btn-ticket { margin-top: 0 }
      img {
        position: absolute;
        opacity: 1;
        left: 0;
      }
    }
    .btn-ticket {
      font-size: 0.825em;
    }
  }
  #cover-estabelecimentos {
    height: 90vh;
    min-height: 320px;

    .bracket-box {
      margin: 32px 0 0;
      padding: 32px;
      .bracket {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -40px;
        width: 40px;
        background: url('../images/bracket-box@2x.png') center center no-repeat;
        background-size: 40px 60px;
      }
      h3 {
        margin-top: 0;
        font-size: 1.75em;
      }
      p { margin: 16px 0 }
    }
    .map-markers {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .marker {
        display: inline-block;
        position: absolute;
        width: 56px;
        height: 64px;

        &#markerTK {
          top: 196px;
          left: 96px;
        }
        &#markerTR {
          top: 80px;
          left: 24px;
        }
        &#markerTA {
          top: 48px;
          left: 180px;
        }
      }

      img {
        position: absolute;
        width: auto;
        height: 64px;

        &#marker {
          top: 132px;
          right: 16px;
        }
      }
    }
  }
  #cover-bc {
    height: 90vh;
    min-height: 440px;
    padding: 40px 0 24px;
    h3 { font-size: 2em }
    .bc-categories {
      display: block;
      margin-bottom: 24px;
      li {
        display: inline-block;
        margin: 0 8px 12px 0;
        padding: 4px 8px 2px;
        @include border-radius(8px);
        border: 1px solid $t-gray1;
        color: $t-gray1;
        cursor: pointer;
        transition: all 0.15s ease-in-out;

        &:hover {
          background: $t-gray1;
          color: white;
        }
      }
    }
    .bc-pack-img {
      display: block;
      height: 360px;
      img {
        position: absolute;
        left: -24px;
        max-height: 100%;
        width: auto;
      }
    }
    .bc-pack-categories-img {
      display: none;
    }
    .btn-ticket { width: 320px }
  }
  #cover-collact {
    height: 100vh;
    padding: 0;

    h3 { font-size: 2.5em }
    .title-desc { font-size: 1.25em }
    .collact-text { margin-top: 100px }
    .btn-ticket { max-width: 320px }

    //illustrations position
    .img-container {
      #collact-joel {
        top: -24px;
        right: -280px;
        @include rotate-scale(-25deg,0.8);
      }
      #collact-burgui {
        display: block;
        top: 100px;
        right: 400px;
        @include rotate-scale(0deg,0.8);
      }
      #collact-pizza {
        display: block;
        bottom: 200px;
        left: 320px;
        @include rotate-scale(15deg,0.8);
      }
      #collact-ticket {
        top: 240px;
        right: 460px;
        @include rotate-scale(30deg,0.8);
      }
      #collact-tablet {
        right: 240px;
        bottom: 0px;
        @include rotate-scale(-25deg,0.8);
      }
      #collact-cupcake {
        display: block;
        right: -32px;
        bottom: 80px;
        @include rotate-scale(-15deg,0.8);
      }
    }

    &.visible {
      .img-container {
        img {opacity: 1}
        #collact-joel { right: -224px }
        #collact-burgui {
          top: -80px;
          right: 400px;
          @include rotate-scale(18deg,0.8);
          opacity: 1;
        }
        #collact-pizza {
          bottom: -24px;
          left: -128px;
          @include rotate-scale(150deg,0.8);
          opacity: 1;
        }
        #collact-ticket {
          top: 400px;
          right: 320px;
          @include rotate-scale(-15deg,0.8);
        }
        #collact-tablet {
          right: 64px;
          bottom: 96px;
          @include rotate-scale(12deg,0.8);
        }
        #collact-cupcake {
          bottom: 8px;
          @include rotate-scale(25deg,0.8);
          opacity: 1;
        }
      }
    }
  }
  #cover-depoimentos {
    min-height: 416px;
    margin-top: -48px;

    .title-desc {
      display: block;
      font-size: 1.5em;
    }
    .section-desc { display: block }
    .depo-box {
      opacity: 0;
      top: 40px;
      margin: -64px 0 0;
      h3.mobile { display: none }
    }
    h3 {
      display: block;
      margin-top: -34px;
      font-size: 2.5em;
    }
  }
  #cover-app {
    min-height: 528px;
    padding: 40px 0px;
    .container {
      ul li { font-size: 1.125em }
      h2 { font-size: 2.5em }
    }
    .app-text {
      position: absolute;
      opacity: 0;
      left: 45px;
      max-width: none;
      transition: all 0.5s ease-in-out;
    }
    .btn-ticket {
      width: 320px;
      margin-top: 24px;
    }
    .btn-app-badge-wrapper {
      width: 320px;
      height: 40px;
      margin-top: 24px;
      > a {
        text-decoration: none;
        padding-right: 15px;
        > img {
          height: 100%;
        }
      }
    }
    .app-img {
      width: 40%;
      height: 110%;
    }
  }
  #cover-cadastro {
    min-height: 560px;
    .bracket-content {
      padding: 100px 40px;
      h3 { font-size: 2.5em }
      .sign-up-box {
        padding: 24px;
      }
    }
    .pure-bracket {
      width: 65%;
    }
  }
}
@media screen and (min-width: $screen-md-min) {
  #cover-autosservico {
    min-height: 640px;
    .cover-bracket { background-position: center bottom }
  }
  #cover-collact {
    //illustrations position
    .img-container {
      #collact-joel {
        top: 0;
        right: -240px;
        @include rotate(-25deg);
      }
      #collact-burgui {
        display: block;
        top: 100px;
        right: 586px;
        @include rotate(0);
      }
      #collact-pizza {
        display: block;
        bottom: 200px;
        left: 280px;
        @include rotate(15deg);
      }
      #collact-ticket {
        top: 24px;
        right: 300px;
        @include rotate(30deg);
      }
      #collact-tablet {
        right: 240px;
        bottom: 0px;
        @include rotate(-25deg);
      }
      #collact-cupcake {
        display: block;
        right: 80px;
        bottom: 0px;
        @include rotate(-15deg);
      }
    }

    &.visible {
      .img-container {
        #collact-joel {
          right: -180px;
          @include rotate(-25deg);
        }
        #collact-burgui {
          top: -64px;
          @include rotate(18deg);
        }
        #collact-pizza {
          bottom: -24px;
          left: -120px;
          @include rotate(150deg);
        }
        #collact-ticket {
          top: 160px;
          right: 300px;
          @include rotate(-15deg);
        }
        #collact-tablet {
          right: 245px;
          bottom: 120px;
          @include rotate(12deg);
        }
        #collact-cupcake {
          right: 80px;
          bottom: 24px;
          @include rotate(25deg);
        }
      }
    }
  }
  #cover-depoimentos {
    min-height: 480px;
    .title-desc { font-size: 1.875em }
    .depo-box {
      .quote {
        .img-open-quote { width: 48px }
        p { font-size: 1.25em }
      }
      .user {
        .user-photo {
          width: 120px;
          height: 120px;
          margin-right: 24px;
        }
        .user-info {
          .username { font-size: 1.25em }
          .userdesc { font-size: 1em }
        }
      }
    }
  }
  #cover-app {
    .app-img {
      width: 45%;
      height: 115%;
    }
  }
  #cover-cadastro {
    .bracket-content {
      padding: 100px 64px;
    }
    .pure-bracket {
      width: 65%;
    }
  }
}
@media screen and (min-width: $screen-lg-min) {
  #cover-collact {
    //illustrations position
    .img-container {
      #collact-joel {
        top: -8px;
        right: -240px;
        @include rotate(-25deg);
      }
      #collact-ticket {
        top: 24px;
        right: 500px;
        @include rotate(30deg);
      }
      #collact-tablet {
        right: 240px;
        bottom: 0px;
        @include rotate(-25deg);
      }
      #collact-cupcake {
        display: block;
        right: 120px;
        bottom: 0px;
        @include rotate(-15deg);
      }
    }

    &.visible {
      .img-container {
        img {opacity: 1}
        #collact-joel {
          right: -120px;
          @include rotate(-25deg);
        }
        #collact-ticket {
          top: 160px;
          right: 480px;
          @include rotate(-15deg);
        }
        #collact-tablet {
          right: 320px;
          bottom: 132px;
          @include rotate(12deg);
        }
        #collact-cupcake {
          right: 120px;
          bottom: -24px;
          @include rotate(25deg);
        }
      }
    }
  }
  #cover-depoimentos {
    min-height: 440px;
  }
  #cover-cadastro {
    .pure-bracket {
      width: 50%;
    }
  }
}
@media screen and (max-height: 640px) {
  #cover-bemvindo {
    min-height: 640px;
    .fixed-bg { position: absolute }
  }
}
