<div id="consulta" ng-controller="ConsultaSaldoController as consulta" ng-init="consulta.verificaLogado()">
    <div class="content -blue3 -ptitle" id="consultaTitle">
        <div class="container">
            <h4>Consulta de saldo e Ticket transporte</h4>
            <p class="page-desc">Veja o saldo, extrato e benefícios de seus cartões Ticket</p>
        </div>
    </div>
    <div class="content main-content">
        <div class="loading-mask-position" cg-busy="{promise:consulta.myPromise, templateUrl:'templates/loading-mask.htm', backdrop: false}">
        </div>
        <div class="container">
            <div class="row">
                <div style="margin: 0 0 24px 0;">
                    <div id="consulta-saldo_header-hor_970x90_fixo"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-5 col-balance">
                    <div class="title-img -balance">
                        <div class="overlay"></div>
                        <h5>Consultar saldo</h5>
                    </div>
                    <p style="height: 96px">
                        Consulte o saldo e extrato dos produtos Ticket Restaurante, Ticket Alimentação, Ticket Alimentação Natal,
                        Ticket Cultura e Cartão RH.<br>
                        Consulte o limite do seu Ticket Plus <a href="https://portaldousuario.ecobeneficios.com.br/PortalUsuario/login" target="_blank"><u>aqui</u></a>.
                    </p>
                    <p>
                        
                    </p>
                    <form id="formConsultarCartao" name="formConsultarCartao" novalidate>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <div class="form-msg -error" ng-if="consulta.mensagem">
                                        <span>{{consulta.mensagem}}</span>
                                    </div>
                                    <div class="form-msg -error" ng-if="consulta.mensagem_campo">
                                        <div compile="consulta.mensagem_campo"></div>
                                    </div>

                                    <label class="sr-only">Digite o número do cartão</label>
                                    <div class="input-icon form-group -action">
                                        <i class="icon-card"></i>
                                        <div class="cardmini" ng-class="consulta.cardType" ng-show="consulta.cardType != 'none'"
                                            style="top: 5px; bottom: 0px">
                                            <div class="card-logo"></div>
                                        </div>
                                        <input type="text" class="form-control" id="numero-cartao" name="numero-cartao" placeholder="Digite o número do cartão para realizar a consulta" ng-model="consulta.numeroCartao"
                                            mask="0000 0000 0000 0000" ng-change="consulta.changeInput()" invalid-error-message="Campo número do cartão inválido." required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div
                                    vc-recaptcha
                                    theme="'light'"
                                    key="consulta.model.key"
                                    on-create="setWidgetId(widgetId)"
                                    on-success="setResponse(response)"
                                    on-expire="cbExpiration()">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">&nbsp;</div>
                            <div class="col-sm-12 col-md-12">
                                <button class="btn-ticket -block -large" ng-click="consulta.toDashboardCartao()" validar-form="formConsultarCartao">Consultar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 col-md-offset-1 col-md-5 col-tt">
                    <div class="title-img -tt">
                        <div class="overlay"></div>
                        <h5 class="-tt">Ticket Transporte</h5>
                    </div>
                    <p>
                        Consulte os dois últimos e o seu próximo benefício Ticket Transporte processado e verifique o número
                        do seu cartão vale-transporte. Caso não obtenha retorno da consulta, solicite ao RH da sua empresa
                        a inclusão do seu CPF no próximo pedido.
                    </p>
                    <form id="formConsultarTT" name="formConsultarTT" novalidate>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-msg -error " ng-if="consulta.mensagemtt">
                                    <span>{{consulta.mensagemtt}}</span>
                                </div>
                                <div class="form-group ">
                                    <label class="sr-only ">Digite o número do CPF</label>
                                    <div class="input-icon ">
                                        <i class="icon-person "></i>
                                        <input type="text " class="form-control " name="cpf " id="cpf " placeholder="Digite o número do CPF para realizar a consulta" ng-model="consulta.cpf " mask="000.000.000-00" ng-pattern="/^[0-9.-]{14}$/ " invalid-error-message="Campo CPF inválido. " required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div style="width: 1px; height: 78px;">&nbsp;</div>
                            </div>
                            <div class="col-sm-12 col-md-12">&nbsp;</div>
                            <div class="col-sm-12 col-md-12">
                                <button class="btn-ticket -block -large -tt " ng-click="consulta.toDashboardCpf()" validar-form="formConsultarTT ">Consultar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="app/config.js "></script>
<script src="app/modules/consulta-saldo/scripts/controllers/consultasaldocontroller.js "></script>
<script src="app/modules/beneficiario/scripts/services/cartaoservice.js "></script>
<script src="app/modules/beneficiario/scripts/factories/cartaofactory.js "></script>
