<div ng-controller="AdicionarController as adicionar">

    <div class="loading-mask-position" cg-busy="{promise:adicionar.myPromise, templateUrl:'templates/loading-mask.htm', backdrop: false}">
    </div>

    <form id="formCadastrarCartao" name="formCadastrarCartao" novalidate>
        <div id="contentAdd" ng-show="adicionar.step === 0">
            <div class="modal-header -image -bann2pb">
                <h5 class="modal-title">Adicionar cartão</h5>
                <button class="modal-close-btn" ng-click="adicionar.close()">&times;</button>
            </div>
            <div class="modal-body -nobottom">

                <div class="form-group">
                    <label>Selecione o tipo do cartão:</label>
                    <div class="cardtype-holder">
                        <div class="cardtype -restaurante" ng-show="adicionar.isSelected('tr') || adicionar.selectOpen" ng-click="adicionar.setType('tr')">
                            <div class="card-logo"></div>
                        </div>
                        <div class="cardtype -cultura" ng-show="adicionar.isSelected('tk') || adicionar.selectOpen" ng-click="adicionar.setType('tk')">
                            <div class="card-logo"></div>
                        </div>
                        <div class="cardtype -alimentacao" ng-show="adicionar.isSelected('ta') || adicionar.selectOpen" ng-click="adicionar.setType('ta')">
                            <div class="card-logo"></div>
                        </div>
                        <div class="cardtype -transporte" ng-show="adicionar.isSelected('tt') || adicionar.selectOpen" ng-click="adicionar.setType('tt')">
                            <div class="card-logo"></div>
                        </div>
                        <div class="cardtype -duocard" ng-show="adicionar.isSelected('dc') || adicionar.selectOpen" ng-click="adicionar.setType('dc')">
                            <div class="card-logo"></div>
                        </div>
                        <div class="cardtype -presente" ng-show="adicionar.isSelected('pp') || adicionar.selectOpen" ng-click="adicionar.setType('pp')">
                            <div class="card-logo"></div>
                        </div>
                        <div class="cardtype -saude" ng-show="adicionar.isSelected('saude') || adicionar.selectOpen" ng-click="adicionar.setType('saude')">
                            <div class="card-logo"></div>
                        </div>
                        
                    </div>
                </div>
                <div ng-hide="adicionar.selectOpen">
                    <div class="input-icon" ng-hide="adicionar.isSelected('tt')">
                        <i class="icon-card"></i>
                        <input type="text" class="form-control" name="numero-cartao" id="numero-cartao" placeholder="Número do cartão" mask="0000 0000 0000 0000"
                               ng-model="adicionar.cartao.Number" ng-required="!adicionar.isSelected('tt')" ng-change="adicionar.changeInput()"/>
                    </div>
                    <div class="input-icon" ng-show="adicionar.isSelected('tt')">
                        <i class="icon-person"></i>
                        <input type="text" class="form-control" name="cpf" id="cpf" placeholder="CPF" ng-model="adicionar.cartao.CPF" mask="000.000.000-00" invalid-cpf ng-required="adicionar.isSelected('tt')"/>
                    </div>
                    <div class="input-icon">
                        <i class="icon-card"></i>
                        <input type="text" class="form-control" name="apelido" id="apelido" placeholder="Apelido do cartão" ng-model="adicionar.cartao.NickName" maxlength="90"/>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn-ticket -block" validar-form="formCadastrarCartao" ng-click="adicionar.cadastrarCartao()">Adicionar</button>
                <button type="button" class="btn-ticket -block -borderless" ng-click="adicionar.close()">Cancelar</button>
            </div>
        </div>
    </form>
    <!-- /.modal-content -->
    <div ng-show="adicionar.step === 1">
        <div class="modal-header -image -bann2pb">
            <h5 class="modal-title">Cartão Adicionado</h5>
            <button class="modal-close-btn" ng-click="adicionar.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-done"></i></span>
                <p>Seu cartão foi adicionado
                    <br/>com sucesso!
                </p>
            </div>
            <div ng-class="adicionar.cartao.cssCartao">
                <div class="contentopen">
                    <svg version="1.1" id="bracketTicket1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                         y="0px" viewBox="0 0 14 28" style="enable-background: new 0 0 14 28;" xml:space="preserve">
                        <path class="card-bracket" d="M0,28c0-7.4,6-13.5,13.5-13.5c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5C6,13.5,0,7.4,0,0V28z"/>
                    </svg>
                    <div class="card-logo"></div>
                    <a class="favcard" ng-click="adicionar.favoritarCartao()"><i class="icon-star_border"></i></a>
                    <p class="num">---- ---- ---- <span class="card-last">{{adicionar.cartao.cardLast}}</span></p>
                    <p class="nick">{{adicionar.cartao.NickName}}</p>
                    <!--<p class="balance">Saldo atual <span class="currency">R$</span> <span class="value">123,45</span></p>-->

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="adicionar.close()">OK</button>
        </div>
    </div>
    <!-- /.modal-content -->
    <div id="contentEdit" ng-show="adicionar.step === 3">
        <div class="modal-header">
            <h5 class="modal-title">Ocorreu um erro</h5>
            <button class="modal-close-btn" ng-click="adicionar.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-error"></i></span>
                <!--<p>Desculpe, ocorreu um erro e a operação não foi completada. Por favor, tente novamente.</p>-->
                <div compile="adicionar.msgerro"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="adicionar.close()">OK</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<!--<script src="app/modules/beneficiario/scripts/config.js"></script>-->
<script src="app/config.js"></script>
<script src="app/modules/beneficiario/scripts/controllers/adicionarcontroller.js"></script>
<script src="app/modules/beneficiario/scripts/services/cartaoservice.js"></script>
<script src="app/modules/beneficiario/scripts/services/accentivservice.js"></script>
<script src="app/modules/beneficiario/scripts/factories/editarcartaofactory.js"></script>
<script src="app/modules/beneficiario/scripts/factories/accentivresource.js"></script>