<div ng-controller="AlertaController as alerta">
  <div id="contentBlock2">
    <div class="modal-header -image -bann2pb">
      <h5 class="modal-title">{{alerta.titulo}}</h5>
      <button class="modal-close-btn" ng-click="alerta.close()">&times;</button>
    </div>
    <div class="modal-body -nobottom">
      <div class="badge-group -inline">
        <span class="badge-icon"><i ng-class="alerta.icone"></i></span>
        <p>{{alerta.mensagem}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn-ticket -block" ng-click="alerta.closeAlerta()">{{alerta.textoBotaoOk}}</button>
    </div>
  </div><!-- /.modal-content -->
</div>

<script src="app/modules/beneficiario/scripts/controllers/alertacontroller.js"></script>
<script src="app/modules/beneficiario/scripts/factories/alertafactory.js"></script>
