<div ng-controller="EditarUsuarioSenhaController as senha">
    <div id="contentChangePwd" ng-show="senha.step === 0">
        <form id="form-alterar-senha" name="form-alterar-senha">
            <div class="modal-header">
                <h5 class="modal-title">Alterar senha</h5>
                <button class="modal-close-btn" ng-click="senha.close()">&times;</button>
            </div>
            <div class="modal-body -nobottom">
                <div class="form-msg -error" ng-show="senha.error">
                    <span>{{senha.mensagem}}</span>
                </div>
                <div class="form-group">
                    <label>Senha atual</label>
                    <div class="input-icon">
                        <i class="icon-lock_outline"></i>
                        <input name="senha-atual" id="senha-atual" type="password" class="form-control"  ng-model="senha.formData.currentPwd" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label>Nova senha</label>
                    <div class="input-icon">
                        <i class="icon-lock_outline"></i>
                        <input name="nova-senha" id="nova-senha" type="password" class="form-control"  ng-model="senha.formData.newPwd" minlength="6" maxlength="10"
                               ng-pattern="/^(?=.*[a-z])(?=.*[0-9])/" invalid-error-message="Senha inválida, para sua segurança a senha deve conter de 6 a 10 caracteres, letras e números em sua composição."
                               required/>
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirmar nova senha</label>
                    <div class="input-icon">
                        <i class="icon-lock_outline"></i>
                        <input name="confirma-senha" id="confirma-senha" type="password" class="form-control" ng-model="senha.formData.confirmPwd" required/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" validar-form="form-alterar-senha" class="btn-ticket -block" ng-click="senha.toSuccess()">Salvar alteração</button>
                <button type="button" class="btn-ticket -block -borderless" ng-click="senha.close()">Cancelar</button>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
    <div id="contentChangePwdSuccess" ng-show="senha.step === 1">
        <div class="modal-header">
            <h5 class="modal-title">Senha alterada</h5>
            <button class="modal-close-btn" ng-click="senha.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-done"></i></span>
                <p>A senha do seu usuário foi
                    <br/>alterada com sucesso!</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="senha.close()">OK</button>
        </div>
    </div>
    <!-- /.modal-content -->
    <div id="contentChangePwdError" ng-show="senha.step === 2">
        <div class="modal-header">
            <h5 class="modal-title -red">Ocorreu um erro</h5>
            <button class="modal-close-btn" ng-click="senha.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-error"></i></span>
                <p>Desculpe! Ocorreu um erro e a operação não foi completada. Por favor, tente novamente.</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="senha.close()">OK</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<script src="app/modules/beneficiario/scripts/controllers/editarusuariosenhacontroller.js"></script>