<div id="senha" ng-controller="CartaoSenhaController as senha">
  
  <div class="loading-mask-position" cg-busy="{promise:senha.promise, templateUrl:'templates/loading-mask.htm', backdrop: false}"></div>
  
  <div id="contentChange1" ng-show="senha.step === 0">
      <div class="modal-header -image -bann2pb">
        <h5 class="modal-title">Alterar senha</h5>
        <button class="modal-close-btn" ng-click="senha.close()">&times;</button>
      </div>
      <div class="modal-body -nobottom" tratativas-cartao="senha.cartao">

          <div ng-class="senha.cartao.cssCartao">
              <div class="contentopen">
                  <svg version="1.1" id="bracketTicket1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 14 28" style="enable-background: new 0 0 14 28;" xml:space="preserve">
                      <path class="card-bracket" d="M0,28c0-7.4,6-13.5,13.5-13.5c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5C6,13.5,0,7.4,0,0V28z"/>
                  </svg>
                  <div class="card-logo"></div>
                  <a ng-class="senha.cartao.a_cssEstrela" ng-click="senha.favoritarCartao()"><i ng-class="senha.cartao.i_cssEstrela"></i></a>
                  <p class="num">---- ---- ---- <span class="card-last">{{senha.cartao.cardLast}}</span></p>
                  <p class="nick">{{senha.cartao.apelido}}</p>
              </div>
          </div>

        <form name="formTrocaSenha" id="formTrocaSenha">
            <div id="divConfirmaDados" class="confirma-dados">
                <p class="text-aux">Por favor, confirme os dados abaixo para alterar a senha do cartão:</p>
                <div class="input-icon form-group">
                    <i class="icon-person"></i>
                    <input id="txtNome" name="txtNome" type="text" class="form-control" placeholder="Nome completo" maxlength="255"
                            ng-model="senha.post.Nome" required allow-pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\s]"/>
                </div>
                <div class="input-icon form-group">
                    <i class="icon-person"></i>
                    <input id="txtCpf" name="txtCpf" type="text" class="form-control" placeholder="CPF"
                            ng-model="senha.post.Cpf" required mask="000.000.000-00" invalid-cpf/>
                </div>
                <div class="input-icon form-group -action">
                    <i class="icon-card"></i>
                    <input id="txtMatricula" name="txtMatricula" type="text" class="form-control" placeholder="Matrícula (Registro do funcionário)" maxlength="30" ng-model="senha.post.Matricula"/>
                    <a uib-popover="Código que a empresa fornece para cada colaborador, conhecido também por “RE” (registro de empregado), “cadastro na empresa” ou “controle do empregado”. Caso não saiba o seu, insira apenas seu número do CPF ou consulte o RH da sua empresa" popover-placement="top-right" popover-trigger="outsideClick"><i class="icon-help_outline"></i></a>
                </div>
                <div class="form-group">
                    <label>Data de nascimento</label>
                    <div class="form-inline" id="signUpBirth">
                        <div class="form-group" id="signUpBirthDay">
                            <label class="sr-only">Dia</label>
                            <div class="select">
                                <span class="caret"></span>
                                <select class="form-control" required
                                        ng-model="senha.formData.birthDateDay"
                                        ng-options="day as day for day in senha.formData.birthDateDayOpts">
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="signUpBirthMonth">
                            <label class="sr-only">Mês</label>
                            <div class="select">
                                <span class="caret"></span>
                                <select class="form-control" required
                                        ng-model="senha.formData.birthDateMonth"
                                        ng-options="month.value as month.name for month in senha.formData.birthDateMonthOpts">
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="signUpBirthYear">
                            <label class="sr-only">Ano</label>
                            <div class="select">
                                <span class="caret"></span>
                                <select class="form-control" required
                                        ng-model="senha.formData.birthDateYear"
                                        ng-options="year as year for year in senha.formData.birthDateYearOpts">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            
            <div class="form-group">
                <label class="sr-only">Opção senha</label>
                <label class="radio-lbl"><input type="radio" name="radioRemember" ng-value="true" ng-model="senha.formData.remember"  ng-checked="senha.formData.remember == true" /> Lembro minha senha atual</label>
                <label class="radio-lbl"><input type="radio" name="radioRemember" ng-value="false" ng-model="senha.formData.remember" ng-checked="senha.formData.remember == false" /> <strong>Não lembro</strong> minha senha atual</label>
              </div>
                
            <div class="form-msg -error" ng-show="senha.mensagemShow">
                {{senha.mensagem}}
            </div>
            <div class="modal-footer">
              <button id="btnProsseguir" ng-click="toNewPwd()" type="button" class="btn-ticket -block" validar-form="formTrocaSenha">Prosseguir</button>
              <button type="button" class="btn-ticket -block -borderless" ng-click="senha.close()">Cancelar</button>
            </div>
            
        </form>
        
      </div><!-- /.modal-content -->
  </div>
  
  <div id="contentChange2" ng-if="senha.step === 1">
    <form>
      <div class="modal-header -image -bann2pb">
        <h5 class="modal-title">Alterar Senha</h5>
        <button class="modal-close-btn" ng-click="senha.close()">&times;</button>
      </div>
      <div class="modal-body -nobottom">
        <p>Insira o código de verificação recebido</p>
        <div class="badge-group -inline">
          <span class="badge-icon"><i class="icon-textsms"></i></span>
          <p>Um SMS com um código de verificação foi enviado para o número <strong><span class="cellnum">(**)*****-1234</span></strong></p>
        </div>
        <div class="input-icon form-group">
          <i class="icon-textsms"></i>
          <input type="password" class="form-control" placeholder="Digite o código de verificação"
            ng-model="senha.formData.token"
            required/>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-ticket -block" ng-click="senha.toNewPwd()">Enviar</button>
        <button type="button" class="btn-ticket -block -borderless" ng-click="senha.close()">Cancelar</button>
      </div>
    </form>
  </div><!-- /.modal-content -->
  
  <div id="contentChange3" ng-show="senha.step === 2">
    <form name="formSenhas" id="formSenhas">
      <div class="modal-header -image -bann2pb">
        <h5 class="modal-title">Nova Senha</h5>
        <button class="modal-close-btn" ng-click="senha.close()">&times;</button>
      </div>
      <div class="modal-body -nobottom">
        <div ng-if="senha.formData.remember">
          <div class="input-icon form-group -action">
            <i class="icon-lock_outline"></i>
            <input id="txtPasswordAtual" name="txtPasswordAtual" type="password" class="form-control" placeholder="Senha atual" 
              ng-model="senha.formData.currentPwd" ng-focus="senha.focusCampo('atual')" readonly allow-pattern="[]" minlength="4" maxlength="4" required>
              <a style="color:#11204c;top: 5px;" ng-click="senha.toClear('atual')"><i class="glyphicon glyphicon-remove-circle"></i></a>
          </div>
          
          <div class="input-icon form-group -action">
            <i class="icon-lock_outline"></i>
            <input id="txtPasswordNova1" name="txtPasswordNova1" type="password" class="form-control" placeholder="Nova senha" 
              ng-model="senha.formData.newPwd" ng-focus="senha.focusCampo('nova')" readonly
              allow-pattern="[]" minlength="4" maxlength="4" required/>
              <a style="color:#11204c;top: 5px;" ng-click="senha.toClear('nova')"><i class="glyphicon glyphicon-remove-circle"></i></a>
          </div>
          <div class="input-icon form-group -action">
            <i class="icon-lock_outline"></i>
            <input id="txtPasswordConfirma1" name="txtPasswordConfirma1" type="password" class="form-control" placeholder="Confirmar nova senha" 
              ng-model="senha.formData.confirmNewPwd" ng-focus="senha.focusCampo('confirma')" readonly
              allow-pattern="[]" minlength="4" maxlength="4" required />
              <a style="color:#11204c;top: 5px;" ng-click="senha.toClear('confirma')"><i class="glyphicon glyphicon-remove-circle"></i></a>
          </div>
        </div>
        <div ng-if="!senha.formData.remember">
          <div class="card-ticket -restaurante -back">
            <div class="magneticstrip"></div>
            <div class="whitestrip">
              <label>Insira o código verificador</label>
              <input type="text" class="form-control" placeholder="000" maxlength="3" mask="000"
                ng-model="senha.formData.cardCVT" required />
            </div>
          </div>
          <div class="input-icon form-group  -action">
            <i class="icon-lock_outline"></i>
            <input id="txtPasswordNova2" name="txtPasswordNova2" type="password" class="form-control" placeholder="Nova senha" readonly 
              allow-pattern="[]"
              ng-model="senha.formData.newPwd"
              ng-focus="senha.focusCampo('nova')" 
              required
              minlength="4"
              maxlength="4"/>
              <a style="color:#11204c; top: 5px;" ng-click="senha.toClear('nova')"><i class="glyphicon glyphicon-remove-circle"></i></a>
          </div>
          <div class="input-icon form-group  -action">
            <i class="icon-lock_outline"></i>
            <input id="txtPasswordConfirma2" name="txtPasswordConfirma2" type="password" class="form-control" placeholder="Confirmar nova senha" readonly 
              ng-model="senha.formData.confirmNewPwd"
              allow-pattern="[]"
              ng-focus="senha.focusCampo('confirma')"
              required
              minlength="4"
              maxlength="4"/>
              <a style="color:#11204c;top: 5px;" ng-click="senha.toClear('confirma')"><i class="glyphicon glyphicon-remove-circle"></i></a>
          </div>
        </div>
        <div class="input-icon form-group">
          
          <div id="inlineKeypad" style="width:100%"></div>
          
        </div>
      </div>
      <div class="form-msg -error" ng-show="senha.mensagemShow">
        {{senha.mensagem}}
      </div>
      <div class="modal-footer">
        <button id="btnSalvar" ng-click="toSuccess()" type="button" class="btn-ticket -block" validar-form="formSenhas">Salvar alteração</button>
        <button type="button" class="btn-ticket -block -borderless" ng-click="senha.close()">Cancelar</button>
      </div>
    </form>
  </div><!-- /.modal-content -->
  
  <div id="contentChange4" ng-show="senha.step === 3">
    <div class="modal-header -image -bann2pb">
      <h5 class="modal-title">Senha alterada</h5>
      <button class="modal-close-btn" ng-click="senha.close()">&times;</button>
    </div>
    <div class="modal-body -nobottom">
      <div class="badge-group -inline">
        <span class="badge-icon"><i class="icon-done"></i></span>
        <p>A senha do seu cartão foi<br/>alterada com sucesso!</p>
      </div>
      <div class="protocol-container">
        <span>Protocolo de atendimento nº:</span><span class="protocol">{{senha.protocolo}}</span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn-ticket -block" ng-click="senha.close()">OK</button>
    </div>
  </div><!-- /.modal-content -->
  
  <div id="contentChange5" ng-show="senha.step === 4">
      <div class="modal-header">
          <h5 class="modal-title -red">Ocorreu um erro</h5>
          <button class="modal-close-btn" ng-click="senha.close()">&times;</button>
      </div>
      <div class="modal-body -nobottom">
          <div class="badge-group -inline">
              <span class="badge-icon"><i class="icon-error"></i></span>
              <p>Ops! Ocorreu um erro ao alterar a senha, por favor, tente novamente mais tarde!</p>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn-ticket -block" ng-click="senha.close()">OK</button>
      </div>
  </div><!-- /.modal-content -->
  
  <script src="app/modules/beneficiario/scripts/controllers/cartaosenhacontroller.js"></script>
  <script src="app/modules/beneficiario/scripts/services/cartaosenhaservice.js"></script>
</div>

<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>