<div ng-controller="AtivarController as ativar">

    <div class="loading-mask-position" cg-busy="{promise:ativar.promise, templateUrl:'templates/loading-mask.htm', backdrop: false}"></div>

    <form name="formAtivar" id="formAtivar" novalidate>
        <div id="contentBlock1" ng-show="ativar.step === 0">
            <div class="modal-header -image -bann2pb">
                <h5 class="modal-title">Ativar cartão</h5>
                <button class="modal-close-btn" ng-click="ativar.close()">&times;</button>
            </div>

            <div class="modal-body -nobottom" tratativas-cartao="ativar.cartao">
                <div ng-class="ativar.cartao.cssCartao">
                    <div class="contentopen">
                        <svg version="1.1" id="bracketTicket1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" viewBox="0 0 14 28" style="enable-background: new 0 0 14 28;" xml:space="preserve">
                            <path class="card-bracket" d="M0,28c0-7.4,6-13.5,13.5-13.5c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5C6,13.5,0,7.4,0,0V28z" />
                        </svg>
                        <div class="card-logo"></div>
                        <a ng-class="ativar.cartao.a_cssEstrela" ng-click="ativar.favoritarCartao()"><i ng-class="ativar.cartao.i_cssEstrela"></i></a>
                        <p class="num">---- ---- ---- <span class="card-last">{{ativar.cartao.cardLast}}</span></p>
                        <div ng-if="ativar.cartao.bandeira" ng-class="ativar.cartao.bandeira"></div>
                        
                    </div>
                </div>

                <div class="input-icon form-group">
                    <i class="icon-lock_outline"></i>
                    <input id="pin" name="pin" class="form-control input-nick" ng-model="ativar.cartao.pin" maxlength="4" placeholder="Digite o PIN" required />
                </div>

                <div class="form-msg -error" ng-show="ativar.mensagemShow">
                    {{ativar.mensagem}}
                </div>

                <div class="modal-footer-login modal-footer ">
                    <button type="button" class="btn-ticket -block" ng-click="ativar.ativarCartao();" validar-form="formAtivar">Ativar</button>
                    <button type="button" class="btn-ticket -block -borderless" ng-click="ativar.close()">Cancelar</button>
                </div>

            </div>

        </div>
        <!-- /.modal-content -->
    </form>

    <div id="contentBlock2" ng-show="ativar.step === 1">
        <div class="modal-header -image -bann2pb">
            <h5 class="modal-title">Cartão Ativo</h5>
            <button class="modal-close-btn" ng-click="ativar.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-done"></i></span>
                <p>Seu cartão foi ativado<br/>com sucesso!
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="ativar.toSuccess()">OK</button>
        </div>
    </div>
    <!-- /.modal-content -->
    <div id="contentBlock3" ng-show="ativar.step === 2">
        <div class="modal-header">
            <h5 class="modal-title -red">Ocorreu um erro</h5>
            <button class="modal-close-btn" ng-click="ativar.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-error"></i></span>
                <p>{{ativar.mensagem}}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="ativar.close()">OK</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<script src="app/modules/beneficiario/scripts/controllers/ativarcontroller.js"></script>
<script src="app/modules/beneficiario/scripts/services/accentivservice.js"></script>