<div ng-controller="BeneficioClubController as beneficio">

    <div class="loading-mask-position" cg-busy="{promise:beneficio.filterData.promise, templateUrl:'templates/loading-mask.htm', backdrop: false}"></div>

    <div id="contentFilter">
        <div class="modal-header">
            <h5 class="modal-title">Filtrar ofertas</h5>
            <button class="modal-close-btn" ng-click="beneficio.closeFilter()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="bc-filters">
                <div class="form-group">
                    <label>Ordenar por:</label>
                    <div class="toggle-control">
                        <div class="toggle-opt"
                             ng-class="{active : beneficio.filterData.filtros.countView === null}"
                             ng-click="beneficio.ordernarSemLoad(null)">
                            <i class="icon-new_releases"></i>Ofertas recentes
                        </div>
                        <div class="toggle-opt"
                             ng-class="{active : beneficio.filterData.filtros.countView === 1}"
                             ng-click="beneficio.ordernarSemLoad(1)">
                            <i class="icon-trending"></i>Mais vistos
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Tipo da oferta:</label>
                    <label class="radio-lbl" ng-class="{checked: beneficio.filterData.filtros.type === null}">
                        <input type="radio" name="offerType" value="all" ng-click="beneficio.tipoOfertaSemLoad(null)" checked="checked"/>
                        Todas (<span class="total">{{beneficio.contadores.todos}}</span>)
                    </label>
                    <label class="radio-lbl" ng-class="{checked: beneficio.filterData.filtros.type === 1}">
                        <input type="radio" name="offerType" value="1" ng-click="beneficio.tipoOfertaSemLoad(1)" ng-checked="beneficio.filterData.filtros.type === 1"/>
                        Online (<span class="total">{{beneficio.contadores.online}}</span>)
                    </label>
                    <label class="radio-lbl" ng-class="{checked: beneficio.filterData.filtros.type === 0}">
                        <input type="radio" name="offerType" value="0" ng-click="beneficio.tipoOfertaSemLoad(0)" ng-checked="beneficio.filterData.filtros.type === 0"/>
                        Loja Física (<span class="total">{{beneficio.contadores.lojaFisica}}</span>)
                    </label>
                </div>
                <div class="form-group">

                    <label>Categorias:</label>

                    <label class="radio-lbl" ng-class="{checked: beneficio.filterData.filtros.category === null}">
                        <input type="radio" name="offerCat" value="0" ng-click="beneficio.filtrarSemLoad(null)" checked="true"/>
                        Todas as ofertas (<span class="total">{{beneficio.contadores.todos}}</span>)
                    </label>

                    <div ng-repeat="categoria in beneficio.filterData.categorias">

                        <label class="radio-lbl" ng-class="{checked: beneficio.filterData.filtros.category === categoria.name}">
                            <input type="radio" name="offerCat"
                                   ng-model="categoria.id" ng-click="beneficio.filtrarSemLoad(categoria.name)" ng-checked="beneficio.filterData.filtros.category === categoria.name"/>
                            {{categoria.name}} (<span class="total" ng-style="{ 'color': categoria.color }">{{categoria.qtd}}</span>)
                        </label>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="beneficio.pageLoadCloseFilter()">Aplicar filtro</button>
            <button type="button" class="btn-ticket -block -borderless" ng-click="beneficio.closeFilter()">Cancelar</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
