<div ng-controller="BloqueioController as bloqueio">
  <div id="contentBlock1" ng-show="bloqueio.step === 0">
    <div class="modal-header -image -bann2pb">
      <h5 class="modal-title">Bloquear cartão</h5>
      <button class="modal-close-btn" ng-click="bloqueio.close()">&times;</button>
    </div>
    <div class="modal-body -nobottom">
      <div class="card-ticket -restaurante">
        <div class="contentopen">
          <svg version="1.1" id="bracketTicket1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 14 28" style="enable-background:new 0 0 14 28;" xml:space="preserve">
            <path class="card-bracket" d="M0,28c0-7.4,6-13.5,13.5-13.5c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5C6,13.5,0,7.4,0,0V28z"/>
          </svg>
          <div class="card-logo"></div>
          <a href="#" class="favcard active"><i class="icon-star"></i></a>
          <p class="num">----  ----  ----  <span class="card-last">4567</span></p>
          <p class="nick">Apelido XYZ</p>
          <p class="balance">Saldo atual <span class="currency">R$</span> <span class="value">123,45</span></p>
        </div>
      </div>
      <form class="confirma-dados">
        <div class="input-icon form-group">
          <i class="icon-person"></i>
          <input type="text" class="form-control" placeholder="CPF (três primeiros dígitos)" maxlength="3" required/>
        </div>
      </form>
    </div>
    <div class="modal-footer-login modal-footer">
      <button type="button" class="btn-ticket -block" ng-click="bloqueio.toSuccess()">Bloquear cartão</button>
      <button type="button" class="btn-ticket -block -borderless" ng-click="bloqueio.close()">Cancelar</button>
    </div>
  </div><!-- /.modal-content -->
  <div id="contentBlock2" ng-show="bloqueio.step === 1">
    <div class="modal-header -image -bann2pb">
      <h5 class="modal-title">Cartão Bloqueado</h5>
      <button class="modal-close-btn" ng-click="bloqueio.close()">&times;</button>
    </div>
    <div class="modal-body -nobottom">
      <div class="badge-group">
        <span class="badge-icon"><i class="icon-done"></i></span>
        <p>Seu cartão foi bloqueado<br/>com sucesso!</p>
        <p>Número de protocolo: <span class="protocol">00001</span></p>
      </div>
      <div class="card-ticket -restaurante -blocked">
        <div class="contentopen">
          <svg version="1.1" id="bracketTicket1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 14 28" style="enable-background:new 0 0 14 28;" xml:space="preserve">
            <path class="card-bracket" d="M0,28c0-7.4,6-13.5,13.5-13.5c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5C6,13.5,0,7.4,0,0V28z"/>
          </svg>
          <div class="card-logo"></div>
          <a href="#" class="favcard active"><i class="icon-star"></i></a>
          <p class="num">----  ----  ----  <span class="card-last">4567</span></p>
          <p class="nick">Apelido XYZ</p>
          <p class="blocked"><i class="icon-lock_outline"></i>Cartão Bloqueado</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn-ticket -block" ng-click="bloqueio.close()">OK</button>
    </div>
  </div><!-- /.modal-content -->
</div>

<script src="app/modules/beneficiario/scripts/controllers/bloqueiocontroller.js"></script>
