<div ng-controller="BloqueioController as edicao">

    <div class="loading-mask-position" cg-busy="{promise:edicao.promise, templateUrl:'templates/loading-mask.htm', backdrop: false}"></div>

    <div id="contentBlock1" ng-show="edicao.step === 0">
        <div class="modal-header -image -bann2pb">
            <h5 class="modal-title">Bloquear cartão</h5>
            <button class="modal-close-btn" ng-click="edicao.close()">&times;</button>
        </div>
        <!-- <div class="modal-body -nobottom">
            <p class="text-aux">{{edicao.textoConfirmacaoBloqueio}}</p>
        </div>-->
        <div class="modal-body -nobottom" tratativas-cartao="edicao.cartao">
            <div ng-class="edicao.cartao.cssCartao">
                <div class="contentopen">
                    <svg version="1.1" id="bracketTicket1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 14 28" style="enable-background: new 0 0 14 28;" xml:space="preserve">
                        <path class="card-bracket" d="M0,28c0-7.4,6-13.5,13.5-13.5c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5C6,13.5,0,7.4,0,0V28z"/>
                    </svg>
                    <div class="card-logo"></div>
                    <a ng-class="edicao.cartao.a_cssEstrela" ng-click="edicao.favoritarCartao()"><i ng-class="edicao.cartao.i_cssEstrela"></i></a>
                    <p class="num">---- ---- ---- <span class="card-last">{{edicao.cartao.cardLast}}</span></p>
                    <p class="nick">{{edicao.cartao.apelido}}</p>
                </div>
                <div ng-if="edicao.cartao.bandeira" ng-class="edicao.cartao.bandeira"></div>
            </div>
            <form name="formBloqueio" id="formBloqueio">
                <div id="divConfirmaDados" class="confirma-dados">
                    <p class="text-aux">Por favor, confirme os dados abaixo para efetuar o bloqueio do cartão:</p>
                    <div class="input-icon form-group">
                        <i class="icon-person"></i>
                        <input id="txtNome" name="txtNome" type="text" class="form-control" placeholder="Nome completo" maxlength="255"
                               ng-model="edicao.post.Nome" required allow-pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\s]"/>
                    </div>
                    <div class="input-icon form-group">
                        <i class="icon-person"></i>
                        <input id="txtCpf" name="txtCpf" type="text" class="form-control" placeholder="CPF"
                               ng-model="edicao.post.Cpf" required mask="000.000.000-00" invalid-cpf/>
                    </div>
                    <div class="input-icon form-group -action">
                        <i class="icon-card"></i>
                        <input id="txtMatricula" name="txtMatricula" type="text" class="form-control" placeholder="Matrícula (Registro do funcionário)" maxlength="30" ng-model="edicao.post.Matricula"/>
                        <a uib-popover="Código que a empresa fornece para cada colaborador, conhecido também por “RE” (registro de empregado), “cadastro na empresa” ou “controle do empregado”.
Caso não saiba o seu, insira apenas seu número do CPF ou consulte o RH da sua empresa" popover-placement="top-right" popover-trigger="outsideClick"><i class="icon-help_outline"></i></a>
                    </div>
                    <div class="form-group">
                        <label>Data de nascimento</label>
                        <div class="form-inline" id="signUpBirth">
                            <div class="form-group" id="signUpBirthDay">
                                <label class="sr-only">Dia</label>
                                <div class="select">
                                    <span class="caret"></span>
                                    <select class="form-control" required
                                            ng-model="edicao.formData.birthDateDay"
                                            ng-options="day as day for day in edicao.formData.birthDateDayOpts">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="signUpBirthMonth">
                                <label class="sr-only">Mês</label>
                                <div class="select">
                                    <span class="caret"></span>
                                    <select class="form-control" required
                                            ng-model="edicao.formData.birthDateMonth"
                                            ng-options="month.value as month.name for month in edicao.formData.birthDateMonthOpts">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="signUpBirthYear">
                                <label class="sr-only">Ano</label>
                                <div class="select">
                                    <span class="caret"></span>
                                    <select class="form-control" required
                                            ng-model="edicao.formData.birthDateYear"
                                            ng-options="year as year for year in edicao.formData.birthDateYearOpts">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-msg -error" ng-show="edicao.mensagemShow">
                    {{edicao.mensagem}}
                </div>
                <div class="modal-footer-login modal-footer ">
                    <button type="button" class="btn-ticket -block" ng-click="edicao.bloquearCartao();" validar-form="formBloqueio">Bloquear</button>
                    <button type="button" class="btn-ticket -block -borderless" ng-click="edicao.close()">Não bloquear</button>
                </div>
            </form>
        </div>


    </div><!-- /.modal-content -->

    <div id="contentBlock2" ng-show="edicao.step === 1">
        <div class="modal-header -image -bann2pb">
            <h5 class="modal-title">Cartão Bloqueado</h5>
            <button class="modal-close-btn" ng-click="edicao.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-done"></i></span>
                <p>Seu cartão foi bloqueado<br/>com sucesso!
                </p>
            </div>
            <div class="protocol-container" ng-show="edicao.exibeProtocolo">
                <span>Número de protocolo:</span><span class="protocol">{{edicao.protocolo}}</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="edicao.toSuccess()">OK</button>
        </div>
    </div><!-- /.modal-content -->
    <div id="contentBlock3" ng-show="edicao.step === 2">
        <div class="modal-header">
            <h5 class="modal-title -red">Ocorreu um erro</h5>
            <button class="modal-close-btn" ng-click="edicao.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-error"></i></span>
                <p>Ops! Ocorreu um erro ao tentar bloquear este cartão, por favor, tente novamente mais tarde!</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="edicao.close()">OK</button>
        </div>
    </div><!-- /.modal-content -->
</div>

<script src="app/modules/beneficiario/scripts/controllers/bloqueiocontroller.js"></script>
<script src="app/modules/beneficiario/scripts/services/accentivservice.js"></script>
