<div ng-controller="CadastroController as cadastro">
    <div class="loading-mask-position" cg-busy="{promise:cadastro.promise, templateUrl:'templates/loading-mask.htm', backdrop: false}">
    </div>
    <div class="modal-step" id="contentSignUp" ng-show="cadastro.step === 0">
        <div class="modal-header -image -bann1pb">
            <h5 class="modal-title">Cadastre-se já</h5>
            <button class="modal-close-btn" ng-click="cadastro.close()">&times;</button>
        </div>
        <div class="modal-body">
            <p class="text-aux">{{cadastro.parametros.mensagem}}</p>
            <button class="btn-ticket -blue2 -block -icon" ng-click="IntentLogin()"><i class="icon-facebook"></i>Conectar com o facebook</button>
            <div class="text-hr">
                <span class="semi-hr"></span>
                <span>ou</span>
                <span class="semi-hr"></span>
            </div>
            <button class="btn-ticket -block -icon" ng-click="cadastro.toForm()"><i class="icon-mail_outline"></i>Iniciar cadastro com e-mail</button>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-8 col-sm-7">
                    <span class="text-aux">Já tem cadastro no <strong>App Ticket</strong> ou no <strong>Sou Ticket?</strong></span>
                </div>
                <div class="col-xs-4 col-sm-5">
                    <button type="button" class="btn-ticket -borderred" ng-click="cadastro.changeToLogin()">Entrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
    <div class="modal-step" id="contentSignUpEmail" ng-show="cadastro.step === 1">
        <div class="modal-header -image -bann1pb">
            <h5 class="modal-title">Cadastre-se já</h5>
            <button class="modal-close-btn" ng-click="cadastro.close()">&times;</button>
        </div>
        <div class="modal-body">
            <form id="formSignUp" name="formSignUp">
                <div class="form-msg -error" ng-show="cadastro.error">
                    <div compile="cadastro.mensagem"></div>
                </div>
                <div class="form-group input-icon">
                    <i class="icon-person"></i>
                    <input id="txtNome" name="txtNome" type="text" class="form-control" placeholder="Nome completo" ng-model="cadastro.formData.NomeCompleto"
                        maxlength="280" allow-pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\s]" required />
                </div>
                <div class="form-group input-icon">
                    <i class="icon-phone_iphone"></i>
                    <input id="txtCelular" name="txtCelular" type="text" class="form-control" placeholder="Telefone celular" ng-model="cadastro.formData.Cellphone"
                        ui-br-phone-number invalid-cel required minlength="14" maxlength="15" />
                </div>
                <div class="form-group input-icon">
                    <i class="icon-mail_outline"></i>
                    <input name="Email" id="Email" type="text" class="form-control" placeholder="E-mail" ng-model="cadastro.formData.Email"
                        required ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" invalid-error-message="Endereço de e-mail inválido." />
                </div>
                <div class="form-group">
                    <label>Data de nascimento</label>
                    <div class="form-inline" id="signUpBirth">
                        <div class="form-group" id="signUpBirthDay">
                            <label class="sr-only">Dia</label>
                            <div class="select">
                                <span class="caret"></span>
                                <select id="combDia" name="comboDia" class="form-control" required
                                    ng-model="cadastro.formData.birthDateDay"
                                    ng-options="day as day for day in cadastro.formData.birthDateDayOpts"
                                    required-error-message="*">
                                    <option value="" selected>Dia</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="signUpBirthMonth">
                            <label class="sr-only">Mês</label>
                            <div class="select">
                                <span class="caret"></span>
                                <select id="comboMes" name="comboMes" class="form-control" required
                                    ng-model="cadastro.formData.birthDateMonth"
                                    ng-options="month.value as month.name for month in cadastro.formData.birthDateMonthOpts"
                                    required-error-message="*">
                                    <option value="" selected>Mês</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="signUpBirthYear">
                            <label class="sr-only">Ano</label>
                            <div class="select">
                                <span class="caret"></span>
                                <select id="comboAno" name="combAno" class="form-control" required 
                                    ng-model="cadastro.formData.birthDateYear" 
                                    ng-options="year as year for year in cadastro.formData.birthDateYearOpts"
                                    required-error-message="*">
                                    <option value="" selected>Ano</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Sexo</label>
                    <div class="form-inline" id="signUpGender">
                        <div class="form-group">
                            <label class="radio-lbl">
                                <input id="dbFem" name="dbFem" type="radio" value="F" ng-model="cadastro.formData.Sexo" />
                                Feminino
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="radio-lbl">
                                <input id="dbMas" name="dbMas" type="radio" value="M" ng-model="cadastro.formData.Sexo" />
                                Masculino
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group input-icon">
                    <i class="icon-person"></i>
                    <input id="txtCpf" name="txtCpf" type="text" class="form-control" placeholder="CPF"
                        ng-model="cadastro.formData.Cpf" mask="000.000.000-00"
                        required />
                </div>
                <div class="form-group input-icon -action" ng-if="!logged">
                    <i class="icon-lock_outline"></i>
                    <input id="senha" name="senha" type="{{cadastro.typeSenha}}" class="form-control" placeholder="Senha desejada" ng-model="cadastro.formData.Password"
                        minlength="6" maxlength="10" required ng-pattern="/^(?=.*[a-z])(?=.*[0-9])/" invalid-error-message="A senha deve conter letras e números." />
                    <a ng-click="cadastro.alterarType()"><i class="icon-visibility_off"></i></a>
                </div>
                <div class="form-group">
                    <label class="chk-lbl">
                        <input type="checkbox" ng-model="cadastro.formData.aceitoMarketing" />Desejo receber comunicações de promoções Ticket e parceiros.</label>
                </div>

                <!--<div class="form-group">
                    <div id='mensagem' class='validation-msg' ng-show="cadastro.errorCPF">
                        Este CPF já possui um cadastro, efetue login ou caso não lembre sua senha <a ng-click="cadastro.changeToLogin()">clique aqui</a>
                    </div>
                </div>-->

                <button type="button" class="btn-ticket -block" ng-click="cadastro.cadastrarUsuario()" validar-form="formSignUp">Cadastre-se</button>
            </form>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-8 col-sm-7">
                    <span class="text-aux">Já tem cadastro no <strong>App Ticket</strong> ou no <strong>Sou Ticket?</strong></span>
                </div>
                <div class="col-xs-4 col-sm-5">
                    <button type="button" class="btn-ticket -borderred" ng-click="cadastro.changeToLogin()">Entrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
    <div class="modal-step" id="contentOk" ng-show="cadastro.step === 2">
        <div class="modal-header -image -bann1pb">
            <h5 class="modal-title">Cadastre-se já</h5>
            <button class="modal-close-btn" ng-click="cadastro.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group">
                <span class="badge-icon"><i class="icon-mail_outline"></i></span>
                <input type="text" id="input-email" class="form-control" value="{{ cadastro.formData.Email }}" />
                <!--<span id="welcomeEmail">{{ cadastro.formData.Email }}</span>-->
            </div>
            <p>
                Enviamos um e-mail para o endereço acima para garantir que você é você, e consequentemente oferecer mais segurança
                na utilização do Sou Ticket. Basta clicar no link para ter acesso total ao portal!
            </p>
            <button type="button" class="btn-ticket -block" ng-click="cadastro.close()">Ok</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>


<!--<script src="app/modules/beneficiario/scripts/config.js"></script>-->
<script src="app/config.js"></script>
<script src="app/modules/beneficiario/scripts/factories/usuariofactory.js"></script>
<script src="app/modules/beneficiario/scripts/services/usuarioservice.js"></script>

<script src="app/modules/beneficiario/scripts/controllers/cadastrocontroller.js"></script>
