<div ng-controller="ConfirmacaoCadastroController as confirmacaoCadastro">
  <div id="contentWelcome" ng-show="confirmacaoCadastro.step === 0">
    <div class="modal-header -image -bann1color">
      <h5 class="modal-title -red">Bem vindo<br/>ao sou ticket</h5>
      <button class="modal-close-btn" ng-click="confirmacaoCadastro.closeModal">&times;</button>
    </div>
    <div class="modal-body -nobottom">
      <p>Agora você pode lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button class="btn-ticket -block" ng-click="confirmacaoCadastro.toEmailConfirm()">Continuar</button>
    </div>
  </div><!-- /.modal-content -->
  <div id="contentWelcomeEmail" ng-show="confirmacaoCadastro.step === 1">
    <div class="modal-header -image -bann1color">
      <h5 class="modal-title -red">Bem vindo<br/>ao sou ticket</h5>
      <button class="modal-close-btn" ng-click="confirmacaoCadastro.closeModal">&times;</button>
    </div>
    <div class="modal-body -nobottom">
      <div class="badge-group">
        <span class="badge-icon"><i class="icon-mail_outline"></i></span>
        <input type="text" id="input-email" class="form-control" value="{{ confirmacaoCadastro.getSentEmail }}" ng-show="confirmacaoCadastro.changeEmail"/>
        <span id="welcomeEmail" ng-hide="confirmacaoCadastro.changeEmail">{{ confirmacaoCadastro.getSentEmail }}</span>
      </div>
      <p>Enviamos um e-mail para o endereço acima para garantir que você é você, e consequentemente oferecer mais segurança na utilização do Sou Ticket. Basta clicar no link para ter acesso total ao portal!</p>
      <button class="btn-ticket -block">{{ confirmacaoCadastro.sendEmailBtn }}</button>
      <a   class="lnk-ticket -block" ng-click="confirmacaoCadastro.toChangeEmail()">{{ confirmacaoCadastro.changeEmailBtn }}</a>
    </div>
  </div><!-- /.modal-content -->
</div>

<script src="app/modules/beneficiario/scripts/controllers/confirmacaocadastrocontroller.js"></script>
