<div ng-controller="AtendimentoContatoController as contato">
  <div id="contentContato">
    <div class="modal-header">
      <h5 class="modal-title">Contato</h5>
      <button class="modal-close-btn" ng-click="contato.closeTel()">&times;</button>
    </div>
    <div class="modal-body">
      <div class="contact-tel">
        <p>Para informações sobre Ticket Restaurante, Ticket Alimentação, Ticket Transporte, Ticket Cultura e Ticket Car, ligue:</p>
        <i class="icon-phone"></i>
        <span class="spn-tel">4004-2233*</span>
        <span class="spn-sm">(todos os dias, 24h)</span>
        <hr class="-gray3"/>
        <p>Solicitação para abertura de orçamento de manutenção (exclusivo Ticket Car):</p>
        <i class="icon-phone"></i>
        <span class="spn-tel">4004-3399*</span>
        <hr class="-gray3"/>
        <span class="spn-obs">* Telefones válidos para capitais e regiões metropolitanas. Para as demais localidades - Use o código de sua operadora + o DDD da sua capital.</span>
      </div>
    </div>
  </div><!-- /.modal-content -->
  <div class="modal-footer">
    <button type="button" class="btn-ticket -block" ng-click="contato.closeTel()">OK</button>
  </div>
</div>

<script src="app/modules/beneficiario/scripts/controllers/atendimentocontatocontroller.js"></script>
