<div ng-controller="AtendimentoContatoController as contato">
  <div id="contentMsg" ng-show="contato.step === 0">
    <div class="modal-header">
      <h5 class="modal-title">Enviar mensagem</h5>
      <button class="modal-close-btn" ng-click="contato.closeMsg()">&times;</button>
    </div>
    <div class="modal-body -nobottom">
      <form>
        <div class="form-group">
          <label>Assunto da mensagem</label>
          <div class="select">
            <span class="caret"></span>
            <select class="form-control" required>
              <option selected>Selecione</option>
              <option>Dúvida</option>
              <option>Sugestão</option>
              <option>Reclamação</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label>Mensagem:</label>
          <textarea class="form-control" required placeholder="Escreva sua mensagem"/>
        </div>
        <button class="btn-ticket -block" ng-click="contato.toSuccess()">Enviar mensagem</button>
        <button class="btn-ticket -block -borderless" ng-click="contato.toError()">Cancelar</button>
      </form>
    </div>
  </div><!-- /.modal-content -->
  <div id="contentMsgSucesso" ng-show="contato.step === 1">
    <div class="modal-header">
      <h5 class="modal-title">Mensagem Enviada</h5>
      <button class="modal-close-btn" ng-click="contato.closeMsg()">&times;</button>
    </div>
    <div class="modal-body -nobottom">
      <div class="badge-group -inline">
        <span class="badge-icon"><i class="icon-done"></i></span>
        <p>A sua mensagem foi<br/>enviada com sucesso!</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn-ticket -block" ng-click="contato.closeMsg()">OK</button>
    </div>
  </div><!-- /.modal-content -->
  <div id="contentMsgErro" ng-show="contato.step === 2">
    <div class="modal-header">
      <h5 class="modal-title -red">Ocorreu um erro</h5>
      <button class="modal-close-btn" ng-click="contato.closeMsg()">&times;</button>
    </div>
    <div class="modal-body -nobottom">
      <div class="badge-group -inline">
        <span class="badge-icon"><i class="icon-error"></i></span>
        <p>Desculpe! Ocorreu um erro e a operação não foi completada. Por favor, tente novamente.</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn-ticket -block" ng-click="contato.closeMsg()">OK</button>
    </div>
  </div><!-- /.modal-content -->
</div>

<script src="app/modules/beneficiario/scripts/controllers/atendimentocontatocontroller.js"></script>
