<div ng-controller="DesbloqueioController as desbloqueio">
  <div id="contentUnblock1" ng-show="desbloqueio.step === 0">
    <div class="modal-header -image -bann2pb">
      <h5 class="modal-title">Desbloquear cartão</h5>
      <button class="modal-close-btn" ng-click="desbloqueio.close()">&times;</button>
    </div>
    <div class="modal-body -nobottom">
      <div class="card-ticket -alimentacao -blocked">
        <div class="contentopen">
          <svg version="1.1" id="bracketTicket2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 14 28" style="enable-background:new 0 0 14 28;" xml:space="preserve">
            <path class="card-bracket" d="M0,28c0-7.4,6-13.5,13.5-13.5c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5C6,13.5,0,7.4,0,0V28z"/>
          </svg>
          <div class="card-logo"></div>
          <a href="#" class="favcard"><i class="icon-star_border"></i></a>
          <p class="num">----  ----  ----  <span class="card-last">4567</span></p>
          <p class="nick">Apelido XYZ</p>
          <p class="blocked"><i class="icon-lock_outline"></i>Cartão Bloqueado</p>
        </div>
      </div>
      <form class="confirma-dados">
        <div class="input-icon form-group">
          <i class="icon-person"></i>
          <input type="text" class="form-control" placeholder="Nome completo" ng-model="" required/>
        </div>
        <div class="input-icon form-group">
          <i class="icon-person"></i>
          <input type="text" class="form-control" placeholder="CPF" ng-model="" required/>
        </div>
        <div class="input-icon form-group">
          <i class="icon-card"></i>
          <input type="text" class="form-control" placeholder="Matrícula" ng-model="" required/>
          <a uib-popover="Código que a empresa fornece para cada colaborador, conhecido também por “RE” (registro de empregado), “cadastro na empresa” ou “controle do empregado”.
Caso não saiba o seu, insira apenas seu número do CPF ou consulte o RH da sua empresa." popover-placement="top-right" popover-trigger="outsideClick"><i class="icon-help_outline"></i></a>
        </div>
        <div class="form-group">
          <label>Data de nascimento</label>
          <div class="form-inline" id="signUpBirth">
            <div class="form-group" id="signUpBirthDay">
              <label class="sr-only">Dia</label>
              <div class="select">
                <span class="caret"></span>
                <select class="form-control" required
                  ng-model="cadastro.formData.birthDateDay"
                  ng-options="day as day for day in cadastro.formData.birthDateDayOpts">
                </select>
              </div>
            </div>
            <div class="form-group" id="signUpBirthMonth">
              <label class="sr-only">Mês</label>
              <div class="select">
                <span class="caret"></span>
                <select class="form-control" required
                  ng-model="cadastro.formData.birthDateMonth"
                  ng-options="month.value as month.name for month in cadastro.formData.birthDateMonthOpts">
                </select>
              </div>
            </div>
            <div class="form-group" id="signUpBirthYear">
              <label class="sr-only">Ano</label>
              <div class="select">
                <span class="caret"></span>
                <select class="form-control" required
                  ng-model="cadastro.formData.birthDateYear"
                  ng-options="year as year for year in cadastro.formData.birthDateYearOpts">
                </select>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn-ticket -block" ng-click="desbloqueio.toSuccess()">Desbloquear cartão</button>
      <button type="button" class="btn-ticket -block -borderless" ng-click="desbloqueio.close()">Cancelar</button>
    </div>
  </div><!-- /.modal-content -->
  <div id="contentUnblock2" ng-show="desbloqueio.step === 1">
    <div class="modal-header -image -bann2pb">
      <h5 class="modal-title">Cartão desbloqueado</h5>
      <button class="modal-close-btn" ng-click="desbloqueio.close()">&times;</button>
    </div>
    <div class="modal-body -nobottom">
      <div class="badge-group">
        <span class="badge-icon"><i class="icon-done"></i></span>
        <p>Seu cartão foi desbloqueado<br/>com sucesso!</p>
        <p>Número de protocolo: <span class="protocol">00001</span></p>
      </div>
      <div class="card-ticket -alimentacao">
        <div class="contentopen">
          <svg version="1.1" id="bracketTicket2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 14 28" style="enable-background:new 0 0 14 28;" xml:space="preserve">
            <path class="card-bracket" d="M0,28c0-7.4,6-13.5,13.5-13.5c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5C6,13.5,0,7.4,0,0V28z"/>
          </svg>
          <div class="card-logo"></div>
          <a href="#" class="favcard"><i class="icon-star_border"></i></a>
          <p class="num">----  ----  ----  <span class="card-last">4567</span></p>
          <p class="nick">Apelido XYZ</p>
          <p class="balance">Saldo atual <span class="currency">R$</span> <span class="value">240,00</span></p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn-ticket -block" ng-click="desbloqueio.close()">OK</button>
    </div>
  </div><!-- /.modal-content -->
</div>

<script src="app/modules/beneficiario/scripts/controllers/desbloqueiocontroller.js"></script>
