<div id="bc" data-ng-controller="DropzoneController as controller">
    <div class="dropzone" file-dropzone="[image/png, image/jpeg, image/gif]"
                  file="image" file-name="imageFileName" data-max-file-size="3">
      <span>Drop Image Here</span>
    </div>
    <div class="image-container">
      <img ng-src={{image}} />
      <span class="file-name">{{imageFileName}}</span>
    </div>
</div>
<script src="app/modules/beneficiario/scripts/factories/usuariomodalsfactory.js"></script>
<script src="app/modules/beneficiario/scripts/controllers/editarusuariocontroller.js"></script>
<script src="app/modules/beneficiario/scripts/controllers/dropzonecontroller.js"></script>