<div ng-controller="EdicaoController as edicao">

    <div class="loading-mask-position" cg-busy="{promise:edicao.myPromise, templateUrl:'templates/loading-mask.htm', backdrop: false}" ng-if="edicao.myPromise">
    </div>

    <div id="contentEdit" ng-show="edicao.step === 0">
        <div class="modal-header -image -bann2pb">
            <h5 class="modal-title">Editar cartão</h5>
            <button class="modal-close-btn" ng-click="edicao.close()">&times;</button>
        </div>
        <div class="modal-body">
            <div ng-class="edicao.cartao.cssCartao" tratativas-cartao="edicao.cartao">
                <div class="contentopen">
                    <svg version="1.1" id="bracketTicket1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 14 28" style="enable-background: new 0 0 14 28;" xml:space="preserve">
                        <path class="card-bracket" d="M0,28c0-7.4,6-13.5,13.5-13.5c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5C6,13.5,0,7.4,0,0V28z"/>
                    </svg>
                    <div class="card-logo"></div>
                    <a ng-click="edicao.favoritarCartao()" ng-class="edicao.cartao.a_cssEstrela">
                        <i ng-class="edicao.cartao.i_cssEstrela"></i>
                    </a>
                    <p ng-if="(edicao.cartao.bin != 'TSE')" class="num">---- ---- ---- <span class="card-last">{{edicao.cartao.cardLast}}</span></p>
                    <p ng-if="(edicao.cartao.bin == 'TSE')" class="num"><span class="card-last">{{ edicao.formatarCartaoSaude(edicao.cartao.number)}}</span></p>
                                        
                    <input class="form-control input-nick" ng-model="edicao.cartao.nickName" maxlength="10" />
                    <p class="balance">Saldo atual <span class="currency">R$</span> <span class="value">{{edicao.cartao.value | currency : "" : 2}}</span></p>
                </div>
                <div ng-if="edicao.cartao.bandeira" ng-class="edicao.cartao.bandeira"></div>
            </div>
            <button class="btn-ticket -blankdark -icon btn-delete" ng-click="edicao.desejaRemover()"><i class="icon-delete"></i>Remover cartão</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="edicao.alterarCartao()">Salvar alterações</button>
            <button type="button" class="btn-ticket -block -borderless" ng-click="edicao.close()">Cancelar</button>
        </div>
    </div><!-- /.modal-content -->
    <div id="contentEditConfirm" ng-show="edicao.step === 1">
        <div class="modal-header -image -bann2pb">
            <h5 class="modal-title">Remover cartão</h5>
            <button class="modal-close-btn" ng-click="edicao.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <p>Tem certeza que deseja remover o cartão abaixo?</p>
            <div ng-class="edicao.cartao.cssCartao">
                <div class="contentopen">
                    <svg version="1.1" id="Svg1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 14 28" style="enable-background: new 0 0 14 28;" xml:space="preserve">
                        <path class="card-bracket" d="M0,28c0-7.4,6-13.5,13.5-13.5c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5C6,13.5,0,7.4,0,0V28z"/>
                    </svg>
                    <div class="card-logo"></div>
                    <a ng-click="edicao.favoritarCartao()" ng-class="edicao.cartao.a_cssEstrela">
                        <i ng-class="edicao.cartao.i_cssEstrela"></i>
                    </a>
                    <p class="num">---- ---- ---- <span class="card-last">{{edicao.cartao.cardLast}}</span></p>
                    <p class="nick">{{edicao.cartao.apelido}}</p>
                    <p class="balance">Saldo atual <span class="currency">R$</span> <span class="value">{{edicao.cartao.value}}</span></p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="edicao.excluirCartao()">Confirmar</button>
            <button type="button" class="btn-ticket -block -borderless" ng-click="edicao.close()">Cancelar</button>
        </div>
    </div><!-- /.modal-content -->
    <div id="contentEditError" ng-show="edicao.step === 2">
        <div class="modal-header">
            <h5 class="modal-title -red">Ocorreu um erro</h5>
            <button class="modal-close-btn" ng-click="edicao.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-error"></i></span>
                <p>Ops, Ocorreu um erro inesperado, tente novamente mais tarde!</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="edicao.close()">OK</button>
        </div>
    </div><!-- /.modal-content -->
    <div id="contentEditSuccess" ng-show="edicao.step === 3">
        <div class="modal-header -image -bann2pb">
            <h5 class="modal-title">Alterações salvas</h5>
            <button class="modal-close-btn" ng-click="bloqueio.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div ng-show="edicao.MensagemAlterarOuExcluir === 1" class="badge-group -inline">
                <span class="badge-icon"><i class="icon-done"></i></span>
                <p>Cartão alterado com sucesso!</p>
            </div>
            <div ng-show="edicao.MensagemAlterarOuExcluir === 2" class="badge-group -inline">
                <span class="badge-icon"><i class="icon-done"></i></span>
                <p>Cartão excluído com sucesso!</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="edicao.ok()">OK</button>
        </div>
    </div><!-- /.modal-content -->
</div>

<!--<script src="app/modules/beneficiario/scripts/config.js"></script>-->
<script src="app/config.js"></script>

<script src="app/modules/beneficiario/scripts/factories/automodalsfactory.js"></script>
<script src="app/modules/beneficiario/scripts/factories/editarcartaofactory.js"></script>
<script src="app/modules/beneficiario/scripts/services/cartaoservice.js"></script>
<script src="app/modules/beneficiario/scripts/controllers/edicaocontroller.js"></script>


<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
