<div ng-controller="IndicarParceiroController as parceiro">

    <div class="loading-mask-position" cg-busy="{promise:parceiro.promise, templateUrl:'templates/loading-mask.htm', backdrop: false}"></div>

    <div class="modal-step" id="contentFormPartner" ng-show="parceiro.step === 0">
        <div class="modal-header -image -bann1pb">
            <h5 class="modal-title">Indique um parceiro</h5>
            <button class="modal-close-btn" ng-click="parceiro.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <form id="formPartner" name="formPartner" novalidate>
                <p>Informações do parceiro:</p>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="icon-person"></i>
                        <input id="txtNomeParceiro" name="txtNomeParceiro" type="text" class="form-control" placeholder="Nome do parceiro" ng-model="parceiro.dados.NomeParceiro"
                            allow-pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\s]" maxlength="200" required />
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="input-icon">
                        <i class="icon-mail_outline"></i>
                        <input name="EmailParceiro" id="EmailParceiro" type="text" class="form-control" placeholder="E-mail do parceiro" ng-model="parceiro.dados.EmailParceiro"
                            required ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" invalid-error-message="Endereço de e-mail inválido." />
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="input-icon">
                        <i class="icon-phone"></i>
                        <input id="txtTelefone" name="txtTelefone" type="text" class="form-control" placeholder="Telefone com DDD" ng-model="parceiro.dados.Telefone"
                            ui-br-phone-number required minlength="14" maxlength="15" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="icon-link"></i>
                        <input id="txtSite" name="txtSite" type="text" class="form-control" placeholder="Site do parceiro" ng-model="parceiro.dados.SiteParceiro" maxlength="400" required 
                        ng-pattern="/[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/" invalid-error-message="Url do site inválida."/>
                    </div>
                </div>
                <p>Endereço:</p>
                <div class="input-icon form-group -action">
                    <i class="icon-room"></i>

                    <input id="txtCep" name="txtCep" type="text" class="form-control" placeholder="CEP" ng-model="parceiro.dados.Endereco.Cep"
                        ng-blur="parceiro.obterCep()" mask="00000-000" ui-br-cep-mask minlength="9" invalid-error-message="Número de Cep inválido." required />
                    <a href=""
                        uib-popover="Clique para buscar endereço pelo CEP"
                        popover-placement="top-right"
                        popover-trigger="mouseenter"><i class="icon-search"></i></a>
                </div>
                <div class="form-group row">
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="Logradouro" ng-model="parceiro.dados.Endereco.Logradouro" />
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" placeholder="Nº" ng-model="parceiro.dados.Endereco.Numero" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Complemento" ng-model="parceiro.dados.Endereco.Complemento" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Bairro" ng-model="parceiro.dados.Endereco.Bairro" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Cidade" ng-model="parceiro.dados.Endereco.Cidade" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Uf" ng-model="parceiro.dados.Endereco.Uf" maxlength="2" />
                </div>

                <div class="modal-footer">
                    <button class="btn-ticket -block" ng-click="parceiro.toMotive()" validar-form="formPartner">Prosseguir</button>
                    <button type="button" class="btn-ticket -block -borderless" ng-click="parceiro.close()">Cancelar</button>
                </div>
            </form>
        </div>

    </div>
    <!-- /.modal-content -->
    <div class="modal-step" id="contentFormPartnerBy" ng-show="parceiro.step === 1">
        <div class="modal-header -image -bann1pb">
            <h5 class="modal-title">Indique um parceiro</h5>
            <button class="modal-close-btn" ng-click="parceiro.close()">&times;</button>
        </div>
        <div class="modal-body">
            <form id="formPartnerBy" name="formPartnerBy" novalidate>
                <p ng-if="parceiro.indicar">Indicado por:</p>
                <div class="form-group" ng-if="parceiro.indicar">
                    <div class="input-icon">
                        <i class="icon-person"></i>

                        <input id="txtNomeIndicador" name="txtNomeIndicador" type="text" class="form-control" placeholder="Nome" ng-model="parceiro.dados.nomeIndicador"
                            allow-pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\s]" maxlength="200" required />

                    </div>
                </div>
                <div class="form-group" ng-if="parceiro.indicar">
                    <div class="input-icon">
                        <i class="icon-mail_outline"></i>

                        <input name="Email" id="Email" type="text" class="form-control" placeholder="E-mail" ng-model="parceiro.dados.EmailIndicador"
                            required ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" invalid-error-message="Endereço de e-mail inválido." />

                    </div>
                </div>
                <div class="form-group">
                    <label>Motivo da indicação:</label>
                    <textarea class="form-control" required placeholder="Descreva o motivo" ng-model="parceiro.dados.motivo" maxlength="1000" />
                </div>

                <div class="modal-footer">
                    <button class="btn-ticket -block" ng-click="parceiro.toConfirm()" validar-form="formPartnerBy">Enviar indicação</button>
                    <button type="button" class="btn-ticket -block -borderless" ng-click="parceiro.close()">Cancelar</button>
                </div>
            </form>
        </div>

    </div>
    <!-- /.modal-content -->
    <div id="contentPartnerSuccess" ng-show="parceiro.step === 2">
        <div class="modal-header -image -bann1pb">
            <h5 class="modal-title">Indicação enviada</h5>
            <button class="modal-close-btn" ng-click="parceiro.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-done"></i></span>
                <p>
                    Sua indicação foi enviada<br />
                    com sucesso!
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="parceiro.close()">OK</button>
        </div>
    </div><!-- /.modal-content -->
    <div id="contentPartnerError" ng-show="parceiro.step === 3">
        <div class="modal-header -image -bann1pb">
            <h5 class="modal-title -red">Ocorreu um erro</h5>
            <button class="modal-close-btn" ng-click="parceiro.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-error"></i></span>
                <p>Ops! Ocorreu um erro ao tentar indicar um parceiro, por favor, tente novamente mais tarde!</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="parceiro.close()">OK</button>
        </div>
    </div><!-- /.modal-content -->
</div>


<script src="app/modules/beneficiario/scripts/controllers/indicarparceirocontroller.js"></script>
