<div ng-controller="RedeCredenciadaFiltroController as rede">

    <div id="contentFilter">

        <div class="loading-mask-position" cg-busy="{promise: rede.promise, templateUrl:'templates/loading-mask.htm', backdrop: false}"></div>

        <div class="modal-header">
            <h5 class="modal-title">Buscar estabelecimento</h5>
            <button class="modal-close-btn" ng-click="rede.fechar()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <form class="searchinfo">
                <div class="form-group">
                    <label>Informe um endereço ou CEP:</label>
                    <div class="input-icon">
                        <i class="icon-room"></i>
                        <input name="buscaEnderecoNome" id="buscaEnderecoNome" type="text" class="form-control -light" placeholder="Informe um endereço ou CEP" ng-model="rede.formData.address" required />
                    </div>
                </div>
                <div class="form-group select-radius">
                    <label class="radius"><strong>Raio de busca:</strong> {{(rede.formData.radius === '0' ? '0.5' : rede.formData.radius)}}km</label>
                    <input type="range" name="radius" min="0" max="10" ng-model="rede.formData.radius" />
                </div>
                <div class="form-group">
                    <label>Selecione o tipo do cartão:</label>

                    <div class="cardtype-holder">
                        <div class="cardtype -restaurante"
                            ng-show="rede.isTypeSelected('TRE') || rede.selectOpen"
                            ng-click="rede.setType('TRE')"
                            ng-class="{active : rede.isTypeSelected('TRE')}">
                            <div class="card-logo"></div>
                            <i class="icon-arrow_down"></i>
                            <i class="icon-done"></i>
                        </div>
                        <div class="cardtype -cultura"
                            ng-show="rede.isTypeSelected('TKE') || rede.selectOpen"
                            ng-click="rede.setType('TKE')"
                            ng-class="{active : rede.isTypeSelected('TKE')}">
                            <div class="card-logo"></div>
                            <i class="icon-arrow_down"></i>
                            <i class="icon-done"></i>
                        </div>
                        <div class="cardtype -alimentacao"
                            ng-show="rede.isTypeSelected('TAE') || rede.selectOpen"
                            ng-click="rede.setType('TAE')"
                            ng-class="{active : rede.isTypeSelected('TAE')}">
                            <div class="card-logo"></div>
                            <i class="icon-arrow_down"></i>
                            <i class="icon-done"></i>
                        </div>
                        <div class="cardtype -transporte"
                            ng-show="rede.isTypeSelected('TT') || rede.selectOpen"
                            ng-click="rede.setType('TT')"
                            ng-class="{active : rede.isTypeSelected('TT')}">
                            <div class="card-logo"></div>
                            <i class="icon-arrow_down"></i>
                            <i class="icon-done"></i>
                        </div>
                        <div class="cardtype -car"
                            ng-show="rede.isTypeSelected('TC') || rede.selectOpen"
                            ng-click="rede.setType('TC')"
                            ng-class="{active : rede.isTypeSelected('TC')}">
                            <div class="card-logo"></div>
                            <i class="icon-arrow_down"></i>
                            <i class="icon-done"></i>
                        </div>
                        <div class="cardtype -plus"
                            ng-show="rede.selectOpen"
                            ng-click="rede.setType('PLUS')">
                            <div class="card-logo"></div>
                            <i class="icon-arrow_down"></i>
                            <i class="icon-done"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="rede.atualizarBusca();">Buscar</button>
            <button type="button" class="btn-ticket -block -borderless" ng-click="rede.fechar()">Cancelar</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<script src="app/modules/rede-credenciada/scripts/controllers/redecredenciadafiltrocontroller.js"></script>
<script src="app/modules/rede-credenciada/scripts/services/redecredenciadaservice.js"></script>