<div ng-controller="ReemissaoController as edicao">

    <div class="loading-mask-position" cg-busy="{promise:edicao.promise, templateUrl:'templates/loading-mask.htm', backdrop: false}"></div>

    <div id="contentRee" ng-show="edicao.step === 0">
        <div class="modal-header -image -bann2pb">
            <h5 class="modal-title">Reemitir cartão</h5>
            <button class="modal-close-btn" ng-click="edicao.close()">&times;</button>
        </div>

        <div class="modal-body -nobottom" tratativas-cartao="edicao.cartao">
            <div ng-class="edicao.cartao.cssCartao">
                <div class="contentopen">
                    <svg version="1.1" id="bracketTicket1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 14 28" style="enable-background: new 0 0 14 28;" xml:space="preserve">
                        <path class="card-bracket" d="M0,28c0-7.4,6-13.5,13.5-13.5c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5C6,13.5,0,7.4,0,0V28z"/>
                    </svg>
                    <div class="card-logo"></div>
                    <a ng-click="edicao.favoritarCartao()" ng-class="edicao.cartao.a_cssEstrela"><i ng-class="edicao.cartao.i_cssEstrela"></i></a>
                    <p class="num">---- ---- ---- <span class="card-last">{{edicao.cartao.cardLast}}</span></p>
                    <p class="nick">{{edicao.cartao.apelido}}</p>

                </div>
            </div>
            <form name="formReemissao" id="formReemissao">
                <div class="confirma-dados">
                    <p class="text-aux">Por favor, confirme os dados abaixo para efetuar a reemissão do cartão:</p>
                    <div class="input-icon form-group">
                        <i class="icon-person"></i>
                        <input id="txtNome" name="txtNome" type="text" class="form-control" placeholder="Nome completo" maxlength="255" ng-model="edicao.post.Nome" required allow-pattern="[a-z]"/>
                    </div>
                    <div class="input-icon form-group">
                        <i class="icon-person"></i>
                        <input id="txtCpf" name="txtCpf" type="text" class="form-control" placeholder="CPF"
                               ng-model="edicao.post.Cpf" required mask="000.000.000-00" invalid-cpf/>
                    </div>
                    <div class="input-icon form-group">
                        <i class="icon-card"></i>
                        <input id="txtMatricula" name="txtMatricula" type="text" class="form-control" placeholder="Matrícula (Registro do funcionário)" maxlength="30" ng-model="edicao.post.Matricula"/>
                        <a uib-popover="Código que a empresa fornece para cada colaborador, conhecido também por “RE” (registro de empregado), “cadastro na empresa” ou “controle do empregado”.
Caso não saiba o seu, insira apenas seu número do CPF ou consulte o RH da sua empresa." popover-placement="top-right" popover-trigger="outsideClick"><i class="icon-help_outline"></i></a>
                    </div>
                    <div class="form-group">
                        <label>Data de nascimento</label>
                        <div class="form-inline" id="signUpBirth">
                            <div class="form-group" id="signUpBirthDay">
                                <label class="sr-only">Dia</label>
                                <div class="select">
                                    <span class="caret"></span>
                                    <select class="form-control" required
                                            ng-model="edicao.formData.birthDateDay"
                                            ng-options="day as day for day in edicao.formData.birthDateDayOpts">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="signUpBirthMonth">
                                <label class="sr-only">Mês</label>
                                <div class="select">
                                    <span class="caret"></span>
                                    <select class="form-control" required
                                            ng-model="edicao.formData.birthDateMonth"
                                            ng-options="month.value as month.name for month in edicao.formData.birthDateMonthOpts">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="signUpBirthYear">
                                <label class="sr-only">Ano</label>
                                <div class="select">
                                    <span class="caret"></span>
                                    <select class="form-control" required
                                            ng-model="edicao.formData.birthDateYear"
                                            ng-options="year as year for year in edicao.formData.birthDateYearOpts">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label>Motivo da reemissão</label>
                    <div class="select">
                        <span class="caret"></span>
                        <select class="form-control" required
                                ng-model="edicao.formData.motive"
                                ng-options="motive.value as motive.name for motive in edicao.formData.motiveOpts">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-ticket -block" ng-click="edicao.toConfirm()" validar-form="formReemissao">Reemitir</button>
                    <button type="button" class="btn-ticket -block -borderless" ng-click="edicao.close()">Não reemitir</button>
                </div>
            </form>

        </div>

    </div><!-- /.modal-content -->
    <div id="contentConfirmRee" ng-show="edicao.step === 1">
        <div class="modal-header -image -bann2pb">
            <h5 class="modal-title">Confirmar Reemissão</h5>
            <button class="modal-close-btn" ng-click="bloqueio.close()">&times;</button>
        </div>
        <div class="modal-body">
            <div class="content-opt-1" ng-if="edicao.formData.motive == 1 || edicao.formData.motive == 2">
                <p><strong>Tem certeza que deseja reemitir o seu cartão?</strong>
                </p>
                <p>Seu cartão atual será bloqueado e um novo cartão será enviado para o RH da sua empresa.</p>
            </div>
            <div class="content-opt-2" ng-if="edicao.formData.motive == 7 || edicao.formData.motive == 9">
                <p><strong>Tem certeza que deseja reemitir o seu cartão?</strong>
                </p>
                <p>Seu cartão atual não será bloqueado, um novo cartão será enviado para o RH da sua empresa e quando o novo cartão for ativado o seu cartão atual será cancelado.</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="edicao.reemitirCartao()">Confirmar Reemissão</button>
            <button type="button" class="btn-ticket -block -borderless" ng-click="edicao.close()">Cancelar</button>
        </div>
    </div><!-- /.modal-content -->
    <div id="contentSuccessRee" ng-show="edicao.step === 2">
        <div class="modal-header -image -bann2pb">
            <h5 class="modal-title">Cartão reemitido</h5>
            <button class="modal-close-btn" ng-click="bloqueio.close()">&times;</button>
        </div>
        <div class="modal-body">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-done"></i></span>
                <p>Seu cartão foi reemitido<br/>com sucesso!
                </p>
            </div>
            <div class="protocol-container">
                <span>Protocolo de atendimento nº:</span><span class="protocol">{{edicao.protocolo}}</span>
            </div>
            <div class="content-opt-1" ng-if="edicao.formData.motive == 1 || edicao.formData.motive == 2">
                <p>Apenas lembrando: o seu antigo cartão foi cancelado e o novo será entregue em até <strong>7 dias úteis</strong> no RH da sua empresa
                </p>
                <p>Seu saldo será transferido automaticamente para o novo cartão.</p>
            </div>
            <div class="content-opt-2" ng-if="edicao.formData.motive == 7 || edicao.formData.motive == 9">
                <p>O novo cartão será entregue em até <strong>7 dias úteis</strong> no RH da sua empresa</p>
                <p>Seu saldo será transferido automaticamente para o novo cartão.</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="edicao.close()">OK</button>
        </div>
    </div><!-- /.modal-content -->
    <div id="contentErroRee" ng-show="edicao.step === 3">
        <div class="modal-header -image -bann2pb">
            <h5 class="modal-title">Cartão reemitido</h5>
            <button class="modal-close-btn" ng-click="edicao.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-done"></i></span>
                <p>{{edicao.mensagem}}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="edicao.close()">OK</button>
        </div>
    </div><!-- /.modal-content -->
</div>

<script src="app/modules/beneficiario/scripts/controllers/reemissaocontroller.js"></script>
