<div ng-controller="SelecionarCartaoController as cartao" ng-init="cartao.carregarCartoes()">
    <div class="loading-mask-position" cg-busy="{promise:cartao.myPromise, templateUrl:'templates/loading-mask.htm', backdrop: false}">
    </div>
    <div id="contentSelectCard" class="modal-select-card">
        <div class="modal-header -image -bann2pb">
            <h5 class="modal-title">{{cartao.serviceData.title}}</h5>
            <button class="modal-close-btn" ng-click="cartao.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <p class="text-aux">Selecione o cartão que deseja {{cartao.serviceData.label}}:</p>
            <div class="form-msg -error" ng-if="cartao.msgerro">
                {{cartao.msgerro}}
            </div>
            <div class="card-holder" ng-if="cartao.listaCartoes.length">
                <div ng-repeat="cartaoRepeater in cartao.listaCartoes">

                    <div ng-class="cartaoRepeater.cssCartao + (!cartao.isActive(cartaoRepeater.id) ? ' -collapsed' : '')" ng-click="cartao.checkActive(cartaoRepeater.id)"
                    tratativas-cartao="cartaoRepeater">
                        <div class="contentopen" ng-show="cartao.isActive(cartaoRepeater.name)">
                            <svg version="1.1" id="bracketTicket1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" viewBox="0 0 14 28" style="enable-background: new 0 0 14 28;" xml:space="preserve">
                                <path class="card-bracket" d="M0,28c0-7.4,6-13.5,13.5-13.5c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5C6,13.5,0,7.4,0,0V28z" />
                            </svg>
                            <div class="card-logo"></div>
                            <a ng-class="cartaoRepeater.a_cssEstrela" ng-click="cartao.favoritarCartao(cartaoRepeater)" style="cursor: pointer"><i ng-class="cartaoRepeater.i_cssEstrela"></i></a>
                            <p class="num">---- ---- ---- <span class="card-last">{{cartaoRepeater.cardLast}}</span></p>
                            <p class="nick">{{cartaoRepeater.apelido}}<a ng-click="cartao.editarCartao(cartaoRepeater.id)">editar</a></p>
                            <p class="blocked" ng-show="cartaoRepeater.bloqueado"><i class="icon-lock_outline"></i>{{cartaoRepeater.textoBloqueado}}</p>
                            <p class="balance">Saldo atual <span class="currency">R$</span> <span class="value">{{cartaoRepeater.value | currency : "" : 2}}</span></p>
                        </div>
                        <div class="contentcollapsed clearfix" ng-hide="cartao.isActive(cartaoRepeater.name)">
                            <div class="card-logo"></div>
                            <div class="card-info">
                                <p class="balance"><span class="currency">R$</span> <span class="value">{{cartaoRepeater.value | currency : "" : 2}}</span></p>
                                <p class="blocked" ng-show="cartaoRepeater.bloqueado"><i class="icon-lock_outline"></i>{{cartaoRepeater.textoBloqueadoMin}}</p>
                                <p class="nick">{{cartaoRepeater.apelido}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-ticket -block" ng-click="cartao.nextModal()" ng-if="cartao.listaCartoes.length">Prosseguir</button>
        <button type="button" class="btn-ticket -block -borderless" ng-click="cartao.close()">Cancelar</button>
    </div>
</div>
<!-- /.modal-content -->
