<div id="bc-detail" data-ng-controller="BeneficioClubDetalheController as oferta">
    <div class="content -blue3 -ptitle" id="bcOfertaTitle">
        <div class="container">
            <h4><a class="parent" ng-click="oferta.back()">Benefício Club</a><span><i class="icon-arrow_right"></i></span><span>{{oferta.item.partners.fantasy}}</span></h4>
        </div>
    </div>
    <div name="divContent" class="content main-content">

        <div class="loading-mask-position" cg-busy="{promise:oferta.promise, templateUrl:'templates/loading-mask.htm', backdrop: false}" ng-if="oferta.promise">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div affix top-distance="480" class="bc-offer-action">
                        <div class="row">
                            <div class="col-xs-4 col-sm-12">
                                <div class="logo">
                                    <img src="{{oferta.item.logoPrincipal}}" title="{{oferta.item.titleUrl}}" caption="{{oferta.item.titleUrl}}" />
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-12 share">
                                <div class="rating" ng-hide="true">
                                    <label>Avalie essa oferta:</label>
                                    <uib-rating class="offer-rating" ng-model="rate" max="5" aria-labelledby="default-rating"></uib-rating>
                                </div>
                                <label>Compartilhe essa oferta:</label>
                                <ul>
                                    <li><a class="btn-share -facebook" ng-click="oferta.facebook();"><i class="icon-facebook"></i></a></li>
                                    <li><a class="btn-share -twitter" ng-click="oferta.twiter();"><i class="icon-twitter"></i></a></li>
                                    <li><a class="btn-share -gplus" ng-click="oferta.google();"><i class="icon-gplus"></i></a></li>
                                    <li><a class="btn-share -pinterest" ng-click="oferta.pinterest()"><i class="icon-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn-ticket -iconcenter -block" ng-click="oferta.goToSite()"><i class="icon-link"></i>Acessar o site da promoção</button>
                        <button class="btn-ticket -bordergray -iconcenter -block" ng-hide="true"><i class="icon-lifebuoy"></i>Consultar FAQ</button>
                        <button class="btn-ticket -bordergray -iconcenter -block" ng-click="oferta.openReport()">
                            <i class="icon-warning"></i>Denunciar oferta
                        </button>
                        <br/>
                        <div class="row" style="height: 380px">
                            <div class="col-sm-12" >
                                <adsense ad-client="ca-pub-5182719158779206" ad-slot="8666901339" inline-style="display:inline-block;width:90%;height:360px" ad-format="auto"></adsense>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bc-offer-info col-sm-8 col-md-6 col-lg-5">
                    <h6>{{oferta.item.title}}<span class="sub" ng-if="oferta.item.publishEndDateTime"><i class="icon-today"></i>Promoção válida até: {{oferta.item.EndDateTimeParse | date:"dd/MM/yyyy"}}</span></h6>
                    <!--<p class="short">{{oferta.offerData.shortdesc}}</p>-->
                    <slick dots="true" ng-if="oferta.offerData.imagens.length">
                        <div class="" ng-repeat="image in oferta.offerData.imagens">
                          <img ng-src="{{image.src}}" title="{{image.title}}"/>
                        </div>
                      </slick>
                    <div class="tab-ticket">
                        <uib-tabset type="pills">
                            <uib-tab heading="Descrição">
                                <p>
                                    <span>{{oferta.item.introduction}}</span>
                                </p>
                                <p>Para saber mais acesse: <a ng-if="oferta.usuarioLogado.isLogged" ng-click="oferta.goToSite()">{{oferta.item.website}}</a></p>
                                <div class="offer-overlay" ng-hide="oferta.usuarioLogado.isLogged">
                                    <div class="btn-container"><button class="btn-ticket -border" ng-click="oferta.openVerMaisOferta(1)">Ver descrição completa</button>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Regulamento" ng-click="oferta.openVerMaisOferta(2);">
                                <span ng-if="oferta.usuarioLogado.isLogged">
                                    <div compile="oferta.item.rules"></div>
                                </span>
                                <p ng-if="!oferta.usuarioLogado.isLogged">É necessário estar logado para visualizar.</p>
                            </uib-tab>
                            <uib-tab heading="Unidades Participantes" ng-click="oferta.openVerMaisOferta(3);" ng-if="oferta.item.typeOffer == 0">
                                <span ng-if="oferta.usuarioLogado.isLogged">
                                    <form>
                                        <div class="form-inline" ng-if="oferta.resultadoEnderecos.length > 1">
                                            <div class="form-group">
                                                <label>Estado</label>
                                                <div class="select">
                                                    <span class="caret"></span>
                                                    <select class="form-control" id="selLocationState" required
                                                            ng-model="oferta.estadoSelecionado"
                                                            ng-change="oferta.FiltroUnidades(1)"
                                                            ng-options="obj as obj for obj in oferta.estados">
                                                        <option value="">Todos</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Cidade</label>
                                                <div class="select">
                                                    <span class="caret"></span>
                                                    <select class="form-control" id="selLocationCity" required
                                                            ng-model="oferta.cidadeSelecionada"
                                                            ng-change="oferta.FiltroUnidades(2)"
                                                            ng-options="city.city as city.city for city in oferta.cidades">
                                                        <option value="">Todos</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Bairro</label>
                                                <div class="select">
                                                    <span class="caret"></span>
                                                    <select class="form-control" id="selLocation" required
                                                            ng-model="oferta.bairroSelecionado"
                                                            ng-change="oferta.FiltroUnidades(3)"
                                                            ng-options="bairro.neighborhood as bairro.neighborhood for bairro in oferta.bairros">
                                                        <option value="">Todos</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    
                                    <ul class="locations">
                                        <li ng-repeat="local in oferta.enderecos">
                                            <p class="loc-title">{{local.address}}, {{local.number}}</p>
                                            <p class="loc-address" ng-if="local.complement">Complemento: {{local.complement}}</p>
                                            <p class="loc-address">{{local.neighborhood}} - {{local.city}} - {{local.state}}</p>
                                            <p class="loc-cep">CEP: {{local.cep}}</p>
                                            <p class="loc-tel">Tel: {{local.phone1}}</p>
                                            <p class="loc-tel">Tel: {{local.phone2}}</p>
                                        </li>
                                    </ul>
                                </span>
                                <p ng-if="!oferta.usuarioLogado.isLogged">É necessário estar logado para visualizar.</p>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                    <hr class="-gray3" />
                    <div class="bc-related-offers">
                        <p class="section-title">Ofertas relacionadas</p>
                        <ul class="bc-list row">
                            <li class="col-sm-6 col-md-6"
                                ng-repeat="result in oferta.ofertas"
                                ng-class="result.cat"
                                ng-click="oferta.goToDetail(result.titleUrl, result.id)">
                                <div class="offer">
                                    <div class="offer-logo">
                                        <img ng-src="{{result.logo1}}" ng-if="result.logo1" />
                                        <img ng-src="{{oferta.urlConcatenada(result.partners.image)}}" ng-if="!result.logo1" />
                                    </div>
                                    <p class="offer-desc" ng-style="{ 'border-color': result.category[0].color }">{{result.title}}</p>
                                    <a href="" class="offer-link lnk-ticket-icon"><i class="icon-add_circle" ng-style="{'color' : result.category[0].color }"></i>Ver detalhes da oferta</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!--<script src="app/modules/beneficio-club/scripts/config.js"></script>-->
<script src="app/config.js"></script>
<script src="app/modules/beneficio-club/scripts/resources/beneficioresource.js"></script>
<script src="app/modules/beneficio-club/scripts/services/beneficioservice.js"></script>

<script src="app/modules/beneficio-club/scripts/factories/beneficioclubdetalhefactory.js"></script>
<script src="app/modules/beneficio-club/scripts/factories/beneficiomodalsfactory.js"></script>
<script src="app/modules/beneficio-club/scripts/controllers/beneficioclubdetalhecontroller.js"></script>

<!--<script src="app/shared/directives/validarform.js"></script>-->
