<div id="ajuda" data-ng-controller="AjudaController as ajuda">
  <div class="content -blue3 -ptitle" id="atendimentoTitle">
    <div class="container">
      <h4>Central de ajuda</h4>
    </div>
  </div>
  <div class="help-search">
    <div class="container">
      <div class="form-group">
        <div class="input-icon">
          <i class="icon-search"></i>
          <input type="text" class="form-control" placeholder="Pesquisar em ajuda">
        </div>
      </div>
    </div>
  </div>
  <div class="content main-content">
    <div class="container">
      <div class="row" ng-hide="false">
        <div class="col-xs-12 col-sm-9 col-md-8">
          <div class="question-cat"
            ng-repeat="result in ajuda.faqData.categories"
            id="{{result.id}}">
            <h4 class="-main">{{result.label}}</h4>
            <ul>
              <li ng-repeat="question in ajuda.faqData.questions | filter: {category: result.label}">
                <div class="question-title" id="{{question.id}}"
                  ng-click="ajuda.toggleQuestion($event)"
                  ng-class="{'active': ajuda.isOpen(question.id)}">
                  {{question.title}}
                  <i class="icon-arrow_down" ng-hide="ajuda.isOpen(question.id)"></i>
                  <i class="icon-arrow_up" ng-show="ajuda.isOpen(question.id)"></i>
                </div>
                <div class="question-answer" ng-show="ajuda.isOpen(question.id)">
                  <p>{{question.answer}}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-offset-1 col-md-3">
          <div affix top-distance="240" class="sidebar-menu">
            <p>Categorias</p>
            <ul>
              <li class="" ng-repeat="result in ajuda.faqData.categories"><a ng-href="#{{result.id}}" offset="72" du-smooth-scroll du-scrollspy>{{result.label}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row row-q">
        <div class="col-lg-5 question">
          <p class="question-title">Como faço para consultar o meu saldo e meu extrato?</p>
          <div class="question-answer">
            <p>Você consegue consultar o saldo do seu cartão através dos seguintes canais:</p>
            <ul>
              <li>Pelo nosso site (<a href="">Consulte seu saldo agora mesmo</a>)</li>
              <li>Pelo nosso aplicativo (<a href="">Baixe o aplicativo Ticket</a>)</li>
              <li>Na nossa Central de Atendimento, pelo número <strong>4004-2233*</strong>, todos os dias, 24 horas por dia.</li>
            </ul>
            <p class="obs">*Telefone válido para capitais e regiões metropolitanas. Para as demais localidades, use o código de sua operadora e o DDD da sua capital.</p>
            <p class="obs">Para produtos Ticket Car o usuário deverá entrar em contato com o seu gestor para solicitar o extrato.</p>
          </div>
        </div>
        <div class="col-lg-offset-1 col-lg-5 question">
          <p class="question-title">Esqueci a senha do meu cartão.<br/>Como devo proceder?</p>
          <div class="question-answer">
            <p><a href="">Clique aqui para realizar agora mesmo a troca da sua senha</a></p>
            <p>Caso prefira, você também pode entrar em contato com a nossa Central de Atendimento no telefone <strong>4004-2233*</strong>, digite a <strong>opção 1</strong>, em seguida o número do seu cartão Ticket e no menu seguinte escolha a <strong>opção 6</strong> (alteração de senha sem informar a senha anterior).</p>
            <p>Para produto Ticket Car o usuário deverá entrar em contato com o seu gestor e solicitar o reset da senha, após realização do reset o usuário deverá se dirigir a algum posto credenciado e efetivar a troca direto no POS com apoio do frentista.</p>
            <p class="obs">Central de Atendimento Ticket: Capitais e regiões metropolitanas - 4004.2233 Demais localidades - Use o código de sua operadora + o DDD da sua capital.</p>
          </div>
        </div>
      </div>
      <div class="row row-q">
        <div class="col-lg-5 question">
          <p class="question-title">Perdi/roubaram meu cartão.</p>
          <div class="question-answer">
            <p>Em caso de perda ou roubo, sugerimos que faça a solicitação de remissão do seu cartão através do link abaixo:</p>
            <a href="">Clique aqui para solicitar a segunda via do seu cartão</a>
          </div>
        </div>
        <div class="col-lg-offset-1 col-lg-5 question">
          <p class="question-title">Quero alterar a senha do meu cartão.<br/> Como devo proceder?</p>
          <div class="question-answer">
            <p><a href="">Clique aqui para realizar agora mesmo a troca da sua senha</a></p>
            <p>Caso prefira, você também pode entrar em contato com a nossa Central de Atendimento no telefone <strong>4004-2233*</strong>, digite a <strong>opção 1</strong>, em seguida o número do seu cartão Ticket e no menu seguinte escolha a <strong>opção 5</strong> (alteração de senha informando a senha atual).</p>
            <p>Para o cartão Ticket Car a troca deve ser realizada diretamente em um POS de qualquer posto de combustível credenciado Ticket Car.</p>
            <p class="obs">Central de Atendimento Ticket: Capitais e regiões metropolitanas - 4004.2233 Demais localidades - Use o código de sua operadora + o DDD da sua capital.</p>
          </div>
        </div>
      </div>
      <div class="row row-q">
        <div class="col-lg-5 question">
          <p class="question-title">Preciso de um extrato do meu cartão.<br/> Como solicitar?</p>
          <div class="question-answer">
            <p>Você pode consultar o saldo e extrato do seu cartão no site da Ticket, na página de Consulta de Saldo.</p>
            <p><a href="">Clique aqui para realizar a consulta agora</a></p>
            <p>Para o cartão Ticket Car o usuário deverá entrar em contato com o seu gestor para solicitar o extrato.</p>
          </div>
        </div>
        <div class="col-lg-offset-1 col-lg-5 question">
          <p class="question-title">Por que meu cartão é bloqueado e como faço para desbloquear?</p>
          <div class="question-answer">
            <p>O desbloqueio do cartão é um procedimento de liberação para utilização e existem somente três situações onde seu cartão pode estar bloqueado:</p>
            <ol>
              <li>Solicitação de bloqueio preventivo em caso de perda do cartão;</li>
              <li>Bloqueio preventivo utilizado por algumas empresas;</li>
              <li>Bloqueio por erro de digitação de senha.</li>
            </ol>
            <p>Caso seu caso se enquadre na situação 1, <a href="">clique aqui para realizar agora mesmo o desbloqueio preventivo do seu cartão</a>.</p>
            <p>Para as situações 2 e 3, entre em contato com a Central de Atendimento Ticket pelo telefone <strong>4004-2233*</strong> e solicite o desbloqueio. <strong>Tecle 1</strong> e em seguida a <strong>opção 8</strong> para falar com um de nossos analistas. Para simplificar o processo, esteja em mãos com a sua <strong>matrícula e CPF</strong>.</p>
            <p class="obs">Central de Atendimento Ticket: Capitais e regiões metropolitanas - 4004.2233 Demais localidades - Use o código de sua operadora + o DDD da sua capital.</p>
          </div>
        </div>
      </div>
      <div class="row row-q">
        <div class="col-lg-5 question">
          <p class="question-title">O saldo do cartão Alimentação/Restaurante/Cultura é acumulativo?</p>
          <div class="question-answer">
            <p>Sim. O saldo é acumulativo, porém os valores existentes no cartão são válidos durante <strong>90 dias</strong>, a contar da data da última disponibilização de crédito. Para o cartão Ticket Cultura, o prazo de 90 dias não é válido e os créditos não expiram.</p>
          </div>
        </div>
        <div class="col-lg-offset-1 col-lg-5 question">
          <p class="question-title">Gostaria de saber quando o meu benefício será creditado.</p>
          <div class="question-answer">
            <p>Você pode visualizar os agendamentos programados de créditos programados pela sua empresa na tela de consulta de saldo.</p>
            <p><a href="">Clique aqui para realizar a consulta agora</a></p>
          </div>
        </div>
      </div>
      <div class="row row-q">
        <div class="col-lg-5 question">
          <p class="question-title">Tenho dúvidas quanto a débitos efetuados no meu cartão. Como devo proceder?</p>
          <div class="question-answer">
            <p>Entre em contato através de nossa Central de Atendimento no telefone <strong>4004-2233</strong>, digite o <strong>opção 1</strong> e em seguida <strong>o número do seu cartão Ticket</strong> e no menu seguinte escolha a <strong>opção 8</strong> para falar com um de nossos analistas.</p>
          </div>
        </div>
        <div class="col-lg-offset-1 col-lg-5 question">
          <p class="question-title">O cartão Ticket possui validade?</p>
          <div class="question-answer">
            <p>Os cartões Ticket não possuem validade, porém os valores neles disponibilizados são válidos durante 90 dias, a contar da data da última disponibilização de crédito. Para o cartão Ticket Cultura, o prazo de 90 dias não é válido e os créditos não expiram.</p>
          </div>
        </div>
      </div>
      <div class="row row-q">
        <div class="col-lg-5 question">
          <p class="question-title">Perdi meu cartão, como faço para bloqueá-lo?</p>
          <div class="question-answer">
            <p>Perdeu e não sabe onde deixou? Ainda tem esperança em encontrá-lo? Utilize o serviço de bloqueio temporário (<a href="">clique aqui para realizar para realizar agora mesmo o bloqueio temporário do seu cartão</a>). Você poderá desbloqueá-lo quando quiser.</p>
            <p>Caso não tenha mais esperança de encontrá-lo, solicite o bloqueio dos créditos e a emissão de um novo cartão no link abaixo:</p>
            <p><a href="">Clique aqui para solicitar a segunda via do seu cartão</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="app/modules/beneficiario/scripts/controllers/ajudacontroller.js"></script>
