.bc-list {
  margin: 0;
  > li {
    border-bottom: 1px solid $t-gray3;
    padding: 16px 0;

    .offer {
      height: auto;
      padding: 16px;
      cursor: pointer;
      @include border-radius(8px, 8px, 8px, 0);
      &:hover {
        background: $t-gray4;
      }
    }
    .offer-logo {
      margin-bottom: 16px;
      @include border-radius(4px);
      background: #FFF;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .offer-desc {
      max-height: 64px;
      max-width: auto;
      overflow: hidden;
      margin-left: -15px;
      padding-left: 15px;
      border-left: 4px solid;
      font-size: 0.875em;
    }
    .offer-link {
      font-size: 0.75em;
      color: $t-main;
      &:hover { color: $t-blue2 }
      i { top: -2px }
    }

    &.-cat01 {
      .offer-desc { border-color: #00a197 }
      .offer-link {
        i { color: #00a197 }
      }
    }
    &.-cat02 {
      .offer-desc { border-color: #7f3f92 }
      .offer-link {
        i { color: #7f3f92 }
      }
    }
    &.-cat03 {
      .offer-desc { border-color: #26a4db }
      .offer-link {
        i { color: #26a4db }
      }
    }
    &.-cat04 {
      .offer-desc { border-color: #e7297b }
      .offer-link {
        i { color: #e7297b }
      }
    }
    &.-cat05 {
      .offer-desc { border-color: #f18d1e }
      .offer-link {
        i { color: #f18d1e }
      }
    }
  }
}
.bc-list-pagination {
  margin: 24px 0 0;
  text-align: center;

  ul {
    display: inline-block;
  }
  li {
    float: left;
    margin-right: 8px;
    a {
      display: block;
      width: 24px;
      height: 24px;
      padding-top: 4px;
      text-decoration: none;
      @include border-radius(50%);
      font-size: 0.875em;
      color: $t-main;
      i {
        color: $t-main;
        font-size: 16px;
      }
      &:hover {
        background: $t-gray4;
      }
    }
    &:last-child { margin-right: 0 }
    &.active {
      a {
        background: $t-main;
        color: #FFF;
      }
    }
    &.disabled {
      a {
        color: $t-gray3;
        i { color: $t-gray3 }
        &:hover {
          background: transparent;
          color: $t-gray3;
          i { color: $t-gray3 }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .bc-list {
    > li {
      padding: 16px 16px 24px 0;

      .offer { height: 256px }
      .offer-desc { max-width: 216px }
    }
  }
}
