.bc-container {
  .btn-lnkcircle {
    height: 56px;
    margin-bottom: 16px;
    > .circleicon {
      width: 56px;
      height: 56px;
      padding-top: 16px;
    }
  }
}
.bc-filters-mobile {
  .bc-filters-toggle {
    height: 40px;
    margin-bottom: 16px;
    padding: 8px;
    background: $t-gray4;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    i {
      margin-right: 8px;
      vertical-align: text-bottom;
      font-size: 24px;
      &.icon-arrow_down { display: block }
      &.icon-arrow_up { display: none }
    }
    &:hover {
      background: $t-gray3;
    }
  }
  &.active {
    .bc-filters-toggle {
      background: $t-main;
      color: #FFFFFF;
      i {
        &.icon-arrow_down { display: none }
        &.icon-arrow_up { display: block }
      }
    }
  }
}
.bc-filters {
  display: none;
  .form-group {
    label {
      display: block;
    }
    .radio-lbl {
      margin-right: 0;
      line-height: 2;
      color: $t-gray2;
      input { margin-right: 8px }
      span.total {
        font-weight: bold;
        &.-cat01 { color: #00a197 }
        &.-cat02 { color: #7f3f92 }
        &.-cat03 { color: #26a4db }
        &.-cat04 { color: #e7297b }
        &.-cat05 { color: #f18d1e }
        &.-cat06 { color: #37AE4A }
        &.-cat07 { color: #716558 }
        &.-cat08 { color: #006E76 }
        &.-cat09 { color: #004382 }
      }
      &.checked {
        color: $t-main;
      }
    }
  }
}
.modal.-ticket .bc-filters { display: block }
@media screen and (min-width: $screen-sm-min) {
  .bc-container {
    .btn-lnkcircle { margin-bottom: 0 }
  }
  .bc-filters-mobile { display: none }
  .bc-filters {
    display: block;
    margin-top: 24px;
  }
}
