.bc-search {
  margin-bottom: 0;
  > i {
    font-size: 32px;
    top: 50%;
    left: 16px;
    color: $t-main;
    margin-top: -16px;
  }
  > .form-control {
    height: 56px;
    padding: 12px 16px 12px 64px;
    border: 1px solid $t-gray3;
    @include border-radius(2px);
    &:hover {
      background: $t-gray4;
    }
    &:focus {
      border-color: $t-blue2;
    }
  }
}
