.bc-banner {
  height: auto;
  margin-top: -24px;
  background: $t-gray4;

  .bannerarea {
    height: 280px;
    padding: 0;
    background: #FFFFFF;
    overflow: hidden;
    cursor: pointer;
    border-bottom: 1px solid white;

    .banner-img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.25s linear;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: auto;
        height: 100%;
      }

    }

    .banner-overlay {
      position: absolute;
      bottom: 0;
      height: auto;
      width: 100%;
      padding: 48px 24px 24px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.8+100 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
      transition: all 0.15s ease-in-out;
    }
    .banner-content {
      position: relative;
      height: auto;
      width: 100%;
      margin: 0;

      .logo {
        display: block;
        // width: 100px;
        height: 72px;
        padding: 4px;
        @include border-radius(8px, 8px, 8px, 0);
        @include drop-shadow();
        background: #FFF;

        img {
          width: 100%;
          height: auto;
          vertical-align: middle;
        }
      }
      .info {
        padding-left: 16px;
        .desc {
          color: white;
          font-size: 1.25em;

          &.-small {
            max-width: 70%;
            font-size: 0.875em;
          }
        }
        .btn-ticket {
          padding: 6px 16px 8px 12px;
          i {
            margin-right: 8px;
            font-size: 18px;
            vertical-align: text-bottom;
          }
        }
      }
    }
    &:hover {
      .banner-overlay { padding-bottom: 40px }
      .banner-img {
        transform: scale(1.1);
      }
    }
    > .row {
      margin: 0;
      height: 100%;
      .bannerarea {
        height: 100%;
        padding: 0;
      }
    }
  }
  .-halfver {
    height: auto;
    min-height: 200px;

    .banner-content .info .desc { font-size: 1em }
    .row {
      height: 100%;
    }
    .bannerarea { height: 200px }
  }
}
@media screen and (min-width: $screen-sm-min) {
  .bc-banner {
    height: 480px;
    .bannerarea {
      height: 100%;
      border-bottom: 0;
    }
    .-halfver {
      height: 50%;

      .banner-content .info .desc { font-size: 1em }
      .row {
        height: 100%;
      }
      .bannerarea { height: 100% }
    }
    #banner01 { border-right: 1px solid white }
    #banner02 { border-bottom: 1px solid white }
    #banner03 { border-right: 1px solid white }
  }
}

@media (max-width: 767px) {
  .bc-banner {
    .bannerarea {
      .banner-img {
        img {
          width: 150%;
          height: auto;
        }
      }
    }
  }
}
