.btn-ticket {
  position: relative;
  @include border-radius(2px);
  padding: 12px 16px 10px;
  border: none;
  font-size: 0.625em;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  background: $t-main;
  color: white;
  transition: all 0.25s ease-in-out;
  &:hover { background: lighten($t-main, 20%) }

  &.-medium {
    padding: 17px 16px 11px;
    font-size: 0.75em;
  }
  &.-large {
    padding: 20px 16px 16px;
    min-height: 56px;
    font-size: 1em;
    line-height: 1.25;
  }
  &.-red {
    background: $t-red;
    color: white;
    &:hover { background: lighten($t-red, 20%) }
  }
  &.-blue2 {
    background: $t-blue2;
    color: white;
    &:hover { background: lighten($t-blue2, 10%) }
  }
  &.-tt {
    background: $tt;
    color: white;
    &:hover { background: lighten($tt, 10%) }
  }
  &.-blanklight {
    color: $t-blue1;
    background: transparent;
    &:hover { color: white }
  }
  &.-blankdark {
    color: $t-gray2;
    background: transparent;
    &:hover { color: $t-main }
  }
  &.-border {
    padding: 11px 16px 9px;
    background: transparent;
    color: $t-main;
    border: 1px solid $t-main;
    &:hover { background: $t-gray4 }
    &.-medium {
      padding: 15px 16px 11px;
      font-size: 0.75em;
    }
  }
  &.-borderwhite {
    padding: 11px 16px 9px;
    background: transparent;
    color: white;
    border: 1px solid white;
    &:hover { background: rgba(255,255,255,0.2) }
  }
  &.-borderred {
    padding: 11px 16px 9px;
    background: transparent;
    color: $t-red;
    border: 1px solid $t-red;
    &:hover { background: $t-gray4 }
  }
  &.-borderblue2 {
    padding: 11px 16px 9px;
    background: transparent;
    color: $t-blue2;
    border: 1px solid $t-blue2;
    &:hover { background: $t-gray4 }
  }
  &.-bordergray {
    padding: 11px 16px 9px;
    background: transparent;
    color: $t-gray2;
    border: 1px solid $t-gray3;
    &:hover {
      background: $t-gray3;
      color: $t-main;
    }
  }
  &.-borderless {
    padding: 11px 16px 9px;
    background: transparent;
    color: $t-gray1;
    border: 1px solid transparent;
    &:hover { background: $t-gray4 }
  }
  &.-icon {
    padding-left: 32px;
    > i {
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -0.5em;
      margin-left: 0.5em;
      font-size: 1.8em;
    }
  }
  &.-block {
    padding-left: 16px;
    display: block;
    width: 100%;
    height: auto;
  }
  &.-iconcenter {
    padding: 10px 16px;
    line-height: 1.5;
    i {
      position: relative;
      vertical-align: text-bottom;
      margin: 0 8px 0 0;
      font-size: 1.8em;
    }
  }
}

.btn-menu {
  position: relative;
  @include border-radius(2px);
  padding: 4px 4px 2px;
  border: none;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  background: $t-gray3;
  color: $t-gray1;
  transition: all 0.25s ease-in-out;
  &:hover { background: lighten($t-gray2, 10%) }

  i {
    font-size: 24px;
    color: $t-red;
  }
  &.-user {
    padding: 10px 40px 4px 32px;
    height: 32px;
    i {
      position: absolute;
      top: 4px;
      &.-left {
        left: 4px;
        color: $t-gray1;
      }
      &.-right { right: 4px }
    }
    >span.username {
      display: inline-block;
      max-width: 72px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.btn-shortcut {
  padding: 16px 8px 8px;
  @include border-radius(4px);
  transition: all 0.15s ease-in-out;
  cursor: pointer;

  >.badgeicon {
    display: inline-block;
    float: left;
    width: 56px;
    height: 56px;
    margin: -8px 16px 0 0;
    background-size: 56px 56px;
    background-position: center;
    background-repeat: no-repeat;
    &.-rede { background-image: url('../images/badge-icon-rede.png') }
    &.-bclub { background-image: url('../images/badge-icon-bc.png') }
    &.-atendimento { background-image: url('../images/badge-icon-atendimento.png') }
    &.-help { background-image: url('../images/badge-icon-help.png') }
  }
  >.text {
    float: left;
    max-width: 128px;
    text-align: left;
    >.title {
      margin: 0 0 10px;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      color: $t-main;
    }
    >.desc {
      margin: 0 0 10px;
      font-size: 0.75em;
      font-weight: normal;
      line-height: 1.25;
      color: $t-gray1;
    }
  }
  &:hover {
    background: $t-gray4;
  }
}

.btn-lnkcircle {
  display: block;
  color: $t-blue3;
  @include border-radius(24px, 2px, 2px, 24px);
  transition: all 0.15s ease-in-out;
  > .circleicon {
    display: inline-block;
    width: 48px;
    height: 48px;
    padding-top: 12px;
    margin-right: 8px;
    @include border-radius(50%);
    text-align: center;
    background: $t-main;
    i {
      vertical-align: middle;
      font-size: 24px;
      color: white;
    }
  }
  &:hover {
    background: $t-gray4;
  }
}
.btn-share {
  display: block;
  width: 40px;
  height: 40px;
  @include border-radius(4px);
  @include drop-shadow(0,-3px,0,0.25,inset);
  text-align: center;
  background: $t-gray2;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  i {
    font-size: 24px;
    line-height: 36px;
    vertical-align: middle;
  }
  &:hover { text-decoration: none }
  &:active { @include drop-shadow(0,3px,0,0.25,inset); }
  &.-facebook {
    background: #325c99;
    color: white;
    &:hover { background: lighten(#325c99, 10%) }
  }
  &.-twitter {
    background: #02ACF8;
    color: white;
    &:hover { background: lighten(#02ACF8, 10%) }
  }
  &.-gplus {
    background: #dd4b39;
    color: white;
    &:hover { background: lighten(#dd4b39, 10%) }
  }
  &.-pinterest {
    background: #cb2027;
    color: white;
    &:hover { background: lighten(#cb2027, 10%) }
  }
}
@media screen and (min-width: $screen-sm-min) {
  .btn-menu {
    &.-user {
      padding: 10px 56px 4px 32px;
    }
  }
}
@media screen and (min-width: $screen-md-min) {
  .btn-shortcut {
    >.badgeicon {
      width: 80px;
      height: 80px;
      background-size: 80px 80px;
    }
    >.text {
      max-width: 176px;
      >.title { font-size: 0.875em }
    }
  }
}
@media screen and (min-width: $screen-lg-min) {
  .btn-shortcut {
    >.text {
      max-width: 200px;
      >.title { font-size: 1em }
    }
  }
}
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .btn-shortcut {
    >.badgeicon {
      &.-rede {
        background-image: url('../images/badge-icon-rede@2x.png');
      }
      &.-bclub {
        background-image: url('../images/badge-icon-bc@2x.png');
      }
      &.-atendimento {
        background-image: url('../images/badge-icon-atendimento@2x.png');
      }
      &.-help {
        background-image: url('../images/badge-icon-help@2x.png');
      }
    }
  }
}
