.card-holder {
  height: auto;
  margin: 0 -8px 8px;
  padding: 0 8px;
  overflow-y: hidden;
  border-bottom: 1px solid $t-gray3;
}
.card-ticket {
  display: block;
  position: relative;
  height: 176px;
  @include border-radius(8px);
  @include drop-shadow(0, 2px, 8px, 0.3);
  padding: 16px;
  margin-bottom: 24px;
  border-left: 12px solid;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+50,f0f0f0+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 50%, #f0f0f0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 50%,#f0f0f0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 50%,#f0f0f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
  &.-back {
    padding: 16px 0;
    border-left: 0;
    > .magneticstrip {
      height: 48px;
      background: #000;
    }
    > .whitestrip {
      height: 32px;
      margin-top: 8px;
      padding: 0 16px;
      > label {
        float: left;
        font-size: 0.875em;
        line-height: 2em;
        color: white;
      }
      > .form-control {
        float: right;
        width: 56px;
        border-bottom: 0;
        text-align: right;
      }
    }
  }
  .card-logo {
    display: block;
    min-width: 100px;
    height: 32px;
    margin-bottom: 16px;
    background-position: left top;
    background-size: 100px 25px;
    background-repeat: no-repeat;
  }
  > .contentopen {
    > svg {
      position: absolute;
      top: 40px;
      left: 0;
      width: 14px;
      height: 28px;
    }
    > .favcard {
      position: absolute;
      top: 8px;
      right: 8px;
      i {
        font-size: 24px;
        color: $t-gray2;
        transition: color 0.15s ease-in-out;
      }
      &.active {
        i { color: #f5aa40 }
        &:hover { i { color: darken(#f5aa40, 10%) } }
      }
      &:hover {
        text-decoration: none;
        i { color: #f5aa40 }
      }
    }
    > .num {
      font-family: 'OCR';
      font-size: 1em;
      color: black;
    }
    > .nick {
      font-size: 0.75em;
      color: $t-main;

      > a {
        margin-left: 16px;
        font-family: $font-family-base;
        font-size: 0.875em;
        color: $t-blue3;
      }
    }
    .input-nick {
      font-size: 1em;
      padding: 6px 0;
      margin: -8px 0 8px;
    }
    > .balance {
      font-size: 0.75em;
      color: $t-gray2;
      > .currency {
        margin-left: 8px;
        font-weight: bold;
        color: $t-main;
      }
      > .value {
        font-size: 2em;
        color: $t-main;
      }
    }
  }
  > .contentcollapsed {
    cursor: pointer;
    > .card-logo {
      float: left;
      width: auto;
      margin: 0;
    }
    > .card-info {
      float: right;
      margin-right: 12px;
      text-align: right;
      > .nick {
        display: block;
        font-size: 0.75em;
        color: $t-main;
        margin: 0;
        max-width: 156px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      > .balance {
        font-size: 1.25em;
        line-height: 1;
        color: $t-gray2;
        margin: -2px 0 0;
        > span.currency {
          font-size: 0.6em;
          font-weight: bold;
        }
      }
    }
  }
  &.-restaurante {
    border-color: $tr;
    svg >.card-bracket { fill: $tr }
    .card-logo { background-image: url('../images/logo-ticket-restaurante.png') }
    &.-back { background: $tr }
  }
  &.-alimentacao {
    border-color: $ta;
    svg >.card-bracket { fill: $ta }
    .card-logo { background-image: url('../images/logo-ticket-alimentacao.png') }
    &.-back { background: $ta }
  }
  &.-car {
    border-color: $tcar;
    svg >.card-bracket { fill: $tcar }
    .card-logo { background-image: url('../images/logo-ticket-car.png') }
    &.-back { background: $tcar }
  }
  &.-cultura {
    border-color: $tk;
    svg >.card-bracket { fill: $tk }
    .card-logo { background-image: url('../images/logo-ticket-cultura.png') }
    &.-back { background: $tk }
  }
  &.-transporte {
    border-color: $tt;
    svg >.card-bracket { fill: $tt }
    .card-logo { background-image: url('../images/logo-ticket-transporte.png') }
    p.num {display: none}
    p.balance {display: none}
    &.-back { background: $tt }
  }
  &.-collapsed {
    margin-bottom: -8px;
    height: 64px;
    @include border-radius(8px, 8px, 0, 0);
  }
  &.-blocked {
    .balance { display: none }
    .blocked {
      margin: -4px 0 4px;
      font-size: 0.75em;
      font-weight: bold;
      line-height: 1;
      color: $t-gray2;
      i {
        font-size: 1.5em;
        margin-right: 4px;
        vertical-align: text-bottom;
      }
    }
  }
  &.-blank {
    border-left: 0;
    background: #FFF;
    >.btn-lnkcircle {
      height: 100%;
      padding: 8px;
      text-align: center;
      @include border-radius(2px);
      >.circleicon {
        display: block;
        margin: 16px auto 8px;
      }
    }
  }
}
.card-details {
  display: block;
  position: relative;
  height: auto;
  @include border-radius(8px, 8px, 8px, 0);
  @include drop-shadow(0, 2px, 8px, 0.3);
  padding: 0;
  margin: 24px 0;
  background: white;

  > .statement {
    height: auto;
    padding: 16px;
    border-left: 12px solid;
    @include border-radius(8px, 0, 0, 0);

    .title {
      font-size: 1em;
      text-transform: uppercase;
      color: $t-main;
    }
    .select.-statement {
      display: inline-block;
      margin-left: 8px;
      > span.caret {
        top: 6px;
      }
      > select {
        width: auto;
        height: auto;
        padding: 0 16px 0 0;
        font-size: 0.75em;
        text-align: right;
        color: $t-blue3;
        border: 0;
      }
    }
    .period-dates .input-icon {
      display: inline-block;
      margin-bottom: 0;
      > i { font-size: 1em }
      >.form-control {
        width: 108px;
        height: 40px;
        padding-left: 24px;
        padding-right: 0;
        font-size: 0.875em;
      }
      &:first-child { margin-right: 16px }
    }
    .list {
      max-height: 200px;
      height: 100%;
      overflow: auto;
      margin-top: 8px;
      > .tbl-statement {
        width: 100%;
        table-layout: fixed;
        tr {
          > td {
            padding: 4px 8px 4px 0;
            font-size: 0.75em;
            vertical-align: top;
          }
          > td.date {
            width: 42px;
            font-weight: bold;
            color: $t-gray1;
          }
          > td.place {
            > span {
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-weight: normal;
              color: $t-gray2;
              &.maxchar:hover {
                position: absolute;
                overflow: visible;
                max-width: 240px;
                padding: 8px;
                margin-top: -8px;
                background: $t-gray4;
                white-space: pre-line;
                @include drop-shadow();
              }
            }
          }
          > td.value {
            width: 52px;
            padding-right: 4px;
            font-weight: bold;
            text-align: right;
            color: $t-blue3;
          }
        }
      }
      > .tbl-history {
        width: 100%;
        tr {
          > th {
            font-size: 0.75em;
            text-transform: uppercase;
            padding: 6px 8px 2px 0;
            color: $t-gray2;
            border-top: 1px solid $t-gray3;
            border-bottom: 1px solid $t-gray3;
            &.value {text-align: right}
          }
          > td {
            padding: 4px 8px 4px 0;
            font-size: 0.875em;
            vertical-align: top;
          }
          > td.date {
            font-weight: bold;
            color: $t-gray1;
          }
          > td.value {
            font-weight: bold;
            text-align: right;
            color: $tt;
          }
          &:first-child td {
            padding-top: 8px;
          }
        }
      }
      > .btn-ticket {
        margin-top: 16px;
      }
    }
    .chart-container {
      > .nextcredit {
        display: inline-block;
        vertical-align: top;
        margin: 16px 0;
        p {
          display: inline-block;
          margin: 0 8px 0 0;
          padding-top: 12px;
          vertical-align: top;
          font-size: 0.75em;
          color: $t-gray2;
        }
        .calendar {
          display: inline-block;
          width: 32px;
          height: 32px;
          border-top: 4px solid $t-red;
          padding-top: 6px;
          margin-right: 8px;
          @include drop-shadow(0, 1px, 3px, 0.3);
          text-align: center;
          color: $t-red;
          background: white;
          > .day {
            display: block;
            font-size: 0.75em;
            line-height: 1;
          }
          > .month {
            display: block;
            font-size: 0.5em;
            line-height: 1;
            color: $t-gray1;
          }
        }
        > .nextvalue {
          display: inline-block;
          vertical-align: top;
          color: $t-blue2;
          > .currency {
            font-size: 0.75em;
            font-weight: bold;
            text-transform: uppercase;
          }
          > .value { font-size: 1.5em }
        }
      }
      > .avgcredit {
        display: inline-block;
        p {
          display: inline-block;
          font-size: 0.75em;
          color: $t-gray2;
          margin: 0;
          > .currency {
            font-size: 1em;
            font-weight: bold;
            text-transform: uppercase;
            color: $t-blue2;
          }
          > .value {
            font-size: 2em;
            color: $t-blue2;
          }
          > .period {
            font-size: 1em;
            font-weight: bold;
            text-transform: uppercase;
            color: $t-blue2;
          }
        }
      }
      > .chart {
        margin-top: 16px;
        height: 274px;
        // background: $t-gray4;
      }
    }
    .signup-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 104px 24px 24px;
      background: #FFFFFF;
      background: rgba(255,255,255,0.8);
      z-index: 1010;
      p strong { color: $t-red }
      > .btn-ticket {
        margin-top: 40px;
      }
      p.obs {
        position: absolute;
        bottom: 0;
        font-size: 0.875em;
      }
    }
    .signup-msg {
      padding: 16px;
      margin-top: 16px;
      text-align: center;
      @include border-radius(4px);
      background: $t-gray4;
      border: 1px solid $t-gray3;
    }
  }
  > .actions {
    height: auto;
    padding: 16px;
    @include border-radius(0, 0, 8px, 0);
    text-align: center;
    background: $t-blue3;
    > p {
      font-size: 0.75em;
      color: white;
    }
    >.actionstitle {
      position: relative;
      padding-left: 20px;
      i {
        position: absolute;
        top: -1px;
        left: 0;
        font-size: 16px;
      }
    }
    >.actionsbar {
      button {
        display: block;
        width: 100%;
        margin: 0 8px 8px 0;
      }
      >.btn-delete {
        display: inline-block;
        width: auto;
        margin: 0;
      }
    }
  }
  &.-restaurante > .statement { border-color: $tr }
  &.-alimentacao > .statement { border-color: $ta }
  &.-car > .statement { border-color: $tcar }
  &.-cultura > .statement { border-color: $tk }
  &.-transporte > .statement {
    border-color: $tt;
    .list {
      max-height: none;
    }
    .cardname, .cardnum {
      float:left;
      margin-right: 32px;
      margin-bottom: 16px;
    }
    .operator { float:left }
    p.value {
      margin: 0;
      color: $tt;
      font-size: 1em;
    }
  }
  &.-blocked {
    > .statement > .card-blocked {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 12px;
      z-index: 999;
      text-align: center;
      background: rgba(245,245,245,0.7);

      .action-blocked {
        margin-top: 80px;
        padding: 0 24px;
      }
    }
  }
  &.-blank {
    height: 320px;
    border: 1px dashed $t-gray2;
    @include remove-shadow();
    > .card-blank {
      padding-top: 40px;
      text-align: center;
    }
  }
}
.cardtype-holder {
  height: auto;
  >.cardtype {
    cursor: pointer;
    margin-bottom: 8px;
  }
}
.cardtype {
  position: relative;
  height: 64px;
  padding: 16px;
  background: white;
  overflow: hidden;
  @include border-radius(2px);
  @include drop-shadow(0, 2px, 8px, 0.3);
  border-left: 16px solid;
  > .card-logo {
    height: 32px;
    background-size: 100px 25px;
    background-position: left center;
    background-repeat: no-repeat;
  }
  i {
    display: none;
    position: absolute;
    top: 20px;
    right: 16px;
    font-size: 24px;
    color: $t-gray1;
  }
  &.active {
    i.icon-arrow_down {display: block}
    &:hover {
      i.icon-done {display: none}
    }
  }
  &:hover {
    i.icon-done {display: block}
  }
  &.-restaurante {
    border-color: $tr;
    > .card-logo { background-image: url(../images/logo-ticket-restaurante.png) }
  }
  &.-alimentacao {
    border-color: $ta;
    > .card-logo { background-image: url(../images/logo-ticket-alimentacao.png) }
  }
  &.-car {
    border-color: $tcar;
    > .card-logo { background-image: url(../images/logo-ticket-car.png) }
  }
  &.-cultura {
    border-color: $tk;
    > .card-logo { background-image: url(../images/logo-ticket-cultura.png) }
  }
  &.-transporte {
    border-color: $tt;
    > .card-logo { background-image: url(../images/logo-ticket-transporte.png) }
  }
}

.cardmini {
  display: inline-block;
  width: 40px;
  height: 24px;
  padding: 1px 0px 2px 4px;
  margin-right: 8px;
  @include border-radius(2px);
  @include drop-shadow(0,0,2px,0.5);
  border-bottom: 6px solid;
  background: #FFF;
  > .card-logo {
    width: 36px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  &.-restaurante {
    border-color: $tr;
    > .card-logo { background-image: url(../images/logo-ticket-restaurante.png) }
  }
  &.-alimentacao {
    border-color: $ta;
    > .card-logo { background-image: url(../images/logo-ticket-alimentacao.png) }
  }
  &.-car {
    border-color: $tcar;
    > .card-logo { background-image: url(../images/logo-ticket-car.png) }
  }
  &.-cultura {
    border-color: $tk;
    > .card-logo { background-image: url(../images/logo-ticket-cultura.png) }
  }
  &.-transporte {
    border-color: $tt;
    > .card-logo { background-image: url(../images/logo-ticket-transporte.png) }
  }
}

@media screen and (min-width: 420px) and (max-width: $screen-sm-min) {
  .card-holder { text-align: left }
  .card-ticket {
    display: inline-block;
    min-width: 320px;
    text-align: left;
    margin-right: 200px;
    &.-collapsed { margin-bottom: -16px }
  }
  .card-details {
    > .actions {
      text-align: left;
      .actionstitle { margin: 0 }
      >.actionsbar {
        .btns {display: inline}
        button {
          display: inline-block;
          width: auto;
          margin: 10px 8px 0 0;
        }
      }
    }
  }
}
@media screen and (min-width: $screen-sm-min) {
  .card-holder {
    margin: 0 -8px 24px;
  }
  .card-ticket {
    > .contentopen {
      > .num { font-size: 0.875em }
    }
    > .contentcollapsed {
      > .card-info {
        margin-right: 4px;
        > .nick {
          max-width: 132px;
        }
      }
    }
  }
  .card-details {
    margin-top: 0;
    > .statement {
      height: auto;
      .list {
        max-height: 200px;
        margin-bottom: 16px;
      }
      .chart-container {
        > .nextcredit {
          display: inline-block;
          margin: 0 40px 0 0;
          p {
            display: block;
            margin: 0;
            padding: 0;
          }
        }
        > .avgcredit {
          p { display: block }
        }
      }
      .period-dates .input-icon {
        margin-right: 8px;
        >.form-control {
          width: 96px;
          height: 32px;
          font-size: 0.75em;
        }
        &:first-child { margin-right: 8px }
      }
    }
    > .actions {
      text-align: left;
      .actionstitle { margin: 0 }
      >.actionsbar {
        .btns {display: inline}
        button {
          display: inline-block;
          width: auto;
          margin: 10px 8px 0 0;
        }
        >.btn-delete {
          float:right;
        }
      }
    }
  }
}
@media screen and (min-width: $screen-md-min) {
  .card-holder {

  }
  .card-ticket {
    > .contentopen {
      > .num { font-size: 1em }
    }
  }
  .card-details {
    >.statement {
      .list {
        max-height: 354px;
        margin-bottom: 0;
      }
      .chart-container {
        > .nextcredit {
          margin: 0 24px 0 0;
        }
      }
    }
    > .actions {
      .actionstitle { margin: 0 0 10px }
      >.actionsbar {
        .btns {display: inline-block}
        button { margin: 0 8px 0 0 }
      }
    }
    &.-transporte > .statement {
      .cardname, .cardnum {
        margin-bottom: 0px;
      }
    }
  }
}
@media screen and (min-width: $screen-lg-min) {
  .card-holder {

  }
  .card-ticket {
    > .contentcollapsed {
      > .card-info {
        margin-right: 12px;
        > .nick {
          max-width: 160px;
        }
      }
    }
  }
  .card-details {
    >.statement {
      min-height: 396px;
      .list {
        max-height: 300px;
      }
    }
  }
}
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .card-ticket.-restaurante .card-logo,
  .cardtype.-restaurante .card-logo,
  .card-mini.-restaurante .card-logo { background-image: url('../images/logo-ticket-restaurante@2x.png') }
  .card-ticket.-alimentacao .card-logo,
  .cardtype.-alimentacao .card-logo,
  .card-mini.-alimentacao .card-logo { background-image: url('../images/logo-ticket-alimentacao@2x.png') }
  .card-ticket.-car .card-logo,
  .cardtype.-car .card-logo,
  .card-mini.-car .card-logo { background-image: url('../images/logo-ticket-car@2x.png') }
  .card-ticket.-cultura .card-logo,
  .cardtype.-cultura .card-logo,
  .card-mini.-cultura .card-logo { background-image: url('../images/logo-ticket-cultura@2x.png') }
  .card-ticket.-transporte .card-logo,
  .cardtype.-transporte .card-logo,
  .card-mini.-transporte .card-logo { background-image: url('../images/logo-ticket-transporte@2x.png') }
}
