.chart {
  position: relative;
  .empty-data {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #FFFFFF;
    border: 1px dashed $t-gray2;
    @include border-radius(4px);
    span {
      display: block;
      margin-top: 40px;
      font-size: 0.875em;
      color: $t-gray2;
    }
  }
}
.chart.-line {
    .about-text {
        font-size: 12px;
        fill: $t-gray2;
    }
    .y-tick {
        font-size: 10px;
        fill: $t-gray3;
    }

    .x-axis,
    .y-axis {
        path,
        text {
            display: none;
        }
    }
    .y-axis {
        line {
            shape-rendering: crispEdges;
            stroke: $t-gray3;
            stroke-width: 1;
            stroke-dasharray: 2,2;
        }
    }
    .line,
    .mean-line {
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    .line {
        stroke: $t-red;
        stroke-width: 2;
    }
    .mean-line {
        stroke: $t-main;
        stroke-width: 1;
    }
    .mean-box {
        fill: $t-main;
        fill-opacity: 0.9;
    }
    .mean-text {
        text-anchor: middle;
        font-size: 10px;
        fill: white;
    }
}
.chart.-donut {
    .about-text {
        font-size: 12px;
        fill: $t-gray2;
    }

    .arc-bg {
      fill: $t-gray3;
    }
    .arc {
      fill: $t-blue3;
    }

    line {
      fill: none;
      stroke-linecap: round;
      stroke: $t-gray3;
      stroke-width: 2;
    }

    .available-text text,
    .used-text text {
      text-anchor: middle;
    }
    .used-text text {
      fill: $t-blue3;
    }
    .available-text .value {
      fill: $t-blue1;
    }
    .available-text .label {
      fill: $t-gray3;
    }
}
