.tkt-cover  {
  position: relative;
  width: 100%;
  height: 100vh;

  &.-main {
    background: $t-main;
  }
  &.-blue3 {
    background: $t-blue3;
  }

  h3 { margin-bottom: 0 }
  .scroll-down { display: none }
}

.video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media screen and (min-width: $screen-sm-min) {
  .tkt-cover {
    .scroll-down {
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      bottom: 0;
      left: 50%;
      margin-left: -20px;
      text-align: center;
      .btn-scroll {
        display: inline-block;
        height: 40px;
        width: 40px;
        i {
          line-height: 40px;
          font-size: 32px;
        }
        &:hover, &:focus, &:active {
          text-decoration: none;
          i { text-decoration: none }
        }
        &.-light {
          color: white;
          opacity: .7;
          &:hover { opacity: 1 }
        }
        &.-dark {
          color: $t-gray2;
          opacity: .7;
          &:hover { opacity: 1 }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .video-container {
      background: url('../images/videoframe.jpg') center center / cover no-repeat;
  }
  .bg-video {
      display: none;
  }
}
