.cover-menu {
  display: none;
}

@media screen and (min-width: $screen-sm-min) {
  .cover-menu {
    position: fixed;
    top: 0;
    right: 32px;
    display: block;
    height: 100vh;
    width: 24px;
    text-align: right;
    z-index: 1020;

    > ul.nav-links {
      position: absolute;
      top: 50%;
      right: 0;
      width: 100%;
      padding: 4px;

      > li {
        .nav-circle {
          position: relative;
          width: 16px;
          height: 16px;
          padding: 5px;
          margin-bottom: 24px;
          cursor: pointer;
          @include border-radius(50%);

          span.bullet {
            display: block;
            width: 6px;
            height: 6px;
            @include border-radius(50%);
            background: #FFF;
            visibility: visible;
            opacity: 1;
            transition: all 0.25s ease-in-out;
            @include drop-shadow(0, 1px, 2px, 0.7);
          }
          span.nav-circle-label {
            position: absolute;
            right: 0;
            top: 0;
            text-transform: uppercase;
            width: 0;
            height: 0;
            .text {
              position: absolute;
              top: 1px;
              right: 0;
              font-weight: normal;
              font-size: 0.75em;
              color: #FFF;
              white-space: nowrap;
              visibility: hidden;
              opacity: 0;
              transition: all 0.25s ease-in-out;
              text-shadow: 0 0 4px rgba(0,0,0,1);
            }
            .outline-circle {
              position: relative;
              float: right;
              width: 16px;
              height: 16px;
              border: 2px solid #FFF;
              @include border-radius(50%);
              visibility: hidden;
              opacity: 0;
              transform: scale(0);
              transition: all 0.25s ease-in-out;
              @include drop-shadow();
            }
          }
        }
        &:last-child {
          .nav-circle { margin-bottom: 0 }
        }
        &.active,
        &:hover {
          .nav-circle {
            span.bullet {
              visibility: hidden;
              opacity: 0;
            }
            span.nav-circle-label {
              .text {
                right: 24px;
                visibility: visible;
                opacity: 1;
              }
              .outline-circle {
                visibility: visible;
                opacity: 1;
                transform: scale(1);
              }
            }
          }
        }
      }
    }

    &#coverMenuHome {
      > ul.nav-links {
        margin-top: -132px;
      }
    }
  }
}
