.footer {
  position: relative;
  min-height: 196px;
  padding: 32px;
  background: $t-main;

  .footer-links {
    ul.ul-links.-help {
      display: block;
      margin-bottom: 8px;
    }
    ul.ul-links {
      display: inline-block;
      width: 136px;
      margin-right: 8px;
      li {
        line-height: 1.25em;
        a {
          font-size: 0.75em;
          color: $t-blue1;
        }
      }
    }
    ul.social-media {
      margin-top: 24px;
      li {
        float: left;
        &.li-label {
          line-height: 2;
          font-size: 0.875em;
          color: $t-blue1;
        }
        a {
          margin-left: 24px;
          img {
            @include opacity(0.7);
            width: 32px;
            height: 32px;
            transition: opacity 0.15s ease-in-out;
          }
          &:hover img { @include opacity(1) }
        }
      }
    }
  }
  hr {
    margin: 24px 0;
    border-color: $t-blue2;
  }
  .footer-edenred {
    .footer-logos {
      display: block;
      > a  {
        float: left;
        display: block;

        &.-separator {
          margin-right: 16px;
          padding-right: 16px;
          border-right: 1px solid $t-blue2;
        }
      }
    }
    .copyright {
      display: block;
      margin-top: 16px;
      font-size: 0.75em;
      line-height: 2;
      color: $t-blue1;
    }
  }
}

@media screen and (min-width: 640px) {
  .footer {
    .footer-links {
      ul.ul-links.-help {
        display: inline-block;
        margin-bottom: 0px;
      }
      ul.ul-links {
        float: left;
        width: 160px;
        margin-right: 24px;
      }
      ul.social-media {
        display: inline-block;
      }
    }
    .footer-edenred {
      .footer-logos {
        float: left;
      }
      .copyright {
        float: right;
        margin-top: 0;
      }
    }
  }
}
@media screen and (min-width: 854px) {
  .footer {
    .footer-links {
      ul.social-media {
        display: block;
        float: right;
        margin-top: 0;
      }
    }
  }
}
