.form-group {
  label {
    margin-bottom: 0;
    font-size: 0.75em;
    font-weight: normal;
    color: $t-gray2;
  }
}
.select {
  position: relative;
  > select {
    padding: 6px 20px 6px 2px;
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
  }
  span.caret {
    position: absolute;
    top: 14px;
    right: 2px;
    color: $t-gray3;
  }
}
textarea.form-control {
  padding: 6px 20px 6px 2px;
  resize: none;
}
.form-control {
  height: 32px;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  border-bottom: 1px solid $t-gray1;
  @include remove-shadow();
  @include border-radius(0);
  transition: all 0.15s ease-in-out;
  font-size: 1em;
  line-height: 1.5;
  color: $t-blue3;

  &:focus {
    @include remove-shadow();
    border-color: $t-blue1;
    background-color: $t-gray4;
  }
  &:hover {
    @include remove-shadow();
    border-color: $t-blue1;
  }
}
.input-icon {
  position: relative;
  //margin-bottom: 16px;
  > i {
    position: absolute;
    // top: 50%;
    // margin-top: -12px;
    top: 4px;
    font-size: 1.125em;
    color: $t-gray1;
  }
  > .form-control {
    padding-left: 28px;
  }
  &.-action {
    > a {
      position: absolute;
      right: 0;
      bottom: 6px;
      padding-right: 8px;
      font-size: 1.125em;
      line-height: 1;

      &:hover, &:active, &:focus {
        text-decoration: none;
      }
    }
    > .cardmini {
      position: absolute;
      right: -4px;
      bottom: 4px;
    }
  }
}
.chk-lbl {
  height: auto;
  margin: 0;
  padding-left: 16px;
  font-size: 0.75em;
  font-weight: normal;
  color: $t-gray1;
  > input[type="checkbox"] {
    margin: 0 4px 0 -16px;
  }
}
label.radio-lbl {
  font-size: 1em;
  color: $t-blue3;
  margin-right: 24px;
  > input[type="radio"] {
    margin-right: 4px;
  }
}
.validation-msg {
  padding: 4px 8px;
  @include border-radius(0, 0, 2px, 2px);
  font-size: 0.75em;
  color: $t-error-txt;
  background: $t-error-bg;
}

.form-group {
  &.-light {
    label { color: $t-blue1 }
    .form-control {
      background: transparent;
      color: white;
      border-color: $t-gray2;
      &:hover, &:focus {
        border-color: $t-blue1;
        background-color: $t-blue3;
      }
    }
    .input-icon {
      > i {
        color: $t-blue1;
      }
    }
  }
}

.toggle-control {
  > .toggle-opt {
    height: 40px;
    @include border-radius(2px);
    padding: 6px 8px 10px;
    margin-bottom: 8px;
    font-size: 1em;
    color: $t-gray2;
    background: $t-gray4;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
      color: $t-gray1;
      background: $t-gray3;
    }

    &.active {
      color: #FFF;
      background: $t-blue3;
    }

    > i {
      margin-right: 8px;
      font-size: 24px;
      vertical-align: text-bottom;
    }
  }
}

.form-inline {
  >.form-group {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 0;

    input[type="text"] {
      display: block;
    }
  }
}
.ng-submitted {
  .ng-invalid {
    border-color: $t-red;
    background-color: $t-gray4;
  }
}

.form-msg {
  padding: 8px 8px 6px;
  @include border-radius(4px);
  border: 1px solid;
  margin-bottom: 8px;
  font-size: 0.875em;

  &.-error {
    background: $t-error-bg;
    border-color: #ebccd1;
    color: $t-error-txt;
  }
}

#formLogin {
  > .form-group {
    > .lnk-ticket {
      float: right;
      line-height: 2;
    }
  }
}

form {
  hr {
    margin: 16px 0;
    border-color: $t-gray3;
  }
}

.check-group {
  label.title {
    display: block;
    color: $t-gray2;
  }
  .row {
    margin: 0
  }
}
