.navbar-ticket {
  padding: 0;
  border: 0;
  background: transparent;

  &.-fixedtop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  >.navbar-container {
    height: 48px;
    padding: 8px;
    margin: 0 auto;
    @include drop-shadow(0,4px,12px);
    background: white;

    > .navbar-brand {
      float: left;
      margin: 4px 0 0;
      padding: 0;
      width: 102px;
      height: 24px;
      background-image: url('../images/logo-ticket-40.png');
      background-size: 102px 24px;
      background-position: left center;
      background-repeat: no-repeat;
    }
    > .navbar-items { display: none }
    > .btn-ticket { padding:12px 8px 10px }
    > .btn-ticket, .btn-menu {
      float: right;
      margin-left: 4px;
    }
    &.-logged {
      .navbar-items { display: none }
      .nav-link {
        padding: 12px 8px 8px;
        i {
          font-size: 24px;
          margin: 0;
        }
      }
      .navbar-user {
        float: right;
        margin-left: 8px;
        > span { display: none }
      }
    }
  }

    >.navbar-bracket {
      display: block;
      height: auto;
      .bracket {
        display: block;
        width: 60px;
        height: 36px;
        margin-left: 0px;
        background-image: url('../images/bracket-header.png');
        background-size: 60px 36px;
        background-position: top center;
        background-repeat: no-repeat;
      }
    }

}

//min-width: 360px
@media screen and (min-width: 360px) {
  .navbar-ticket {
    > .navbar-container {
      > .navbar-brand {
        margin-top: 0;
        width: 136px;
        height: 32px;
        background-size: 136px 32px;
      }
      > .btn-ticket { padding:12px 12px 10px }
      > .btn-ticket, .btn-menu { margin-left: 4px }
    }
  }
}
//min-width: 768px
@media screen and (min-width: $screen-sm-min) {
  .navbar-ticket {
    padding: 16px 16px 0;
    transition: padding 0.15s ease-in-out;
    &.docked {
      padding: 0;
    }

    >.navbar-container {
      @include border-radius(2px);
      >.navbar-items {
        display: block;
        float: right;
        margin: -8px 0 0;
        height: 48px;
        > .nav-item {
          display: inline-block;
        }
        .nav-link {
          display: block;
          max-height: 48px;
          margin: 0 4px;
          padding: 14px 8px 8px;
          border-bottom: 4px solid transparent;
          font-size: 0.625em;
          font-weight: bold;
          line-height: 2;
          text-transform: uppercase;
          text-decoration: none;
          color: $t-gray1;
          transition: all 0.25s ease-in-out;

          > i {
            vertical-align: text-bottom;
            font-size: 1.8em;
            margin-right: 8px;
            color: $t-main;
            &:before {
              color: $t-main;
            }
          }
          &:hover {
            border-bottom: 4px solid lighten($t-red, 25%);
            text-decoration: none;
            background: $t-gray4;
          }
        }
        .nav-item.active {
          >.nav-link {
            border-bottom: 4px solid $t-red;
            background: transparent;
            color: $t-gray1;
            > i {
              &:before {
                color: $t-red;
              }
            }
          }
        }
      }
      &.-logged {
        >.navbar-items {
          display: block;
          .nav-link i { margin: 0 }
        }
        .navbar-user {
          margin-left: 24px;
          > a#linkHome {
            display: inline-block;
            margin-right: 8px;
            padding-top: 8px;
            font-size: 0.75em;
            font-weight: bold;
            text-transform: uppercase;
            color: $t-red;
          }
        }
      }
      >.btn-menu { display: none }
    }
  }
}
@media screen and (min-width: $screen-sm-min) and (max-width: 1048px) {
  .navbar-container {
    &.-default {
      .navbar-items {
        display: none;
      }
      .btn-menu { display: block }
    }
  }
}
//min-width: 992px
@media screen and (min-width: $screen-md-min) {
  .navbar-ticket {
    >.navbar-bracket {
      .bracket { margin-left: -30px }
    }
  }
}
@media screen and (min-width: $screen-md-min) and (max-width: 1048px) {
  .navbar-ticket {
    >.navbar-bracket {
      .bracket { margin-left: 0 }
    }
  }
}
//min-width: 1200px
@media screen and (min-width: $screen-lg-min) {

}
//Retina Media Screens Adjustments
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .navbar-ticket > .navbar-container .navbar-brand {
      background-image: url('../images/logo-ticket-40@2x.png');
    }
    .navbar-ticket > .navbar-bracket .bracket {
      background-image: url('../images/bracket-header@2x.png');
    }
}
