.lnk-ticket {
  font-size: 0.75em;
  color: $t-main;

  &.-red {
    color: $t-red;
  }
  &.-white {
    color: #fff;
  }
  &.-blue2 {
    color: $t-blue2;
  }
  &.-blue3 {
    color: $t-blue3;
  }
  &.-block {
    display: block;
    padding: 12px 16px 10px;
    text-align: center;
    line-height: 0.875;
  }
}

.lnk-ticket-icon {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  font-size: 1em;
  text-decoration: underline;

  i {
    position: absolute;
    top: 1px;
    left: 0;
    font-size: 16px;
  }
}
