.menu-container {
  position: fixed;
  z-index: 1090;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
}
.menu-ticket {
  position: absolute;
  z-index: 1100;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  @include drop-shadow(-4px, 0px, 8px, .30);
  background: #FFF;
  .menu-items {
    padding-top: 24px;
  }
  &.-logged {
    .menu-items {
      padding-top: 56px;
    }
    .menu-user {
      padding: 24px;
    }
  }
}
.menu-user {
  position: relative;
  height: 128px;
  padding: 24px 48px 24px 24px;
  background: $t-main;

  > svg {
    position: absolute;
    bottom: -32px;
    left: 48px;
    width: 64px;
    height: 32px;
    > .menu-bracket { fill: $t-main }
  }
  > .userphoto {
    float: left;
    width: 80px;
    height: 80px;
    @include border-radius(50%);
    background: $t-gray3;
    overflow: hidden;
    .placeholderphoto {
      height: 80px;
      i {
        position: absolute;
        font-size: 48px;
        margin: 12px 0 0 12px;
        color: $t-gray2;
      }
    }
  }
  > .username {
    float: left;
    padding-top: 16px;
    margin-left: 16px;
    > .name {
      text-transform: uppercase;
      margin: 0;
      color: white;
    }
    > .lnk-profile {
      font-size: 0.75em;
      color: $t-blue1;
      i {
        font-size: 1.5em;
        margin-right: 4px;
        vertical-align: text-bottom;
      }
      a {
        text-decoration: underline;
        color: $t-blue1;
      }
      &:hover {
        color: #FFF;
        a {
          text-decoration: none;
          color: #FFF;
        }
      }
    }
  }
  > .menu-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: 0;
    font-size: 2em;
    line-height: 1.25;
    background: transparent;
    color: $t-blue2;
    transition: color 0.15s ease-in-out;
    &:hover {
      color: $t-blue1;
    }
  }
  > .btn-ticket:first-child {
    margin-bottom: 16px;
  }
}
.menu-items {
  position: relative;
  ul {
    > li {
      margin-bottom: 16px;
      .menu-item {
        display: block;
        height: 48px;
        border-left: 8px solid transparent;
        text-transform: uppercase;
        font-size: 0.75em;
        line-height: 4.25em;
        color: $t-blue3;
        transition: all 0.15s ease-in-out;
        i {
          display: block;
          float: left;
          width: 48px;
          height: 48px;
          margin: 0 8px 0 16px;
          padding-top: 12px;
          @include border-radius(50%);
          font-size: 2em;
          text-align: center;
          background: $t-gray3;
          color: #FFF;
        }
        &:hover {
          text-decoration: none;
          background: $t-gray4;
        }
        &.-exit {
          color: $t-gray1;
          i {
            background: transparent;
            color: $t-gray3;
          }
        }
      }
      &.active {
        .menu-item {
          border-left-color: $t-main;
          i {
            background: $t-main;
          }
          &:hover {
            text-decoration: none;
            background: transparent;
          }
        }
      }
    }
  }
  .card-holder {
    margin: 16px 0 0;
    padding: 0 16px;
  }
}
.menu-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  @include opacity(.7);
  z-index: 1080;
}

@media screen and (min-width: 420px) {
  .menu-ticket { width: 400px }
  .menu-user { padding: 24px }
  .menu-close-btn { display: none }
}
