.modal.-ticket {
  >.modal-dialog {
    height: 100%;
    margin: 0;
    background: white;
    >.modal-content {
      padding: 24px;
      @include border-radius(0);
      @include remove-shadow();
      background-color: #fff;
      border: 0;

      .modal-header {
        padding: 40px 0 16px;
        margin: -24px -24px 0;
        @include border-radius(0);
        border-bottom: 1px solid $t-gray3;

        &.-image {
          padding: 64px 0 24px;
          min-height: 120px;
          border: 0;
          background-size: 100%;
          background-position: top center;
          background-repeat: no-repeat;
          &.-bann1color { background-image: url('../images/banner-login-color.jpg') }
          &.-bann1pb { background-image: url('../images/banner-login-pb.jpg') }
          &.-bann2color { background-image: url('../images/banner-card-color.jpg') }
          &.-bann2pb { background-image: url('../images/banner-card-pb.jpg') }
          &.-bannapppb { background-image: url('../images/thinkstock-466387171-pb.jpg') }
        }
        >.modal-close-btn {
          position: absolute;
          top: 0;
          right: 0;
          width: 40px;
          height: 40px;
          border: 0;
          font-size: 2em;
          line-height: 1.25;
          background: transparent;
          color: $t-gray2;
          transition: color 0.15s ease-in-out;
          &:hover {
            color: $t-blue2;
          }
        }
      }
      .modal-body {
        padding: 24px 0;
        .protocol-container {
          padding: 8px 8px 4px;
          margin-bottom: 16px;
          text-align: left;
          @include border-radius(4px);
          background: $t-gray4;
          border: 1px solid $t-gray3;
          span { font-size: 0.875em }
          span.protocol {
            display: block;
            font-size: 1em;
            font-weight: bold;
            color: $t-red;
          }
        }
        .badge-group {
          text-align: center;
          >.badge-icon { margin: auto }
          p {
            margin: 8px 0;
            color: $t-blue3;
          }
          &.-inline {
            text-align: left;
            margin-bottom: 16px;
            >.badge-icon {
              display: inline-block;
              width: 40px;
              height: 40px;
              padding: 8px 0 0;
              vertical-align: top;
              i { font-size: 24px }
            }
            p {
              display: inline-block;
              margin: 0 0 0 8px;
              max-width: 80%;
            }
          }
        }
        &.-nobottom { padding-bottom: 0 }
        p.text-aux {
          font-size: 0.75em;
          color: $t-gray2;
        }
      }
      .modal-footer {
        padding: 24px 0 0;

        .text-aux {
          float: left;
          font-size: 0.75em;
          line-height: 1.5;
          text-align: left;
        }

        .btn-ticket.-block {
          margin-top: 8px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
    .modal-title {
      line-height: 1.25;
    }
  }
  .confirma-dados { display: none }
  &.-confirmadados {
    .confirma-dados { display: block }
  }
}


#contentWelcome,
#contentWelcomeEmail {
  > .modal-body {
    > p { margin-bottom: 24px }
  }
}
#contentWelcomeEmail {
  > .modal-body {
    .badge-group {
      text-align: center;
      >.badge-icon { margin: auto }
      #welcomeEmail {
        display: block;
        color: $t-blue3;
        line-height: 1.5;
        margin: 8px 0;
      }
      input {
        text-align: center;
        margin: 8px 0;
      }
    }
    .lnk-ticket { margin-top:8px }
    p { font-size: 0.75em }
  }
}

#contentEdit {
  > .modal-body {
    text-align: center;
    .card-ticket { text-align: left }
  }
}

#contentDenuncia {
  > .modal-body {
    p { color: $t-blue3 }
    .btn-ticket, .lnk-ticket {margin-top: 8px}
  }
}

.text-hr {
  margin: 8px 0;
  text-align: center;
  line-height: 32px;
  color: $t-gray3;
  span {
    display: inline-block;
    margin: 0 4px;
    font-size: 0.75em;
    font-weight: bold;
    &.semi-hr {
      width: 24px;
      height: 1px;
      margin: 2px 0 0;
      vertical-align: middle;
      background: $t-gray3;
    }
  }
}

.modal-select-card {
  .modal-footer {
    border: none;
  }
}

// Scale up the modal
@media (min-width: $screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal.-ticket {
    >.modal-dialog {
      //width: $modal-md;
      height: auto;
      margin: 30px auto;
      background: transparent;
      >.modal-content {
        @include border-radius(12px, 12px, 12px, 0);

        .modal-header {
          @include border-radius(12px, 12px, 0, 0);
          &.-image { background-size: 360px 160px }
          >.modal-close-btn { display: none }
        }
      }
    }
  }
  .modal-content {
    @include box-shadow(0 5px 15px rgba(0,0,0,.5));
  }
  // Modal sizes
  .modal-sm {
    width: $modal-sm;
  }
}

@media (min-width: $screen-md-min) {
  .modal-lg {
    width: $modal-lg;
  }
  .modal-xl {
    width: $modal-xl;
  }
}

//Retina Media Screens Adjustments
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .modal.-ticket > .modal-dialog > .modal-content .modal-header {
    &.-image {
      &.-bann1color { background-image: url('../images/banner-login-color@2x.jpg') }
      &.-bann1pb { background-image: url('../images/banner-login-pb@2x.jpg') }
      &.-bann2color { background-image: url('../images/banner-card-color@2x.jpg') }
      &.-bann2pb { background-image: url('../images/banner-card-pb@2x.jpg') }
      &.-bannapppb { background-image: url('../images/thinkstock-466387171-pb@2x.jpg') }
    }
  }
}
