.search-ticket {
  @include border-radius(8px,8px,8px,0);
  @include drop-shadow(0,4px,12px, 0.3);
  margin-top: 64px;

  > .searchinfo { display: none }
  > .searchbyname {
    height: auto;
    padding: 16px;
    background: white;
    border-bottom: 1px solid $t-gray3;
    > p.totalresults {
      margin-bottom: 16px;
      font-size: 0.75em;
      span {
        padding: 4px 4px 2px;
        margin-right: 4px;
        @include border-radius(2px);
        color: white;
        background: $t-red;
        &.-fav {
          background: $t-blue3;
        }
      }
    }
    > form {
      > .search-input {
        padding: 6px 12px;
        @include border-radius(2px);
        border: 1px solid $t-blue3;
        font-size: 0.75em;
        line-height: 1.25;
        color: $t-blue3;
      }
      > .chk-lbl {
        margin-top: 8px;
        > .bookmarked {
          padding: 2px 4px 0;
          margin-left: 4px;
          @include border-radius(2px);
          background: $t-blue2;
          color: white;
        }
      }
    }
  }
  > ul.searchlist {
    height: 400px;
    overflow-y: auto;
    @include border-radius(0,0,8px,0);
    background: white;
    > li {
      position: relative;
      padding: 16px;
      border-bottom: 1px solid $t-gray3;
      cursor: pointer;
      background: white;
      transition: all 0.25s ease-in-out;

      &:hover {
        background: $t-gray4;
      }
      > .place-name {
        margin-bottom: 4px;
        padding-left: 24px;
        color: $t-blue3;
        i {
          position: absolute;
          top: 12px;
          left: 12px;
          font-size: 24px;
          color: $t-gray3;
          &.icon-star { color: #f5aa40 }
        }
      }
      > .place-info {
        p {
          margin-bottom: 0;
          font-size: 0.75em;
          line-height: 1.5em;
        }
        > .address-1 {}
        > .address-2 {}
        > .phone {}
      }
      > .badges {
        position: absolute;
        top: 16px;
        right: 16px;
        i {
          display: block;
          margin-bottom: 4px;
          font-size: 24px;
          &.icon-collact {
            color: #ef1335;
          }
        }
      }
    }
  }

  &.-favorites {
    > .favinfo {
      padding: 8px 16px 6px;
      @include border-radius(8px,8px,0,0);
      background: $t-main;
      color: white;
      h4 { font-size: 0.875em }
      span.numfav {
        padding: 4px 4px 2px;
        margin-left: 8px;
        @include border-radius(2px);
        color: white;
        background: $t-blue2;
      }
    }
    > ul.searchlist {
      height: 560px;
    }
  }
}

.mobile-search-ticket {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  padding: 8px;
  z-index: 999;
}

.modal {
  .modal-body .searchinfo .select-radius {
    input[type="range"]{
      min-height: 32px;
      padding: 0;
      background: transparent;
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .mobile-search-ticket { display: none }
  .search-ticket { margin-top: 0 }
  .search-ticket > .searchinfo {
    display: block;
    padding: 16px 16px 8px 16px;
    @include border-radius(8px,8px,0,0);
    background: $t-main;
    color: white;
    p {margin-bottom: 0}
    .address {
      font-size: 1em;
      color: white;
      > i {
        vertical-align: text-bottom;
        margin-right: 8px;
        font-size: 24px;
        color: $t-blue1;
      }
    }
    .select-radius {
      margin: 8px 0;
      input[type="range"]{
        float: right;
        width: 55%;
        min-height: 32px;
        margin: -2px 0 0 16px;
        padding: 0;
        background: transparent;
      }
    }
    .radius {
      //margin-left: 32px;
      font-size: 0.75em;
      line-height: 2.5em;
      color: $t-blue1;
    }
    .form-group, .input-icon { margin-bottom: 8px }
    .changesearch {
      height: 40px;
      text-align: center;
      > a {
        line-height: 40px;
        font-size: 0.75em;
        text-align: center;
        text-decoration: underline;
        color: white;

        &:hover {
          color: $t-blue1;
        }
      }
      > i {
        vertical-align: middle;
        margin-left: 8px;
        font-size: 16px;
        text-decoration: none !important;
      }
      button {
        margin-top: 16px;
      }
    }
  }
}
