@charset "UTF-8";

// Default Variables

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("../images/ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 50%;
    width: 40px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    transition: all 0.15s ease-in-out;
    &:hover, &:focus {
      outline: none;
      color: transparent;
      &:before {
        opacity: $slick-opacity-on-hover;
      }
    }
    &:hover {
      background: rgba(0,0,0,0.15);
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}
.slick-prev { @include border-radius(0, 4px, 4px, 0) }
.slick-next { @include border-radius(4px, 0, 0, 4px) }

.slick-prev:before, .slick-next:before {
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 0;
    z-index: 999;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        font-family: 'Ticket Icons';
        font-size: 40px;
        content: "\e90f";
        text-shadow: 0px 1px 8px rgba(0,0,0,0.25);
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: 0;
    z-index: 999;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
      font-family: 'Ticket Icons';
      font-size: 40px;
      content: "\e910";
      text-shadow: 0px 1px 8px rgba(0,0,0,0.25);
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

.slick-slide {
  height: 280px;
  text-align: center;
  background: $t-gray3;

  img {
    display: inline-block;
    width: auto;
    max-height: 100%;
  }
}

/* Dots */

.slick-slider {
    margin-bottom: 64px;
}

.slick-dots {
    position: absolute;
    bottom: -32px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 32px;
    li {
        position: relative;
        display: inline-block;
        height: 16px;
        width: 16px;
        margin: 0 2px;
        padding: 3px;
        cursor: pointer;
        button {
            border: 0;
            background: $t-gray3;
            display: block;
            height: 10px;
            width: 10px;
            @include border-radius(50%);
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
        }
        &.slick-active button {
            background: $t-blue3;
        }
    }
}

.testi-slick {
  margin-bottom: 24px;
  .depo.slick-slide {
    height: auto;
    margin-bottom: 16px;
    // min-height: 360px;
    text-align: left;
    background: transparent;
    &:focus {
      outline: none;
    }
  }
  .slick-dots {
    bottom: -40px;
    text-align: left;
    > li {
      width: 24px;
      height: 8px;
      padding: 0;
      margin: 0 8px 0 0;
      > button {
        width: 24px;
        height: 8px;
        padding: 0;
        @include border-radius(0);
      }
    }
  }
}
