.tab-ticket {
  .nav-pills {
    li {
      margin-right: 8px;
      a {
        padding: 5px 16px 3px;
        font-size: 0.625em;
        font-weight: bold;
        line-height: 2.4;
        text-transform: uppercase;
        background: $t-gray4;
        color: $t-gray2;
        transition: all 0.15s ease-in-out;
        &:hover {
          background: $t-blue1;
          color: #FFFFFF;
        }
      }
      &.active {
        a {
          background: $t-blue3;
          color: #FFFFFF;
        }
      }
    }
  }
  .tab-pane {
    padding: 24px 0;
  }
}

/* set reference point */
.tab-ticket .tab-content {
    position: relative;
}

/* set animate effect */
.tab-ticket .tab-content > .tab-pane{
    transition: 0.2s linear opacity;
}

/* overwrite display: none and remove from document flow */
.tab-ticket .tab-content > .tab-pane.active-remove {
    width: 100%;
    display: block;
}

/* opacity=0 when removing "active" class */
.tab-ticket .tab-content > .tab-pane.active-remove-active {
    opacity: 0;
}

/* opacity=0 when adding "active" class */
.tab-ticket .tab-content > .tab-pane.active-add {
    opacity: 0;
}
