.title-img {
  display: block;
  position: relative;
  min-height: 160px;
  @include border-radius(12px, 12px, 12px, 0);
  padding: 0;
  overflow: hidden;
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;

  h5 {
    position: absolute;
    top: 36px;
    max-width: 70%;
    margin: 0;
    font-size: 2em;
    line-height: 1.25;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255,255,255,0.4);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.7+40,0+100 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 40%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 40%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 40%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  }
  &.-balance {
    background-image: url('../images/banner-balance-guy.jpg');
    background-position: 50% 45%;
  }
  &.-tt {
    background-image: url('../images/banner-tt.jpg');
    background-position: 50% 50%;
  }
}
