.ui-autocomplete.tkt-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;

  max-height: 320px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;

  @include border-radius(0, 0, 8px, 8px);
  @include drop-shadow();
  border: 0;

  > li {
    min-height: 32px;
    padding: 6px 0 6px 28px;
    font-size: 0.875em;
    font-family: $font-family-base;
    line-height: 1.5;
    color: $t-gray1;
    border-bottom: 1px solid $t-gray3;
    &:last-child {border-bottom: none}
    &.ui-state-focus {
      color: $t-blue2;
      border: none;
      border-bottom: 1px solid $t-gray3;
      background: $t-gray4;
    }
  }
}
