.modal .loading-mask {
  @include border-radius(12px, 12px, 12px, 0);
}

$shadow-color: rgba(0,0,0,0.1);
.loading-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  z-index: 9999;

  .loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -160px;
    width: 320px;
    height: 160px;
    text-align: center;

    .text {
      margin-top: 8px;
      color: #FFFFFF;
    }
  }
}
.loading-menu {
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.8);
  z-index: 9999;

  .loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -160px;
    width: 320px;
    height: 160px;
    text-align: center;

    .text {
      margin-top: 8px;
      color: $t-blue2;
    }

    .uil-rolling-css > div {
      width: 40px;
      height: 40px;
      position: relative;
      margin: 0 auto;
      -ms-animation: uil-rolling-anim 1s linear infinite;
      -moz-animation: uil-rolling-anim 1s linear infinite;
      -webkit-animation: uil-rolling-anim 1s linear infinite;
      -o-animation: uil-rolling-anim 1s linear infinite;
      animation: uil-rolling-anim 1s linear infinite;
    }
    .uil-rolling-css > div div {
      position: absolute;
      width: 40px;
      height: 20px;
      border-radius: 500px 500px 0 0;
      border-color: $t-blue2;
      border-style: solid;
      border-width: 4px;
      border-bottom-width: 0;
    }
    .uil-rolling-css > div div:nth-of-type(2) {
      -ms-transform: translate(0, 10px) rotate(100deg) translate(0, -10px);
      -moz-transform: translate(0, 10px) rotate(100deg) translate(0, -10px);
      -webkit-transform: translate(0, 10px) rotate(100deg) translate(0, -10px);
      -o-transform: translate(0, 10px) rotate(100deg) translate(0, -10px);
      transform: translate(0, 10px) rotate(100deg) translate(0, -10px);
    }
  }
}
@-webkit-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* 3D Bouncing ball */

#ballWrapper {
	width: 80px;
	height: 80px;
	position: relative;
	left: 50%;
	top: 0;
	margin-left: -40px;
	z-index: 100;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 5s linear 0s;
	-moz-transition: all 5s linear 0s;
	transition: all 5s linear 0s;
	cursor: pointer;
}

#ball {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed1c24+0,ed1c24+70,ffffff+100 */
	background: rgb(237,28,36); /* Old browsers */
	background: -moz-radial-gradient(bottom left, ellipse cover,  rgba(237,28,36,1) 0%, rgba(237,28,36,1) 60%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(bottom left, ellipse cover,  rgba(237,28,36,1) 0%,rgba(237,28,36,1) 60%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at bottom left,  rgba(237,28,36,1) 0%,rgba(237,28,36,1) 60%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c24', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -18px;
	z-index: 11;
	-webkit-animation: jump 1.2s infinite;
	-moz-animation: jump 1.2s infinite;
	-o-animation: jump 1.2s infinite;
	-ms-animation: jump 1.2s infinite;
	animation: jump 1.2s infinite;
	cursor: pointer;
}

#ballShadow {
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: 10;
	margin-left: -10px;
	width: 20px;
	height: 20px;
	background: rgba(32, 28, 80, .2);
	//box-shadow: 0px 0 10px 15px rgba(32,28,80,.1);
	border-radius: 50% / 45%;
	-webkit-transform: scaleY(.3);
	-moz-transform: scaleY(.3);
	-ms-transform: scaleY(.3);
	-o-transform: scaleY(.3);
	transform: scaleY(.3);
	-webkit-animation: shrink 1.2s infinite;
	-moz-animation: shrink 1.2s infinite;
	-o-animation: shrink 1.2s infinite;
	-ms-animation: shrink 1.2s infinite;
	animation: shrink 1.2s infinite;
}

/* Animations */

@-webkit-keyframes jump {
	0% {top: 0;
		-webkit-animation-timing-function: ease-in;
	}
	40% {}
	50% {top: 36px;
		height: 36px;
		-webkit-animation-timing-function: ease-out;
	}
	55% {top: 40px; height: 30px; border-radius: 50% / 45%;
		-webkit-animation-timing-function: ease-in;}
	65% {top: 30px; height: 36px; border-radius: 50%;
		-webkit-animation-timing-function: ease-out;}
	95% {
		top: 0;
		-webkit-animation-timing-function: ease-in;
	}
	100% {top: 0;
		-webkit-animation-timing-function: ease-in;
	}
}

@-moz-keyframes jump {
	0% {top: 0;
		-moz-animation-timing-function: ease-in;
	}
	40% {}
	50% {top: 36px;
		height: 36px;
		-moz-animation-timing-function: ease-out;
	}
	55% {top: 40px; height: 30px; border-radius: 50% / 45%;
		-moz-animation-timing-function: ease-in;}
	65% {top: 30px; height: 36px; border-radius: 50%;
		-moz-animation-timing-function: ease-out;}
	95% {
		top: 0;
		-moz-animation-timing-function: ease-in;
	}
	100% {top: 0;
		-moz-animation-timing-function: ease-in;
	}
}

@-o-keyframes jump {
	0% {top: 0;
		-o-animation-timing-function: ease-in;
	}
	40% {}
	50% {top: 36px;
		height: 36px;
		-o-animation-timing-function: ease-out;
	}
	55% {top: 40px; height: 30px; border-radius: 50% / 45%;
		-o-animation-timing-function: ease-in;}
	65% {top: 30px; height: 36px; border-radius: 50%;
		-o-animation-timing-function: ease-out;}
	95% {
		top: 0;
		-o-animation-timing-function: ease-in;
	}
	100% {top: 0;
		-o-animation-timing-function: ease-in;
	}
}

@-ms-keyframes jump {
	0% {top: 0;
		-ms-animation-timing-function: ease-in;
	}
	40% {}
	50% {top: 36px;
		height: 36px;
		-ms-animation-timing-function: ease-out;
	}
	55% {top: 40px; height: 30px; border-radius: 50% / 45%;
		-ms-animation-timing-function: ease-in;}
	65% {top: 30px; height: 36px; border-radius: 50%;
		-ms-animation-timing-function: ease-out;}
	95% {
		top: 0;
		-ms-animation-timing-function: ease-in;
	}
	100% {top: 0;
		-ms-animation-timing-function: ease-in;
	}
}

@keyframes jump {
	0% {
		top: 0;
		animation-timing-function: ease-in;
	}
	50% {
		top: 36px;
		height: 36px;
		animation-timing-function: ease-out;
	}
	55% {
		top: 40px;
		height: 30px;
		border-radius: 50% / 45%;
		animation-timing-function: ease-in;
	}
	65% {
		top: 30px;
		height: 36px;
		border-radius: 50%;
		animation-timing-function: ease-out;
	}
	95% {
		top: 0;
		animation-timing-function: ease-in;
	}
	100% {
		top: 0;
		animation-timing-function: ease-in;
	}
}


@-webkit-keyframes shrink {
	0% {
		bottom: 4px;
		margin-left: -4px;
		width: 8px;
		height: 10px;
		background: rgba(255, 255, 255, .4);
		box-shadow: 0px 0 10px 12px rgba(255, 255, 255, .4);;
		border-radius: 50% / 45%;
		-webkit-animation-timing-function: ease-in;
	}
	50% {
		bottom: 4px;
		margin-left: -5px;
		width: 10px;
		height: 12px;
		background: rgba(255, 255, 255, .7);;
		box-shadow: 0 0 2px 3px rgba(255, 255, 255, .7);;
		border-radius: 50% / 45%;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		bottom: 4px;
		margin-left: -4px;
		width: 8px;
		height: 10px;
		background: rgba(255, 255, 255, .4);;
		box-shadow: 0px 0 10px 12px rgba(255, 255, 255, .4);;
		border-radius: 50% / 45%;
		-webkit-animation-timing-function: ease-in;
	}
}
