.-downloadapp {

  .app-image-container {
    max-height: 240px;
    margin-bottom: -24px;
    overflow: hidden;
    text-align: center;

    img {
      max-width: 80%;
      height: auto;
    }
  }
}
