//place detail
.gmaps-container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  margin-top: -24px;
  background: #F0F0F0;

  > .gmaps-ticket {
    position: relative;
    height: 320px;
  }

  > .container {
    overflow: hidden;
    padding: 0;
    height: auto;
  }
  .col-legend {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
  }
}
.infoWindowContent {
  font-family: $font-family-base;
  h6 {
    margin-top: 6px;
    padding: 0;
    font-size: 14px;
    border: 0;
    color: $t-main;

    i {
      margin-right: 4px;
      vertical-align: middle;
      font-size: 16px;
      &.icon-collact {
        color: #ef1335;
      }
    }
  }
  p { margin: 0 }
  .cardmini-holder {
    margin: 8px 0 0;
    padding-left: 2px;
  }
}
//pseudo legend
.gmaps-ticket-legend {
  background: transparent;
  margin: 0;
  padding: 0;

  > .filter-show-fav {
    position: relative;
    min-height: 32px;
    padding: 12px 8px 6px 64px;
    margin: 16px 0;
    @include border-radius(4px);
    @include drop-shadow();
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    color: $t-main;
    background: white;
    cursor: pointer;

    > .badge-icon-fav {
      display: block;
      position: absolute;
      top: -8px;
      left: 8px;
      width: 48px;
      height: 48px;
      @include border-radius(50%);
      @include drop-shadow(0, 3px, 6px, .3);
      background-size: 48px 48px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('../images/badge-icon-fav.png');
    }
    > .num-fav {
      padding: 3px 4px 0;
      margin-left: 4px;
      @include border-radius(2px);
      color: #FFFFFF;
      background: $t-blue2;
    }
  }
  > .filter-show-search {
    @extend .filter-show-fav;
    > .badge-icon-search {
      @extend .badge-icon-fav;
      background-image: url('../images/badge-icon-search.png');
    }
  }
  > .legend {
    display: none;
    padding: 10px 8px 6px;
    font-size: 0.75em;
    background: rgba(255,255,255,0.7);
    i {
      font-size: 24px;
      vertical-align: middle;
      margin-right: 4px;
      &.icon-collact {
        color: #ef1335;
      }
    }
    a {
      color: $t-gray1;
      text-decoration: underline;
      &:hover {
        color: $t-blue2;
      }
    }
  }
}
@media screen and (min-width: $screen-sm-min) {
  .gmaps-container {
    padding: 24px 0;
    height: 800px;

    > .gmaps-ticket {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: auto;
    }

    > .container {
      padding: 0 15px;
      height: 776px;
    }
    .col-legend {
      display: block;
      position: relative;
    }
  }
  .gmaps-ticket-legend > .legend {
    display: block;
  }
}
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .gmaps-ticket-legend > .filter-show-fav > .badge-icon-fav {
    background-image: url('../images/badge-icon-fav@2x.png');
  }
  .gmaps-ticket-legend > .filter-show-search > .badge-icon-search {
    background-image: url('../images/badge-icon-search@2x.png');
  }
}
