.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.date-picker-date-time {
  position: absolute;
}
.date-range .date-picker-date-time {
  position: inherit;
}
[date-picker-wrapper] {
  position: absolute;
  min-width: 220px;
  z-index: 10;
  display: block;
  font-size: 14px;
}
[date-time-append] [date-picker-wrapper] [date-picker] {
  margin-top: -30px;
}
[date-time-append] [date-picker] {
  position: relative;
  margin-right: -1000px;
  margin-bottom: -1000px;
}
[date-range] [date-picker] .after.before {
  color: #ffffff;
  background-color: #499dcd;
}
[date-range] [date-picker] .after.before:hover,
[date-range] [date-picker] .after.before:active,
[date-range] [date-picker] .after.before.active,
[date-range] [date-picker] .after.before.disabled,
[date-range] [date-picker] .after.before[disabled] {
  color: #ffffff;
  background-color: #2f6ab4;
  *background-color: #2a5ea0;
}
[date-range] [date-picker] .after.before:active,
[date-range] [date-picker] .after.before.active {
  background-color: #24528c \9;
}
[date-picker].hidden {
  display: none;
}
[date-picker] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  @include border-radius(0, 4px, 4px, 0);
  @include drop-shadow(0, 0, 4px, .3);
  background-color: #fff;
  /* GENERAL */
  padding: 4px;
  /* SPECIFIC */
}
[date-picker] table {
  margin: 0;
}
[date-picker] td,
[date-picker] th {
  text-align: center;
  width: 32px;
  height: 32px;
  font-size: 0.875em;
}
[date-picker] th {
  height: auto;
  padding: 4px 0;
}
[date-picker] .switch {
  width: 145px;
  cursor: default;
}
[date-picker] .switch:hover {
  background: transparent;
}
[date-picker] span {
  display: block;
  width: 23%;
  height: 28px;
  line-height: 30px;
  float: left;
  margin: 1%;
  cursor: pointer;
  @include border-radius(2px);
}
[date-picker] span:hover {
  background: #eeeeee;
}
[date-picker] span.disabled,
[date-picker] span.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
[date-picker] .active,
[date-picker] .now {
  color: #ffffff;
  background-color: $t-main;
  color: #fff;
}
[date-picker] .active:hover,
[date-picker] .now:hover,
[date-picker] .active:active,
[date-picker] .now:active,
[date-picker] .active.active,
[date-picker] .now.active,
[date-picker] .active.disabled,
[date-picker] .now.disabled,
[date-picker] .active[disabled],
[date-picker] .now[disabled] {
  color: #ffffff;
  background-color: $t-blue2;
}
[date-picker] .active:active,
[date-picker] .now:active,
[date-picker] .active.active,
[date-picker] .now.active {
  background-color: $t-main;
  @include border-radius(4px, 4px, 4px, 0)
}
[date-picker] .now {
  color: #ffffff;
  background-color: $t-blue1;
  @include border-radius(4px, 4px, 4px, 0)
}
[date-picker] .now:hover,
[date-picker] .now.disabled,
[date-picker] .now[disabled] {
  color: #ffffff;
  background-color: $t-blue2;
}
[date-picker] .now:active,
[date-picker] .now.active {
  background-color: #e9712d \9;
}
[date-picker] .disabled {
  background: none;
  color: #999999 !important;
  cursor: default;
}
[date-picker] [ng-switch-when="year"] span,
[date-picker] [ng-switch-when="month"] span,
[date-picker] [ng-switch-when="minutes"] span {
  height: 54px;
  line-height: 54px;
}
[date-picker] [ng-switch-when="date"] td {
  padding: 0;
}
[date-picker] [ng-switch-when="date"] span {
  width: 100%;
  height: 28px;
  line-height: 32px;
}
[date-picker] th:hover,
[date-picker] [ng-switch-when="date"] td span:hover {
  background: $t-gray4;
  cursor: pointer;
}
[date-picker] [ng-switch-when="date"] td span.now:hover {
  background: $t-blue2;
}
[date-picker] [ng-switch-when="date"] td span.active:hover {
  background: $t-blue3;
}
[date-picker] thead > tr:last-child > th {
  color: $t-blue2;
}
[date-picker] thead > tr:first-child > th {
  padding: 8px 0;
  color: $t-blue2;
}
[date-picker] thead > tr:last-child > th:hover {
  background: transparent;
  cursor: default;
}
