#dashboard-tr-chart {
    .about-text {
        font-size: 12px;
        fill: $t-gray2;
    }
    .y-tick {
        font-size: 10px;
        fill: $t-gray3;
    }

    .x-axis,
    .y-axis {
        path,
        text {
            display: none;
        }
    }
    .y-axis {
        line {
            shape-rendering: crispEdges;
            stroke: $t-gray3;
            stroke-width: 1;
            stroke-dasharray: 2,2;
        }
    }
    .line,
    .mean-line {
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    .line {
        stroke: $t-red;
        stroke-width: 2;
    }
    .mean-line {
        stroke: $t-main;
        stroke-width: 1;
    }
    .mean-box {
        fill: $t-main;
        fill-opacity: 0.9;
    }
    .mean-text {
        text-anchor: middle;
        font-size: 10px;
        fill: white;
    }
}
