/**
* Ticket - Edenred Brasil
*
* Este estilo se aplica a todas as páginas do site referente a estrutura
* Ex.: Topo, Menu, Rodapé, Containers e etc.
*
* @section Estrutura do site
*/

/* ESTILIZAÇÃO DAS TAGS
***************************************************************** */
body { background-color: #f9f6ee; font: normal 13px 'Tahoma', Arial; color: #545454; text-align:left; }
p { margin-bottom: 20px; }
ol, ul { margin: 0; padding: 0; list-style: none; }
fieldset { margin:15px 0 0 0; }
legend { margin-bottom:25px; font-size:24px; color:#11204c; text-align:center; border:0; }
input[type='number'] { -moz-appearance: textfield; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; }
hr { margin-top: 0; margin-bottom: 30px; }
a { outline:none!important; }

::-moz-selection { background: #FFD1CD; }
::selection { background: #FFD1CD; }


/* CLASSES GERAIS
***************************************************************** */
.wrapperSite { margin-top: 0px; padding-left:0px; padding-right:0px; width:100%!important; }
.bgCentro { background:#e6e4dc; margin-left:0px; margin-right:0px; }
.container { max-width:1024px; position:relative; }
.guardaVideo { margin: 0 auto 30px auto; max-width: 560px; width: 100%; height: auto; }
.visualizaPDF { background: url('../images/icones/icone-visualizar-pdf.png') no-repeat; width: 100%; height: 21px; float: left; padding-left: 25px; }
.containerPreVisualizarPDF { float: left; margin-top: 12px; -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.43); -moz-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.43); box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.43); width: 100%; overflow-x: auto; }


/* ESTILIZAÇÃO DO TOPO
***************************************************************** */
.container-fluid.topo { background:#fff; padding-left: 0; padding-right: 0; }
.container.topo { padding-left:0px; padding-right:0px; }

/* Topo > busca do topo */
.form-group-f { top:-8px; right:43px; position: absolute; }
.form-group-f.escondido { display:none!important; }
.form-group-f input { width:200px; margin-top:5px; }
.btn-busca-f { width: 16px; height: 16px; top: 0px; right: 0px; border: 0; border-radius: 0; background: transparent url('../images/icones/sprite.png') no-repeat -21px -454px; cursor: pointer; position: relative; float: left; }

/* Topo > Menu paralelo (ao lado do botão de busca) */
.menu-paralelo-f { width: auto; top: -20px; right: 0px; position: absolute!important; float: right; }
.menu-paralelo-f li { height: 32px; line-height:21px; margin-left: 0px; padding: 5px 10px 10px 10px; border-right: 1px solid #c0c5cb; text-transform: uppercase; border-top: 0!important; position: relative; float: left; }
.menu-paralelo-f li a { padding: 0!important; font-size: 10px!important; color: #586381!important; float: left; }
.menu-paralelo-f li:hover { border-top: 0!important; }
.menu-paralelo-f li.sem-borda { border-right:0px; }

.btn-busca-f:hover,
.btn-busca-f:focus,
.btn-busca-f:active { background: transparent url('../images/icones/sprite.png') no-repeat -21px -454px; }

/* Topo > menu superior */
.navbar { margin: 0; padding-top: 35px; border-bottom: 0; background: #FFFFFF; z-index: 999; }
.navbar-fixed-top .navbar-collapse, 
.navbar-fixed-bottom .navbar-collapse { max-height: none; }

/* Topo > submenu superior */
.menuTablet { width: 480px; height: 120px; background: #FFF; top: 110px; right: 0; position: absolute; display: none; }
.navbar-collapse-f { margin: 12px 0 0 0; z-index: 300; }

.dropdown-menu-f { margin: 0; padding: 20px 10px 0px 10px; border-top: 0; border-radius: 0; box-shadow: none; background: #f8f8f8; }
.dropdown-menu-f ul { position: relative; float: left; }
.item-2 .dropdown-menu-f ul { width:240px; }

.flyout { width: 998px; left: -245px; position: absolute; z-index: 700; }

/* Topo > logo */
.navbar-brand { height: auto; padding: 0 15px 11px 0; }
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand { margin-left:0; }


/* TOPO > MENU SUPERIOR FAIXA AZUL
**************************************** */
.area-login-topo-f { width: 100%; height: 50px; background: #12214d; position: relative; z-index: 600; }
.area-login-topo-f .container { padding-left: 0; padding-right: 0; }
.menu-faixa-azul { margin-left: -13px; }
.menu-faixa-azul li { float:left; }
.menu-faixa-azul li a { float:left; color:#fff; padding:16px 48px 0 48px; font-weight:bold; border-left:1px solid #fff; font-size:8px; text-decoration: none; text-transform: uppercase; font-style: italic; font-weight: 200; height: 50px; }
.menu-faixa-azul li a span{ font-size: 14px; text-transform: none; font-style: normal; font-weight: 700; }
.menu-faixa-azul li.first a{ border-left:none; font-size:18px; padding:12px 69px 16px 69px; }
.menu-faixa-azul li.first a span{ font-size:18px; }
.menu-faixa-azul li.beneficio a{ padding:11px 25px 12px 55px; background-image: url(../images/icones/calculadora.png); background-repeat: no-repeat; background-position: 25px center; }

.menu-faixa-azul li.active a,
.menu-faixa-azul li.active a:hover,
.menu-faixa-azul li.active a:hover span { background:#DC291A; }

.menu-faixa-azul li:hover a,
.menu-faixa-azul li:hover a span { background-color:#1A3481; text-decoration:none; }


/* FORMATAÇÃO DO BOX DE LOGIN
**************************************** */
#loginPerfil { position:absolute; right:20px; z-index:9999; width:355px; display:none; }
.container-login { float:left; background:#e8e5de; padding-top:15px; border-radius:10px; margin-top:20px;
                -moz-border-radius:10px; -webkit-border-radius:10px;
                box-shadow: 0px 0px 8px #999; -webkit-box-shadow: 0px 0px 8px #999; -moz-box-shadow: 0px 0px 8px #999;
}
#loginPerfil .seta-box { position:absolute; top:4px; left:210px; }
#loginPerfil .elem { width:100%; float:left; padding:5px 39px; display:none; }
#loginPerfil .elem .selecione { float:left; width:100%; }
#loginPerfil .elem .radio {margin-bottom: 0; }
#loginPerfil .elem input.radio { opacity:0!important; float:left; margin-right:5px; filter: alpha(opacity=0); }
#loginPerfil .elem .radio label {padding-left: 0; font-weight: bold; }
        
#loginPerfil .elem .lado { float:left; }
#loginPerfil .elem .lado.esq { width:60%;  }
#loginPerfil .elem .lado.dir { width:40%; padding-left: 12px;}
#loginPerfil .elem .lado.dir a { float:right; }
#loginPerfil .elem .lado .bold { line-height:18px; }

#loginPerfil .rdoPerfilContainer .lado.esq { padding-left: 0; width: 54%;}
#loginPerfil .rdoPerfilContainer .lado.dir { padding-left:10px; width: 46%;}

#loginPerfil .enviar { width:100%; float:left; text-align:center; color:#fff; font-weight:bold; line-height:44px; background:#009b47; margin-top:15px;
                 border-radius:0px 0px 10px 10px; -moz-border-radius:0px 0px 10px 10px; -webkit-border-radius:0px 0px 10px 10px;
}
#loginPerfil .enviar:hover { text-decoration:none; }

/* login > perfis de usuario */
#loginPerfil .elem.perfil { display:block; padding:5px 25px 5px 30px;}

/* login > esconde os links */
#loginPerfil .elem.links .lado { display:none; }
#loginPerfil .elem.links .lado a { text-decoration:underline; }
        
/* login > combo para escoler o tipo de cliente */
#loginPerfil .elem.usuario,
#loginPerfil .elem.usuario select { display:none; width: 100%!important; }
#loginPerfil .elem.usuario .lblSelect { width: 100%!important; }

/* login > campos de CLIENTE-TICKET */
#loginPerfil.perfil-cliente-ticket .elem.login { display:block; }
#loginPerfil.perfil-cliente-ticket .elem.links,
#loginPerfil.perfil-cliente-ticket .elem.links .lado.esq { display:block; }

/* login > campos de TICKETCAR */
#loginPerfil.perfil-ticketcar .elem.informe-login { display:block; }

/* login > campos de TICKETCAR MANUTENÇÃO */
#loginPerfil.perfil-ticketcar-manut .elem.clique-login { display:block; }

/* login > campos de E-TICKET */
#loginPerfil.perfil-e-ticket .elem.grupo-acesso { display:block; }
#loginPerfil.perfil-e-ticket .elem.links,
#loginPerfil.perfil-e-ticket .elem.links .lado { display:block; }


.form-inline-f { margin: 10px 0 0 0; }
.form-margin-f { margin-right: 5px; }
.input-login-f { width: 160px!important; }

/* LOGIN - SELECT */
.form-label-f { height: 38px; margin: 0 5px 0 0; font-weight: normal; position: relative; }
.form-select-f,
.form-select-f-ap { padding-top: 30px; top: 0; left: 0; line-height: 15px!important; border: none; outline: none;  cursor: pointer; opacity: 0; position: absolute; z-index: 30; }
.form-select-f{ -webkit-appearance: none; -moz-appearance: none; }
.texto-input-f { font-size: 12px; color: #555555; float: left; margin-top: 2px; }
.caret { right: 8px; top: 16px; border-top-color: #f43121!important; border-bottom-color: #f43121!important; position: absolute; }

/* LOGIN - BOTOES */
.btn-seguranca-f { padding-left: 30px!important; padding-right: 15px; text-transform: uppercase; background: #DC291A; position: relative; }
.btn-seguranca-f .seguranca-f { width: 13px; height: 13px; top: 7px; left: 7px; background: transparent url('../images/icones/sprite.png') no-repeat -23px -574px; position: absolute; float: left; }
.btn-esqueci-senha-f { margin-left: 10px; font-size: 10px; color: #FFFFFF; text-transform: uppercase; }
.btn-esqueci-senha-f:hover { color: #586381; }
#formLogin .enviar {height: 44px; line-height: normal!important; }        
        
/* ASSISTENTE */
.assistente-f { width: 228px; height: 90px; padding: 10px 20px 10px 20px; top: 0; right: 45px; color: #ffffff; background: #dc291a url('../images/assistente-virtual-d.png') no-repeat right 9px; -webkit-box-shadow: 0 1px 2px 0 #424242; box-shadow: 0 1px 2px 0 #424242; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; position: absolute; float: right; }
.assistente-f h4 { margin-top: 0; font-size: 14px; }
.assistente-f p { width: 90px; font-size: 11px; }


/* ESTILIZAÇÃO DO RODAPÉ
***************************************************************** */
.footer{background-color:#12204d; padding-top:25px; padding-bottom:25px; border-top:1px solid #bebdc2;}
ul.menuFooter li a{float:left; width:100%; color:#FFF; padding-bottom:5px;}
ul.menuFooter.mobile li a{padding-bottom:10px;}
ul.listaLogos, ul.redesSociais{padding-top:25px;}
ul.listaLogos li{float:left;}
ul.listaLogos li:first-child{padding-right:20px; margin-right:20px; background:url(../images/separador.png) no-repeat right center;}
ul.redesSociais li:first-child a{margin-left:0;}
ul.redesSociais li{display:inline;}
ul.redesSociais li a{float:left; height:28px; width:28px; margin-left:20px;}
.facebook{background:url(../images/icones/facebook.png) no-repeat;}
.twitter{background:url(../images/icones/twitter.png) no-repeat;}
.linkedin{background:url(../images/icones/linkedin.png) no-repeat;}
.appStore{background:url(../images/app-store.png) no-repeat; width:133px; height:39px; float:left; margin:0 30px 10px 0; background-size:100%;}
.googlePlay{background:url(../images/google-play.png) no-repeat; width:133px; height:40px; float:left; margin:0 0 20px 0; background-size:100%;}
.easier{margin-top:10px; float:right;}
.mostraMobile{display:none;}

/*
*  Popup de "Download app" no template19e20
*/
#SaldoLogin .download-app .btn-success{ width: 50%; }

/*
* Faixas entre uma resolução e outro
*/
@media screen and (min-width: 320px) and (max-width: 480px)
{
    /* elementos ocultos */
    .area-login-topo-f { display:none; }
    
    /* Topo */
    .navbar { padding-top: 15px; }
    .navbar-toggle-f { right:15px; }
    
    /* Logo */
    .navbar-brand { padding:0 15px 11px 10px; }
}

@media screen and (min-width: 320px) and (max-width: 767px) 
{
    /*Ajustando o botão DOWNLOAD da template19e20*/
    #SaldoLogin .download-app .btn-success{ width: 80%; }

    /*Área de consulta Saldo*/
    #SaldoLogin .download-app {  background: url('../images/arrow.png') no-repeat right bottom; padding-bottom: 20px; } 

}

@media (min-width: 481px) and (max-width: 1023px)
{
    /* Menu do topo */
    .navbar-static-top { position:fixed!important; top:0px; left:0px; width:100%; padding-top:20px; }
    .navbar-brand { padding-left:25px; }
    .navbar-collapse-f { width:55%!important; top:80px; overflow:auto; display:none; box-shadow:-3px 10px 8px #333; -webkit-box-shadow:-3px 10px 8px #333; -moz-box-shadow:-3px 10px 8px #333; }
    .navbar-collapse-f .dropdown-menu { width:100%!important; }
    .navbar-toggle-f { right:15px; }
}

@media screen and (min-width: 768px) and (max-width: 1023px)
{
    /* MENU TOPO */
    .navbar-toggle { right: 0; position: absolute; }
    .navbar-toggle-f { top: -27px; right: 25px; border-radius: 0; border: 0!important; position: absolute; }
    .navbar-toggle-f .icon-bar { width: 30px; height: 4px; background-color: #11204c!important; }
    
    /* BUSCA TOPO */
    .navbar-form { border: 0; top: -20px; right: 130px; }
    .btn-busca-f { width: 20px; height: 20px; border: 0; border-radius: 0; background: transparent url('../images/icones/sprite.png') no-repeat -19px -479px; cursor: pointer; position: relative; float: left; }
    .btn-busca-f:hover,
    .btn-busca-f:focus,
    .btn-busca-f:active { background: transparent url('../images/icones/sprite.png') no-repeat -19px -479px; }
    
}

/*
* Media Queries para as faixas máximas
*/
@media screen and (max-width: 768px) 
{
    /* posicionamento do site em tablet */
    .wrapperSite { margin-top:100px; }

    /* elementos ocultos */
    .area-login-topo-f { display:none; }

    /* Menu do topo */
    .assistente-f { display:none; }
    
    .navbar-toggle-f { top: -27px; border-radius: 0; border: 0!important; position: absolute; }
    .navbar-toggle-f .icon-bar { width: 30px; height: 4px; background-color: #11204c!important; }
	
    .colaborador-mobile-f { width: 29px; height: 39px; background: url('../images/icones/sprite.png') no-repeat -15px -10px; }
    .empregador-mobile-f { width: 28px; height: 39px; background: transparent url('../images/icones/sprite.png') no-repeat -16px -59px; }
    .comerciante-mobile-f { width: 28px; height: 38px; background: transparent url('../images/icones/sprite.png') no-repeat -16px -109px; }
    .diferenciais-mobile-f { width: 21px; padding: 39px; background: transparent url('../images/icones/sprite.png') no-repeat -16px -109px; }
    
    /* Rodapé do site */
    .footer{padding:30px 0;}
    .footer .col-sm-4 {width: 75%; float:left;}
    .footer .col-sm-6 {float:left;}
    ul.redesSociais{position:absolute; top:0; right:10px; padding-top:0;}
    .escondeMobile{display:none!important;}
    .mostraMobile{display:block!important;}

        
}


@media screen and (max-width: 1023px)
{
    .bgCentro { margin-left:0px; margin-right:0px; }
    
    /* Topo do site */
    .navbar-nav { margin: 0; right: 0; border: 0; position: relative; }
    .navbar-collapse-f { width: 100%; height: auto; margin: 0!important; padding: 0; right: 0; background: #fff; position: absolute; float: left; z-index: 300; }
    
    .navbar-collapse-f li { width: 100%; border-bottom: 1px solid #e6e6e6; float: left; }
    .navbar-collapse-f .open .caret-click-f { background: #ffffff!important; color: #f43121!important; }
    .navbar-collapse-f li a { width: 100%; padding: 20px 15px 20px 6%; color: #11204c!important; font-size: 18px; font-weight: normal; position: relative; display: block; float: left; }
    .navbar-collapse-f li a:hover { text-decoration: none; }
    
    .navbar-collapse-f .open li { width: 100%; border-bottom: 0; }
    .navbar-collapse-f .open li a { color: #777777!important; }
    
    .navbar-collapse-f .caret-f { width: 14px; height: 9px; top: 25px; right: 60px; background: transparent url('../images/icones/sprite.png') no-repeat; position: absolute; float: left; }
    .navbar-collapse-f .caret-fechado-f { background-position: -23px -300px; }
    .navbar-collapse-f .open .caret-fechado-f { background-position: -23px -282px; }
    
    .dropdown-menu-f { padding: 0; float: left; }
    .submenu-f { width: 100%!important; }
    .submenu-f li { margin: 0; padding: 15px 15px 15px 6%!important; }
    .submenu-f li a { padding: 0; font-weight: normal; }
    .submenu-f li li { padding-left: 0!important; }
    .submenu-duas-colunas-titulo-f { width: 100%!important; }
    .submenu-titulo-f { margin-bottom: 15px!important; background:#e1e4e6; }
    .submenu-titulo-f:before { background:none!important; }
    .submenu-perfil-f { font-size: 16px; color: #9ba4ad!important; float: left; }
    
    .submenu-f .padding-top-mobile-f { padding: 0 15px 0 6%!important; }
    
    .menu-paralelo-f { right:110px; top:10px; border-bottom:1px solid #c0c5cb; float:left; }
    .menu-paralelo-f li { float:left; }
    .menu-paralelo-f li a:hover { text-decoration: none; }
    
    .navbar-form { margin:0px; }
    .busca-topo { position:static; padding:0px; float:left; }
    
    .dropdown {width:100%!important;}
    .flyout { width: 100%; left: 0!important; }
    
    /* Box de login */
    .box-login { top:38px; }
    .box-login .seta-box { top:4px; left:185px; }
    #loginPerfil { top: 41px; right: 48px; }

    /*Classe floatNone para monitor menores de 1023px*/
    .floatNone1023px {  float: none; }        
}

@media screen and (min-width: 1024px) 
{
    .navbar-collapse-f { display:block!important; height:auto!important; }
    .navbar-collapse.collapse { display: block; visibility: visible; }
    .navbar-nav-f { bottom: 0; right: 0; border-top: 1px solid #c0c5cb; position: absolute; float:right; }
    .navbar-nav-f li { font-weight: bold; position: static; }
    .navbar-nav-f li.open {border-top: 5px solid #f43121;}
    .navbar-nav-f li a { font-size: 13px; padding-top: 10px!important; padding-bottom: 15px; line-height: 20px; color: #11204c!important; }
    .navbar-nav-f li li a { font-size: 12px; font-weight: normal; }
    .navbar-nav-f li { border-top: 5px solid #FFFFFF; }
    .navbar-nav-f li:hover { border-top: 5px solid #f43121; }
    .navbar-nav-f li.open a,
    .navbar-nav-f li:hover a { background: #f8f8f8!important; color: #f43121!important; }
    
    .navbar-nav-f li.open li,
    .navbar-nav-f li:hover li { border-top: none; }
    .navbar-nav-f li:hover li a,
    .navbar-nav-f li.open li a { color:#777777!important; }
    
    /* SUBMENUS - CONTAINER */
    .colaborador-f { width: 305px; padding: 10px 35px 30px 35px; }
    .empregador-f { width: 400px; padding: 10px 35px 30px 35px; }
    .comerciante-f { width: 270px; padding: 10px 35px 30px 35px; }
    .diferenciais-f { width: 240px; padding: 10px 35px 30px 35px; }
	
    .meus-objetivos-menu .colaborador-f { width: 318px; padding: 10px 0px 30px 35px;}
    .meus-objetivos-menu .empregador-f { width: 348px;  padding: 10px 0px 30px 35px;}
    .meus-objetivos-menu .comerciante-f { width: 310px; padding: 10px 0px 30px 35px;}
	
    /* SUBMENUS - TITULOS */
    .submenu-f li { padding: 6px 0 7px 10px; font-size: 12px; }
    .submenu-f li a { float:left; width:100%; padding-bottom:0px; }
    .submenu-titulo-f { margin: 0 0 12px 0; padding: 0 0 9px 25px!important; position: relative; float: left; }
    
    .submenu-perfil-f { margin: 0 0 2px 0; color: #11204c; }
    .submenu-usuario-f { color: #9ba4ad; font-weight: normal; font-style: italic; font-size: 10px; text-transform: uppercase; }
        
    /* SUBMENU DUAS COLUNAS */
    .submenu-duas-colunas-f ul { margin: 0; padding: 0; position: relative; float: left; }
    .submenu-duas-colunas-f > li { margin: 0; padding-left: 0; float: left; }
    .submenu-duas-colunas-f ul li { width: 158px; }
    .submenu-duas-colunas-titulo-f { width: 260px; }
        
    /* SUBMENUS - TITULOS - BACKGROUND */
    .submenu-titulo-f:before { content: ''; top: 11px; left: 32px; background: transparent url('../images/icones/sprite-menu.png') no-repeat; position: absolute; float: left; }
    .colaborador-titulo-f:before { width: 21px; height: 29px; background-position: -35px 0px; }
    .empregador-titulo-f:before { width: 21px; height: 29px; background-position: -68px 0px; }
    .empregador-titulo-f .submenu-perfil-f{ color:#1B378B; }
    .comerciante-titulo-f:before { width: 21px; height: 29px; background-position: -101px 0px; }
    .comerciante-titulo-f .submenu-perfil-f{ color:#1740B2; }
    .diferenciais-titulo-f:before { width: 29px; height: 29px; background-position: 0px 0px; }
    .diferenciais-titulo-f span{ width: 140px; }
    .diferenciais-titulo-f .submenu-perfil-f{ color:#DC291A; }
    
    /* Estrutura */
    .container { width: 998px; padding: 0!important; }
}

@media screen and (min-width: 320px) and (max-width: 767px) 
{
    #loginPerfil { top: 41px; right: 50px; width: 250px;}
    #loginPerfil .rdoPerfilContainer .lado.esq { padding-left: 0; width: 95%; clear: both;}
	#loginPerfil .rdoPerfilContainer .lado.dir { padding-left: 0; width: 95%; clear: both;}
	#loginPerfil .elem.usuario{padding: 5px 7px;}
	#loginPerfil.perfil-ticketcar-manut .elem.clique-login{padding: 5px 15px;}
}

@media screen and (max-width: 480px)
{
    /* posicionamento do site em tablet */
    .wrapperSite { margin-top:0px; }

    /* Topo do site */
    .container.topo { width:100%; }
    .container.topo .navbar-header { height:84px; width: 100%; }
    
    /* Menu do topo */
    .navbar-collapse-f { position:relative; top:0px; left:0px; display:none; }
    .navbar-collapse-f .dropdown-menu { width:100%!important; }
    .navbar-collapse-f .dropdown-menu ul li.submenu-titulo-f{ margin-top: 15px; }
    .navbar-collapse-f .dropdown-menu ul:first-child li.submenu-titulo-f{ margin-top: 0; }
    .navbar-collapse-f .caret-f { right:30px!important; }
    .navbar-collapse-f li a { padding-left:4%!important; }
    .submenu-f { padding: 0!important; }
    
    /* Rodapé do site */
    ul.listaLogos li img { width:65px; }
    ul.listaLogos li:first-child { margin-bottom:10px; }
    ul.menuFooter.mobile li a { font-size:12px; }
    ul.redesSociais li a { margin-left:8px; }
}


/* CUSTOMIZAÇÃO DO MENU BOOTSTRAP
**************************************** */
.navbar-default { background: #f8f8f8 url('../images/px-topo.gif') repeat-x 0 0; }
.navbar-nav-f, .dropdown { position:relative; }
.dropdown-menu-f { border:none!important; position:absolute; top:52px; left:-310px; width:998px!important; }
.navbar-nav > li > a { padding-bottom: 17px!important; }

.dropdown.item-1 { width:133px; }
.dropdown.item-2 { width:183px; }
.dropdown.item-3 { width:132px; }
.dropdown.item-4 { width:124px; }
.dropdown.item-5 { width:145px; }

.dropdown.item-1.open .height-submenu { height:330px; }
.dropdown.item-2.open .height-submenu { height:240px; }
.dropdown.item-3.open .height-submenu { height:270px; }
.dropdown.item-4.open .height-submenu { height:175px; }


/* CSS PARA FORMATAÇÃO NO IE8
****************************************************************************** */
/* Obs.: Classe .ie8 add via javascript (scripts.js) */

/* IE8 > menu superior */
.ie8 .navbar-static-top { min-height:62px; }
.ie8 .navbar-collapse-f .navbar-nav-f { float:right; height:53px; }
.ie8 .navbar-collapse-f .dropdown-menu-f { top:51px; left:-281px; }
.ie8 .menuFake { background:#f8f8f8; }
.ie8 .menuFake.bordaLateral { border-right:0px; }