#loginPerfil .seta-box{left: 178px;}
.dropdown-menu-f{left: -588px;}
.form-control{height: 34px;}
.listaSimulador li.simula2 {width: 40.2%}
.guardaInput input[type="radio"] {
	height: 20px;
	margin-left: -10px;
}
.ticketalerta{background: url("../images/ticket-alerta.png") no-repeat scroll 10px 15px rgba(0, 0, 0, 0);}
.whatsApp {top: 2px;}
.telefone {top: 12px;}

.info-tre, .info-ta {display:none;}

.marginRight6px {margin-right: 6px;}
.marginRight10px {margin-right: 10px;}

input[type="text"][readonly]{background-color:#f2f0e3}
.inputselectcard{ width: 125px; height: 30px;}
.btn-banner-default{text-transform:uppercase}
.greyBG_1{background:#dbd7cc!important}
.ci-direcao{background:url('../images/icons-1.png') no-repeat -1137px -24px;width:48px;height:48px}
.ci-telemetria{background:url('../images/icons-1.png') no-repeat -936px -24px;width:48px;height:48px}
.ci-portaria{background:url('../images/icons-1.png') no-repeat -1037px -24px;width:48px;height:48px}
.ci-abrangencia{background:url('../images/icons-3.png') no-repeat -1020px -11px;width:59px;height:67px}
.ci-cobranca{background:url('../images/icons-3.png') no-repeat -1160px -11px;width:60px;height:67px}
.icon-pat{background:url("../images/icones/icones-ticket-pat.png") no-repeat scroll 5px 15px rgba(0, 0, 0, 0); width: 90px !important; height: 105px !important;}

.icon-facul-Atendimaneto{background:url('../images/icones/iconAtendimento.png') no-repeat }
.icon-facul-Atendimaneto:hover{background:url('../images/icones/iconAtendimento_over.png') no-repeat }
.icon-facul-Cases{background:url('../images/icones/iconCases.png') no-repeat }
.icon-facul-Cases:hover{background:url('../images/icones/iconCases_over.png') no-repeat }
.icon-facul-Desafio{background:url('../images/icones/iconDesafio.png') no-repeat }
.icon-facul-Desafio:hover{background:url('../images/icones/iconDesafio_over.png') no-repeat }
.icon-facul-Home{background:url('../images/icones/iconHome.png') no-repeat}
.icon-facul-Home:hover{background:url('../images/icones/iconHome_over.png') no-repeat}
.icon-facul-Link{background:url('../images/icones/iconLink.png') no-repeat }
.icon-facul-Link:hover{background:url('../images/icones/iconLink_over.png') no-repeat }

.bgFacul {background: none repeat scroll 0 0 #284235;}
.bgFacul a {color: #ffffff; font-weight: bold;}

.captcha {background: none;}
.boxContentConsultaSaldo  {min-height: 373px;}

.nobackground{background:none!important;}

.ui-autocomplete{z-index:300000!important}

.preesroom {height: 400px; max-height:400px; min-height:400px;}
.boxContent .introduction {height: 160px;}

.button_play {
    background: url("/portal/ticket/img/box-play.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    height: 158px;
    margin: 0;
    width: 272px;
}
.button_pause {
    background: url("/portal/ticket/img/box-pause.png") no-repeat scroll 0 100% rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    display: none;
    height: 158px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 272px;
}

.logo-ticketnafacul {
text-align: center;
padding-bottom: 15px; 
}

.img-central-cases {
width: 146px;
margin: 5px;
box-shadow: 5px 5px 5px #E0DFDF;
border: solid white 4px;
}

.img-central-desafios {
width:230px;
box-shadow: 5px 5px 5px #E0DFDF;
margin-bottom: 15px;
border: solid white 4px;
}
.img-linksUteis {
margin: 5px;
}

.central-cases-box {
height: 300px;
float: left;
text-align: center;
width: 200px;
}

@media screen and (min-width: 800px){
.central-cases-box {
	width:20%;
	height:130px;
}
}

.box_desafios {
height: 300px;
float: left;
text-align: center;
width: 200px;
}

@media screen and (min-width: 800px){
.box_desafios {
	width:25%;
	height:260px;
	float: left;
	text-align: center;
	padding: 0 10px;
}
}

.linksUteis_box {
float: left;
text-align: center;
width: 200px;
padding-bottom:20px;
}

.galeria_desafios {
width:150px;
margin:10px;
float:left;
}

#links-uteis {
padding:10px;
}

.tab-content .fade .contentBox {
padding:15px;

}

.list {
    background-color: #ffffff;
}

.list .bullet-text {
    color: #545454;
    font: 15px Arial;
    margin: 15px auto 5px;
    text-align: center !important;
    width: 75%;
}

.list .bullet-text span {
    font-weight: bold !important;
    color: #009b48 !important;
    padding: 0 !important;
    margin: 0 !important;;
}

.list .bullet-img {
    width: 182px;
}

ul.ui-widget-content {
    background: url("../images/bg-form.jpg") no-repeat scroll left top #f8f8f8;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    color: #535353;
    font-size: 12px;
    line-height: 18px;
    margin: 0 !important;
    padding: 0 !important;
    width: 99%;
}
ul.tagit {
    margin-left: inherit;
    margin-right: inherit;
    overflow: auto;
    padding: 1px 5px;
}
ul.tagit li {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit li.tagit-choice {
    line-height: inherit;
    position: relative;
}
ul.tagit li.tagit-choice-read-only {
    padding: 0.2em 0.5em;
}
ul.tagit li.tagit-choice-editable {
    padding: 0.2em 18px 0.2em 0.5em;
}
ul.tagit li.tagit-new {
    background: none repeat scroll 0 0 transparent;
    clear: none;
    padding: 0.25em 4px 0.25em 0;
    width: auto;
}
ul.tagit li.tagit-choice a.tagit-label {
    cursor: pointer;
    text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
    cursor: pointer;
    line-height: 17px;
    margin-top: -8px;
    position: absolute;
    right: 0.1em;
    top: 50%;
}
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}
ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit input[type="text"] {
    background-color: inherit;
    border: medium none;
    box-shadow: none;
    box-sizing: border-box;
    margin: 0;
    outline: medium none;
    padding: 0;
    width: inherit;
}
ul.tagit {
    border-color: #c6c6c6;
    border-style: solid;
    border-width: 1px;
}
ul.tagit li.tagit-choice {
    background: none repeat scroll 0 0 #dee7f8;
    border: 1px solid #cad8f3;
    border-radius: 6px;
    clear: none;
    font-weight: normal;
    width: auto;
}
ul.tagit li.tagit-choice .tagit-label:not(a) {
    color: #555;
}
ul.tagit li.tagit-choice a.tagit-close {
    text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
    right: 0.4em;
}
ul.tagit li.tagit-choice .ui-icon {
    display: none;
}
ul.tagit li.tagit-choice .tagit-close .text-icon {
    color: #777;
    display: inline;
    font-family: arial,sans-serif;
    font-size: 16px;
    line-height: 16px;
}
ul.tagit li.tagit-choice:hover, ul.tagit li.tagit-choice.remove {
    background-color: #bbcef1;
    border-color: #6d95e0;
}
ul.tagit li.tagit-choice a.tagLabel:hover, ul.tagit li.tagit-choice a.tagit-close .text-icon:hover {
    color: #222;
}
ul.tagit input[type="text"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #333333;
}
.ui-widget {
    font-size: 1.1em;
}

.not-error {border: 1px solid #ccc !important;}