﻿/**
* Ticket - Edenred Brasil
*
* Este estilo contém formatação que são
* reutilizáveis em mais de um template
* 
* @section Padrões de Estilos
*/

/* CORES GERAIS
***************************************************************** */
.darkBlueBG{background: #12214d;}
.darkBlueFT{color: #12214d!important;}
.lightBrownBG{background: #545454;}
.lightBrownFT{color: #9B998D;}
.greyBG-1{background: #DBD7CC!important;}
.greyFT-1{color: #DBD7CC;}
.greyBG-2{background: #f9f6ee;}
.greyFT-2{color: #f9f6ee;}
.greyBG-3{background: #E8E5DE!important;}
.brownBG-1{background: #f2f0e3!important;}
.brownFT-1{color: #f2f0e3;}
.whiteBG{background: #FFF;}
.whiteFT{color: #FFF;}
.noneBG{background: none!important;}
.red-f{color:#DA2A1B!important;}
.green-f{color:#009b48!important;}
.topoMds{color:#12214d!important;}
.h2-mds{font-size:13px;color:#12214d!important;}
.help-block{color:#a94442;}
.bold{font-weight:bold;}
.normalFT { font-weight: normal; }


/* CLASSES GERAIS
***************************************************************** */
.ie{display:none;}
.cufon {visibility: visible !important;}
.customHide{display: none;}
.picture{background:#E8E5DE;}
.clearfix{clear: both}
.normal { font-weight: normal; }
.bold { font-weight:bold; }
.padding-zero { padding-left:0px!important; }
.padding-left-zero { padding-left:0px; }
.padding-right-zero { padding-left:0px; }
.padding-bottom-zero { padding-bottom:0px!important; }
.scrollable { margin-top: 10px; position: relative; overflow: auto; }
.separadorVertical { width: 1px; height: 350px; background: silver; }
.separadorHorizontal { height: 1px; background: silver; margin: 10px 0; }
.etapaPaddingTop { padding: 60px 30px; float: left; }
.moneyInput { padding: 6px 29px; }
.inputTxtCoverEsq { top: 33px; left: 8px; color: #BBBAB5; text-transform: uppercase; position: absolute; }
.help-block{ width: 100%; float: left; }
.alignCenter{ text-align: center; }
.hrCinza{ border-color: #E8E8E8; }
.noRadiusTop { -webkit-border-radius: 0px 0px 10px 10px!important; -moz-border-radius: 0px 0px 10px 10px!important; border-radius: 0px 0px 10px 10px!important; }
.img-full { width: 100%!important; }
.row-element { width:100%; float:left; }
.logoseo {font-size: 0px;margin-top:0px;margin-bottom:0px;}

/* classe utilizada para escurecer o site ao abrir o menu */
.fundo-escuro { position:fixed; top:0; left:0; width:100%; height: 100%; background:#000; opacity:0.6; display:none; z-index: 400; }

/* classes gerais > bordas */
.borderRadius-f { border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
.borderRadiusBottom{border-bottom-right-radius: 5px;border-bottom-left-radius: 5px; border-top-left-radius: 0; border-top-right-radius: 0; position:absolute; bottom:-36px; left:0; z-index:200;}
.borderRadius-tl{border-bottom-right-radius: 5px;border-bottom-left-radius: 5px; border-top-left-radius: 0; border-top-right-radius: 0;}
.borderRadiusTopRight{border-top-right-radius: 10px;border-top-right-radius:10px;}
.borderRadiusBottom:hover{opacity:1.0!important;}
.noRadius{border-radius: 0px;}
.noBorder{border: none!important;}
.hrBorder{height: 1px; background-color: #C3C3C3;}

/* classes gerais > padding */
.noPadding{padding:0!important;}
.noPadding-l{padding-left:0px!important;}
.noPadding-r{padding-right:0px!important;}
.noPadding-lr{padding-left:0px!important;padding-right:0px!important; padding-bottom:0!important;}
.noPadding-t{padding-top:0px!important;}
.noPadding-b{padding-bottom:0px!important;}
.noPadding-tb{padding-top:0px!important;padding-bottom:0px!important;}
.noPadding-m{padding:0;}
.padding6px{padding:6px;}
.padding30px{padding:30px;}
.paddingRight10px{padding-right:10px;}
.paddingRight15px{padding-right:15px;}
.paddingRight30px{padding-right:30px;}
.paddingLeft4px{padding-left:4px!important;}
.paddingLeft30px{padding-left:30px;}
.paddingLeft25px{padding-left:25px;}
.paddingLeft45px{padding-left:45px;}
.paddingTop30px{padding-top:30px;}
.paddingTop20px{padding-top:20px!important;}
.paddingTopBottom10px{padding-top:10px;padding-bottom:10px;}
.paddingBottom15px{padding-bottom:15px!important;}
.paddingBox{ padding:40px 0px; float: left; }
.boxDestaqueEsq{ padding: 65px 0 0 100px; }
.boxDestaque{ padding-top: 65px; }
.boxMenorLateral{ padding: 60px; float: left; width: 100%; }
.paddingForm{ padding: 0 5px; }

/* classes gerais > margins */
.noMargin{margin:0!important;}
.semMarginBottom{margin-bottom:0!important;}
.semMarginTop{margin-top:0!important;}
.marginTop3px {margin-top:3px;}
.marginTop10px{margin-top:10px;}
.marginTop12px{margin-top:12px;}
.marginTop15px{margin-top:15px!important;}
.marginTop20px{margin-top:20px!important;}
.marginTop30px{margin-top:30px!important;}
.marginTop35px{margin-top:35px;}
.marginTop60px{margin-top:60px;}
.marginTop80px{margin-top:80px;}
.marginBottom60px{margin-bottom:60px!important;}
.marginBottom40px{margin-bottom:40px!important;}
.marginBottom30px{margin-bottom:30px;}
.marginBottom25px{margin-bottom:25px;}
.marginBottom20px{margin-bottom:20px!important;}
.marginBottom15px{margin-bottom:15px!important;}
.marginBottom10px{margin-bottom:10px;}
.marginBottomMds{margin-bottom:0px!important;}
.marginRight15px{margin-right:15px;}
.marginLeft6px{margin-left:6px;}
.marginLeft4px{margin-left:4px;}
.marginRight10pct{margin-right:10%;}

.vertical-alignment-helper { display: table; height: 100%; width: 100%; pointer-events: none; }
.vertical-align-center { display: table-cell; vertical-align: middle; pointer-events: none; }
.center{text-align:center;}
.justify{text-align:justify;}
.right{text-align:right;}
.center-element { margin-left: auto; margin-right: auto; }
.noDecoration:hover,
.noDecoration:focus,
.noDecoration:active,
.noDecoration:visited { text-decoration: none; }
.underline { text-decoration: underline; }
.bannerBtn a:first-child { margin:0 3% 0 0; }
.bannerBtn a{font-size:12px;}
.subtitulo{font-size:20px; padding-bottom:30px; margin-bottom: 30px;}
.fonte12px{font-size:12px;}
.fonte14px{font-size:14px;}
.fonte15px{font-size:15px;}
.fonte16px{font-size:16px;}
.fonte18px{font-size:18px!important;}
.fonte20px{font-size:20px;}
ul.lista{margin-bottom:25px;}
ul.lista > li{background: url(../images/icones/bullet-lista.png) no-repeat left 8px; padding-left: 7px; margin-bottom: 20px; }
ul.listaNoMargin li { margin-bottom: 0px; }
.icon-radio{width: 28px;height: 20px; background: url(../images/icones/sprite.png) no-repeat -6px -1270px;position: absolute;top: 2px;right: -8px;}
.icon-radio.marcado{background: url(../images/icones/sprite.png) no-repeat -6px -1298px;}
.icon-refresh{width:28px; height:14px; float:left; background:url(../images/icones/sprite.png) no-repeat 0px -1245px; position:absolute; cursor:pointer; top:9px; right:10px;}
.captcha{ float:left; width:50%; height:37px; background:url(../images/captcha.png) no-repeat center center; }
.row-xs-height { display: table-row; }
.col-xs-height { display: table-cell; float: none; }
.colMF { padding-top: 15px; }
.colDesktopMargin { float: left; width: 100%; }
.lineHeight-2 { line-height: 2rem; }
.lineHeight-4 { line-height: 4rem; }
.container-xs-height { padding-left: 0px; padding-right: 0px; display: table; }
.decimalList { list-style-type: decimal; }
.decimalList li { margin-left: 25px; }
.initialDisplay{display: initial}
.overflow{overflow: hidden;}
.width-100{width:100%!important;}
.bs-docs-separator { border-top: 1px solid #d4d3d1 !important; }
.scrollable { margin-top: 10px; position: relative; overflow: auto; }
.strong { font-weight: bold; }
.separaForm{ border-bottom: 1px solid #D4D0C5; width: 100%; padding-top: 30px; float: left; }
.min-height-subtitulo { min-height:40px; }
.width150{ width: 150px; }
.height-icone-cinza { height:80px; }

.index300 { z-index: 300; }
.index500 { z-index: 500; }

/* classes gerais > botões */
.btnExtraGrande{width:294px;}
.btnGrande{max-width:216px;width: 100%;}
.btnMedio{width:200px;}
.btnPequeno{width:130px;}
.aspectFill{width: 100%;}
.btn-lg{font-size:13px;}
.btn:hover, .btn:focus, .btn.focus{color:#FFF; opacity:0.8; filter: alpha(opacity=80);}
.btnEnvia { width: 40%; margin: 0 auto; }
.btnDiferenciais {font-size: 11px !important;}

/* Tooltip */
.tooltip{ display: none; opacity: 1; }
.tooltipProposta { top: -30px; left: 80%; z-index: 300; }
.containerTooltip { background-color: #F3EFE4; border: 0 solid #000000; border-radius: 11px; box-shadow: 0 3px 3px rgba(50, 50, 50, 0.75); float: right; min-height: 105px; opacity: 1; padding: 20px; text-align: left; width: 204px; z-index: 100; }

/* classes gerais > ícones */
.setaMenu{ background: url(../images/icones/box-aba-branca.png) center bottom no-repeat; position:absolute; bottom: -60px; left: 50%; margin-left: -21px; width:42px; height:28px; display:none; }
.setaMenuBege { background: url('../../images/icones/box-aba-bege.png'); height: 20px; }
.setaMenuBegeEscuro{ background: url('../images/icones/box-aba-bege-escuro.png') no-repeat center bottom; }
.ci { display: inline-block;}
.ci-whatsapp{ height: 53px; width: 45px; background: url(../images/icones/sprite.png) -10px -1395px no-repeat; display: block; margin-left:15px; margin-right:15px; }
.ci-arrow{ background: url('../images/icones/sprite.png') no-repeat -11px -1171px;width: 8px; height: 14px; display: inline-block; float: left; margin-left: 10%;margin-top: 35px; margin-right: 31px}
.ci-dialog{background: url('../images/icones/sprite.png') no-repeat -10px -1325px;width: 20px; height: 18px; margin-right: 10px;margin-top: 8px; display: block; z-index: 60;}
.ci-files { background: url('../images/icones/icones-duvidas-frequentes.png') no-repeat -20px 0; width: 80px;height: 90px; }
.ci-files-x1 {background: url('../images/icones/icons-1.png') no-repeat -531px -23px;width: 40px;height: 48px;}
.ci-lock {background: url('../images/icones/icones-duvidas-frequentes.png') no-repeat -152px 0;width: 80px;height: 90px;}
.ci-hands {background: url('../images/icones/icones-duvidas-frequentes.png') no-repeat -285px 0;width: 80px; height: 90px;}
.ci-hands-x1 {background: url('../images/icones/icons-2.png') no-repeat -772px -13px;width: 92px;height: 67px;}
.ci-consumer {background: url('../images/icones/icones-duvidas-frequentes.png') no-repeat -416px 0; width: 80px;height: 90px;}
.ci-employer {background: url('../images/icones/icones-duvidas-frequentes.png') no-repeat -547px 0; width: 80px; height: 90px;}
.ci-seller { background: url('../images/icones/icones-duvidas-frequentes.png') no-repeat -679px 0; width: 80px; height: 90px; }
.ci-gas { background: url('../images/icones/icons-1.png') no-repeat -33px -24px;width: 44px;height: 48px; }
.ci-nota { background: url('../images/icones/icons-1.png') no-repeat -129px -24px;width: 42px;height: 48px; }
.ci-info { background: url('../images/icones/icons-1.png') no-repeat -227px -24px;width: 48px;height: 48px; }
.ci-maintenance { background: url('../images/icones/icons-1.png') no-repeat -328px -24px;width: 48px;height: 48px; }
.ci-24h {background: url('../images/icones/icons-1.png') no-repeat -421px -24px;width: 48px;height: 47px;}
.ci-24h-x1 {background: url('../images/icones/icons-2.png') no-repeat -295px -6px;width: 77px;height: 75px;}
.ci-tel{background: url('../images/icones/icons-1.png') no-repeat -623px -24px;width: 48px;height: 48px;}
.ci-globe {background: url('../images/icones/icons-1.png') no-repeat -720px -24px;width: 48px;height: 48px;}
.ci-plus {background: url('../images/icones/icons-1.png') no-repeat -824px -24px;width: 48px;height: 48px;}
.ci-drive {background: url('../images/icones/icons-2.png') no-repeat -137px -6px;width: 75px;height: 75px;}
.ci-chart {background: url('../images/icones/icons-2.png') no-repeat -459px -7px;width: 77px;height: 74px;}
.ci-car {background: url('../images/icones/icons-2.png') no-repeat -618px -14px;width: 83px;height: 66px;}
.ci-winch {background: url('../images/icones/icons-3.png') no-repeat -65px -11px;width: 59px;height: 67px;}
.ci-cartruck {background: url('../images/icones/icons-3.png') no-repeat -359px -19px;width: 116px;height: 67px;}
.ci-key {background: url('../images/icones/icons-3.png') no-repeat -547px -11px;width: 66px;height: 67px;}
.ci-cars {background: url('../images/icones/icons-3.png') no-repeat -707px -13px;width: 65px;height: 67px;}
.ci-trucks {background: url('../images/icones/icons-3-frotapesada.png') no-repeat -534px -13px;width: 102px;height: 67px;}
.ci-refresh {background: url('../images/icones/icons-3.png') no-repeat -868px -15px;width: 73px;height: 67px;}
.ci-greenbubble-1 {background: url('../images/icones/icons-4.png') no-repeat -126px -10px;width: 97px;height: 97px;}
.ci-greenbubble-2 {background: url('../images/icones/icons-4.png') no-repeat -288px -10px;width: 97px;height: 97px;}
.ci-greenbubble-3 {background: url('../images/icones/icons-4.png') no-repeat -448px -10px;width: 97px;height: 97px;}
.ci-greenbubble-4 {background: url('../images/icones/icons-4.png') no-repeat -611px -10px;width: 97px;height: 97px;}
.ci-greenbubble-5 {background: url('../images/icones/icons-4.png') no-repeat -771px -10px;width: 97px;height: 97px;}
.ci-bus {background: url('../images/icones/icones-14.png') no-repeat -25px -19px;width: 44px;height: 48px;}
.ci-pin {background: url('../images/icones/icones-14.png') no-repeat -134px -14px;width: 29px;height: 52px;}
.ci-calendar {background: url('../images/icones/icones-14.png') no-repeat -225px -28px;width: 39px;height: 38px;}
.ci-dataBase {background: url('../images/icones/icones-14.png') no-repeat -325px -26px;width: 41px;height: 41px;}
.ci-faq {background: url('../images/icones/icones-13.png') no-repeat -8px 0px;width: 42px;height: 60px;}
.ci-telEmail {background: url('../images/icones/icones-13.png') no-repeat -115px -5px;width: 44px;height: 64px;}
.ci-orientation {background: url('../images/icones/icones-13.png') no-repeat -200px -5px;width: 30px;height: 53px;}
.ci-flexibilidade { background: url('../images/icones/icons-1.png') no-repeat -929px -26px;width: 40px;height: 48px; }
.ci-restaurante { background:url('../images/icones/icone-talheres.png') no-repeat center 0; width:130px; height:90px; }
.ci-supermercado { background:url('../images/icones/icone-carrinho.png') no-repeat center 0; width:130px; height:90px; }
.ci-posto { background:url('../images/icones/icone-posto.png') no-repeat center 0; width:130px; height:90px; }
.ci-diversao { background:url('../images/icones/icone-diversao.png') no-repeat center 0; width:130px; height:90px; }
.ci-centralServicos { height: 67px; }
.ci-tooltip-info { background: url('../../images/icones/ci-tooltip-info.png') no-repeat; width: 20px; height: 21px; display: inline-block; margin: 0 0 0 10px; z-index: 100; cursor: pointer; }
.ci-responsabilidade { background: url(../images/icones/icons-temp-11.png) no-repeat -125px 11px;  width: 80px; height: 90px; }
.elipseAlerta{float: left; margin-right: 25px; }
.glyphicon-search:before{ color: #DC291A; }
.adesivoseva { background: url(../images/icons-sprite-eva.png) no-repeat 2px 0; }
.logoticket { background: url(../images/icons-sprite-eva.png) no-repeat -129px 0; }
.logopeca { background: url(../images/icons-sprite-eva.png) no-repeat -522px 0; }
.logorelease{background:url(../images/icons-sprite-eva.png) no-repeat -264px 0;}
.verContato { background: url(../images/icones/icons-temp-11-2.png) no-repeat -664px -9px; width: 80px; }
.fa-1-2 { font-size: 1.5em!important; }

.adesivos{background:url(../images/icones/icones-ticket.png) no-repeat -29px 0;}
.materiais{background:url(../images/icones/icones-ticket.png) no-repeat -159px 0;}
.seguranca{background:url(../images/icones/icones-ticket.png) no-repeat -291px 0;}
.reembolso{background:url(../images/icones/icones-ticket.png) no-repeat -422px 0;}
.ticketUp{background:url(../images/icones/icones-ticket.png) no-repeat -555px 0;}

.release { background: url(../images/icones/icons-temp-11-2.png) no-repeat 1px 0; margin-bottom: 10px; }
.impressos { background: url(../images/icones/icons-temp-11-2.png) no-repeat -157px 0; }
.audios { background: url(../images/icones/icons-temp-11-2.png) no-repeat -323px 0; margin-bottom: 10px; }
.videos { background: url(../images/icones/icons-temp-11-2.png) no-repeat -483px 0; margin-bottom: 10px; }

.informativo,
.noticias,
.saiadarotina { background: url('../images/icones/icons-temp-21.png') no-repeat -8px 0; }        
.noticias { background-position-x: -90px; }
.saiadarotina { background-position-x: -170px; }

a[aria-expanded="true"] .ci-arrow{background: url('../images/icones/sprite.png') no-repeat -23px -300px; width: 14px;height: 9px;display: inline-block;float: left; margin-left: 10%;margin-top: 38px; margin-right: 25px;}

/* classes gerais > bootstrap thumbnails */
.active .thumbnailYellow {border-color: #E7AB31;}
.thumbnailDefault {border: 2px solid #fff;}
.thumbnail{padding:0 0 10px 0; border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; box-shadow: 0px 2px 0 #A7A6A4; border:0; line-height:16px;}
.thumbnail-tl{padding:0 0 10px 0; border-radius: 0 10px 10px 10px;-moz-border-radius: 0 10px 10px 10px; -webkit-border-radius: 0 10px 10px 10px; box-shadow: 0px 2px 0 #A7A6A4; border:0; line-height:16px;}

/* classes gerais > frotas */
.setaTabLeve, .setaTabPesada { width: 44px; height: 22px; float: left; }
.setaTabLeve { margin: 0 23%; }
.setaTabPesada { margin: 0 73%; }
.setaTabLeve img, .setaTabPesada img { width: 44px !important; }

/* DATEPICKER
***************************************************************** */
.datepicker { cursor:default!important; }


/* LISTA DE DOWNLOAD PDF
***************************************************************** */
.media-fix-downloadPDF{ padding-bottom: 40px!important; padding-right: 10px; }
.media-fix-downloadPDF a{ width: 100%; }
.media-fix-downloadPDF img { float:left; width:42px; margin-right: 15px; }
.media-fix-downloadPDF .txtDownloadPDF { color:#545454; font-weight:bold; }


/* LISTA DE ICONES COM LEGENDA
***************************************************************** */
.icones-com-legenda { text-align:center; padding-bottom:30px; margin-left:10%; }
.icones-com-legenda .ci { min-height:80px; }
.icones-com-legenda .caption-icon { color:#1D254C; width:100%; float:left; margin-top:25px; }



/* ESTILIZAÇÃO DE TÍTULOS
***************************************************************** */
h2{font-size:22px; font-weight: bold; color: #575757; margin:0 0 18px 0;}
h2.tituloAzul{color:#12204D;}
h3{font-size:18px; font-weight: bold; color: #575757; margin:0 0 10px 0;}
p.tituloMedio { font-weight:normal; font-size: 22px; color:#12214d!important;}
p.tituloMds { font-weight:normal; font-size: 13px; color:#12214d!important;}

.guardaTitulo { float:left; width:87%; margin:2% 2% 2% 3%; }
.guardaTitulo h2 { margin-bottom:5px; }
.guardaTitulo p { color:#12204d; }


/* ESTILIZAÇÃO DOS TEMPLATES
***************************************************************** */

/* Banner das páginas */
.banner { width:100%; height:483px; min-height:433px; background:#fff; background-size:100%!important; position:relative; float:left; }
.banner .center { text-align:left; }
.banner h1 { color:#DA2A1B; font-size:40px; font-weight:normal; }
.banner h1.fonteMedia { font-size:30px; line-height:44px; }
.banner h1.tituloVerde { color:#009b48; }
.banner h1.tituloAzul { color:#12204D; }
.banner h1.tituloAmarelo { color:#E7AB31; }
.banner .tituloBranco{ color:#fff; }
.banner h1.tituloBranco { line-height:35px; }
.banner strong { font-weight:bold; font-size:45px; }
.banner strong.fonteMedia { font-size:32px; }
.banner strong.fonteGrande { font-size:40px; }
.banner p { font-size:15px; line-height:18px; }

.bannerSemCartao { height:248px; min-height:248px; }
.bannerSimulacaoPedido { height:158px; min-height:158px; background:#f9f6ee; }
.imgBanner { top:0; left:0; position:absolute; }
.imgBanner img{ width: 100%; }

/* Banner > com video ou cartao */
.textoNaDireita .conteudoBanner { width: 100%; margin: 18% 0 0 0; }
.textoNaDireita .conteudoBanner .lateralEsqBanner { float:left; position:relative; z-index:3; }
.textoNaDireita .conteudoBanner .bannerTxt { width:50%; float:right; }
.textoNaDireita .conteudoBanner .bannerBtn { float: right; width:53%; }

/* Banner > com video */
.bannerComVideo .conteudoBanner { margin-top:18%; }
.bannerComVideo .conteudoBanner .bannerTxt { margin-right:3%; padding-right:7%; }
.bannerComVideo .conteudoBanner .lateralEsqBanner { width:35.2%; height:200px; margin:0 0 0 4%; float:left; position:relative; z-index:3; margin-top:3.2%; }
.bannerComVideo .conteudoBanner .lateralEsqBanner iframe { -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.75); -moz-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.75); box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.75); width: 100%; max-width: 390px; }

/* Banner > com cartão */
.bannerComCartao .conteudoBanner { margin-top:16%; }
.bannerComCartao .conteudoBanner h1 { padding-top:2%; width:53%; float:right; padding-right:7%; }
.bannerComCartao .conteudoBanner p { width:53%; float:right; padding-right:7%; }
.bannerComCartao .conteudoBanner .lateralEsqBanner { width:42.7%; min-height:308px; margin-top:0!important; margin:0 0 0 3%; }

/* Banner > conteúdo do banner */
.conteudoBanner { width:440px; margin:18% 100px 0 0; position:relative; float:right; z-index:250; }
.conteudoBannerEsq { width:350px; margin:3% 0 0 3%; position:relative; float:left; z-index:250; }
.conteudoBannerLogin { width:97%; margin:5% 0 0 3%; position:relative; float:left; z-index:250; }

.bannerSemTexto{ height: auto; min-height: 0; }
.bannerSemTexto .imgBanner { position: static; }

/* Banner > Bracket (barra vermelha e seta no banner) */
.bordaLateral { border-right:27px solid #DB291A; z-index:5; }
.bracket-f-barra { width:27px; height:100%; right:0; top:0; background:#DB291A; position:absolute; z-index:5; }
.bracket-f, .bracket-f-middle { width:29px; height:58px; right:27px; background:url(../images/arrow.png) no-repeat 0 bottom; position:absolute; float:left; z-index:300; }
.bracket-f-middle {right: 0; top: 140px;}
.bracket-f-temp19 {right: 0; top: 215px;}
.bracket-f-sem-banner { bottom:-29px; right:0; } /* sem banner, mas com bracket */
.bracket-f-bottom { bottom:-29px; } /* bracket padrao */
.bracket-f-botao { bottom:0; } /* bracket abaixo do botao */
.bracket-f-divisor { top:210px; } /* bracket divisor de conteudo */

/* Banner > Páginas de LOGIN */
.bannerLogin { width: 100%; height: 150px; min-height: 150px; background: #F6F6F6; background-size: 100%!important; position: relative; float: left; }
.bannerLogin h1 { color:#DA2A1B; font-size:30px; font-weight:normal; }


/* ESTILIZAÇÃO DE BOX (destaques com imagens a direita e outros a esquerda)
***************************************************************** */
.contentBox { float:left; width:100%; margin-bottom:20px; background-color:#fff; position:relative; }
.contentBox .boxDestaque,
.contentBox .boxDestaqueEsq { padding-top:55px; padding-bottom:13px; }
.contentBox .boxDestaqueEsq { padding:65px 0 0 100px; }

.contentBoxBege { float:left; width:100%; background:#F3EFE4; padding:40px 0 30px 0; position:relative; }
.contentBoxBegeEscuro { background: #E8E5DE; }


/* ESTILIZAÇÃO DE THUMBS COM ICONES (quadrado)
***************************************************************** */
.menuInterna { margin:0 auto; width:100%; }
.menuInterna .thumbnail { box-shadow:0px 3px 0 #D9D7CB; }
.menuInterna li:first-child { margin-left:0; }
.menuInterna li:hover,
.menuInterna li.active { border:2px solid #12204D; }
.menuInterna li { width:100%; max-height:124px; margin-left:30px; margin-bottom:57px; float:left; text-align:center; border:2px solid transparent; }
.menuInterna.bgCinza li { background-color: #F0F0E8; }
.menuInterna li a span:first-child { width:131px; height:79px; display:block; }
.menuInterna li a span { color:#12214C!important; }

.menuInterna.menuFull { width:100%!important; padding:0 20px; float:left; }
.menuInterna.menuFull li { margin:0 1%; width:14.6%; }
.menuInterna.menuFull li .item-menu { color:#12214C; width:100%; float:left; }
.menuInterna.menuFull li.active .setaMenu{ display: block; }

.menuInterna.fourIcons li { width:22%; }


/* ESTILIZAÇÃO DE TABS NO FORMATO ACORDION
** (listagem um abaixo do outro, ao clicar seu conteúdo é exibido abaixo)
***************************************************************** */
.toogleHead .panel-heading { margin:0px; padding:0px; border-radius:0px; border:0px!important; background:#fff; }
.toogleHead a { width:100%; text-decoration:none; display:inline-block; outline:none; }
.toogleHead .panel { border-radius:0px; border:0px!important; }
.toogleHead .panel-heading .panel-title { line-height:100px; }
.toogleHead .panel-body { padding:20px 0px 0px 10%!important; background-color:#F3EFE4; }
.toogleHead .panel-heading .panel-title { line-height:85px; }


/* ESTILIZAÇÃO DE FORMULÁRIOS (todos)
***************************************************************** */
.setaBege { width:20px; height:13px; background:url(../images/icones/border-box-bege.png) no-repeat; float:left; position:absolute; }

label { font-weight:normal; }
legend { margin-bottom:25px; font-size:22px; color:#11204c; text-align:center; border:0; width:100%; }
legend.legend-com-question { float:left; width:auto; margin-right:10px; }

.input-lg,
.form-group-lg .form-control { height:35px; padding:6px 16px; font-size:13px; }
.form-group-lg textarea.form-control { height: 130px; }
.checkbox-f input { width:19px; height:19px; margin:0 5px 0 0!important; font-size:13px; background:#fff; border:1px solid #ccc; -webkit-border-radius:3px 3px 3px 3px; border-radius:3px 3px 3px 3px; color:#333; -webkit-appearance:checkbox; position:relative!important; float:left; }

.fileUpload { position: relative; overflow: hidden; margin: 10px 10px 10px 0; float: left; padding: 12px 49px; }
.fileUpload input.upload { position: absolute; top: 0; left: 0; margin: 0; padding: 0; font-size: 20px; opacity: 0; filter: alpha(opacity=0); z-index: 200; cursor: pointer; width: 100%; }
.descricaoUpload { margin: 23px 0 0 20px; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 150px; }

textarea.form-control{ height: 172px; }

.guardaInput { float:left; margin-right:10px; position:relative; }
.guardaInput input[type="radio"] { z-index:50; position:relative; height: 10px; }

/* form > templates */
.containerPasso .guardaInput,
.containerPassoFlux .guardaInput { width:10px; }

/* formulários específicos */
#envieMensagem label { margin-bottom:10px; }
#envieMensagem .form-group { margin-bottom:30px; float:left; width:100%; }

/* formulario simples (campos um abaixo do outro com 100% de largura) */
.list-inline li input,
.list-inline li textarea { border-radius:4px!important; border:1px solid #ccc; width:100% !important; line-height:15px; padding:10px; }
.list-inline li { width:100%; }
.list-inline li label { font-weight:normal; }
.list-inline li .form-group { margin-bottom:15px; }

/* Select com mesma altura dos outros inputs */
.formSelect .form-label-f{ height: 32px; }
.formSelect .texto-input-f{ margin-top: 0; }
.formSelect .caret{ top: 14px; }

/* Box com política de privacidade */
.paneContainerProc{ background: #FFF; padding: 0; border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border: 0px solid #000000; overflow: hidden; margin-bottom: 10px; }
.policyContainer{ width: 100%; height: 290px; overflow: auto; border-radius: 2px; border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border: 0px solid #FFF; padding: 10px 25px 10px 22px; text-align: justify; overflow-x: hidden; -ms-overflow-x: hidden; }

.btn-block-f { width: 290px; margin: 0 auto; }

/* FORMULÁRIO DE BUSCA (unico campo com lupa)
***************************************************************** */
.box-busca .form-control-feedback { right:15px; }
.box-busca input { padding-right:30px; }

/* FORMULÁRIO DE SIMULE E COMPRE
***************************************************************** */
.formCredenciamento { height:400px; }
#loading {margin: 10px; float: left;}
#loading  img {float: left; margin-top:-15px;}
#loading span {float: left;}

/* FORMULÁRIO DE SIMULE E COMPRE
***************************************************************** */
.containerSimuleCompre,
.containerSoliciteContato { position:relative; width:45%; float:right; clear:both; }
.containerSimuleCompre .setaBege,
.containerSoliciteContato .setaBege { top:-12px; left:100px; }
.containerSimuleCompre .selecionaList li,
.containerSoliciteContato .selecionaList li{ width:auto; }
.boxSimulador .setaBege { top:-12px; left:110px; }
.boxSimulador .setaBege.direita { left:auto; right:27%; }

.boxSimulador { position:absolute; width:100%; background-color:#E8E5DE; z-index:405; border-radius:6px; top:0; right:17.5%; display:none; }
.boxSimulador h3,
.boxSimulador legend { color:#12214D; font-size:18px; margin:0 0 30px 0; text-align:left; }
.simuladorInputContainer { padding:20px 25px 10px; float:left; }
.simuladorInputContainer .radio { margin-left: 12px; margin-right: 25px; float:left; width:100%; }
.radioAlign { float:left; padding-top:3px; font-size:12px; font-weight:bold!important; color:#545454; padding-left:0!important; margin-bottom:15px!important; }

.formSimulacao p{ width: 100%!important; font-size: 14px; }
.formSimulacao legend{ color: #575757; margin-bottom: 15px; }

/* campos simulador */
.listaSimulador { float:left; }
.listaSimulador li { width:32.2%; vertical-align:top; }
.listaSimulador li label { font-weight:normal; }
.listaSimulador li input { height:39px; }

/* Lista de checkbox */
.simuladorInputContainer strong { font-size: 13px!important; }
.simuladorInputContainer .checkbox li { margin-bottom: 18px; }
.simuladorInputContainer .checkbox input { height: 19px!important; width: 18px; margin-left: -31px!important; margin-top: 2px; }
.simuladorInputContainer .checkbox label { padding-left: 32px; }

/* campos simulador simples (dois campos) */
.containerSimuleCompre.simuladorSimples .simuladorInputContainer { padding-bottom:25px; }

/* texto cover dos inputs (resultado visual similar ao placeholder) */
.containerTxtCover { position:relative; }
.containerTxtCover input { width:90%; height:39px; border-radius:5px; }
.containerTxtCover .inputTxtCover{ position:absolute; top:33px; right:30px; text-transform:uppercase; color:#BBBAB5; } 

/* botão de enviar */
.btnSimularPedido { background-color:#009b48; color:#fff; height:43px; width:100%!important; border-radius:0px 0px 6px 6px; position:absolute; bottom:-35px; left:0; }
.btnSimularPedido:hover { opacity:1.0!important; filter:alpha[opacity=100]!important; }


/* FORMULÁRIO DE INDICAÇÃO
***************************************************************** */
.form-indicacao { margin-top:68px; }
.form-indicacao .content-form-f { margin:0 auto; padding-bottom:50px; float:none; padding:0px; }
.form-indicacao .form-group { margin-bottom:30px; }
.form-indicacao .form-group.botao .btn { float:none; margin:auto; }
.form-indicacao .dados .form-group { padding-bottom:15px; float:left; width:100%; margin-bottom:0px; }

.form-cartoes-selecione { width:100%; margin-left:4%; }
.form-cartoes-selecione .col-md-3 { width:23%; }
.form-cartoes-selecione .checkbox-f img,
.form-cartoes-selecione-radio img { margin-bottom:10px; }

.form-indicacao .dados{ padding-bottom: 30px; }

/* BOX CINZA ESCURO
***************************************************************** */
.contentBoxCinza { float:left; width:100%; padding:45px 95px 55px 95px; background-color:#DBD7CC; position:relative; }
.contentBoxForm { float:left; width:100%; padding:25px; position:relative; }


/* BOX COM DOIS CARTÕES (um abaixo do outro)
***************************************************************** */
.box-cartoes,
.box-cartao-form { background:#fff; padding:0 0 30px 0; }
.box-cartoes img { margin:0 auto; }


/* ESTILIZAÇÃO PADRÃO PARA MODAL
***************************************************************** */
.modal { position:fixed; }
.modal-header .close { position:absolute; top:-15px; right:-15px; background:#DE281A; opacity:1; color:#fff; padding:5px 9px 9px 9px; border-radius:100%; font-weight:100; z-index:100; background:url('../images/icones/btn-fechar.png'); width:40px; height:40px; }
.modal-header { padding:0; border:none; height:0; min-height:0; }
.modal-body { padding:40px 40px 0 40px; margin-top: 15px; }


/* CENTRAL DE ATENDIMENTO
***************************************************************** */
/* central de atendimento > dúvidas frequentes */
.bigVirtualAssis { position:relative; }
.bigVirtualAssis .panel { height:187px; width:100%; background:#df0000; border-radius:15px; border-top-left-radius:0px; float:left; position:relative; }
.bigVirtualAssis .virtualAssisIcon { right:16px; top:-25px; position:absolute; }
.containerDuvida { width: 100%; z-index: 30; position: absolute; bottom: 10px; left: 0; max-width: 440px; }

/* central de atendimento > telefone e whatsapp */
.bigContactHeader button { height:88px; width:100%; margin-bottom:10px; font-size:15px; }
.telefone { top:-3px; position:relative; }
.whatsApp { top:-13px; position:relative; }


/* DESTAQUE DE VANTAGENS (destaque com background azul marinho)
***************************************************************** */
.contentVantagens { float:left; width:100%; background-color: #12214d; z-index:200; position:relative; margin-bottom:20px; }
.contentVantagens .col-sm-4.col-md-4.col-lg-4 { color:#FFF; float:left; width:32%; padding:38px 0 27px 60px; }
.contentVantagens .item-f { color:#fff; float:left; width:100%; text-align:center; }
.contentVantagens .item-f p { text-align:left; }
.contentVantagens .item-f img { display:inline; }
.contentVantagens .item-f h2 { color:#fff; font-size:13px; margin:30px 0 18px 0; text-align:left; }
.contentVantagens .item-f.firstItem { margin-left:20px; }


/* ESTILIZAÇÃO DE CROSSLINK (destaques lado a lado)
***************************************************************** */
.contentBoxes { float:left; width:100%; padding:0 16px; margin-bottom:10px; }
.contentBoxes h2 { font-size:18px; }
.contentBoxes .caption { padding:30px 25px 20px 25px; }
.contentBoxes .picture { background: #FFF; border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; }
.contentBoxes .pictureBege { background: #E8E5DE; }
.contentBoxes .thumbnail{ border-radius: 10px; }
.contentBoxes .thumbnail img { width:100%; }
.contentBoxes .thumbnail .center { position:absolute; left:0; bottom:30px; width:100%; }
	

/* ESTILIZAÇÃO DE CAROUSEL
***************************************************************** */
.owl-theme .owl-controls .owl-page { display:inline-block; zoom:1; }
.owl-theme .owl-controls .owl-page span { display:block; width:9px; height:9px; margin:5px 7px; background:url(../images/icones/bullet-carrossel-normal.png) no-repeat; }
.owl-theme .owl-controls .owl-page span.owl-numbers { height:auto; width:auto; color:#fff; padding:2px 10px; font-size:12px; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; }
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span { background:url(../images/icones/bullet-carrossel-selecionado.png) no-repeat; opacity:1; }
.owl-theme .owl-controls .owl-buttons div { position:absolute; }
.carouselPadraoNav .owl-item{ padding-bottom: 0; }

/* carousel > padrão reaplicável para carousel */
.owl-controls .owl-pagination { display:block; text-align:center; }
.icon-singleItem-left,
.icon-singleItem-right { width:35px; height:66px; float:left; }
.icon-singleItem-left { background:url(../images/icones/sprite.png) -13px -598px no-repeat; }
.icon-singleItem-right { background:url(../images/icones/sprite.png) -10px -667px no-repeat; }
.owl-carousel { margin:0 auto; width:830px; }
.owl-prev { left:-30px; top:43%; }
.owl-next { right:-30px; top:43%; }
.owl-item { padding-top: 40px; padding-bottom: 40px; }

.owl-singleItem p { max-width:356px; }
.owl-singleItem { width:86%; margin:0 auto; }
.owl-singleItem .owl-controls .owl-page span { width:19px; height:25px; background:url(../images/icones/sprite.png) -8px -1118px no-repeat; margin:0 3px 15px 3px; }
.owl-singleItem .owl-controls .owl-page.active span,
.owl-singleItem .owl-controls.clickable .owl-page:hover span { background:url(../images/icones/sprite.png) -8px -1096px no-repeat; opacity:1; }

/* carousel > abas */
.guardaAbas { float:left; margin-left:11%; }
.abas { position:relative; float:left; }
.abas > li { float: left; background:#DBD7CC; color:#9B998D; padding:14px; width:265px; text-align:center; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px; border-top-left-radius:5px; border-top-right-radius:5px; font-size:16px; }
.abas > li.selected { background:#FFF; }
.box { margin-bottom:60px; }
.owl-abas { width: 86%; margin: 0 auto; }
.owl-abas .item > div:first-child { padding: 0 48px 0 0; }
.owl-abas p { max-width:356px; }

/* carousel > vantagens (destaque com background azul) */
.contentVantagens .owl-carousel { margin:0 auto; width:85%; }
.contentVantagens .owl-carousel .item-f { margin-left:0; width:230px; }
.contentVantagens .owl-carousel .icon-vantagens-left,
.contentVantagens .owl-carousel .icon-vantagens-right { width:33px; height:66px; float:left; }
.contentVantagens .owl-carousel .icon-vantagens-left { background: url(../images/icones/setas-carousel-branco.png) -10px -10px no-repeat; }
.contentVantagens .owl-carousel .icon-vantagens-right { background: url(../images/icones/setas-carousel-branco.png) -10px -81px no-repeat; }
.contentVantagens .owl-carousel .owl-prev { left:-50px; top:33%; }
.contentVantagens .owl-carousel .owl-next { right:-50px; top:33%; }
.contentVantagens .owl-carousel .owl-controls .owl-pagination { display:none; }
.contentVantagens .owl-carousel .col-sm-4.col-md-4.col-lg-4:first-child { padding-left:20px; }

/* carousel > simples */
.carouselPadrao.owl-carousel .owl-controls .owl-pagination { display:none; }

/* Carousel > História da Ticket */
.owl-item .pull-left{ text-align: center; }
.owl-item .pull-left img{ display: inline-block; }
#owl-historias .owl-item p{ max-width: 100%; }

/* linha do tempo */
.guardaLinhaTempo{ width: 100%; max-width: 800px; position: relative; margin: 0 auto 10px auto; height: 50px; }
.progressoLinhaTempo{ width: 100%; height: 7px; background: #12214D; position: absolute; top: 7px; left: 0px; z-index: 100; }
.progressoLinhaTempo div{ height: 7px; width: 0; background: #F00; position: absolute; top: 0; left: 0; transition: 0.4s all linear; -webkit-transition: 0.2s all linear; }

.itensLinhaTempo{ width: 100%; float: left; position: relative; z-index: 200; }
.itensLinhaTempo li{ width: 65px; float: left; }
.itensLinhaTempo li:last-child{ width: 20px; }
.itensLinhaTempo li a{ width: 20px; height: 20px; background: #12214D; border-radius: 20px; float: left; text-decoration: none; transition: 0.4s all linear; }
.itensLinhaTempo li.active a{ background: #F00; }
.itensLinhaTempo li a span{ color: #12214C; position: relative; top: 32px; left: -5px;}

/* ESTILIZAÇÃO LISTAGEM DE NOTÍCIAS
***************************************************************** */
/* Formulário */
.form-label{ position: relative; }
.icone-calendario{width: 20px;height: 18px;background: url(../images/icones/sprite.png) no-repeat -10px -1217px;float: left;}
.feedback-icon-tr { margin-top: 6px;  margin-right: 6px; }

/* Box de notícia */
.boxContent { border-radius: 0px 10px 10px 10px; -o-border-radius: 0px 10px 10px 10px; -moz-border-radius: 0px 10px 10px 10px; -webkit-border-radius: 0px 10px 10px 10px; box-shadow: 0px 3px 0 #A7A6A4; background-color: #FFF; padding: 30px; min-height: 315px; margin-bottom: 30px; }
.boxContent .data { color: #101F48; font-size: 11px; display: block; margin-bottom: 15px; font-weight: bold; }
.boxContent .destaque { border-bottom: 1px solid #555; display: block; width: 30px; margin: 22px 0 14px 0; }
.boxContent .tituloNews { color: #132250; font-size: 18px; font-weight: bold; }
.boxContent p { font-size: 12px; line-height: 16px; /*margin-bottom: 30px;*/ }

/* Notícia */
.itemAbre{ display: none; }
.itemAbre .contentBox{ padding: 70px; }
.itemAbre .contentBox .data { color: #101F48; font-size: 11px; display: block; margin-bottom: 15px; font-weight: bold; }
.itemAbre .contentBox .tituloNews { color: #132250; font-size: 18px; font-weight: bold; }
.itemAbre .contentBox .destaque { margin-bottom: 45px; border-bottom: 1px solid #555; display: block; width: 30px; margin: 22px 0 14px 0; }

ul.redesSociaisNoticia { width: 100%; float: right; }
ul.redesSociaisNoticia li { display: inline; float: right; }
ul.redesSociaisNoticia li a { float: left; height: 35px; width: 35px; margin-left: 10px; }
ul.redesSociaisNoticia li .facebook { background: url(../images/icones/social-icons.png) no-repeat 0 0; }
ul.redesSociaisNoticia li .twitter { background: url(../images/icones/social-icons.png) no-repeat -46px 0; }
ul.redesSociaisNoticia li .google { background: url(../images/icones/social-icons.png) no-repeat -92px 0; }
ul.redesSociaisNoticia li .imprimir { background: url(../images/icones/social-icons.png) no-repeat -142px 0; }

/* Listagem */
.listagemNoticia a:hover,
.listagemNoticia a:link{ text-decoration: none; }
.listagemNoticia .titulo,
.listagemInformativo .titulo{ padding-bottom: 30px; padding-top: 34px; }
.listagemNoticia .boxContent,
.listagemInformativo .boxContent{ min-height: 170px; padding: 16px; }
.listagemNoticia .boxContent p{ color: #444; }
.listagemNoticia .boxContent { min-height: 210px; max-height: 210px; padding: 17px; cursor: pointer; }
.listagemNoticia .boxContent:hover { box-shadow: 0px 5px 6px #A7A6A4; }
.listagemNoticia .boxContent .data { margin-bottom: 4px; }
.listagemNoticia .boxContent .tituloNews { font-size: 14px; }
.listagemNoticia .boxContent p { font-size: 18px; line-height: 20px; }
.listagemInformativo .boxContent p{ margin: 10px 0 0 0; }
.listagemNoticia .boxContent .destaque { margin-top: 14px; border: 2px solid #555; }
.listagemNoticia .boxContent .destaque.verde { border-color: #00701A; }
.listagemNoticia .boxContent .destaque.verdeEscuro,
.listagemNoticia .boxContent .destaque { border-color: #00686C; }
.listagemNoticia .boxContent .destaque.verdeClaro { border-color: #03A947; }
.listagemNoticia .boxContent .destaque.amarelo { border-color: #E8AC30; }
.listagemNoticia .boxContent .destaque.vermelho { border-color: #E02A1F; }

/* Paginação */
.guardaPaginacaoContainer { width: 100%; float: left; text-align: center; }
.guardaPaginacao { width: 220px; margin: 0 auto; float: none; text-align: center; }
.guardaPaginacao a { cursor: pointer; }
.guardaPaginacao a,
.guardaPaginacao span { padding-right: 16px; }
.guardaPaginacao .jp-current, .jp-current:hover, jp-current:focus, .guardaPaginacao a:hover, .guardaPaginacao a:focus { color: #12214d; font-weight: bold; text-decoration: none; }
.guardaPaginacao .jp-previous, .jp-next { width: 17px; height: 11px; margin-top: 3px; display: inline-block; transition: 0.2s all linear; }
.guardaPaginacao .jp-previous { background: url(../images/icones/seta-esquerda.png) no-repeat; }
.guardaPaginacao .jp-next { background: url(../images/icones/seta-direita.png) no-repeat; }
.guardaPaginacao .jp-disabled { opacity: .3; cursor: default; }
.guardaPaginacao .jp-hidden + span { padding-right: 7px; }
.guardaPaginacao .reticenciasPaginacao { margin-left: -9px; }

/* Cores */
.listagemInformativo .verde { color:#00686C; }
.listagemInformativo .amarelo { color:#E8AC30; }
.listagemInformativo .vermelho { color:#E02A1F; }


/* BOX DE CONSULTA DO SALDO
*************************************************************************************************** */
.boxConsultaSaldo { padding: 70px 95px 5px 95px;}
.boxConsultaSaldotemp20 { padding: 70px 95px 0px 95px;}
.boxConsultaSaldo .boxContent{ /*min-height: 410px;*/ }
.boxConsultaSaldo .boxContent fieldset{ margin: 0; }
.boxConsultaSaldo .boxContent fieldset legend{ text-align: left; font-size: 22px; margin-bottom: 18px; }

/* BOX GOOGLE ADSENSE TEMPLATE 19 E 20
*************************************************************************************************** */
.banner-add {text-align: center; display: inline-block; width: 100%; background-image: url(../images/pontilhado.png); }
.banner-add-preview:before { content: ""; display: block; background: url(../images/publicidade.png) repeat 0 0; width: 71px; height: 17px; position: absolute; margin-top: -18px;  }
.banner-add-vertical {text-align: center; display: inline-block; width: 33.33333333%; background-image: url(../images/pontilhado.png); }
.banner-add-preview-vertical:before { content: ""; display: block; background: url(../images/publicidade.png) repeat 0 0; width: 71px; height: 17px; position: absolute; margin-top: -32px;  }

/* MENU COM ÍCONES RETANGULAR
*************************************************************************************************** */
/* Ícones */
.historia { background: url(../images/icones/icons-temp-11.png) no-repeat -21px 2px; }
.responsabilidade { background: url(../images/icones/icons-temp-11.png) no-repeat -135px 2px; }
.premios { background: url(../images/icones/icons-temp-11.png) no-repeat -247px 2px; }
.missao { background: url(../images/icones/icons-temp-11.png) no-repeat -369px 2px; }
.nafacul { background: url(../images/icones/icons-temp-11.png) no-repeat -485px 2px; }
.patrocinios { background: url(../images/icones/icons-temp-11.png) no-repeat -601px 2px; }
.trabalhe { background: url(../images/icones/icons-temp-11.png) no-repeat -713px 2px; }
.sala { background: url(../images/icones/icons-temp-11.png) no-repeat -829px 2px; }

/* Listagem */
.menuInterna.menuRetangular li{ width: 31.333%; margin-bottom: 20px; padding-top: 5px; min-height: initial; position: relative;  }
.menuInterna.menuRetangular li a{ float: left; width: 100%; padding:5px 10px 0px 10px; }
.menuInterna.menuRetangular li a span:first-child { margin-left: 10px; width: 70px; height: 65px; float:left; }
.menuInterna.menuRetangular li .contentThumb { width:56%!important; vertical-align: middle; text-align: left; float:left; display:table-cell; }
.menuInterna.menuRetangular li .contentThumb .item-menu-normal { height: auto; margin: 0 0 4px 0; float: left; width: 100%; font-size: 14px; font-weight: bold; color: #12214C; }
.menuInterna.menuRetangular li .contentThumb.uma-linha { padding-top:15px; }
.menuInterna.menuRetangular li .contentThumb.thumb-centralizado { width:60%!important; }
.menuInterna.menuRetangular li .contentThumb.thumb-centralizado .item-menu { vertical-align:middle; display:table-cell; font-size:16px; float:none; width:100%; }

.menuInterna.menuFull.iconFull li a span:first-child{ width: 70px; }
.menuSeta .setaMenu{ bottom: -53px; }

/* MENU COM 4 ÍCONES
*************************************************************************************************** */
.menu4Itens.menuFull{ margin-bottom: 0; }
.menu4Itens.menuFull li{ width: 23%; position: relative; }
.menu4Itens.menuFull li a{ padding: 0px 10px 0px 10px; }
.menu4Itens.menuFull li a span:first-child{ width: 60px; height: 55px; float: left; margin: 10px 10px 0 10px; }
.menu4Itens.menuFull li a span.padding{ margin: 15px 10px 0 10px; height: 50px; }
.menu4Itens.menuFull li .contentThumb .item-menu-normal{ font-size: 16px; margin-top: 15px; }
.menu4Itens.menuFull li .contentThumb .uma-linha{ margin-top: 25px; }
.menu4Itens.menuFull li .setaMenu{ bottom: -38px; }

.boxTicketTransporte{ padding: 59px 106px 67px 86px; overflow: hidden; }

.paragrafoMarginBottom{ margin-bottom: 45px; }

.paddingPanel{ padding: 60px 40px; }

/* TABELA/TABELA PAGINADA
*************************************************************************************************** */
.tabelaCustom > thead > tr > th,
.tabelaCustom > tbody > tr > th,
.tabelaCustom > tfoot > tr > th{ padding: 15px 25px; font-size: 14px; border: none; border-top-right-radius:0px!important; }
.tabelaCustom > thead > tr > td,
.tabelaCustom > tbody > tr > td,
.tabelaCustom > tfoot > tr > td{ padding: 8px 25px; }

.tabelaBranca tbody tr { background-color: #F3EFE4!important; }
.tabelaBranca tbody tr td{ border: none; vertical-align: middle; }
.tabelaBranca tbody tr.branco{ background-color: #FFF!important; }
.tabelaBranca tbody tr:nth-child(2n+1) { background-color: #FFF!important; }

.tableResponsive .panel{ border: none; }
.tableResponsive .lista li{ padding-left: 0; }
.tableResponsive .pull-right { float:left; clear:both; text-align:right; width:100%; }

.containerPaginadorTabela { float: right; width: 100%; text-align: right; margin: 14px 0 15px; }
.containerPaginadorTabela .jp-previous,
.containerPaginadorTabela .jp-next{ display: none; }

/* MENU COM ÍCONES QUE POSSUEM SETAS
*************************************************************************************************** */
.menuInterna.menuComSeta { padding-bottom:58px; }

.img-reembolso .img-responsive{ display: inline-block; }

/* MENU COM 4 ÍCONES SENDO 1 MAIOR
*************************************************************************************************** */
.menuInterna.menuMeio{ max-width: 800px; margin: 0 auto; float: none; }
.menuInterna.menuMeio li{ width: 18%; position: relative; text-align: center; min-height:124px; }
.menuInterna.menuMeio li.thumbnailMaior{ width: 28%; float: right; padding-top: 28px; }
.menuInterna.menuMeio li .setaMenu{ bottom: -33px; }
.menuInterna.menuMeio li a span:first-child{ margin: auto; width: 131px; height: 75px; vertical-align: middle; }
.menuInterna.menuMeio li.thumbnailMaior a{ width: 100%; max-width: 200px; display: inline-block; }
.menuInterna.menuMeio li.thumbnailMaior a span:first-child{ width: 85px; float: left; }
.menuInterna.menuMeio li .item-menu-normal { font-size: 13px; font-weight: bold; color: #12214C; padding-bottom: 28px;}

/* MENU COM 5 ÍCONES SENDO 1 MAIOR
*************************************************************************************************** */
.icones4.menuMeio{ max-width: 965px; padding: 0; float: left; margin-bottom: 20px; }
.icones4.menuMeio li{ width: 14%; margin-bottom: 10px; }
.icones4.menuMeio li.thumbnailMaior{ width: 25%; }

.btnMenor{ padding: 6px 16px; margin-top: 21px; width: 100%; }
.formCentralizado{ max-width: 820px; width: 100%; margin: 0 auto; }

/* MENU COM 2 ÍCONES
*************************************************************************************************** */
.menuInterna.icones2{ max-width: 380px!important; width: 100%; margin: 0 auto; float: none; margin-bottom: 30px; }
.menuInterna.icones2 li{ width: 41%; margin: 0 4%; display: inline-block; float: none; }

#downloadLogos #form-cartoes-selecione > div, #downloadCartoes #form-cartoes-selecione > div{ text-align: center; height: 150px; }
#downloadLogos #form-cartoes-selecione span, #downloadCartoes #form-cartoes-selecione span{ text-align: left; float: right; width: 110px; }

/* BOX COM BOTÕES AZUL E VERMELHO
*************************************************************************************************** */
.listagemBotoes .contentBoxBege{ padding: 0; }
.listagemBotoes .listaBotoes{ float: left; width: 100%; margin-bottom: 40px; }
.listagemBotoes .listaBotoes li.active .setaMenu{ display: block; bottom: -42px; left: 50%; margin-left: -21px; }

.panel{background:none; margin-bottom:0; box-shadow: none;}
.checkCartao .panel{border: none; box-shadow: none;}
.checkCartao .panel label{cursor: pointer;padding: 10px;margin-bottom: 20px;min-height: 170px;min-width: 200px;}
.checkCartao .panel input{visibility: hidden;}
.checkCartao .panel.active label{background-color: #f9f6ee;border-radius:5px;}

.especial .popover { margin-left: -30px; margin-top: -20px; width: 200px !important; }
.popover,
.popover-title,
.popover-content { background: rgb(243, 239, 228); }
.popover .popover-title { color: #12214d; text-align: left; width: 100%; border: 0; padding-bottom: 0; }
.popover .popover-content { font-size: 12px; text-align: left; color: #777; }
.popover.right > .arrow:after { border-right-color: rgb(243, 239, 228) !important; }

.content-cartao{ display: inline-block; width: 100%; }
.content-cartao .row-cartao{ display: inline-block; width: 48%; }
.content-cartao .row-cartao img{ display: inline-block; margin: 0 10px; }
.text-center img { display: inline; }

.contentBox .tab-content .tab-pane{ float: left; width: 100%; }
.contentBox .tab-content .tab-pane .padding{ padding: 40px 40px 0 40px; float: left; width: 100%; }
.contentBox .tab-content .tab-pane legend{ margin-bottom: 20px; }
.contentBox .tab-content .tab-pane p { margin-bottom: 18px; word-wrap: break-word; }
.contentBox .tab-content .tab-pane a { color: #12214d!important; font-weight: bold; }
.contentBox .tab-content .tab-pane .btn{ color: #FFF!important; }

.ticket-adesivoImg { display: inline; margin-bottom: 10px; }
.btn-buscar{ margin-left: 20px; }

/* SIMULAÇÃO CADASTRO COM PAT
*************************************************************************************************** */
.simulacaoToggle{ display: none; }

/* Box com o título */
.tituloSimulacaoCartao,
.tituloCadastroPAT { width: 100%; height: 100px; padding: 30px 0 30px 25px; background: #009b48; position: relative; float: left; }
.tituloSimulacaoCartao h3,
.tituloCadastroPAT h3{ margin: 10px 0 0 0; color: #FFF; }

/* Listagem de passos */
.passos { width: 340px; top: 0; right: 27px; position: absolute; float: left; z-index: 30; }
.passos a { width: 18px; height: 25px; margin: 0 0 0 60px; padding: 5px 10px 10px 12px; font-size: 24px; color: #009b48; text-decoration: none; text-align: center; background: #03823d; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; -webkit-border-radius: 25px 25px 25px 25px; border-radius: 25px 25px 25px 25px; float: left; }
.passos li:first-child a { margin: 0 0 0 0; }
.passos .passoAtual { background: #fff !important; }
.passos .current { background: #ffc00b !important; }
.passos .cancel { background: #dc291a !important; }
.passos .done { background: #03823e !important; }

/* Barra de progresso */
#progressSimulacao { top: 16px; right: 27px; position: absolute; width: 340px; }
.progresso{ width: 100%; height: 7px; background: #03823d; position: relative; }
.progresso div{ position: absolute; height: 7px; background: #FFF; }

.passos-simulacao { width: 110%!important; max-width: 470px; }
.progress-simulacao progress { width: 100%; }
.progress-simulacao { width: 100%; max-width: 450px; }

/* Itens da simulação */
.contentSimulacao { min-height: 350px; margin: 0 auto; padding: 0 30px; float: left; width: 100%; }
.contentSimulacao .etapaSimulacao{ padding: 80px 30px 60px 30px; float: left; }
.contentSimulacao .etapaSimulacao label{ font-weight: bold; }
.contentSimulacao .contentSimulacao > div{ width: 100%; }
.contentSimulacao .imgCartao img{ margin: 0 auto; }
.contentSimulacao .containerPassoDesc p{ margin-top: 75px; font-size: 20px; font-weight: bold; }
.contentSimulacao .thumbnailPassos { width: 300px; height: 235px; margin: 0 0 0 25px; padding: 28px 15px 5px 15px; text-align: center; background: #DBD7CC; float: left; }
.contentSimulacao label{ padding: 0; position: relative; font-weight: bold; }
.contentSimulacao label span { width: 100%; font-size: 14px; float: left; text-align: center; }

/* Passo 2 */
#formSimulaPATPasso02 input{ width: 100%; }
#formSimulaPATPasso02 .containerTxtCover .inputTxtCover { right: 10px; }
#formSimulaPATPasso02 .form-group{ margin-bottom: 15px; }

/* Passo 3 */
#formSimulaPATPasso03 .col-sm-3,
#formTicketCultura02 .col-sm-3{ padding: 0 5px 0 0; }
#formSimulaPATPasso03 .col-sm,
#formTicketCultura02 .col-sm{ float: left; padding-right: 15px; }

/* Passo 4 */
.resultadoPAT { padding: 60px 0; position: relative; float: left; width: 100%; }
/* Tabela */       
.resultadoPAT .tblSimulacao { border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; box-shadow: 0px 3px 0 #cbc8bd; border-spacing: 0; border-collapse: collapse; background: #E8E5DE; }
.resultadoPAT .tblSimulacao .separador{ padding: 0; width: 10px; }
.resultadoPAT .tblSimulacao thead tr th{ font-weight: normal; border-bottom: none; border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0; padding: 7px 11px; vertical-align: middle; }
.resultadoPAT .tblSimulacao thead tr th.bgVermelho { background: #DA2919; color: #FFF; text-align: center; font-weight: bold; padding-top: 20px; padding-bottom: 20px; }
.resultadoPAT .tblSimulacao thead tr th.bgAzul { background: #12204D; color: #FFF; text-align: center; font-weight: bold; }
.resultadoPAT .tblSimulacao tbody{ background: #FFF; }
.resultadoPAT .tblSimulacao tfoot{ background: #FFF; }
.resultadoPAT .tblSimulacao tbody tr td.vermelho{ border-left: 1px solid #DA2919; border-right: 1px solid #DA2919; }
.resultadoPAT .tblSimulacao tbody tr td.azul{ border-left: 1px solid #12204D; border-right: 1px solid #12204D; }
.resultadoPAT .tblSimulacao tfoot tr td.vermelho{ border: 1px solid #DA2919; border-top: none; }
.resultadoPAT .tblSimulacao tfoot tr td.azul{ border: 1px solid #12204D; border-top: none; }
.resultadoPAT .tblSimulacao tbody tr td,
.resultadoPAT .tblSimulacao tfoot tr td { padding: 10px 22px; text-align: center; border: 0; border-top: none; }
.resultadoPAT .tblSimulacao tbody tr td:first-child,
.resultadoPAT .tblSimulacao tfoot tr td:first-child { text-align: left; }
/* Box de economia */
.resultadoPAT .economiaPAT { width: 216px; margin: 50px auto 20px auto; padding: 15px; background: #FFF; text-align: center; border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; box-shadow: 0px 3px 0 #cbc8bd; float: none; }
.resultadoPAT .economiaPAT p { margin-bottom: 5px; }
.resultadoPAT .economiaPAT span { font-size: 22px; }
/* Botões de imprimir e compartilhar */
.resultadoPAT .shareButtons { margin: 0 25px 10px 0; text-align: right; float: right; }
.resultadoPAT .shareButtons li { margin: 0 0 0 20px; position: relative; float: left; }
.resultadoPAT .shareButtons li a { margin: 0 0 0 5px; position: relative; }
.resultadoPAT .shareButtons li a:hover { text-decoration: none; }
.resultadoPAT .shareButtons li span { position: relative; float: left; }
.resultadoPAT .btnImprimir { width: 21px; height: 20px; top: -2px; left: 0px; background: transparent url('../images/icones/sprite.png') no-repeat -11px -1074px; }
.resultadoPAT .btnEnviarEmail { width: 16px; height: 10px; top: 3px; left: 0px; background: transparent url('../images/icones/sprite.png') no-repeat -11px -1057px; }

.simulacaoAzul .tituloSimulacaoCartao{ background: #11204D; }
.simulacaoAzul .passos,
.simulacaoAzul #progressSimulacaoAzul{ width: 240px; }
.simulacaoAzul #progressSimulacaoAzul{ top: 16px; right: 27px; position: absolute; }
.simulacaoAzul .passos a{ color: #11204D; background: #061238; }
.simulacaoAzul .passos .passoAtual{ background: #FFF; }
.simulacaoAzul .progresso{ background: #061238; }
.simulacaoAzul .progresso div{ background: #FFF; }

/* ACOMPANHAMENTO DO CREDENCIAMENTO
*************************************************************************************************** */
#solicitaProtocolo{ border-radius: 10px; }
#solicitaProtocolo .tituloSimulacaoCartao{ background: none; border-radius: 10px 10px 0 0; float: none; display: inline-block; }
#solicitaProtocolo .tituloSimulacaoCartao .containerPassos { width: 340px; position:relative; float: left; }

/* Passos */
#solicitaProtocolo .passos{ right:0; }
#solicitaProtocolo .passos li{ position: relative; float: left; }
#solicitaProtocolo .passos li a{ background: #DBD7CC; color: #FFF; }
#solicitaProtocolo .passos li p{ background: none; text-transform: uppercase; font-weight: bold; font-size: 9px; color: #DBD7CC; position: absolute; top: 50px; left: 48px; text-align: left; margin: 0; }
#solicitaProtocolo .passos li:first-child p{ left: -12px; }
#solicitaProtocolo .passos li:last-child p{ left: 35px; text-align: center; }
#solicitaProtocolo .passos li.done{ background: none; }
#solicitaProtocolo .passos li.done.passo1 a{ background: #03823E; }
#solicitaProtocolo .passos li.done.passo1 p{ color: #03823E; }
#solicitaProtocolo .passos li.done.passo2 a{ background: #FFC00B; }
#solicitaProtocolo .passos li.done.passo2 p{ color: #FFC00B; }
#solicitaProtocolo .passos li.done.passo3 a{ background: #DC291A; }
#solicitaProtocolo .passos li.done.passo3 p{ color: #DC291A; }

/* Progresso */
#solicitaProtocolo #progressSimulacao{ right: 0; }
#solicitaProtocolo .progresso { background-color:#DBD7CC; }
#solicitaProtocolo .progresso div{ background-color: #03823E; }

#solicitaProtocolo .text-left-passo{ padding: 20px 20px 0 20px; border: 1px solid; width: 80%; margin: 40px auto 0 auto; border-radius: 10px; border-color: #DBD7CC; }
#solicitaProtocolo .contentBox{ margin-bottom: 10px; }
#solicitaProtocolo .contentBox h3{ font-size: 15px; }
#solicitaProtocolo .contentBox p a{ text-decoration: underline; }
#solicitaProtocolo .contentBox .btn{ margin: 0 30px 20px 30px; }

/* POSES */
.poses{ margin: 0 auto; padding: 0 20px; }
.poses .item{ margin-bottom: 20px; padding: 0 10px; transition: 0.2s opacity linear; cursor: pointer; float: left; width: 20%; text-align:center; }
.poses .item.active label{ border-color: #029C44; background-image: url(../images/eva/checkbox-eva.png); background-position: 9px 9px; }
.poses .item:hover{ opacity: 0.6; }
.poses .item label{ height: 200px; border: 2px solid #E8E8E8; border-radius: 10px; float: left; width: 100%; margin: 0; position: relative; padding: 20px 10px; transition: 0.2s border linear; background: url(../images/eva/checkbox-eva-vazio.png) no-repeat 10px 10px;  cursor: pointer; }
.poses .item input{ opacity: 0; -webkit-opacity: 0; margin: 0; position: absolute; top: 12px; left: 12px; }
.poses .item img{ margin: 0 auto; max-width: 130px; display: inherit; width: 100%; cursor: pointer; }

.logos{ padding: 0 80px; }
.logos .item{ width: 50%; }
.logos .item label{ height: 100px; }
.logos .item img{ max-width: 200px; }

.pecas .item label{ height: auto; }


/* EFEITO COLAPSO NA AREA 'CANAIS DE ATENDIMENTO'
*************************************************************************************************** */
#modalTelefone .modal-body {
        display: inline-block;
}
#modalTelefone .ci {
    float: right;
}
#modalTelefone .modal-body .subtitle {
    line-height:73px;        
}
#modalTelefone .bgMarrom {
    background-color: rgb(241, 239, 226);
}
#modalTelefone .borda-marrom-bottom {
    border-bottom: 1px solid rgb(241, 239, 226);    
}
#modalTelefone .borda-marrom-top {    
    border-top: 1px solid rgb(241, 239, 226);
}
#modalTelefone .uma-linha {
    display: inline-block;
}

/* ESTILIZAÇÃO DE MEDIA QUERIES
*************************************************************************************************** */
@media screen and (max-width: 1023px)
{
    /* Banner */
    .banner { height:auto; }
    .banner h1{font-size:34px;}
    .banner strong{font-size:38px;}
    .banner h1.fonteMedia{font-size:28px;line-height:38px; margin-top:6%;}
    .banner strong.fonteMedia{font-size:28px;}
    .banner h1.tituloBranco { color:#DA2A1B!important; line-height:40px; padding-top:1%; }
    .banner p.tituloBranco { color:#545454!important; }
    .banner p{font-size:14px; line-height:17px;}
    .banner .bannerBtn { text-align:center; }
    .banner .bannerBtn a { width:178px; }
	
    /* Banner > conteúdo do banner */
    .conteudoBanner { margin:16.8% 5% 0 0; width:51%; }
    .conteudoBannerEsqForm { width:90%; margin:11.5% 0 5% 5%; }
    .conteudoBannerEsq { margin:16.5% 0 5% 5%; width:90%; }
	
	  /* Banner > com video */
    .bannerComVideo .conteudoBanner h1 { margin: 5% 0 2% 0; }
    .bannerComVideo .conteudoBanner .bannerTxt { width: 100%; padding: 3% 5% 0 10%; padding-right: 10%; }
    .bannerComVideo .conteudoBanner .lateralEsqBanner { width: 100%; margin-bottom: 40px; text-align: center; margin-left: 0; }
    .bannerComVideo .conteudoBanner .bannerBtn { clear: both; width: 100%; text-align: center; float: left; margin-bottom: 30px; }
    
    /* Banner > com cartão */
    .bannerComCartao .conteudoBanner h1 { padding-top:1.5% }
    .bannerComCartao .conteudoBanner .bannerBtn { width:53%; margin-bottom:25px; text-align:left; }

    /* BOX CINZA ESCURO */
    .contentBoxCinzaPPM_Menor { padding:50px 15px 80px 15px; }

    /* ESTILIZAÇÃO DE THUMBS COM ICONES (quadrado) */
    .menuInterna { width:500px!important; margin-bottom:20px!important; }
    .menuInterna li:first-child { margin-left:30px; }
    .menuInterna.menuFull { padding:0 150px; }
    .menuInterna.menuFull li { margin:0 3% 6% 3%!important; width:27%; }
    .setaMenu { display:none!important; }
    .menuInterna.fourIcons { width:100%; }
    .menuInterna.fourIcons li { width:44%; }
    .menuInterna.fourIcons li i, 
    .menuInterna.fourIcons li span { width:100%; text-align:center; }
    .menuInterna.fourIcons li:nth-child(odd) { margin-left:12px; }

    /* Formularios */
    .espacoForm { margin-top:30px; }
    .boxMenorLateral { padding-left: 30px; padding-right: 30px; }
	  
    /* FORMULÁRIO DE SIMULE E COMPRE */
    .formCredenciamento { height:auto; }

    /* FORMULÁRIO DE SIMULE E COMPRE */
    .boxSimulador { top:-10px; }
    .listaSimulador li,
    .listaSimulador li input { width:100%; }
    .containerSimuleCompre.simuladorSimples .simuladorInputContainer { width:100%; }
    .containerSimuleCompre.simuladorSimples .col-md-6 { padding-bottom:15px; }
    .simuladorInputContainer strong { font-size: 13px!important; }

    /* FORMULÁRIO DE INDICAÇÃO */
    .form-indicacao .dados .form-group { width:100%; margin-bottom:0px; }
    .form-indicacao .dados .form-group div { width:100%; margin-bottom:20px; }
    .form-indicacao .form-group.botao { padding-bottom:20px; }

    .form-cartoes-selecione { margin-left:0; }
    .form-cartoes-selecione .col-md-3 { width:33%; min-height:150px; }
    .form-cartoes-selecione .col-md-3 .cartao { float:left; width:100%; padding-bottom:5px; }
    .form-cartoes-selecione-radio .col-md-3 { width:33%; min-height:180px; }
    
    /* SETA BEGE DA DIREITA */
    .boxSimulador .setaBege.direita { left:69%!important; }

    /* ESTILIZAÇÃO DE BOX (destaques com imagens a direita e outros a esquerda) */
    .crossLinkImg img { width:312px; }
    .contentBox .boxDestaque { padding: 20px 20px 0 0!important; }
    .contentBox .boxDestaqueEsq { padding:20px 0px 0 40px!important; }
    
    /* ESTILIZAÇÃO DE CROSSLINK (destaques lado a lado) */
    .contentBoxes h2 { font-size:14px!important; }
    .contentBoxes .thumbnail .center .btnGrande { width:70%; }
    
    /* CAROUSEL */
    .carouselPadrao { width:85%!important; }

    /* DOWNLOAD DE PDF */
    .media-fix-downloadPDF{ padding-bottom: 10px; height: 180px; }
    .media-fix-downloadPDF a{ padding: 0 10px; width: 100%; }
    .media-fix-downloadPDF .txtDownloadPDF { width: 100%; margin-left:0px!important; }
    .media-fix-downloadPDF .btnDownloadPDF { text-align:center; }
    .media-fix-downloadPDF img { float: none; margin: 0 0 10px 0; }

    /* LISTAGEM DE NOTÍCIAS */
    .panel-body .col-xs-3{ width: 50%; }
    
    /* LISTA DE ICONES COM LEGENDA */
    .icones-com-legenda { margin-right:0px; }
    .icones-com-legenda div { margin-bottom:40px; }
    .icones-com-legenda .caption-icon { margin-top:5px; }

    /* BOX DE CONSULTA DO SALDO */
    .boxConsultaSaldo .boxContent{ min-height: initial; }
    .boxConsultaSaldo .col-xs-12-f{ width: 100%; }

    /* MENU COM ÍCONES RETANGULAR */
    .menuInterna.menuRetangular{ padding: 0 70px; }
    .menuInterna.menuRetangular li{ width: 44%; margin: 0 3% 20px 3%!important; }

    /* MENU COM 4 ÍCONES SENDO 1 MAIOR */
    .menuInterna.menuMeio li.thumbnailMaior{ width: 94%; }

    /* BOX COM BOTÕES AZUL E VERMELHO */
    .listagemBotoes .listaBotoes li a.textoMenor { font-size:10px; line-height:18px; }

    /* BOX COM DOIS CARTÕES (um abaixo do outro) */
    .box-cartoes .btnGrande,
    .box-cartoes .btnMedio { width:100px!important; }

    /* BOX COM BOTÕES AZUL E VERMELHO */
    .content-cartao .row-cartao{ width: 50%; display: inline-block; text-align: center; }
    .content-cartao .row-cartao img{ margin: 0; float: none!important; margin-bottom: 10px; }

    /* SIMULAÇÃO CADASTRO COM PAT */
    .tituloSimulacaoCartao{ padding: 30px 30px 0 30px; height: initial; }
    .tituloSimulacaoCartao > div{ padding-bottom: 20px; }
    .tituloSimulacaoCartao > div > h3 { float:left; width:65%; margin-top:0px; }
    
    .simulacaoAzul .containerPassos { width:200px; }
    .simulacaoAzul .tituloSimulacaoCartao .passos{ width:100%; left:0; }
    .simulacaoAzul .tituloSimulacaoCartao .passos a { margin:0 0 0 20px; }
    .simulacaoAzul .tituloSimulacaoCartao #progressSimulacaoAzul{ width:110px; left:40px; margin-right:-120px; }

    .imgCartao,
    .col-full { width: 100%; }
    .imgCartao { margin-bottom: 20px; }
    .containerTxtCover input{ width: 100%; }

    .contentSimulacao > div{ padding-bottom: 60px!important; }

    #formSimulaPATPasso01 .tituloEscolha{ width: 100%; }
    #formSimulaPATPasso01 .tituloEscolha p{ margin: 0  0 20px 0; text-align: center; }
    #formSimulaPATPasso01 .thumbnailPassos{ width: 48%; margin: 0 1%; }

    /* ACOMPANHAMENTO DO CREDENCIAMENTO */
    #solicitaProtocolo .tituloSimulacaoCartao{ padding-bottom: 30px; }
    #solicitaProtocolo .text-left-passo{ margin-top: 30px; }
    #solicitaProtocolo .contentBox .btn{ margin: 0 0 20px 0; width: 100%; }
    
    #solicitaProtocolo .tituloSimulacaoCartao .col-xs-12 { float:left; width:100%; }
    #solicitaProtocolo .tituloSimulacaoCartao .containerPassos { width:340px; margin:0 auto; float:none!important; }
    #solicitaProtocolo .tituloSimulacaoCartao .passos{ float: none; margin: 0 auto; display: inline-block; width: 340px; position:relative; }
    
    /* linha do tempo */
    .guardaLinhaTempo{ max-width: 644px; }
    .itensLinhaTempo li { width: 52px; }

    .menuInterna.icones2{ padding: 0; }
    .menuInterna.icones2 li{ width: 41%; margin: 0 4%; }

    /* POSES */
    .poses .item{ width: 33.333%; }
    .logos { padding: 0 40px; }
    .logos .item{ width: 50%; }

    /* BRACKETS TEMPLATES 19 E 20*/
    .bracket-f-middle {top: 155px;}
	.bracket-f-temp19 {top: 350px;}
    .bracket-f-temp19-app {top: 96.5%;}
}

/* ------------- MEDIA QUERIES SÓ PARA ADSENSE ------------- */

@media screen and (min-width: 320px) and (max-width: 727px) {
	/* Adsense Mobile */
	.banner-add { height: 140px;}
	.banner-add-preview { width: 95%;  max-width: 320px; height: 100px; display: inline-block; margin-top: 20px; overflow-x: hidden; }
	.banner-add-vertical { width: 100%; }
	.banner-add-preview-vertical {display: inline-block; overflow-x: hidden; margin-top: 40px;}
}


@media screen and (min-width: 728px) and (max-width: 1000px) {
	/* Adsense Tablet */
	.banner-add { height: 130px;}
	.banner-add-preview {  width: 95%;  max-width: 728px; height: 90px; display: inline-block; margin-top: 20px; overflow-x: hidden;}	
	.banner-add-preview-vertical {display: inline-block; overflow-x: hidden;margin-top: 40px;}	
}

@media only screen and (min-width: 1000px) {
	/* Adsense Desktop */
	.banner-add { height: 130px; }
	.banner-add-preview { width: 970px; height: 90px; display: inline-block; margin-top: 20px; }
	.banner-add-preview-vertical { height: 665px; display: inline-block; margin-top: 40px;}
}

@media only screen and (min-width: 1024px) {
	/* BRACKET TEMPLATE 19e20 Responsivo */
	.bracket-f-temp19-app {top: 450px;}
}


@media screen and (max-width: 767px)
{
    /* Classes > box */
    .boxDestaqueCentral{ padding: 60px 20px 30px 20px; }

    /* classes > botoes */
    .btn.voltar,
    .btn.continuar { width:42%; }
    .inicieCredenciamento { padding-bottom:20px; }

    /* Banner > conteúdo do banner */
    .conteudoBanner { width: 75%; margin:25% auto 5% auto; float:none; }
    .conteudoBanner h1 { margin-left:42%; margin-bottom:12%; }
    .conteudoBanner h1.heading { margin-bottom:20%; }
    .conteudoBannerEsq h1 { margin:10% 0 3% 0; }

    /* Banner > com cartão */
    .bannerComCartao .conteudoBanner { width:100%!important; float:right; margin:18% 0 0 0!important; }
    .bannerComCartao .conteudoBanner .lateralEsqBanner { width:40%; min-height:0; }
    .bannerComCartao .conteudoBanner h1 { margin-left:0; padding-top:5%; }
    .bannerComCartao .conteudoBanner p { width:90%; padding-left:12%; text-align:left; float:left; }
    .bannerComCartao .conteudoBanner .bannerBtn { width:100%; margin-bottom:25px; text-align:center; }

    /* BOX CINZA ESCURO */
    .contentBoxCinza { padding:30px 0 0 0; }
    .contentBoxCinzaPPM { padding: 50px 90px 80px 85px; }

    /* ESTILIZAÇÃO DE THUMBS COM ICONES (quadrado) */
    .menuInterna.menuFull { padding:0 50px!important; }
    .menuInterna.fourIcons { width:auto!important; }
    .menuInterna.fourIcons li { width:42%; margin-left:30px!important; }
    
    /* CENTRAL DE ATENDIMENTO > dúvidas frequentes */
    .telefone { top:-9px; }
    .bigVirtualAssis { float:left; width:100%; margin-bottom:15px; }
    
    /* DESTAQUE DE VANTAGENS (destaque com background azul marinho) */
    .contentVantagens .col-sm-4.col-md-4.col-lg-4 { width:100%; padding-bottom:0px; padding-right:20px; }
    .contentVantagens .item-f img { float:left; margin: 0 8% 5% 0; }
    .contentVantagens .item-f h2 { margin-top:0px; }
    .contentVantagens .item-f.firstItem { margin-left:0px; }
	  
    /* ESTILIZAÇÃO DE FORMULÁRIO */
    form .thumbnail legend { padding-top:25px; }

    /* FORMULÁRIO DE SIMULE E COMPRE */
    .containerSimuleCompre,
    .containerSoliciteContato { width:75%; }
    .containerSimuleCompre .setaBege,
    .containerSoliciteContato .setaBege { top:-12px; left:48%; }
    .simuladorInputContainer strong { font-size: 13px!important; }
    
    /* FORMULÁRIO DE INDICAÇÃO */
    .form-cartoes-selecione .col-md-3 { width:50%; }
    .form-cartoes-selecione .checkbox-inline { padding-left:0px; padding-left:20%; }
    .form-cartoes-selecione-radio .col-md-3 { width:50%; }
    .form-cartoes-selecione-radio .col-md-3 label { width:60%; }

    .form-indicacao .dados .form-group { float:left; width:100%; }
    
    /* ESTILIZAÇÃO DE BOX (destaques com imagens a direita e outros a esquerda) */
    .crossLinkImg .col-sm-6 { width:50%; float:left; padding-bottom:20px; }
    .contentBox .boxDestaque { padding:20px 20px 0 0!important; }
    .contentBox .boxDestaqueEsq { padding:20px 0px 0 40px!important; }
    .contentBox .boxDestaque h2, .boxDestaqueEsq h2,
    .contentBox .contentBoxesMobile h2, .contentBoxesMobile h3,
    .contentBox .guardaTitulo h2 { font-size:16px; }
	
    /* ESTILIZAÇÃO DE CROSSLINK (destaques lado a lado) */
    .contentBoxes { float:left; width:100%; padding:0 16px; }
    .contentBoxes a { color:#545454; }
    .contentBoxes a:hover { text-decoration:none; }
    .contentBoxes .thumbnail{ max-height: 155px; overflow: hidden; padding: 0; border-top-left-radius: 0; -webkit-border-top-left-radius: 0; }
    .contentBoxes .thumbnail .picture { width: 45%; float: left; max-width: 260px; overflow: hidden; border-top-right-radius: 0; -webkit-border-top-right-radius: 0; }
    .contentBoxes .thumbnail .picture img { width:105%; max-width: none; }
    .contentBoxes .thumbnail .picture.transparente{ overflow: initial; }
    .contentBoxes .thumbnail .picture.transparente img { width: 70%; padding: 10px 0; }
    .contentBoxes .thumbnail .caption { padding: 20px 20px 0 20px; float: left; width: 55%; }
    .contentBoxes .thumbnail .caption div{ display: none; }
    .contentBoxes .thumbnail .caption p{ display: none; }
    .contentBoxes .thumbnail .caption p{ line-height: 1.3em; max-height: 50px; overflow: hidden; position: relative; margin: 0; }
    .contentBoxes .thumbnail .caption p:after{ content: ''; position: absolute; bottom: 0; right: 0; width: 100%; height: 1em; background-image: -webkit-linear-gradient(rgba(256, 256, 256, 0), #FFF); background-image: linear-gradient(rgba(256, 256, 256, 0), #FFF); padding: 0 6px 1px 6px; }
	
    /* ESTILIZAÇÃO DE CAROUSEL */
    .owl-prev, .owl-next { display:none; }
    
    /* LISTA DE DOWNLOAD PDF */
    .media-fix-downloadPDF { width:50%; float:left; padding-bottom:35px; }

    /* LISTAGEM DE NOTÍCIAS */
    .tituloCampos{ width: 100%; }

    /* MENU COM ÍCONES RETANGULAR */
    .menuInterna.menuRetangular{ padding: 0; width: 100%; margin: 0 auto; float: none; }
    .menuInterna.menuRetangular li{ width: 100%; margin: 0 0 20px 0!important; min-height: 90px; }
    .menuInterna.menuRetangular li .contentThumb{ width: 320px; }
    
    /* ESTILIZAÇÃO DE CAROUSEL */
    /* carousel > abas */
    .guardaAbas { margin:0 auto; }
    .abas { float:none; }
    .abas > li { width:49.5%; min-height:68px; }
    .no-radius-left-top { border-radius:0px 10px 10px 10px!important; -o-border-radius:0 10px 10px 10px!important; -moz-border-radius:0 10px 10px 10px!important; -webkit-border-radius:0 10px 10px 10px!important; }
    
    /* carousel > vantagens (destaque com background azul) */
    .contentVantagens .owl-carousel .owl-controls .owl-pagination { display:block; }
    .contentVantagens .owl-carousel .item { width:100%; }
    .contentVantagens .owl-carousel h2,
    .contentVantagens .owl-carousel p { float:left; width:55%; }
    .contentVantagens .owl-carousel .owl-item { padding-top:0px; }
    .contentVantagens .owl-carousel .item-f { width:100%; }
    .contentVantagens .owl-carousel .item-f .col-sm-4 { padding:0px; }

    /* carousel > simples */
    .carouselPadrao.owl-carousel .owl-controls .owl-pagination { display:block; }

    /* Carousel > História da Ticket */
    .guardaLinhaTempo { display:none; }
    #owl-historias .owl-controls { display:none!important; }

    /* MENU COM 4 ÍCONES */
    .menu4Itens.menuFull li .contentThumb .item-menu-normal{ margin-top: 25px; }
    
    /* TABELA/TABELA PAGINADA */
    .tabelaCustom .guardaInput{ float: none; }
    .tabelaCustom .guardaInput, .containerPassoFlux .guardaInput { width: auto; }

    .tableResponsive{ padding: 45px 50px 55px 50px; }
    .tableResponsive .panel-heading > div:not(.bracket-f-middle){ width: 100%; margin: 0; }
    .tableResponsive .row-titulo > div{ width: 100%; margin: 0; }
    .tableResponsive .pull-right { text-align:left; }

    /* BOX COM BOTÕES AZUL E VERMELHO */
    .listagemBotoes .listaBotoes li{ width: 50%; margin: 0 0 10px 0; float: left; }
    .btn-buscar{ width: 100%; margin: 20px 0 0 0; }

    /* SIMULAÇÃO CADASTRO COM PAT */
    .tituloSimulacaoCartao { padding:35px 0px; }
    .tituloSimulacaoCartao > div > h3 { float:left; width:100%; text-align:center; }
    .tituloSimulacaoCartao .containerPassos { width:240px; margin:auto; position:relative; }
    .tituloSimulacaoCartao .passos{ width:240px; right:0; }
    .tituloSimulacaoCartao #progressSimulacao{ width:220px; left:10px; }
    
    .simulacaoVerde .tituloSimulacaoCartao .passos a { margin:0 0 0 15px; }
    .simulacaoVerde .tituloSimulacaoCartao #progressSimulacao{ width:190px; left:25px; }

    .resultadoPAT .tblSimulacao .separador{ display: none; }
    .resultadoPAT .tblSimulacao tbody tr td.vermelho,
    .resultadoPAT .tblSimulacao tfoot tr td.vermelho{ border: none; background: #DA2919; color: #FFF; }
    .resultadoPAT .tblSimulacao tbody tr td.azul,
    .resultadoPAT .tblSimulacao tfoot tr td.azul{ border: none; background: #12204D; color: #FFF; }
    .resultadoPAT .tblSimulacao tfoot tr td.azul{ border-radius: 0px 0px 3px 3px; }

    /* ACOMPANHAMENTO DO CREDENCIAMENTO */
    #solicitaProtocolo { border-radius: 0; -webkit-border-radius: 0; }
    #solicitaProtocolo .tituloSimulacaoCartao .containerPassos { width:400px; }
    #solicitaProtocolo .tituloSimulacaoCartao .passos { width:400px!important; left:0; }
    #solicitaProtocolo .tituloSimulacaoCartao .passos a{ margin:0 0 0 50px; }
    #solicitaProtocolo .tituloSimulacaoCartao .passos li p { display:none }
    #solicitaProtocolo .tituloSimulacaoCartao #progressSimulacao{ width:310px; left:50px; }

    /* MENU COM 2 ÍCONES  */
    .listaBoxes li > div{ width: 50%; }

    /*CAROUSEL*/
    .owl-item .pull-left{ margin-bottom: 10px; text-align: center; }
    .owl-item .pull-left img{ float: none!important; }
    .boxDestaque { padding-top: 30px; }
    .boxDestaqueEsq{ padding: 30px 0 0 0; }

    /* POSES */
    .poses .item{ width: 50%; }
    .logos { padding: 0 40px; }
    .logos .item{ width: 100%; }

    /* BRACKETS TEMPLATES 19 e 20*/
    .bracket-f-middle {top: 215px;}
    .bracket-f-temp19 {top: 313px;}

	/* BRACKET TEMPLATE 19e20*/
    .download-app-19-app { background:none !important;  }
	.bracket-f-temp19-app {top: 95% !important; }
}

@media screen and (max-width: 480px)
{
    legend{ font-size: 20px; overflow: hidden; }

    /* classes */
    .paddingPanel{ padding: 15px; }
    .width-auto-mobile { width:auto; }
    .simulacaoCartao {display: none !important;}
    .overlaymap {z-index: 8 !important;}
    .containerBannerBtn {bottom: 6px !important;}
    .containerBannerBtn .bannerBtn {margin-left: 105px !important;  bottom: 6px !important;}

    /* classes > botoes */
    .inicieCredenciamento .btn { width:100%; }
    .botoes-width100pct-mobile .col-xs-6 { width:100%; padding-bottom:15px; }

    /* Banner */
    .banner h1 { font-size:18px!important; line-height:normal!important; }
    .banner strong { font-size:22px!important; }
    
    /* Banner > Bracket */
    .bordaLateral { border-right:14px solid #DB291A; z-index:5; }
    .bracket-f { right:14px; }
    .bracket-f-barra { width:14px; }
    .bracket-f-bottom { width: 14px; height: 29px; right: 14px; background-size: 100%; bottom: -14px; }
    .bracket-f-botao { width:15px; height:30px; background-size:100%; }
    
    /* Banner > com video */
    .bannerComVideo .conteudoBanner .lateralEsqBanner iframe { width:80%; }

    /* BOX CINZA ESCURO */
    .contentBoxCinzaPPM { padding: 50px 60px 80px 55px; }
    
    /* ESTILIZAÇÃO DE THUMBS COM ICONES (quadrado) */
    .menuInterna { width:200px!important; }
    .menuInterna.menuFull { padding:0 50px; }
    .menuInterna.menuFull li { width:44%; }
    .menuInterna.fourIcons li { width:100%; margin-left:0!important; }

    /* ESTILIZAÇÃO DE TABS NO FORMATO ACORDION */
    .toogleHead .panel-heading span { float:left; width:73%; line-height:20px; padding-top:8%; font-size:12px; }
    
    /* CENTRAL DE ATENDIMENTO > dúvidas frequentes */
    .bigVirtualAssis .panel { -webkit-border-radius: 0 15px 15px 0; -moz-border-radius: 0 15px 15px 0; border-radius: 0 15px 15px 0; }
    .bigVirtualAssis .virtualAssisIcon { top:0; }
    .xs-Assist { width: 125px; margin-top: 37px; }
    input#busca { z-index:50; }
    
    /* FORMULÁRIOS */
    .radioAlign { width:80%; }
    .form-group.botao .btn { width:100%; }
    .boxMenorLateral { padding-left: 0; padding-right: 0; }
    .formEnvie{ padding: 0; }
    .formCentralizado{ padding-top: 30px; }

    /* FORMULÁRIO DE SIMULE E COMPRE */
    .simuladorInputContainer strong { font-size: 13px!important; }

    /* MENU COM 5 ÍCONES SENDO 1 MAIOR */
    .icones4.menuMeio{ padding: 0!important; }

    /* FORMULÁRIO DE INDICAÇÃO */
    .form-cartoes-selecione { width:37%; margin:auto; }
    .form-cartoes-selecione .col-md-3 { width:100%; }
    .form-cartoes-selecione .col-md-3 img { margin:10px auto; }
    .form-cartoes-selecione .col-md-3 label span { width:70%; float:left; }
    .form-cartoes-selecione .checkbox-inline { padding:0; width:100%; }

    .form-cartoes-selecione-radio { width:100%; margin:auto; }
    .form-cartoes-selecione-radio .col-md-3 { width:100%; min-height:120px; }
    .form-cartoes-selecione-radio .col-md-3 .cartao { width:140px; float:left; }
    .form-cartoes-selecione-radio .col-md-3 label { width:40%; }

    /* BOTÃO FROTA LEVE (TEMPLATE-12) */
    .legendaFrota { width: 105px; margin:auto; }

    /* DESTAQUE DE VANTAGENS (destaque com background azul marinho) */
    .contentVantagens { padding-top:35px; }
    .contentVantagens .col-sm-4.col-md-4.col-lg-4 { padding-left:20px; padding-top:0px; padding-bottom:10px!important; }
    .contentVantagens .item-f img { width:80px; margin:0 auto 20px auto!important; float: none; }
    .contentVantagens .owl-carousel h2,
    .contentVantagens .owl-carousel p{ width: 100%; }
	
    /* ESTILIZAÇÃO DE BOX (destaques com imagens a direita e outros a esquerda) */
    .crossLinkImg .col-sm-6,
    .crossLinkImg .col-sm-6 img { width:100%!important; }
    
    .contentBox .boxDestaque,
    .contentBox .boxDestaqueEsq { padding:10px 40px 0px 40px!important; }
	  .contentBox .btnGrande,
	  .contentBox .btnExtraGrande { width:100%; max-width: 100%; }
	  .contentBox .btnExtraGrande { font-size:11px; }
	
    /* ESTILIZAÇÃO DE CROSSLINK (destaques lado a lado) */
    .contentBoxes{ padding: 0; }
    .contentBoxes .thumbnail .caption { padding: 10px 10px 0 10px; }
    .contentBoxes .thumbnail .caption h2{ margin-bottom: 4%; }
    .contentBoxes .thumbnail .caption p{ height: 1.3em; }
	
    /* LISTA DE DOWNLOAD PDF */
    .media-fix-downloadPDF { width:100%!important; height: auto; }

    /* LISTAGEM DE NOTÍCIAS */
    .panel-body .col-xs-3{ width: 100%; }
    
    /* LISTA DE ICONES COM LEGENDA */
    .icones-com-legenda { margin-left:0; }
    .icones-com-legenda div { width:100%; }
    .listagemNoticia .tituloCampos .col-xs-6{ width: 100%; }

    /* BOX DE CONSULTA DO SALDO */
    .captcha{ width: 100%; margin-bottom: 10px; }
    .guardaCampo{ width: 100%; }

    /* MENU COM ÍCONES RETANGULAR */
    .menuInterna.menuRetangular li{ width: 100%; margin: 0 0 20px 0!important; min-height:90px; }
    .menuInterna.menuRetangular li a{ padding:12px 5px 5px 5px; }
    .menuInterna.menuRetangular li a > span:first-child{ margin: 0px 0px -6px 5px; }
    .menuInterna.menuRetangular li a .contentThumb { width:60%; }

    /* carousel > vantagens (destaque com background azul) */
    .contentVantagens .owl-carousel .owl-item { margin-top:0px; }

    /* MENU COM 4 ÍCONES */
    .menu4Itens.menuFull li .contentThumb .item-menu-normal{ margin-top: 10px; }

    /* TABELA/TABELA PAGINADA */
    .tableResponsive{ padding: 45px 15px 55px 15px; }
    .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td,
    .table-condensed>tfoot>tr>td { padding: 20px 25px; }

    /* BOX COM BOTÕES AZUL E VERMELHO */
    .listagemBotoes .listaBotoes li{ width: 100%; padding: 0; }
    .content-cartao .row-cartao{ width: 100%; }
    #form-adesivos .col-xs-6.col-sm-3{ width: 100%; }
    .content-form-f.dados{ padding: 0; }

    /* ACOMPANHAMENTO DO CREDENCIAMENTO */
    #solicitaProtocolo .tituloSimulacaoCartao{ padding-bottom: 0px; }
    #solicitaProtocolo .tituloSimulacaoCartao > div > h2 { text-align:center; }
    #solicitaProtocolo .tituloSimulacaoCartao .containerPassos { width:280px; }
    #solicitaProtocolo .tituloSimulacaoCartao .passos { width:100%!important; }
    #solicitaProtocolo .tituloSimulacaoCartao .passos a{ margin:0 0 0 25px; }
    #solicitaProtocolo .tituloSimulacaoCartao #progressSimulacao{ width:190px; left:50px; }

    /* Formulário de Simulação de Cadastro com PAT */
    #formSimulaPATPasso01 .thumbnailPassos{ width: 100%; margin: 0 0 20px 0; }

    /* Assistente */
    .bigVirtualAssis > .panel > .whiteFT{ margin-top: 10px!important; }
    .bigVirtualAssis > .panel > .whiteFT:first-child{ padding-right: 10px; }

    /* MENU COM 2 ÍCONES  */
    .listaBoxes.lista li{ padding-left: 0; }
    .listaBoxes li > div{ width: 100%; padding: 0; }
    .listaBoxes li > div img{ width: 100%; }
    .menuInterna.icones2{ padding: 0!important; }
    .menuInterna.icones2 li{ width: 100%; margin: 0; }
    #solicite-atendimento{ padding: 0; }
    
    /* POSES */
    .poses .item{ width: 100%; }
    .logos { padding: 0; }

    /* ANTECIPE O SEU REEMBOLSO */
    .radio-inline+.radio-inline,
    .checkbox-inline+.checkbox-inline{ margin-left: 0; }

    /* MODAL */
    .modal-header .close { top:-8px; right:-8px; }

    /* BRACKETS TEMPLATES 19 E 20*/
    .bracket-f-temp19 {
    	top: 370px;
    }
}

@media (max-width: 370px) {
    /* Diminui a fonte nos mobiles, para não quebrar os subtítulos */
    #modalTelefone .modal-body .subtitle {
        font-size:12px;
    }    
}

@media screen and (min-width: 320px) and (max-width: 479px)
{
    /* Banner */
    .bannerBtn { width:200px!important; margin:auto; float:none!important; }
    .bannerBtn a:first-child { margin:0 0 5px 0; }

    /* ESTILIZAÇÃO DE THUMBS COM ICONES (quadrado) */
    .menuInterna.menuFull li { margin-left:0!important; margin-right:0!important; width:100%!important; }
    
    /* CENTRAL DE ATENDIMENTO > dúvidas frequentes */
    .bigVirtualAssis .panel { font-size:11px; -webkit-border-radius:0 15px 15px 0; -moz-border-radius:0 15px 15px 0; border-radius:0 15px 15px 0; }
    .bigVirtualAssis p { width:80%; }
    .bigVirtualAssis .virtualAssisIcon { top:14px; }
    .bigContactHeader { margin-top:25px; }
    .bigContactHeader button span { font-size:0.8em!important; text-align:center; float:left; width:100%; }
    .has-feedback { margin-top:0px; }
    .androidbuttons { margin-top:11.2%; }
    
    /* LISTA DE DOWNLOAD PDF */
    .media-fix-downloadPDF { width:100%; }

    /* FORMULÁRIO DE INDICAÇÃO */
    .form-cartoes-selecione { width:53%; }
    .form-cartoes-selecione-radio .col-md-3 .cartao { width:100%; }
    .form-cartoes-selecione-radio .col-md-3 label { width:60%; }

    /* SETA BEGE DA DIREITA */
    .boxSimulador .setaBege.direita { left:50%!important; margin-left: -10px; }

    /* CANAIS DE ATENDIMENTO > Diminuindo a fonte do email */
    #modalTelefone .fonteResponsiva {
        font-size:12px;
        padding-top: 15px;
    }

    /* BRACKET DO TEMPLATE 19e20 */
    .bracket-f-temp19-app {top: 96.7%!important; }
}

/*@media screen and (max-width: 329px) {
	 Não quebrar os brackets do temp 19 e 20no mobile 
	.bracket-f-temp19 {
		top: 402px!important;
	}
}*/

@media screen and (max-width: 396px) {
	/* Não quebrar os brackets do temp 19 e 20no mobile */
	.bracket-f-middle {
		top: 235px;
	}

	.bracket-f-temp19 {
		top: 387px;
	}
}

@media screen and (max-width: 400px) {
	/* Não quebrar os brackets do temp 19 e 20no mobile */
	.bracket-f-temp19 {
		top: 387px;
	}
}

@media screen and (min-width: 481px) and (max-width: 552px) {
    /* Não quebrar os brackets do temp 19 e 20no mobile */
    .bracket-f-temp19 {
		top: 328px!important;
	}   
}