<div id="rede" data-ng-controller="RedeCredenciadaController as rede" ng-init="rede.pageLoad()">
    <div class="content -blue3 -ptitle" id="redeTitle">
        <div class="container">
            <h4>Estabelecimentos credenciados Ticket</h4>
            <p class="page-desc">Encontre um estabelecimento credenciado Ticket perto de você.</p>
        </div>
    </div>
    <div class="content main-content" id="establishment" ng-hide="rede.erro">
        <div class="loading-mask-position" cg-busy="{promise: rede.promise, templateUrl:'templates/loading-mask.htm', backdrop: false}">
        </div>
        <div class="gmaps-container">
            
            <!-- <loading-mask></loading-mask> -->
            <div class="mobile-search-ticket">
                <button class="btn-ticket -iconcenter -block -red" ng-click="rede.openSearch()"><i class="icon-search"></i> Buscar estabelecimentos</button>
            </div>

            <div class="gmaps-ticket" id="gmaps-ticket"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                        <div class="search-ticket" ng-hide="rede.showFav">
                            <form class="searchinfo">
                                <div class="form-group -light">
                                    <label class='sr-only'>Informe um endereço ou CEP:</label>
                                    <div class="input-icon">
                                        <i class="icon-room"></i>
                                        <input name="buscaEnderecoNome" id="buscaEnderecoNome" type="text" class="form-control -light" placeholder="Informe um endereço ou CEP"
                                        ng-model="rede.formData.address" required/>
                                    </div>
                                </div>
                                <div class="select-radius clearfix">
                                    <label class="radius"><strong>Raio de busca:</strong> {{(rede.formData.radius === '0' ? '0.5' : rede.formData.radius)}}km</label>
                                    <input type="range" name="radius" min="0" max="10" ng-model="rede.formData.radius" />
                                </div>
                                <div class="form-group -light">
                                    <label class="sr-only">Selecione o tipo do cartão:</label>
                                    <div class="cardtype-holder">
                                        <div class="cardtype -restaurante" ng-show="rede.isTypeSelected('TRE') || rede.selectOpen" ng-click="rede.setType('TRE')"
                                        ng-class="{active : rede.isTypeSelected('TRE')}">
                                            <div class="card-logo"></div>
                                            <i class="icon-arrow_down"></i>
                                            <i class="icon-done"></i>
                                        </div>
                                        <div class="cardtype -cultura" ng-show="rede.isTypeSelected('TKE') || rede.selectOpen" ng-click="rede.setType('TKE')" ng-class="{active : rede.isTypeSelected('TKE')}">
                                            <div class="card-logo"></div>
                                            <i class="icon-arrow_down"></i>
                                            <i class="icon-done"></i>
                                        </div>
                                        <div class="cardtype -alimentacao" ng-show="rede.isTypeSelected('TAE') || rede.selectOpen" ng-click="rede.setType('TAE')"
                                        ng-class="{active : rede.isTypeSelected('TAE')}">
                                            <div class="card-logo"></div>
                                            <i class="icon-arrow_down"></i>
                                            <i class="icon-done"></i>
                                        </div>
                                        <div class="cardtype -car" ng-show="rede.isTypeSelected('TC') || rede.selectOpen" ng-click="rede.setType('TC')" ng-class="{active : rede.isTypeSelected('TC')}">
                                            <div class="card-logo"></div>
                                            <i class="icon-arrow_down"></i>
                                            <i class="icon-done"></i>
                                        </div>
                                        <div class="cardtype -plus" ng-show="rede.selectOpen" ng-click="rede.setType('PLUS')">
                                            <div class="card-logo"></div>
                                            <i class="icon-arrow_down"></i>
                                            <i class="icon-done"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="changesearch">
                                    <button class="btn-ticket -block -red" ng-click="rede.atualizarBusca()">Atualizar busca</button>
                                </div>
                            </form>
                            <div class="searchbyname">
                                 <p class="totalresults"><span class="num">{{rede.formData.listResults.length}}</span>
                                {{ rede.formData.listResults.length <= 499 | iif : "estabelecimentos encontrados" : "estabelecimentos mais próximos" }}
                                </p>
                                        <form id="filterestablishment">
                                            <input class="form-control search-input" placeholder="Filtro por nome" ng-model="rede.query" />
                                            <label class="chk-lbl">
                                                <input type="checkbox" ng-click="rede.checkFavoritos()" ng-model="rede.favcheched" />Somente favoritos<span class="bookmarked"><i class="icon-star"></i><span class="num">{{ (rede.formData.listResults | filter: {fav:true}).length }}</span></span>
                                            </label>
                                        </form>
                            </div>
                            <ul class="searchlist">
                                <li>
                                    <div>
                                        <div id="rede-credenciada_lateral-esq-hor_320x50_fixo"></div>
                                    </div>
                                </li>
                                <li class="search-item" ng-repeat="result in rede.formData.listaFiltrada | filter:{ name: rede.query }" ng-click="rede.openInfoWindow($event, result.marker)">
                                    <p class="place-name">
                                        <i class="icon-star" ng-show="result.fav" ng-click="rede.toggleFav(result)"></i>
                                        <i class="icon-star_border" ng-hide="result.fav" ng-click="rede.toggleFav(result)"></i>                                        {{result.name}}
                                    </p>
                                    <div class="place-info">
                                        <p class="address-1">{{result.address1}}</p>
                                        <p class="address-2">{{result.address2}}</p>
                                        <p class="phone">{{result.phone}}</p>
                                    </div>
                                    <div class="badges">
                                        <i class="icon-avante" ng-show="{{result.avante}}"></i>
                                        <i class="icon-collact" ng-show="{{result.collact}}"></i>
                                    </div>
                                    <div class="cardmini-holder">
                                        <div class="cardmini" ng-repeat="produto in result.products" ng-class="rede.verificaProduto(produto.description)">
                                            <div class="card-logo"></div>
                                        </div>
                                        <!--<div class="cardmini alimentacao"><div class="cardlogo"></div>
                                        </div>
                                        <div class="cardmini car"><div class="cardlogo"></div>
                                        </div>
                                        <div class="cardmini transporte"><div class="cardlogo"></div>
                                        </div>
                                        <div class="cardmini cultura"><div class="cardlogo"></div>
                                        </div>-->
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="search-ticket -favorites" ng-show="rede.showFav">
                            <div class="favinfo">
                                <h4>Meus favoritos <span class="numfav">{{ (rede.formData.listaFiltrada | filter: {fav:true}).length }}</span></h4>
                            </div>
                            <div class="searchbyname">
                                <form id="filterestablishment">
                                    <input class="form-control search-input" placeholder="Filtro por nome" ng-model="rede.query" />
                                </form>
                            </div>
                            <ul class="searchlist">
                                <li class="search-item" ng-repeat="result in (rede.formData.listaFiltrada | filter: {fav:true}) | filter:{ name: rede.query }"
                                ng-click="rede.openInfoWindow($event, result.marker)">
                                    <p class="place-name">
                                        <i class="icon-star" ng-show="{{result.fav}}" ng-click="rede.toggleFav(result)"></i>
                                        <i class="icon-star_border" ng-hide="{{result.fav}}" ng-click="rede.toggleFav(result)"></i>                                        {{result.name}}
                                    </p>
                                    <div class="place-info">
                                        <p class="address-1">{{result.address1}}</p>
                                        <p class="address-2">{{result.address2}}</p>
                                        <p class="phone">{{result.phone}}</p>
                                    </div>
                                    <div class="badges">
                                        <i class="icon-avante" ng-show="{{result.avante}}"></i>
                                        <i class="icon-collact" ng-show="{{result.collact}}"></i>
                                    </div>
                                    <div class="cardmini-holder">
                                        <div class="cardmini" ng-repeat="produto in result.products" ng-class="rede.verificaProduto(produto.description)">
                                            <div class="card-logo"></div>
                                        </div>
                                        <!--<div class="cardmini alimentacao"><div class="cardlogo"></div>
                                        </div>
                                        <div class="cardmini car"><div class="cardlogo"></div>
                                        </div>
                                        <div class="cardmini transporte"><div class="cardlogo"></div>
                                        </div>
                                        <div class="cardmini cultura"><div class="cardlogo"></div>
                                        </div>-->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-4 col-lg-3 col-lg-offset-5 col-legend">
                        <div class="row">
                            <div class="gmaps-ticket-legend" id="gmaps-legend">
                                <div class="filter-show-fav" ng-click="rede.changeToFav()" ng-hide="rede.showFav">
                                    <span class="badge-icon-fav"></span>Ver meus favoritos<span class="num-fav">{{ (rede.formData.listResults | filter: {fav:true}).length }}</span>
                                </div>
                                <div class="filter-show-search" ng-click="rede.changeToFav()" ng-show="rede.showFav">
                                    <span class="badge-icon-search"></span>Buscar estabelecimentos
                                </div>
                                <div class="filter-show-rede" ng-click="rede.goToEstabelecimentos()">
                                    <span class="badge-icon-rede"></span>Indique um estabelecimento
                                </div>
                                <div class="filter-show-fit" ng-click="rede.toProgamAvante()">
                                    <span class="badge-icon-fit"></span>
                                    BAIXE UMA NOVA<br/>VERSÃO DE VOCÊ
                                </div>
                                <!--<div class="legend -collact"><i class="icon-collact"></i> Collact (<a href="">saiba mais</a>)</div>-->
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-offset-12" style="height:660px">
                        
                    </div>
                    <div class="col-sm-6 col-md-7 col-lg-8 col-legend">
                        <div class="adsenseMaps">
                            <div id="rede-credenciada_footer-hor_728x90_fixo"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div id="contentEditError" ng-show="rede.erro">
        <div class="modal-header">
            <h5 class="modal-title -red">Ocorreu um erro</h5>
            <button class="modal-close-btn" ng-click="edicao.close()">&times;</button>
        </div>
        <div class="modal-body -nobottom">
            <div class="badge-group -inline">
                <span class="badge-icon"><i class="icon-error"></i></span>
                <p>Ops, Ocorreu um erro inesperado, tente novamente mais tarde!</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-ticket -block" ng-click="edicao.close()">OK</button>
        </div>
    </div>
</div>
<!--<div style="height:90px; width:728px; background-color:red; position:absolute; z-index:99999999; right:50px; bottom:-100px;">
    &nbsp;
</div>-->


<script src="app/modules/rede-credenciada/scripts/factories/redecredenciadamodalsfactory.js"></script>
<script src="app/modules/rede-credenciada/scripts/factories/estabelecimentocredenciadofactory.js"></script>
<script src="app/modules/rede-credenciada/scripts/controllers/redecredenciadacontroller.js"></script>
<script src="app/modules/rede-credenciada/scripts/services/redecredenciadaservice.js"></script>