/* -------------
.selector {
  /---Display---/
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;

  /---Positioning---/
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;

  /---Box Model---/
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 10px solid #333;
  margin: 10px;

  /---Text---/
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: right;

  /---Color---/
  color: #fff
  background: #000;

  /---Other---/
  cursor: pointer;
}
------------- */

html, body {
  height: 100%;
}
body {
  position: relative;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.5;
  color: $t-gray1;
  background-color: white;

  &.menu-opened { overflow: hidden }
}
.content {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: white;
  &.-main {
    background-color: $t-main;
  }
  &.-blue2 {
    background-color: $t-blue2;
  }
  &.-blue3 {
    background-color: $t-blue3;
  }
  &.-ptitle {
    padding: 88px 0 8px;
  }
  &.main-content { margin: 24px 0 40px 0 }
}

.overflow-hidden {
  overflow: hidden;
}

//Clearfix
.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;

  height: 0;
  font-size: 0;
  content: " ";
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}

.col-nopadding {
  padding: 0;
}
.no-gutter {
  padding: 0;
}
hr {
  &.-main { border-color: $t-main }
  &.-gray1 { border-color: $t-gray1 }
  &.-gray2 { border-color: $t-gray2 }
  &.-gray3 { border-color: $t-gray3 }
}
.tkt-ad-placeholder {
  height: auto;
  padding: 40px 0 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background: $t-gray4;
}

@media screen and (min-width: $screen-sm-min) {
  .content {
    &.-ptitle {
      padding: 104px 0 16px;
    }
  }
  .col-nopadding {
    padding: 0 15px;
  }
}
