@font-face {
  font-family: 'Ticket Icons';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/icons/ticket-icons.eot?-epgbq0');
  src: url('../fonts/icons/ticket-icons.eot?#iefix-epgbq0') format('embedded-opentype'),
  url('../fonts/icons/ticket-icons.woff2?-epgbq0') format('woff2'),
  url('../fonts/icons/ticket-icons.ttf?-epgbq0') format('truetype'),
  url('../fonts/icons/ticket-icons.woff?-epgbq0') format('woff'),
  url('../fonts/icons/ticket-icons.svg?-epgbq0#ticket-icons') format('svg');
}

i {
  font-family: 'Ticket Icons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  text-transform: none;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.badge-icon {
  display: block;
  width: 80px;
  height: 80px;
  padding: 16px;
  @include border-radius(50%);
  text-align: center;
  background: $t-blue3;
  color: white;

  > i { font-size: 48px }
}

.icon-account_balance_wallet:before { content: "\e850" }
.icon-add_card:before { content: "\e905" }
.icon-add_circle:before { content: "\e90b" }
.icon-add_photo:before { content: "\e439" }
.icon-arrow_down:before { content: "\e911" }
.icon-arrow_left:before { content: "\e90f" }
.icon-arrow_right:before { content: "\e910" }
.icon-arrow_up:before { content: "\e912" }
.icon-atendimento:before { content: "\e903" }
.icon-avante:before {
  content: "\e909";
  color: #fa5015;
}
.icon-beneficio_club:before { content: "\e904" }
.icon-card:before { content: "\e902" }
.icon-check_box:before { content: "\e834" }
.icon-check_box_outline_blank:before { content: "\e835" }
.icon-check_circle:before { content: "\e86c" }
.icon-collact:before { content: "\e90a" }
.icon-delete:before { content: "\e872" }
.icon-done:before { content: "\e876" }
.icon-edit:before { content: "\e254" }
.icon-error:before { content: "\e907" }
.icon-exit:before { content: "\e879" }
.icon-facebook:before { content: "\e900" }
.icon-filter_list:before { content: "\e152" }
.icon-gift:before { content: "\e913" }
.icon-gplus:before { content: "\e914" }
.icon-group_add:before { content: "\e7f0" }
.icon-help:before { content: "\e887" }
.icon-help_outline:before { content: "\e8fd" }
.icon-home:before { content: "\e88a" }
.icon-key:before { content: "\e0da" }
.icon-lifebuoy:before { content: "\e906" }
.icon-link:before { content: "\e157" }
.icon-lock_off:before { content: "\e908" }
.icon-lock_open:before { content: "\e898" }
.icon-lock_outline:before { content: "\e899" }
.icon-mail_outline:before { content: "\e0e1" }
.icon-menu:before { content: "\e901" }
.icon-new_releases:before { content: "\e90c" }
.icon-person:before { content: "\e7fd" }
.icon-phone:before { content: "\e0cd" }
.icon-phone_iphone:before { content: "\e325" }
.icon-pinterest:before { content: "\e915" }
.icon-radio_button_checked:before { content: "\e837" }
.icon-radio_button_unchecked:before { content: "\e836" }
.icon-refresh:before { content: "\e5d5" }
.icon-room:before { content: "\e8b4" }
.icon-save:before { content: "\e161" }
.icon-search:before { content: "\e90d" }
.icon-sync:before { content: "\e627" }
.icon-star:before { content: "\e838" }
.icon-star_border:before { content: "\e83a" }
.icon-textsms:before { content: "\e0d8" }
.icon-today:before { content: "\e8df" }
.icon-trending:before { content: "\e90e" }
.icon-twitter:before { content: "\e916" }
.icon-visibility:before { content: "\e8f4" }
.icon-visibility_off:before { content: "\e8f5" }
.icon-warning:before { content: "\e002" }
