//Import NOVEL-SANS
@font-face {
  font-family: 'Ticket-Novel';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/novelsanspro/novelsanspro-regular-webfont.eot?-epgbq0');
  src: url('../fonts/novelsanspro/novelsanspro-regular-webfont?#iefix-epgbq0') format('embedded-opentype'),
  url('../fonts/novelsanspro/novelsanspro-regular-webfont.woff2?-epgbq0') format('woff2'),
  url('../fonts/novelsanspro/novelsanspro-regular-webfont.ttf?-epgbq0') format('truetype'),
  url('../fonts/novelsanspro/novelsanspro-regular-webfont.woff?-epgbq0') format('woff'),
}
@font-face {
  font-family: 'Ticket-Novel';
  font-weight: bold;
  font-style: normal;

  src: url('../fonts/novelsanspro/novelsanspro-bold-webfont.eot?-epgbq0');
  src: url('../fonts/novelsanspro/novelsanspro-bold-webfont?#iefix-epgbq0') format('embedded-opentype'),
  url('../fonts/novelsanspro/novelsanspro-bold-webfont.woff2?-epgbq0') format('woff2'),
  url('../fonts/novelsanspro/novelsanspro-bold-webfont.ttf?-epgbq0') format('truetype'),
  url('../fonts/novelsanspro/novelsanspro-bold-webfont.woff?-epgbq0') format('woff'),
}
@font-face {
  font-family: 'Ticket-Novel';
  font-weight: bolder;
  font-style: normal;

  src: url('../fonts/novelsanspro/novelsanspro-extrabold-webfont.eot?-epgbq0');
  src: url('../fonts/novelsanspro/novelsanspro-extrabold-webfont?#iefix-epgbq0') format('embedded-opentype'),
  url('../fonts/novelsanspro/novelsanspro-extrabold-webfont.woff2?-epgbq0') format('woff2'),
  url('../fonts/novelsanspro/novelsanspro-extrabold-webfont.ttf?-epgbq0') format('truetype'),
  url('../fonts/novelsanspro/novelsanspro-extrabold-webfont.woff?-epgbq0') format('woff'),
}
@font-face {
  font-family: 'Ticket-Novel';
  font-weight: lighter;
  font-style: normal;

  src: url('../fonts/novelsanspro/novelsanspro-light-webfont.eot?-epgbq0');
  src: url('../fonts/novelsanspro/novelsanspro-light-webfont?#iefix-epgbq0') format('embedded-opentype'),
  url('../fonts/novelsanspro/novelsanspro-light-webfont.woff2?-epgbq0') format('woff2'),
  url('../fonts/novelsanspro/novelsanspro-light-webfont.ttf?-epgbq0') format('truetype'),
  url('../fonts/novelsanspro/novelsanspro-light-webfont.woff?-epgbq0') format('woff'),
}
@font-face {
  font-family: 'OCR';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/ocr/OCRAStd.otf') format('opentype'),
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  text-transform: uppercase;
  color: $headings-color;

  > .sub {
    display: block;
    font-weight: normal;
  }
}

p { margin: 0 0 10px }

h1 {
  font-size: 3em;
  line-height: 1.25;
  color: white;

  &.-main { color: $t-main }
  &.-red { color: $t-red }
}

h2 {
  padding: 6px 0 0 12px;
  border-left: solid 16px white;
  font-size: 2.5em;
  line-height: 1;
  color: white;

  > .sub {
    font-size: 75%;
    line-height: 1.25;
    color: $t-blue1;
  }

  &.-red {
    border-color: $t-red;
    color: $t-red;
    > .sub { color: $t-gray2 }
  }
}

h3 {
  font-size: 2em;
  color: white;
  &.-main {
    color: $t-main;
  }
  &.-red {
    color: $t-red;
  }
}

h4 {
  font-size: 1.5em;
  color: white;
  &.-main {
    color: $t-main;
  }
  &.-gray {
    color: $t-gray2;
  }
  .parent {
    color: $t-blue1;
    cursor: pointer;
  }
  i {
    margin: 0 4px;
    vertical-align: text-top;
    color: $t-blue1;
  }
}

h5 {
  padding: 6px 0 0 12px;
  border-left: solid 12px $t-main;
  font-size: 1.5em;
  line-height: 1;
  color: $t-main;

  &.-red {
    border-color: $t-red;
    color: $t-red;
  }
  &.-white {
    border-color: #FFF;
    color: #FFF;
  }
  &.-tt {
    border-color: $tt;
    color: $tt;
  }
}

h6 {
  padding: 2px 0 0 12px;
  border-left: solid 8px $t-main;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.5;
  color: $t-main;
  text-transform: none;

  > .sub {
    font-size: 75%;
    font-weight: bold;
    line-height: 1.25;
    margin-top: 8px;
    color: $t-blue2;
    i {
      margin-right: 4px;
      font-size: 24px;
      vertical-align: text-bottom;
    }
  }
  &.-blue2 {
    color: $t-blue2;
    border-color: $t-blue2;
  }
  &.-sm {
    font-size: 1.25em;
  }
}

.-ptitle h4 {
  font-size: 1.25em;
}
p.page-desc {
  margin-top: -0.25em;
  font-size: 0.875em;
  line-height: 1.25;
  color: $t-blue1;
}

strong { font-weight: bold }

@media screen and (min-width: 360px) {
  .-ptitle h4 {
    font-size: 1.5em;
  }
  p.page-desc {
    font-size: 1em;
  }
}
