// Table of contents
//
// Options
// Colors
// Typography
// Scaffolding
// Components
// Modals
// Utilities

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex: false !default;

// Colors
// Colors Corporate
$t-main:     #11204c;

$t-blue1:      #9db6d9;
$t-blue2:      #2a6caf;
$t-blue3:      #004387;

$t-red:        #e2001a;
$t-error-bg:   #f2dede;
$t-error-txt:  #a94442;

$t-gray1:      #646567;
$t-gray2:      #9c9e9f;
$t-gray3:      #cfd1d2;
$t-gray4:      #f0f1f1;

$t-green:      #009c4b;

$tr:           #e2001a;
$ta:           #009c4b;
$tk:           #dadb61;
$tcar:         #f8b000;
$tt:           #0a5d66;

// Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-base:        'Ticket-Novel', 'Novel Sans Pro', 'sans-serif';
$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~20px
$font-size-small:         ceil(($font-size-base * 0.75)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.5 !default; // 24

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    bold !default;
$headings-line-height:    1.25 !default;
$headings-color:          inherit !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            #000 !default;

//** Global textual link color.
$link-color:            blue !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

// Components
//
// ##
$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$border-radius-base:        2px !default;

// Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:         15px;

//** Padding applied to the modal title
$modal-title-padding:         15px;
//** Modal title line-height
$modal-title-line-height:     $line-height-base;

//** Background color of modal content area
$modal-content-bg:                             #fff;
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2);
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999;

//** Modal backdrop background color
$modal-backdrop-bg:           #000;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5;
//** Modal header border color
$modal-header-border-color:   #e5e5e5;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color;

$modal-xl:                    71.875rem;
$modal-lg:                    900px;
$modal-md:                    600px;
$modal-sm:                    360px;

// Utilities
//
$anim-time: 0.5s;
